[2017-06-13 21:04] hashibot opened #1 "GitLab provider enhancements"
_This issue was originally opened by @hauleth as hashicorp/terraform#14471. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Currently there is only project management and hooks management it would be to provide more GitLab resources:

- [x] [Deploy keys](https://docs.

[2017-06-13 21:04] hashibot opened #2 "Allow creating GitLab project inside group namespace instead of user one"
_This issue was originally opened by @hauleth as hashicorp/terraform#14472. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Said API:

- https://docs.gitlab.com/ce/api/namespaces.html
- https://docs.gitlab.com/ce/api/projects.html#create-project (`namespace_id` variab

[2017-06-13 21:09] hashibot opened #3 "Update `go-gitlab` dependency to support /v4 APIs"
_This issue was originally opened by @richardc as hashicorp/terraform#14823. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

The `gitlab` provider is based on the excellent [go-gitlab](https://github.com/xanzy/go-gitlab/) library.  At time of writing this is coded in

[2017-06-13 21:13] richardc commented on #2
This was added with 4b32d78553cb3097038295504e229f5723d049ad and fe72309d3e00bcd35df0791158a5270b89cab17e in this repo (pre-split as  https://github.com/hashicorp/terraform/pull/14490 https://github.com/hashicorp/terraform/pull/14483)

[2017-06-13 21:13] #2 closed

[2017-07-12 08:55] tsutsarin-fuib opened #8 "Add users to group resource"
Allow adding users to group and defining their access rights.

[2017-07-13 20:21] robertervin opened #9 "Add Ability to Specify Parent Group"
This would encompass adding `parent_id` to the create group request. It is dependent on https://github.com/terraform-providers/terraform-provider-gitlab/issues/3 being completed.

[2017-07-29 11:16] hauleth opened #10 "Allow importing groups and projects"
As in general there will be such already when starting Terraform project it would be nice to have way to import existing resources to Terraform state.

[2017-08-31 08:09] roidelapluie opened #14 "Add support to attach deploy key to repo"

[2017-08-31 08:51] #14 closed

[2017-08-31 08:51] roidelapluie commented on #14
I was confused by the gitlab API. Key and title must be the same.

[2017-09-15 15:02] roidelapluie opened #16 "Provider ownership"
Hi

I would like to help you maintaining this module. I already contributed to the digitalocean provider (wrote a data source).

There are lots of PR in this module and I'd like to contribute more but for that the situation needs to evolve in a way that a team from the community can actually develop and get things done in master.

[2017-09-15 15:04] roidelapluie opened #17 "Support Protected branches"

[2017-09-15 15:04] roidelapluie opened #18 "Support Labels"

[2017-09-23 09:29] roidelapluie commented on #17
Blocked by upstream https://github.com/xanzy/go-gitlab/issues/216

[2017-09-23 09:34] roidelapluie commented on #1
Labels are in #22

[2017-09-26 17:19] benosman opened #25 "Deploy key is destroyed and created at each run"
### Terraform Version
0.10.6

### Affected Resource(s)
- gitlab_deploy_key

### Terraform Configuration Files
[code]
### Expected Behavior
The first run should create the key, and as long as there are no changes either to the key parameter or on gitlab itself, then subsequent runs should just verify the key is the same and skip any action.

### Actual Behavior
The first run creates the key as expe

[2017-09-26 17:53] richardc opened #26 "Create a CONTRIBUTING.md"
The main terraform project has notes on how to contribute, and guidance for maintainers, but it's not immediately obvious when looking at this repo in isolation.

Add suitable linking to the README.md, or a new CONTRIBUTING.md, or something.

https://github.com/hashicorp/terraform/blob/master/docs/maintainer-etiquette.md

[2017-09-26 17:54] richardc commented on #26
Promoting from the comments of #5

[2017-09-27 09:26] #3 closed

[2017-10-01 12:02] #18 closed

[2017-10-01 12:21] roidelapluie commented on #25
I do not have that behaviour, I will investigate

[2017-10-01 12:21] #16 closed

[2017-10-01 18:41] roidelapluie commented on #26
should be implemented in https://github.com/terraform-providers/terraform-provider-template

[2017-10-01 18:56] roidelapluie commented on #25
can you please provide logs?

TF_LOG=1 terraform plan

[2017-10-01 18:57] roidelapluie commented on #10
closed by #30 and #31

[2017-10-01 18:57] #10 closed

[2017-10-01 18:58] roidelapluie commented on #9
closed via #28

[2017-10-01 18:58] #9 closed

[2017-10-01 22:16] benosman commented on #25
I created a simple resource set and it still shows this behaviour

[code]

Here is the log file (set to TRACE - TF_LOG=1 doesn't work for me on windows)

https://pastebin.com/DFP0P4qv

[2017-10-03 09:09] rawkode opened #32 "Slack Notification Services API"
It would be awesome if we could configure the Slack Notifications integration for projects

[2017-10-03 13:32] hauleth opened #33 "Release new version"
As most of updates are backwards compatible I think it would be useful to release 0.1.1 to allow others to test new features "live".

[2017-10-03 16:44] rawkode commented on #32
I started putting a PR together for this functionality and I've gotten to the stage that I realise this isn't done, probably, because `go-gitlab` doesn't support the `GET` requests :smile:

I'll head over to their project and get the PR ready

[2017-10-03 16:59] rawkode commented on #32
Pending: https://github.com/xanzy/go-gitlab/pull/222

[2017-10-05 15:35] roidelapluie commented on #33
Yes but that would be 0.2.0 due to going to v4 and other breakages in CHANGELOG

[2017-10-05 15:56] roidelapluie commented on #33
waiting for #34

[2017-10-05 15:57] roidelapluie commented on #25
Fix proposed in #34

[2017-10-06 07:46] #25 closed

[2017-10-06 10:53] roidelapluie commented on #33
1.0.0 is out

[2017-10-06 10:53] #33 closed

[2017-10-09 10:24] rawkode opened #35 "Incorrect ID when Importing Groups"
### Terraform Version
v0.10.8

### Affected Resource(s)
- gitlab_group
- gitlab_project

### Expected Behavior
When importing a project or group, the ID should be set to the ID provided by GitLab

### Actual Behavior
The ID is set to the path from `statePassThrough`

### Steps to Reproduce
1. Create a GitLab group
2. Add resource to `.tf`
3. Import

### Important Factoids
This renders importing a

[2017-10-20 13:56] rawkode commented on #35
Hi @radeksimko, what would be the correct way to fix this? I have a working copy that does as I expect; but it doesn't feel like the correct solution:

[code]

[2017-10-22 02:03] blaggacao opened #36 "[Feature Request] Make Gitlab resources importable"
### Affected Resource(s)
- gitlab_*

I'm a latecomer in the terraform ecosystem. I wonder, without having done a deep dive if it would be as simple as just implementin those lines:
https://github.com/terraform-providers/terraform-provider-fastly/blob/2dc6f92829de934b54ba7bdcf7f4f7a7aae6a9a2/fastly/resource_fastly_service_v1.go#L24-L26

Docs on resource importer:
https://github.com/hashicorp/terraf

[2017-10-22 15:55] richardc commented on #36
I think that that was already done in #30 for `gitlab_project`, but reading #35 this seems like it was necessary but insufficient, so the fix in #35 is needed across all types.  I don't have a development environment configured to verify this right now, but I should have the bandwidth to look at this in the next few days.

[2017-10-22 15:57] richardc commented on #35
That looks like the correct fix to me; because otherwise the state isn't going to be updated with the loaded id the underlying resource.

[2017-10-22 16:11] blaggacao commented on #36
Cool, sounds promising! Thank you!

[2017-10-24 06:22] richardc commented on #36
In part this is a case of 'if it's not documented, it doesn't exist', as we had it in a form for project and group.

Here's what is left over from the existing resources:

- [x] `gitlab_project` (Documented and tweaked by #37)
- [ ] `gitlab_group` (Documented and tweaked by #38)
- [ ] `gitlab_deploy_key`
- [ ] `gitlab_label`
- [ ] `gitlab_project_hook`
- [ ] `gitlab_user`

[2017-10-24 06:26] richardc commented on #35
@rawkode I've submitted your fixes as #37 and #38 with some additional documentation to advertise how they now work.  Thanks for the report and time in figuring out the correct fix.

[2017-10-24 07:03] #35 closed

[2017-10-28 13:16] devinrsmith opened #40 "Feature request: Support user SSH keys management"
https://docs.gitlab.com/ce/api/users.html#add-ssh-key-for-user

[2017-12-10 20:50] gaui commented on #32
Yes please!

[2018-01-09 09:07] adamlc commented on #1
Build variables would be handy 👍

[2018-01-18 11:36] ketzacoatl opened #42 "[feature request] support importing projects in the `gitlab_project` resource"
Hi,

I am looking at using the `gitlab` provider to manage a variety of projects, and wondering how reasonable it is to use this resource when the project needs to be imported. EG, in gitlab, when you create a new project, you can select to import that project from an HTTP or git/etc URL. When creating the project with the Terraform resource, I would like to be able to specify the URL the project

[2018-02-15 04:46] WileESpaghetti opened #44 "Expose gitlab_group ID number or have parent_id accept a string"
I can not create subgroups easily. Right now I have to:
1. create the parent group
2. look up the new group's numeric ID
3. hard code the ID into each subgroup's `parent_id` field

### Terraform Version
[code]

### Affected Resource(s)
- gitlab_group

### Terraform Configuration Files
[code]

### Expected Behavior
The numeric id of `myParent` should be available as an output so that `myChild` gets

[2018-02-16 04:37] roidelapluie opened #45 "Acc tests fail with gitlab docker image"
[code]

[2018-02-16 05:07] roidelapluie commented on #45
Due to https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/11136

[2018-02-28 14:08] cjose3 commented on #8
+1

[2018-03-07 08:26] anoff commented on #1
Any plans to provide secret variables as a deployable object?

[2018-03-07 08:30] adamlc commented on #1
It looks like build variables are supported by the upstream lib https://github.com/xanzy/go-gitlab/blob/master/build_variables.go

[2018-03-13 17:03] tmaier opened #46 "Allow to connect a GitLab project to a Kubernetes Cluster"
https://gitlab.com/help/user/project/clusters/index

A Gitlab project can be connected to a Kubernetes cluster.

It would be great if this configuration can be managed by Terraform.

[2018-03-13 17:05] tmaier opened #47 "Allow to set/manage GitLab CI Secret Variables"
GitLab allows to set Secret Variables via the UI.
https://gitlab.com/help/ci/variables/README#secret-variables

It would be great if Terraform would allow to manage them.

[2018-04-09 04:38] synhershko opened #48 "[Feature Request] Project and Container Registry data sources"
For a given Project, it would be super helpful to have a Data source for a Repository and it's (Container) Registry - this for example can help with retreiving branches, latest commit hash, and latest gitlab Registry tag. This can then be used in deployments (e.g. in conjunction with the Kubernetes provider).

[2018-04-11 11:44] pdecat commented on #44
Hi @WileESpaghetti, did you import the parent group using its name instead of its numerical ID?

[2018-04-11 15:00] WileESpaghetti commented on #44
I created the parent directly using terraform. It wasn't on my server initially

[2018-04-11 17:59] pdecat commented on #44
Strange, so far we only met this issue with one imported gitlab group.

[2018-04-13 20:37] oplatek opened #49 "Gitlab runner feature request"
One of the obvious features to terraform is Gitlab runner (https://docs.gitlab.com/runner/)

What problem I would it solved?

Currently, I have the CI infrastructure terraformed on AWS and is very easy to register new runner via shell cli and remote-exec but impossible to deregister the runner.

[code]

It has quite a disadvantage that the runners accumulates when I redeploy the infrastructure bec

[2018-04-14 09:53] tmaier commented on #47
GitLab has REST APIs to manage APIs on [project-level](https://docs.gitlab.com/ee/api/project_level_variables.html) and on [group-level](https://docs.gitlab.com/ee/api/group_level_variables.html)

[2018-04-26 10:13] mishak87 commented on #49
You can deregister runner by using
[code]

[2018-04-26 10:15] mishak87 commented on #47
I need it too. I will try to prototype it.

[2018-04-26 10:29] mishak87 commented on #47
It is already tracked in #1 as build variables.

@tmaier Please close this issue.

[2018-04-26 10:32] mishak87 commented on #1
I will try to implement this feature and then possibly also [Deploy Tokens](https://docs.gitlab.com/ce/user/project/deploy_tokens/) and data.gitlab_project.x.container_registry_url'.

[2018-05-11 15:45] nextrevision commented on #17
That issue has since been resolved. This should be unblocked.

[2018-05-22 16:19] ericfrederich opened #55 "Proxy support"
### Expected Behavior
GitLab API calls should go through proxy if proper environment variables are defined.

### Actual Behavior
GitLab API calls do not go through proxy.

[2018-05-23 18:36] ericfrederich commented on #8
+1

[2018-06-28 21:05] #55 closed

[2018-06-29 09:29] tomelliff commented on #1
@mishak87 are you still working on this at all?

[2018-07-02 07:43] mishak87 commented on #1
@tomelliff I got stuck at Variables because their API is not idempotent and is impossible to import them to state.

[2018-07-02 15:08] hauleth commented on #1
@thibault-yellowstones you need to fork and push to your own fork, then you can create PR. The easiest way would be to [use GitHub's Hub](https://github.com/github/hub) and then you have additional command `hub fork` and `hub pull-request` to handle these for you from the CLI. Alternatively you can use GitHub GUI client.

[2018-07-19 15:32] Lasering opened #60 "Support OAuth Tokens"
The [official terraform documentation](https://www.terraform.io/docs/providers/gitlab/index.html) for the Gitlab provider says that `token` should be a personal access token. Which is correct since [config.go](https://github.com/terraform-providers/terraform-provider-gitlab/blob/master/gitlab/config.go#L49) invokes `client := gitlab.NewClient(httpClient, c.Token)` and [that](https://github.com/xan

[2018-07-19 16:20] Lasering commented on #60
I can make a pull request if that would make it to production faster.

[2018-08-06 13:32] xabim commented on #8
+1

[2018-08-26 22:04] sudoapt-getclean opened #63 "Data source user should support username"
In the source for the next release there is a data source for user this good
however it is based on using the email of the user to find the user. Currently the api for Gitlab.com does not support this for non-admin users. this makes this unusable for me (and probably other people)
[I have added a patch to also support searching for username.](https://github.com/terraform-providers/terraform-provid

[2018-09-24 13:17] tekollt opened #64 "[Feature Request] Enable Privately accessible deploy keys"
### Terraform Version
Terraform v0.11.8

### Affected Resource(s)
gitlab_*

### [Feature Request]
We are currently integrating GitLab with azure, and configuring the deploykeys and webhooks, have been working great up until we started using submodules.

It would be great to be able to enable previously added deploy keys with multiple projects.
Now, we have to go into the submodule, and under "priv

[2018-10-16 21:02] danielhoherd commented on #44
FWIW I used the "Terraform Configuration Files" section of the original ticket as a model for creating groups and sub groups in gitlab.com and it works fine. Terraform v0.11.8 from docker hashicorp/terraform:light

[2018-10-18 07:38] sudoapt-getclean commented on #8
This is provided with merge request #61 and will be available in the next release

[2018-11-06 10:31] zoidbergwill opened #67 "Support archived key on gitlab_project"
Similar to [github_repository](https://github.com/terraform-providers/terraform-provider-github/blob/master/github/resource_github_repository.go#L96-L100)

I thought it'd be as simple as adding it to the [Schema](https://github.com/terraform-providers/terraform-provider-gitlab/blob/master/gitlab/resource_gitlab_project.go#L24), but archiving a project in Gitlab is a separate API endpoint [here](ht

[2018-11-25 03:15] WileESpaghetti commented on #44
I tested the sample code again. I started clean by downloading a fresh copy of Terraform and updated Gitlab to the latest version. I removed the `.terraform` folder and reran `terraform init`. Everything worked when applied.

Terraform information
[code]

Gitlab Info
[code]

[2018-11-25 03:15] #44 closed

[2018-11-28 09:00] TheMacStack commented on #1
Is there any progress on being able to configure Build Variables?

My use case is to have a tiered project structure, where for example, top level can be used to boot strap other projects, eg provision TF Backend, Azure Resource group, Service Principals, Gitlab Group and Gitlab Project then set the AAD SP creds as vars on the GL group/project, the Build Vars are the missing piece here and a pain

[2018-11-28 14:19] sudoapt-getclean commented on #1
Build variables (actually group variables and project variables) are supported on master. Sadly this has not been released yet. You can compile it yourself if you want though. (this is relatively straightforward with go)

[2018-11-28 15:11] TheMacStack commented on #1
Ok thanks @sudoapt-getclean for the info, I see the last release was over a year ago now, does anyone know when we can expect another?

[2018-12-01 10:45] alanbchristie opened #69 "Support for label priority"
Can support be added for label priorities? According to GitLab the priority of the label (an optional field) must be greater or equal than zero or null to remove the priority.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_label

[2018-12-08 19:09] walkafwalka commented on #1
I, too, would also like to see a release.

[2018-12-10 14:53] jsirex opened #71 "Annoying typo in gitlab_project"
https://github.com/terraform-providers/terraform-provider-gitlab/blob/v1.0.0/gitlab/resource_gitlab_project.go#L184-L186

[2018-12-10 14:56] roidelapluie commented on #71
can you fix it?

[2018-12-10 15:08] jsirex commented on #71
I can do it blindly, but not sure it is right way. Also we need a create target branch for 1.x, don't we?

Looks like all new changes are waiting terraform 0.12 release. But for that typo is better to backport it to 1.x and release under 1.0.1 or so.

Or you're going then release all stuff between v1.0.0..master as 1.1.0?

[2018-12-10 15:10] roidelapluie commented on #71
I do not think that we need terraform 0.12.

[2018-12-10 15:14] jsirex commented on #71
If it doesn't require new terraform then it can be closed as in master is fixed.

Still waiting for the release, as last release according to github: Oct 6, 2017 :(

[2018-12-10 15:14] #71 closed

[2018-12-23 17:33] jleclanche commented on #1
@roidelapluie Is there anything actually blocking a new release of this? Other plguins are very liberal in releasing new versions and given how important build variables are to people this warrants a new one soon.

[2018-12-23 19:15] roidelapluie commented on #1
Releases are done by Hashicorop. I have asked a release a few days ago but they are in a holidays shudown until early 2019.

[2019-01-02 22:27] jjasghar opened #74 "Users and Group configuration"
Hi!

I wasn't sure where to ask this so I'm posting here. I apologize if this is noise, but hopefully yall will point me in the correct direction.

I've been tasked with `GitOps`ing my gitlab.com/group namespace. I'd like to be able to use the terraform provider to just create a MR against this repo, and a human merges it in.

It seems that the `password` is required, and that won't fly in a publi

[2019-01-02 23:52] jjasghar opened #75 "Adding SSHKey support for users"
I'm pretty sure if we just exposed the `SSHKey` in the terraform way, we could have another variable for SSH Keys for the users?

https://github.com/xanzy/go-gitlab/blob/master/users.go#L258

[2019-01-11 15:43] miguelaferreira opened #77 "New releases"
There have been several great contributions to this provider, but the last available release is quite old.
Would it be possible to make a new release?

[2019-01-17 19:11] walkafwalka commented on #1
Project variables were released in 1.1.0 however it does not allow the specification for an environment variable.

[2019-01-24 17:16] awmottaz opened #81 "Terraform validate does not treat `token` as optional"
### Terraform Version

[code]

### Affected Resource(s)

Gitlab provider

### Terraform Configuration Files

[code]

### Debug Output

[code]

### Expected Behavior

No error

### Actual Behavior

Got an error that the token is required

### Important Factoids

According to the [docs](https://www.terraform.io/docs/providers/gitlab/), it should be sufficient to define an environment variable `GITLA

[2019-01-28 08:16] miguelaferreira commented on #77
@bflad: Do you have any idea when would it be possible to release a new version of this provider? I'll be more than happy to test it extensively if that's what's still missing.

[2019-01-30 12:00] matejvelikonja commented on #46
I will start implementing this in the following days.
PR for the library is already pending https://github.com/xanzy/go-gitlab/pull/556

[2019-02-01 23:16] roidelapluie commented on #77
1.1.0 has been released.

[2019-02-01 23:16] #77 closed

[2019-02-04 22:57] appilon opened #84 "[PROPOSAL] Switch to Go Modules"
As part of the preparation for Terraform v0.12, we would like to migrate all providers to use [Go Modules](https://github.com/golang/go/wiki/Modules). We plan to continue checking dependencies into vendor/ to remain compatible with existing tooling/CI for a period of time, however go modules will be used for management. Go Modules is the official solution for the go programming language, we unders

[2019-02-05 17:51] roidelapluie commented on #84
Can we do the switch by ourselves?

[2019-02-06 07:59] matejvelikonja commented on #46
@roidelapluie @jorcau what do you think?

[2019-02-06 20:29] eddiemcbride opened #85 "gitlab_project: Support creating project for specific user"
### Terraform Version
Terraform v0.11.7
+ provider.gitlab v1.1.0

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_project
- gitlab_user

### Terraform Configuration Files
[code]

### Expected Behavior
It should create the new GitLab project under the new user namespace.

### Actual Behavior
It creates the project under a random user's namespace

### Comments
Thi

[2019-02-08 11:32] jorcau commented on #81
Just tested it and it's working for me! Are you sure you ran ```export GITLAB_TOKEN={YOUR_TOKEN}``` before running terraform?

Alternatively you could try running ```GITLAB_TOKEN={YOUR_TOKEN} terraform validate```.

[2019-02-08 15:22] awmottaz commented on #81
Thank you! Yes, that works.

[2019-02-08 15:22] #81 closed

[2019-02-16 23:53] bilby91 opened #90 "Next Release"
Hello!

Was wondering when next release is scheduled for ? Looking forward on starting to use new features :)

[2019-02-19 08:28] matejvelikonja commented on #46
I guess this issue can be closed, since #87 and #91 have been merged

[2019-02-19 08:28] matejvelikonja commented on #90
I was wondering the same.

[2019-02-19 08:46] roidelapluie commented on #90
1.2.0 is released.

[2019-02-19 08:46] #90 closed

[2019-02-19 11:07] #46 closed

[2019-02-26 00:23] sarcasticadmin opened #94 "Gitlab provider page issue with group resources in sidebar"
### Affected Resource(s)
Provider web pages for gitlab resources:  https://www.terraform.io/docs/providers/gitlab/r/group.html#

![screen shot 2019-02-25 at 4 10 02 pm](https://user-images.githubusercontent.com/30531572/53378143-7025c580-3919-11e9-8857-f226fcfa4b09.png)

It looks like `gitlab_group` is defined 3 times in the sidebar instead of  `gitlab_group`, `gitlab_group_membership`, and `gitla

[2019-02-26 06:50] roidelapluie commented on #94
This is already fixed in master.

Le mar. 26 févr. 2019 à 01:23, Robert James Hernandez <
notifications@github.com> a écrit :

[2019-02-26 06:50] #94 closed

[2019-02-26 15:11] sarcasticadmin commented on #94
Thanks @roidelapluie I must have missed the commit in the history but glad it’s already fixed!

[2019-02-26 15:35] roidelapluie commented on #94
thanks to your comment we also updated the website now.

[2019-03-02 06:16] #84 closed

[2019-03-02 06:27] roidelapluie commented on #84
Thanks, there was just a small gotcha in travis.yml

[2019-03-05 14:57] rsrchboy opened #98 "Feature request: `gitlab_project_fork`"
It would be very useful to be able to create a fork into a given namespace, a la:

[code]

I apologize for making this a feature request, and not a PR, but time is... finite right now :\

[2019-03-08 08:11] ringods opened #99 "pipelines_enabled argument for gitlab_project"
### Terraform Version

[code]

### Affected Resource(s)

- `gitlab_project`

### Terraform Configuration Files
[code]

### Expected Behavior

There is currently no option to configure whether a project needs Gitlab CI pipelines enabled or disabled.
I suggest to add a boolean argument `pipelines_enabled`. Setting it to `false`

### Actual Behavior

Project is created with Gitlab CI enabled by defau

[2019-03-08 08:12] ringods commented on #99
If this will be implemented, one remark for the docs: when Gitlab CI is disabled, setting project variables always fails!

[2019-03-09 15:05] mkjmdski opened #103 "Feature Request: `data.gitlab_group`"
Hi!
I think it would be great if we could import gitlab_group to data source same as we do with gitlab_project. It helps to attach environment variables to the group without getting worried that group could get destroyed by accident.

[2019-03-20 16:21] mishak87 opened #107 "[Feature Request] Project deploy tokens"
Hello it would be really useful to have resource for creating deploy tokens with scope read_repository and read_registry.

[2019-03-22 16:23] jcmcken opened #109 "[bug] Race condition in project share?"
### Terraform Version

[code]

### Affected Resource(s)

- ``gitlab_project``

### Terraform Configuration Files
[code]

### Expected Behavior

Provider creates project and shares it with no errors.

### Actual Behavior

Sometimes this succeeds without errors,, but sometimes it doesn't.

Every so often, Terraform produces an error:

[code]

If I try to re-apply, the provider acts as if the project

[2019-03-22 16:25] jcmcken commented on #103
Maybe this is a different feature request, but one thing that's annoying right now is you need to hard-code numeric group IDs. It would be nice to use a ``gitlab_group`` data source to look this information up by  (human) group name instead.

[2019-03-22 19:36] jcmcken commented on #109
Nevermind, I don't think there's a race condition. I was accidentally using different users to run the apply, which is why it sometimes succeeded. The real issue is that one user I tried to run it with didn't have permissions to the group it was trying to share the project with.

It seems weird that you get an HTTP 404 in this case, which is really confusing. Maybe it's just GitLab's way of preven

[2019-03-25 09:13] matejvelikonja opened #110 "start-gitlab.sh fails with GitLab 11.9"
Looks like GitLab 11.9 introduced some changes regarding token creation and because of that the following script fails.

https://github.com/terraform-providers/terraform-provider-gitlab/blob/master/scripts/start-gitlab.sh

### Terraform Version
All

### Affected Resource(s)
All acceptance tests.

### Debug Output
[code]

### Expected Behavior
The code should work.

### Actual Behavior
The script f

[2019-03-25 09:19] matejvelikonja opened #111 "Broken acceptance tests for project_cluster"
GitLab 11.9 introduced some changes and because of that `project_cluster` acceptance tests fail.

Looks like GitLab is validating `kubernetes_ca_cert` field. In the acceptance test a non valid pem certificate is given.

### Terraform Version
All

### Affected Resource(s)
- project_cluster

### Debug Output
[code]

### Expected Behavior
Acceptance tests should pass.

### Actual Behavior
Acceptance

[2019-03-25 09:24] matejvelikonja commented on #111
I can fix this issue, since I've added this code. But I would like to know how to tackle this properly.

We have 2 options:
- add a real `pem` certificate to acceptance test and commit it to code
- generate `pem` certificate in the test itself, probably with Terraform

First option needs a commited certificate in the code, which could fail with some security checks.
Second option needs a new Terrf

[2019-03-25 10:38] roidelapluie commented on #111
commit a fake pem.

[2019-04-05 07:35] matejvelikonja commented on #110
@roidelapluie do you know how to fix this?

[2019-04-05 08:05] roidelapluie commented on #110
https://gitlab.com/gitlab-org/gitlab-ce/commit/ea283bbc6bc5d1e4b03259495c7e0e1e1978059e

They have fixed it in master it seems

[2019-04-19 00:51] jleclanche opened #117 "Support for masked variables (gitlab_project_variable)"
Gitlab is currently rolling out a `masked` parameter for variables, which allows controlling whether a project variable is masked in the logs.

More info: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/27236

Would be good to follow suit and add  a `masked` boolean, just like we already have `protected`. (I might work on this patch, no promises)

[2019-04-25 06:15] matejvelikonja commented on #110
@roidelapluie Looks like this is still broken in GitLab version `11.10.1`, even though the mentioned fix is in the code.

https://gitlab.com/gitlab-org/gitlab-ce/blob/v11.10.1/app/models/personal_access_token.rb

[code]

[2019-05-01 13:32] roidelapluie commented on #110
Hello, #118 is ready for review

[2019-05-02 10:36] #111 closed

[2019-05-02 12:05] roidelapluie opened #119 "Import protected branches"
It would be great to be able to `terraform import` protected branches.

[2019-05-03 09:29] jorcau commented on #32
@roidelapluie This one can be closed thanks to https://github.com/terraform-providers/terraform-provider-gitlab/pull/96

[2019-05-03 18:38] #32 closed

[2019-05-03 18:42] roidelapluie opened #121 "making the provider compatible with terraform 0.12"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2019-05-03 19:14] ndarwincorn opened #123 "Merge request self-approval"
One of the last gaps for our use of this provider is enabling self-approval of merge requests.

I'll take a look at making time to contribute a PR for this.

Many thanks to y'all for the work on the provider in the last few months. It's gone from not doing much for us to being able to mostly automate our project creation process (and help me sleep better from a DR perspective if we ever needed to

[2019-05-04 05:51] roidelapluie commented on #121
closed by #122

[2019-05-04 05:51] #121 closed

[2019-05-04 05:56] #110 closed

[2019-05-07 06:53] matejvelikonja commented on #103
@mkjmdski @jcmcken please check PR #129

[2019-05-10 13:32] ThatGerber opened #133 "Project Roadmap"
With what appears to be new maintainers, is there a roadmap for the project? I have a team that is relying on this for part of our workflow and are looking to contribute updates, but I'd like to know what's being worked on currently so that I don't encroach on others.

Thanks!

[2019-05-11 01:57] jcmcken commented on #103
Unfortunately, I can't access GitHub from work at the moment, so I won't be able to test this easily. :(

[2019-05-11 21:00] roidelapluie commented on #133
I do not think that there is work started except what is opened in pull requests for the moment.

[2019-05-11 21:00] roidelapluie commented on #133
Feel free to discuss in issues what you will work on or create issues.

[2019-05-23 12:47] valdisrigdon opened #136 "Release a 0.12 compatible version"
Trying to upgrade to Terraform 0.12, but this provider doesn't have a compatible version.

[code]

[2019-05-23 14:29] roidelapluie commented on #136
Hello, when #135 gets merged we will do a release!

[2019-05-23 20:31] roidelapluie commented on #136
2.0.0 is out!

[2019-05-23 20:31] #136 closed

[2019-05-23 20:32] #103 closed

[2019-05-25 17:53] sixcorners opened #138 "gitlab_group_cluster resource"
Please create a gitlab_group_cluster resource to be able to configure a kubernetes cluster at the group level.

[2019-05-31 17:53] mkjmdski opened #140 "[Feature Request] use full_path to define gitlab_project data source"
Hi!

While refactoring my terraform repository I have found out that it would be awesome to provide same way to create gitlab_project data source as for gitlab_group by using full_path instead of id, this woulde make a code more human readable :).

[2019-05-31 18:04] matejvelikonja commented on #140
This would be great, yes.

After a quick look, I think is a really simple fix. You would only need to change one line in the provider and it would work. `int` -> `string`.
This one: https://github.com/terraform-providers/terraform-provider-gitlab/blob/master/gitlab/data_source_gitlab_project.go#L17

`go-gitlab` lib already supports `interface` as and `id`, and gitlab `api` accepts either id or pat

[2019-06-01 22:09] dihedron opened #141 "[Feature request] Enable archiving of project instead of deletion when specified"
## Short description
It would be nice if the Gitlab provider gave a way to *archive* an old project instead of always destroying it.

## Rationale
Destroying a repository is an irreversible operation and Gitlab itself requires special handling such as typing the name of the repo to confirm that you really, *really* want to destroy it since there's no going back.
If you value what's inside a projec

[2019-06-02 18:15] roidelapluie commented on #141
I think we would better do it by simply adding an "archived" parameter to the project. That way we also support unarchiving.

[2019-06-03 07:28] matejvelikonja commented on #138
GitLab API does not support that, yet.

https://gitlab.com/gitlab-org/gitlab-ce/issues/55623

[2019-06-03 08:21] dihedron commented on #141
I think the `archived` attribute addresses a different use case, which is equally valuable but different.
Explicitly archiving a project is OK and I'm ready to implement it, but it does not save you from inadvertent removal of a valuable asset, which might happen cause people make mistakes.

The Gitlab product safeguards you from this by requiring that you enter the name of the project for confirm

[2019-06-03 08:44] danielriesner commented on #42
#142 resolves this.

[2019-06-06 15:18] #141 closed

[2019-06-07 13:09] grv87 commented on #17
This issue is resolved in 8da2712eda93bd0ceeebbcc693ffccd5a7444279 and subsequent commits, but still missing docs, isn't it?

[2019-06-09 09:39] mkjmdski commented on #140
Hi
Thanks for your reply. I think this could be implemented as a second constructor for data source what wouldn't break terraform type.

[2019-06-10 14:12] VMitov commented on #17
I just tested the undocumented `gitlab_branch_protection` resource but there is one issue with it. It doesn't force the state of the resource if it is already in the state but changed manually somehow. If you don't have the protected branches in the state - it works as expected.

[2019-06-10 18:54] ThatGerber opened #149 "Update website/gitlab.erb with latest resources & data sources"
Documentation is out of date, in general, but it `website/gitlab.erb` needs to be cleaned up. Two resources are missing and they should probably be sorted in alphabetical order.

### Terraform Version

### Affected Resource(s)

- gitlab_branch_protection
- gitlab_tag_protection

### Terraform Configuration Files

### Debug Output

### Panic Output

### Expected Behavior

### Actual Behavior

### S

[2019-06-13 12:55] laurawadden commented on #107
This feature would also help me a lot.

[2019-06-13 19:34] #149 closed

[2019-06-13 19:34] roidelapluie commented on #149
done

[2019-06-18 17:40] mauleb opened #150 "[Feature Request] Repository mirroring configuration"
Howdy!

It would be handy to be able to configure repository mirroring for a project.

Thanks!

[2019-06-19 10:00] lyda opened #152 "Support for issues"
A long while ago I worked at a place we'll call the Chocolate Factory. We had a tool like terraform (let's call it Smasher) that would spin up large clusters and generally manage the state and workflow of this sort of work. One thing it did was to file tickets when it needed a human to do things.

Once the ticket was addressed and closed successfully, Smasher would continue running. I'm not quite

[2019-06-19 16:38] jimvandervoort opened #153 "[feature request] support group and project variables of type 'file'"
GitLab allows settings group and project variables with type 'file'. GitLab CI creates a temporary file with the contents of the variable while the actual env variable gets set to the path to that file. [Gitlab docs](https://docs.gitlab.com/ee/ci/variables/#variable-types).

The gitlab API supports file variables for both [groups](https://docs.gitlab.com/ce/api/group_level_variables.html#update-va

[2019-06-19 19:36] sudoapt-getclean commented on #153
I like it!
I hadn't seen this feature at all yet in Gitlab but I could use it.
It should be super straightforward to add as long as the upstream library that implements the gitlab api in go has support for it already.

[2019-06-22 11:24] ketzacoatl opened #155 "[feature reques] gitlab_label support for groups"
Hi there,

This is a feature request.

### Terraform Version

`v0.12.2`.

### Affected Resource(s)

`gitlab_label`

### Terraform Configuration Files
[code]

### Expected Behavior

`gitlab_label` should let you create a label that is associated with a group, and not a project.

### Actual Behavior

`gitlab_label` requires `project` and does not support a `group` attribute.

Thanks!

[2019-06-24 16:44] ThatGerber opened #157 "GitLab Premium/Ultimate License for testing?"
I'd like to contribute some of the work that I've done back, but much if it is locked behind the paid versions of GitLab. Without a license, or a user/group with the higher paid versions, we'd be unable to automate the testing of those providers in GitLab.

Is there a way that GitLab could provide a testing license or other method of testing the paid versions of GitLab so that we can continue to b

[2019-06-24 20:54] allquantor commented on #117
I will add it in scope of https://github.com/terraform-providers/terraform-provider-gitlab/pull/154

[2019-07-03 02:53] josjaf opened #159 "Gitlab Groups Behavior Change"
Terraform v0.12.3
+ provider.gitlab v2.2.0

Terraform stopped supporting groups it looks like.
[code]

for code:
[code]

[2019-07-03 12:45] pdecat commented on #159
With terraform 0.12+, it's needs to be defined as blocks:

[code]

[2019-07-03 13:36] josjaf commented on #159
Well in this case, I have a list of blocks, how can I do that now?

[2019-07-03 14:59] pdecat commented on #159
Do you mean you need to pass the list as a variable?

In that case, you should use `for_each` with dynamic blocks, e.g.:

[code]

[2019-07-05 08:41] sandhose commented on #107
The deploy tokens are not exposed in the GitLab API right now, but there is a PR currently open for that: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/29864

[2019-07-11 00:41] josjaf commented on #159
No I need to make something like this work - this was working fine for me for a while

[code]

[2019-07-11 06:49] pdecat commented on #159
You can no longer use that syntax with terraform 0.12+, you have to statically repeat the blocks or use the dynamic syntax.

[2019-07-16 21:32] boomshadow opened #162 "[Feature Request] Change allowed merge request approvers"
Greetings!

It would be nice to be able to manage the list of which users are allowed to handle merge requests on a project. GitLab has an API for this feature: https://docs.gitlab.com/ee/api/merge_request_approvals.html#change-allowed-approvers

[2019-07-18 20:44] matejvelikonja commented on #67
solved in https://github.com/terraform-providers/terraform-provider-gitlab/pull/148

[2019-07-21 15:29] six-arm commented on #157
I'm working on a resource for  project push rules and running into a similar issues.  I've got a paid license I can use for dev/test in my env, but I'm looking for advice on how to contribute.  I'm seeing `make testacc` failures when running against EE for the jira and slack services.  Would like to be able to show these in the travis-ci pipeline.

[2019-07-25 05:42] md5 commented on #17
@VMitov I just came across the same problem. Manual changes to the branch protection were not detected by a `terraform refresh` and a `terraform apply` did not put the resource into the specified state. Seems like that deserves its own issue perhaps?

[2019-07-25 05:44] md5 commented on #17
Also, this `gitlab_branch_protection` resource is no longer undocumented: https://www.terraform.io/docs/providers/gitlab/r/branch_protection.html

[2019-07-25 11:31] richwine opened #165 "[Feature Request] Add users and groups to gitlab_branch_protection"
It looks like `gitlab_branch_protection` resource currently only supports `access_level` (referred to as Roles in Gitlab UI). [The API](https://docs.gitlab.com/ee/api/protected_branches.html#example-with-user--group-level-access-starter) also supports `user_id` and `group_id`. Would be fantastic to have those available as well.

[2019-07-25 22:18] roidelapluie commented on #157
Hello, we will get a 1 year premium license for gitlab to start with.

[2019-07-27 13:32] roidelapluie commented on #157
The license is here. I will add it to CI very soon.

[2019-08-07 00:31] six-arm commented on #157
@roidelapluie, if there's anything I can do to help please let me know.

[2019-08-11 09:03] sixcorners commented on #138
Looks like support was added.

[2019-08-30 15:00] yk-47 opened #172 "[Bug] Unable to find computed trigger token."
### Terraform Version
Terraform v0.11.7

### Gitlab Provider Version
provider.gitlab v2.2.0

### Affected Resource(s)
- gitlab_pipeline_trigger

### Actual Behavior

We are creating trigger tokens to give multiple projects the ability to trigger a pipeline in a given project.

We noticed after creating approx 20 trigger tokens our terraform apply started to fail with the following

error * module.

[2019-09-04 07:56] sixcorners commented on #138
So if I were to implement this would it be fine to just essentially copy all of the stuff from gitlab_project_cluster? That seems to be how the other group stuff was made.

[2019-09-06 09:55] jhuntoo commented on #172
Hi,
I've been working with @yk-47 to resolve this bug, we've created a fix #173  which we've tested successfully in our environments.

[2019-09-11 13:03] ggPeti opened #174 "Feature Request: Repository archive download"
GitLab exposes the API `/<owner>/<project>/repository/archive.{zip,tar.gz}` (maybe other formats as well, I don't know at the moment) for downloading the repository's contents in an archive file. For anyone who needs that archive, it would be super helpful to be able to use an attribute on the gitlab_project data source like:

[code]

Is there something like that possible at this time? Is someone

[2019-09-16 04:57] #172 closed

[2019-09-16 15:35] primeroz opened #175 "Would it be possible to make a release to address issue with "wildcard tag protection" ?"
### Terraform Version
`Terraform v0.12.5`

### Affected Resource(s)
- gitlab_tag_protection

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Issue description
`v2.2.0` was released with version `github.com/xanzy/go-gitlab v0.18.0` , this caused a double escape of protected tag which is breaking any use of wildcards in tag protection.

this was fixed in https://github.com/ter

[2019-09-19 20:04] magic7s commented on #138
This would be awesome to have.
https://docs.gitlab.com/ee/api/group_clusters.html

[2019-09-20 13:41] wayalex opened #177 "Feature / Initialise project with readme"
It would be nice if there was an additional input exposed for gitlab_project to initialise the project with a readme.
This is already exposed via the gitlab projects API so it's just a case of adding the parameter. https://docs.gitlab.com/ee/api/projects.html#create-project

[2019-09-23 19:23] pschulten opened #180 "[Feature Request] System hook resource"
Thanks for your work ❤️

As you already provide means to create project hooks, would it be difficult to implement the same for system hooks (https://docs.gitlab.com/ce/system_hooks/system_hooks.html)

I'm thinking about syncing changes from gitlab to other systems and automatically creating system hooks with TF would be a major timesaver

[2019-09-27 21:13] sudoapt-getclean commented on #152
Hi Lyda,
Nice workflow you had there, If you want to implement this with Terraform you really don't need the provider to create tickets for you.
1. When the Terraform apply fails you can just make an API call to Gitlab to create a  ticket.
2. After the Ticket is resolved you can make a new plan and do a new Terraform apply.

This ticket has no place in the state and should not be created with a pr

[2019-09-27 21:57] sudoapt-getclean commented on #174
Hi ggPeti,
I have a question and two observations:
Why would you need this file? Is it for backing up? in that case is it is probably not very wise to rely on the moment whenever somebody happens to run Terraform to get a new version of you're backup.
If it is for the purpose of working with the code I would also suggest the use of `git clone ` which has very user friendly authentication based on

[2019-09-28 14:02] lyda commented on #152
I do disagree, but sadly terraform [looks unlikely][response] to go with this. In both scenarios the idea is to move the workflow out of, well, a workflow manager. I get it. Terraform has a focus on "infrastructure" and tickets are not considered infrastructure.

I must admit though that Smasher did make all this a bit easier and captured the full workflow in its config. Maybe as time goes on ther

[2019-09-28 14:02] #152 closed

[2019-09-30 22:21] #117 closed

[2019-09-30 22:21] #153 closed

[2019-10-02 01:49] guhcampos opened #181 "Feature Request: Group Runner Token"
### Use Case

The provider already exposes project-wide runner tokens, which has limited usefulness on an organization level. Most non-oss teams have multiple projects in Gitlab, including subgroups and what not, and it's common to register Gitlab Runners for the top group so they are available to all projects. This is a fairly common use case for the Kubernetes Gitlab Runner.

To enable this, the

[2019-10-07 13:32] Andor opened #182 "Feature Request: ability to trigger Gitlab CI Pipeline as Provisioner"
Hello!

That's could be cool of we will have the feature to trigger gitlab-ci pipeline from Terraform. I guess via provisioner provider.

Example of code:
[code]

Yeah, I know this is possible with `local-exec` and `curl`, but you may agree it is not so nice anyhow.

Also I personally run Terraform from docker container and it is simplier to not continain `curl` inside.

[2019-10-08 22:13] rhysjtevans commented on #175
Hit this issue as well, any eta for a release?

[2019-10-08 22:18] roidelapluie commented on #175
Just the time for me to make the changelog and I will make a release this week

[2019-10-09 05:37] mdaalman opened #183 "[Feature Request]: LDAP synchronisation functionality"
Hello

We would like to have the “LDAP Synchronisation" functionality for groups added to the Gitlab provider.

Is it possible to add this feature?

Thanks,

[2019-10-09 11:26] sudoapt-getclean commented on #181
Great idea, and use-case.
I've requested this field in supporting library so that we can implement it for group and project(already supported) at the same time.

[2019-10-10 07:14] mkjmdski opened #184 "[Feature Request] new resource type gitlab_pipeline_schedule_variable"
Current implementation of gitlab_pipeline_schedule doesn't allow to define custom variables, but there is an endpoint in API which allow to create those variables https://docs.gitlab.com/ee/api/pipeline_schedules.html#create-a-new-pipeline-schedule-variable

[2019-10-17 08:25] #64 closed

[2019-10-17 08:26] #177 closed

[2019-10-17 08:58] wesselvdv commented on #175
You cutting a release as we speak? I see you just updated the changelog, I really need the envionment_scope option for a gitlab_project_variable.

[2019-10-17 09:15] roidelapluie commented on #175
Yess I will ask for a release now

[2019-10-17 11:33] Andor opened #192 "Feature request: Add more supported services"
Gitlab has plenty of supported 3rd party services to integrate: [API](https://docs.gitlab.com/ee/api/services.html).

Terraform Gitlab Provider supports only Slack and Jira services.

I would be rather nice to add more supported types of services to this lovely terraform provider.

Right now I'm personally interested in [YouTrack](https://docs.gitlab.com/ee/api/services.html#youtrack) integration,

[2019-10-17 14:15] Procras opened #193 "Error importing user from gitlab to terraform resource"
### Terraform Version
Terraform v0.12.10
+ provider.gitlab v2.3.0

### Affected Resource(s)
- gitlab_user

### Terraform Configuration Files
[code]

### Debug Output
None

### Panic Output
None

### Expected Behavior
Terraform plan should output no changes

### Actual Behavior
Terraform wants to force email replacement on current user

[code]

### Steps to Reproduce
Please list the steps required

[2019-10-21 14:08] kherpel opened #195 "[Bug] environment_scope for resource gitlab_project_variable defaults to 0 instead of *"
Hi,

We have run into an issue with the gitlab_project_variable resource. We have several Gitlab variables defined using Terraform. After the upgrade to 0.12.11 the variables were not set in the CI pipeline. After investigating we found that the new version automatically set the environment_scope to "0" which results in a new scope listed in the Gitlab CI/CD variable settings. This new scope is no

[2019-10-21 20:47] wazoo opened #196 "Can't Import gitlab_group from Gitlab Enterprise"
### Terraform Version
Terraform v0.12.12
+ provider.gitlab v2.3.0

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_group

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
File: module/terraform/main.tf
[code]
Command:
[code]
### Debug Output
None

### Panic Ou

[2019-10-23 08:20] Andor opened #198 "[Documentation] Rename roles "master" to "maintainer""
According to [GitLab documentation](https://docs.gitlab.com/ee/user/permissions.html#project-members-permissions): `Note: In GitLab 11.0, the Master role was renamed to Maintainer`. So I guess we need to update documentation and cover that roles renaming as well.

`gitlab_group_membership` has sentence `access_level - (Required) Acceptable values are: guest, reporter, developer, master, owner.`
`p

[2019-10-23 19:59] Andor opened #200 "Support for option "remove_source_branch_after_merge" for projects"
Since [merge request](https://gitlab.com/gitlab-org/gitlab/merge_requests/18408) is merged GitLab API will have option `force_remove_source_branch` in the API.
It gonna be rather cool to be in touch with fresh changes in GitLab API and support this option.

### Affected Resource(s)
Please list the resources as a list, for example:
- `gitlab_project`

### Terraform Configuration Files
[code]

### R

[2019-10-24 18:23] japatterson-heb opened #201 "Feature Request: Add data source option for gitlab_project_push_rules"
Hello!

I don't believe this should be classified as a bug, but the way the behavior lines up between Gitlab Cloud, project creation, and Terraform application makes it difficult to manage project_push_rules in the Gitlab Cloud environment.

From what I can tell, newly generated projects in the public Gitlab environment inherit a default push_rule object defined as follows:

[code]

I'm not an adm

[2019-10-25 05:53] LipingSun opened #202 "[Bug] Unsupported argument: commit_committer_check"
Hi there,

Getting error when `setting commit_committer_check` in `gitlab_project_push_rules`. According to [document](https://www.terraform.io/docs/providers/gitlab/r/project_push_rules.html#commit_committer_check), `commit_committer_check` should be supported.

### Terraform Version
+ Terraform v0.12.12
+ provider.gitlab v2.3.0

### Affected Resource(s)
- gitlab_project_push_rules

### Panic Out

[2019-10-26 03:21] LipingSun commented on #201
Getting same issue here. Would like to see this feature implemented soon.

[2019-10-27 17:26] kirecek opened #205 "Destroy acceptance tests not tested properly + duplicated code"
Hello, I noticed that many destroy tests do checks only for the absence of a parent resource (i.e. gitlab_project and gitlab_group) and delete function for a particular resource is not tested at all (they are only called by terraform).

What's worse, most of these destroy tests are duplicated code. For example, the following tests are the same.

- [x] [testAccCheckGitlabPipelineScheduleDestroy](ht

[2019-10-29 22:02] mnology commented on #193
It should be noted that `terraform import` appears to create the user in the state with `email: null`. Importing with null will mean that imported user resources will always have to be recreated due to perceived email attribute changes.

I've been able to tweak the state manually to fix the email attr in order to get a sensible plan in a test environment, but this isn't feasible for most cases.

[2019-11-03 01:46] unacceptable commented on #150
Here is a link to the documentation on how this is done.

https://docs.gitlab.com/ee/user/project/repository/repository_mirroring.html#setting-up-a-push-mirror-from-gitlab-to-github-core

I think that this would be amazing when coupled with other providers.

[2019-11-03 02:27] unacceptable commented on #150
I started to look into building something, but I couldn't find an API spec.  It looks like the functionality isn't publicly accessible. 😕

https://docs.gitlab.com/ee/api/api_resources.html#project-resources

I found the following issues relating to this as well:

https://gitlab.com/gitlab-org/gitlab/issues/1499
https://gitlab.com/gitlab-org/gitlab/issues/7599

I also watched network traffic in Dev

[2019-11-04 22:14] jrdelarosa8 commented on #181
I've submitted PR to xanzy/go-gitlab, which aims to address exposing the group runners_token attribute. If a maintainer can assign this issue to me, I'd be happy to help add the feature.

[2019-11-05 13:32] FelikZ commented on #150
Hey, will this output `ssh public key` that generated after successful mirroring setup?
![image](https://user-images.githubusercontent.com/1080269/68212074-1bbf0380-ffd9-11e9-9bf1-e42dd3d15931.png)

This is an essential part to create a webhook for in the old GIT provider to have close to realtime sync.

[2019-11-06 10:55] marimp opened #209 "Manual removal of a resource on provider will raise a "404 Not Found" error without any recover"
Hi there,

### Terraform Version
not related to the terraform version

### Affected Resource(s)
all resources

### Terraform Configuration Files
not related to Configuration File

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
A correct approach should be something like this (in this way the provider will be locally updated):

[code]

### Actual Behavior
there is a generic issue

[2019-11-07 10:17] dr4Ke opened #210 "Support for project_creation_level on groups"
This is a feature request to add the `project_creation_level` parameters to the `gitlab_groups` resource.

### Terraform Version
Terraform v0.12.13
+ provider.gitlab v2.3.0

### Affected Resource(s)
- gitlab_groups

### Terraform Configuration Files
[code]
In this example, I added the inexistent `project_creation_level`. Gitlab supports these values:
- `noone`
- `maintainer`
- `developer`

[2019-11-07 19:21] scarbeau opened #212 "Feature Request: Resource for create repository branch"
## Use case:
Create new branch on repository

## Example
[code]

## API Reference
https://docs.gitlab.com/ee/api/branches.html#create-repository-branch

[2019-11-10 07:03] abelmokadem opened #213 "Incorrect project environment variable lookup"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_project_variable

### Terraform Configuration Files
[code]

### Debug Output

### Panic Output

### Description
The GitLab project environment variable lookup is incorrect. In GitLab an environment variable can have the same name in multiple environment scopes. However, the GitLab api

[2019-11-16 12:17] flelli opened #214 "Project label creation fails when the project already has a number of labels"
### Terraform Version
[code]

### Affected Resource(s)
- gitlab_label

### Terraform Configuration Files
Within a module:

[code]

### Expected Behavior
Labels should have been created and retained in Terraform state.

### Actual Behavior
When applying, this error is raised:

[code]

The label is created on GitLab but not retained in Terraform state so any further apply raises other errors because

[2019-11-19 10:56] flelli commented on #159
Even with this syntax is not working:

[code]

It applies with no errors but it has no effect (the share is not visible from GitLab's UI) and is not retained in the Terraform state (any subsequent plan or apply detects it as a new change).

[2019-11-19 11:21] flelli opened #219 "gitlab_project_share_group not working"
Using the `gitlab_project_share_group` resource is not retained correctly in Terraform state as at any subsequent `plan` or `apply` the resource appears as new, while in turn it seems it is converted into the `gitlab_project.shared_with_groups` block, causing a false configuration drift.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- git

[2019-11-22 08:13] esciara opened #221 "Datasource `gitlab_users` only fetches 20 users"
### Terraform Version
[code]

### Affected Resource(s)
datasource `gitlab_users`.

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Panic Output
N/A

### Expected Behavior
All active users should be fetched.

### Actual Behavior
Only 20 users are fetched.

### Steps to Reproduce
1. `terraform plan`

### Important Factoids
Gitlab's response is paginated with 20 items per page

[2019-11-22 15:56] jakubigla commented on #213
Basically environment_scope becomes useless if this is not implemented.
I had such a nice design with variables distribution to CI pipeline purposes and now I need to bin it :)

[2019-11-22 16:03] abelmokadem commented on #213
@jakubigla Same here, you can use it to create environment variables for different scopes. That part works, but afterwards you can't modify or delete them. In our case that is fine for now but we really need this to be fixed so that we can also update variables and remove the lifecycle ignore in our codebase.

[2019-11-24 06:02] #181 closed

[2019-11-24 06:04] #138 closed

[2019-11-24 13:10] beanaroo commented on #155
Good news! It looks like `gitlab_group_label` has been merged in https://github.com/terraform-providers/terraform-provider-gitlab/pull/186

Hopefully we'll see it in the next release

[2019-11-29 13:05] baurmatt commented on #200
This was introduced with Gitlab 12.5 --> https://about.gitlab.com/blog/2019/11/22/gitlab-12-5-released/#delete-source-branch-once-merged

[2019-11-29 13:06] baurmatt commented on #157
The Gitlab EE license was introduce with #188. Is there anything else we need to do here or can this issue be closed?

[2019-11-29 13:08] baurmatt commented on #67
@roidelapluie Could you please close this issue? :)

[2019-11-29 13:09] baurmatt commented on #42
@roidelapluie Could you please close this issue? :)

[2019-11-29 13:13] #157 closed

[2019-11-29 13:13] roidelapluie commented on #157
yeah that's fine ;)

[2019-11-29 13:13] #67 closed

[2019-11-29 21:03] Andor commented on #200
@baurmatt yup

[2019-11-30 00:01] #99 closed

[2019-12-01 18:22] oesah commented on #213
I have the same issue, staging pipeline overrides production environment scope and vice versa. Cannot create two variables with the same name in 2 different scopes. Any workarounds to this?

[2019-12-01 18:27] oesah commented on #213
So, basically it is documented here: https://github.com/terraform-providers/terraform-provider-gitlab/blob/master/gitlab/resource_gitlab_project_variable.go#L117

The feature is just commented out, but I don't fully understand the reason why. Anyone an idea?

[2019-12-01 18:30] jakubigla commented on #213
The workaround is:
[code]

[2019-12-01 19:19] oesah commented on #213
@jakubigla Thanks for the hint, but what I did instead is:

1. Install Golang
2. Pull the repository
3. Uncomment line `gitlab/resource_gitlab_project_variable.go#L117`
4. Build the binary with golang using `terraform-provider-gitlab_v2.4.0_x4`
5. Copy that binary into the folder you are using your terraform commands from
6. Re init terraform

I tried it just now and it seems that line uncommented

[2019-12-02 08:37] baurmatt commented on #200
https://github.com/xanzy/go-gitlab/issues/742 is required before we can implement this in the provider.

[2019-12-02 13:56] oesah commented on #213
Unfortunately, my solution described one comment earlier does not seem to work when I run it in Gitlab Pipeline. I am getting the following error:
[code]

Strangely, it works on my local machine. Trying to figure out why.

[2019-12-02 14:43] ketzacoatl commented on #155
Awesome! What is the release schedule like? Seems like "not frequent". Is there a technical limitation for that? Should I just build/install the provider from a specific commit?

[2019-12-02 15:08] roidelapluie commented on #155
It is released in 2.4.0

[2019-12-02 15:08] #155 closed

[2019-12-03 06:53] abelmokadem commented on #213
@oesah is your GitLab runner using the same architecture as your local machine? Are you on a mac or linux? And what is your GitLab docker container running? You might be able to solve this problem  by building the binary inside the docker container that you use for your pipeline.

[2019-12-03 13:44] oesah commented on #213
Yes, my Mac uses darwin_64 while the pipeline uses linux_64. I guess that's the issue then, thanks for the tip. Will try to build it in the pipeline.

[2019-12-05 08:57] flelli commented on #214
As of the new provider version the error message has changed to:

[code]

For completeness:
[code]

[2019-12-05 09:04] roidelapluie commented on #214
it will be fixed soon

[2019-12-05 14:41] #214 closed

[2019-12-05 21:47] roidelapluie commented on #198
fixed in f6ddb682ac8cec3cba914c09d93a10e573b86fb9

[2019-12-05 21:47] #198 closed

[2019-12-05 21:50] #221 closed

[2019-12-06 08:28] roidelapluie commented on #213
New release is out with the fix

[2019-12-10 11:40] wesselvdv commented on #213
I see, but it's still an issue. Seems that having multiple variables with the same name, but different environment scope is suffering from some sort of ordering issue. Plans are now always showing changes for both value and scope.

[2019-12-11 12:47] flelli opened #232 "Error creating group labels above a certain number"
### Terraform Version

[code]

### Affected Resource(s)
- gitlab_group_label

### Terraform Configuration Files
Within a module:

[code]

### Expected Behavior
Labels should have been created and retained in Terraform state.

### Actual Behavior
When applying, this error is raised:

[code]

This issue only appears on groups with a consistent number of labels. If some existing labels are destroyed

[2019-12-11 16:52] abelmokadem commented on #213
@roidelapluie there is another issue indeed. It's what I mentioned in my issue. The lookup for the variables is incorrect.

[code]

[2019-12-13 11:38] wesselvdv commented on #213
@roidelapluie Can this be reopened? This issue is clearly not fixed, if any it has become more apparent in the current release.

[2019-12-16 17:55] oesah commented on #213
@abelmokadem I can confirm, this did not fix the issue. However, now we see how it should work and why it isn't.

I checked this repository, but I see that we are using v4 api. I think the real issues lie here: https://github.com/xanzy/go-gitlab/blob/master/group_variables.go#L84
https://github.com/xanzy/go-gitlab/blob/master/project_variables.go#L86

In both calls, they are simply asking for the

[2019-12-16 18:12] oesah commented on #213
The root problem goes back to Gitlab itself. You can follow the issue here: https://github.com/xanzy/go-gitlab/issues/746

[2019-12-17 23:39] awill1988 opened #233 "[Feature Request] "branches_to_be_notified" in gitlab_service_slack resource"
Please consider adding the `branches_to_be_notified` argument from the Gitlab API

[code]

Reference: https://docs.gitlab.com/ee/api/services.html#createedit-slack-service

[2019-12-19 12:42] jsirex opened #234 "Implement gitlab_project.build_access_level"
[code]

[2019-12-20 10:20] lindehoff opened #235 "Environment scope needs to be a part of the gitlab_project_variable ID"
Hi,
I have two different terraform projects that create a gitlab_project_variable with the same name but with different environment_scope. Everything works when I run terraform apply and the variables are created correctly. But if I run terraform apply again for the first project it what's to update the variable being created from the second project.

I have found the problem being that the resour

[2019-12-20 10:33] roidelapluie commented on #235
dupe of #213

[2019-12-20 10:33] #235 closed

[2019-12-20 10:49] costalvaro commented on #201
Same issue here, it'd be great to have this feature!
Thanks in advance. 👍

[2019-12-20 11:42] lukemgriffith commented on #49
Is implementing this as a resource up for grabs? I'd be keen on getting this in.

[2019-12-20 20:20] hashibot[bot] opened #236 "Gitlab provider - add ssh key to user"
_This issue was originally opened by @jerem991 as hashicorp/terraform#23739. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version
[code]

### Use-cases
We need adding a public key to an user on Gitlab, but the only feature that allow that

[2019-12-26 16:13] nishant-jain-94 opened #238 "Can't create project for a user"
Hi,

I am trying to **Create Project for User** using the Terraform Gitlab Provider. Gitlab API provides a way to create a Project for a User using this API Endpoint. Is there a way where we could do achieve the same thing using the Terraform Gitlab Provider

### Terraform Version
Terraform v0.12.12

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_project

### T

[2019-12-30 14:35] adrianwright opened #239 "Feature request: Import project push rules"
It would be nice to be able to import existing project push rules.

[2020-01-02 10:51] baurmatt commented on #200
This got implemented by the upstream library and $person could start implementing this.

[2020-01-06 10:56] lukegriffith opened #241 "project commit resource"
As template repositories are an EE only feature, it would be handy to be able to IAC my repository templates. Having a commit resource that can be used on a project would enable me to template my repositories as code.

Looking for guidance on this, can happily implement myself too.

API provides a commit action.
https://docs.gitlab.com/ee/api/commits.html#create-a-commit-with-multiple-files-and-ac

[2020-01-09 16:32] janmasarik opened #243 "Masked variable missing in gitlab_group_variable"
Hey 👋 ,

The option for setting variable as `masked` is not available in `gitlab_group_variable` -  https://www.terraform.io/docs/providers/gitlab/r/group_variable.html, while it is possible to do in the UI.

Would it be possible to add this flag to the provider? 🙏

[2020-01-09 19:19] matejvelikonja commented on #243
unfortunately not supported in GitLab API.

https://docs.gitlab.com/ee/api/group_level_variables.html#create-variable

[2020-01-18 11:12] zoonfafer commented on #238
A user's namespace_id is not the same as the user's ID.  Get the user's namespace_id with this:

[code]

Until there is a data source for GitLab namespaces, you may have to make do with the above.

[2020-01-22 21:17] jshdcmpbll opened #248 "[Feature Request] "default_notification_settings"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2020-01-23 21:10] mcrmonkey opened #249 "Data source gitlab_user not transferring all values to state"
### Terraform Version
[code]

### Affected ~Resource(s)~ Data source(s)
- gitlab_user

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/mcrmonkey/0ed0da5e1f2826776148c616f54395d7

Note: Some values have been omitted such as paths, email addresses, company name and API tokens. Final state is included in the gist.

### Panic Output
There was no panic.

### Expected

[2020-01-25 07:26] gdubicki commented on #162
This API is deprecated since GitLab 12.3 released in September 2019. We should use https://docs.gitlab.com/ee/api/merge_request_approvals.html#project-level-mr-approvals API instead.

[2020-01-25 07:41] gdubicki commented on #162
Oh, this is almost merged. See https://github.com/terraform-providers/terraform-provider-gitlab/pull/208 and https://github.com/terraform-providers/terraform-provider-gitlab/pull/250 .

[2020-01-28 15:09] sirlatrom commented on #243
Related issue on gitlab.com: https://gitlab.com/gitlab-org/gitlab/issues/12421

[2020-01-31 11:20] randomswdev opened #252 "Feature Request: more granular handling of gitlab_project.tags"
Hi there,

### Affected Resource(s)
gitlab_project, tag attribute

The tag attribute allows to assign topics (the tags name was replaced because of confusion with git tags) to a GitLab project. But when assigning a list of topics, all the project topics are replaced with the ones in the list. This does not allow to manage a set of topics with Terraform, while allowing manual management of addition

[2020-01-31 16:14] borisceranic commented on #209
Hi @ymatsiuk (and others),

Related to the issue described above, and to solution implemented in #223, I'd like to report that this issue exists also on `gitlab_group_membership` resources.

I'm adding my own notes here because this issue is still open, and also judging by the context, which consists of this issue, #222 and #223, this issue is very much still relevant, despite the fact that #223 r

[2020-02-01 11:04] ymatsiuk commented on #209
I'm totally agree and currently running custom built provider which does exactly this. My team insisted we use this strategy instead of manual `terraform state rm`. We also manage gitlab from centralized pipeline, which eliminates the lack-of-permissions-risk mentioned by @roidelapluie during our previous discussion.

[2020-02-01 11:44] roidelapluie commented on #209
Hello , we are ok to reintroduce the previous behaviour (recreate when 404) for resources that can be imported.

[2020-02-03 16:08] txomon opened #254 "User missing from group makes refresh fail"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_group_membership

### Terraform Configuration Files
Just a normal `gitlab_group_membership` instance.

### Terraform output
[code]
### Expected Behavior
When a user is missing from a group, gitlab_group_membership should just mark it as pending to add.

### Actual Behavior
The refresh

[2020-02-03 17:44] justinkillen commented on #210
+1

[2020-02-03 18:48] justinkillen commented on #210
Missing in xanzy/go-gitlab.  Issue/PR: https://github.com/xanzy/go-gitlab/issues/762

[2020-02-03 18:52] justinkillen commented on #210
WIP: https://github.com/justinkillen/terraform-provider-gitlab/tree/more_group_options

[2020-02-05 07:43] mabunixda commented on #196
this errors also occures on gitlab provider v2.2.0

[2020-02-09 08:45] strowi opened #255 "import gitlab_group - cannot unmarshal Group.ldap_access of type bool"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_group

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/strowi/becfb1aec37317d87a74dbb1b846138e

### Panic Output
If Terra

[2020-02-11 08:40] MPV opened #256 "gitlab_group_cluster diff on kubernetes_ca_cert on each apply"
### Affected Resource(s)
Please list the resources as a list, for example:
- `gitlab_group_cluster`

### Terraform Configuration Files
[code]

### Expected Behavior

No diff after first apply.

### Actual Behavior

Diff after every subsequent apply.

### Steps to Reproduce

1. `terraform apply`

### Workarounds

Add trimspace() around the cert, like this:

Before:
[code]

After:
[code]

### Refere

[2020-02-11 08:42] MPV commented on #256
Looking at the code, it seems the tests apply `trimspace()`:
https://github.com/terraform-providers/terraform-provider-gitlab/pull/178/files#diff-1347dce80447b815000aa96c3cae80bbR228

...but not the example usage:
https://github.com/terraform-providers/terraform-provider-gitlab/pull/178/files#diff-c96ecf54d16275172e04bc7e3b33ff83R31

(or better yet: the implementation, so you wouldn't need to do i

[2020-02-11 09:08] roidelapluie commented on #256
This should be skipped by the provider, in a DiffSuppressFunc.

[2020-02-11 14:51] magic7s commented on #256
@MPV does it perform different as a Project Cluster?

[2020-02-11 15:47] MPV commented on #256
@magic7s I'm sorry, but I haven't been able to try that myself in my context. Feel free to give it a try.

[2020-02-12 22:50] justinkillen commented on #210
https://github.com/terraform-providers/terraform-provider-gitlab/pull/257

[2020-02-12 22:52] justinkillen commented on #210
Also adds additional fields:

* AutoDevopsEnabled
* EmailsDisabled
* MentionsDisabled
* SharedRunnersMinutesLimit
* ExtraSharedRunnersminutesLimit

[2020-02-17 08:51] luisfdez opened #258 "gitlab_pipeline_schedule doesn't handle pagination properly"
The following line doesn't handle pagination properly:
https://github.com/terraform-providers/terraform-provider-gitlab/blob/7dbdd83d27ebe937824de22f8b91ffbb71c897b9/gitlab/resource_gitlab_pipeline_schedule.go#L86

On infrastructures defining more schedules than the default pagination of the APIs the provider will fail to perform certain operations.

Following the library examples, a potential fix

[2020-02-18 12:51] barundel commented on #241
Template projects are available in GitLab hosted, it would be nice to see something like this supported in the terraform provider.

[2020-02-18 15:51] abeluck commented on #107
This is still in progress. The upstream ticket has changed urls, it is now located at :

https://gitlab.com/gitlab-org/gitlab/issues/21811

[2020-02-25 09:23] ringods opened #263 "Gitlab introduced soft delete of projects and groups"
### Affected Resource(s)
Please list the resources as a list, for example:
- `gitlab_group`
- `gitlab_project`
- the acceptance tests

### Expected Behavior
Removing the block for a `gitlab_group` or `gitlab_project` should delete the resource.

### Actual Behavior
Depending on the subscription tier you are on, the deletion of the resource is either hard or soft version.

A delete is a soft-delete

[2020-02-26 11:19] nagyv commented on #263
I'd recommend setting the default deletion adjourned period in this case to immediate.

The basic idea of Terraform is that every infrastructure management happens through Terraform, thus soft-delete should be either managed by Terraform or it should be switched off on the infrastructure side. As Terraform does not support soft-delete, the only option is to switch it off.

[2020-02-26 11:37] ringods commented on #263
@nagyv as a Gitlab.com user, I can't turn this off when on higher pricing tiers, can I?

[2020-02-27 07:53] greut commented on #243
It seems it's there now: https://docs.gitlab.com/ee/api/group_level_variables.html#create-variable

[2020-02-28 06:36] RastogiAbhijeet opened #268 "Terraform destroy archieves gitlab project."
### Terraform Version
v 0.12.18
### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_project

### Terraform Configuration Files
[code]

### Expected Behavior
`terraform destroy should have delete the gitlab project`

### Actual Behavior
`terraform destroy archieved the project.`

### Steps to Reproduce
Please list the steps required to reproduce the issue, for exampl

[2020-03-03 18:53] YusDyr commented on #263
It's just a ridiculous. Unless we could set up soft/hard delete on project/group level, you can't just propose to turn it off for a whole gitlab. Absolutetly clear there are many teams which work in one gitlab but different projects/groups and not all managed by terraform.

What I'm proposing to do is to add code checking "marked_for_deletion" as this is the only attribute which I seem to be retur

[2020-03-06 20:23] flacito opened #272 "New soft delete feature in GL 12.6 breaks gitlab_project delete."
Hi there,

### Terraform Version
Terraform v0.12.20

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_project

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this: **only this single resource, so not applicable**.

### Terraform Configuration Files
[code]

### Debug Output
[code]
### Panic Output
no

[2020-03-09 15:17] ilpianista commented on #272
Isn't this a duplicate of #263?

[2020-03-09 15:20] ilpianista commented on #268
Isn't this a duplicate of #263?

[2020-03-10 18:31] woz5999 commented on #213
I've made a fork of the provider to work around this issue using ListVariables to lookup scoped variables.  Would it be worth putting in a pull request for this? Not sure if the maintainers would rather wait for an upstream api fix or have something that works now.

[2020-03-10 19:00] binlab opened #275 "Add support for certificate-based authorization"
Hi there,

Do you have some plans to add support for certificate-based authorization? Like in the Vault provider for example:
https://www.terraform.io/docs/providers/vault/index.html#cert_file
https://www.terraform.io/docs/providers/vault/index.html#key_file

### Terraform Version
Terraform v0.12.20

### Expected Behavior
Support for client certificate and key

### Actual Behavior
Does not support

[2020-03-10 19:05] roidelapluie commented on #213
@woz5999 can we decide over the PR?

[2020-03-11 00:25] woz5999 commented on #213
Nevermind. After some more testing, you can successfully do the lookup easy enough, but there's no still deterministic way to actually update/delete the correct var.

[2020-03-11 05:45] abelmokadem commented on #213
We resorted to just deleting and recreating variables in GitLab. It sucks because we have to deploy our terraform project twice.

[2020-03-12 14:03] toadjaune commented on #107
The API endpoints are complete and merged (https://gitlab.com/gitlab-org/gitlab/issues/21811), and will be included in this month's release (on 2020-03-22).

So, if someone wants to start working on an implementation, it's possible already !

[2020-03-12 14:24] MajorBreakfast opened #278 "Recreate gitlab_project_variable if it was manually deleted"
Hello,

I just ran into the issue that planning fails with the following error if a previously created project variable has been manually deleted. It would be better if the provider recreated the variable instead of failing.

[code]

- Terraform version: 0.12.23
- GitLab provider version: 2.5.0
- Affected Resource(s)
  - gitlab_project_variable
  - gitlab_group_variable ~~(likely)~~ (Edit: Confirm

[2020-03-16 23:28] RyPeck commented on #233
Appears that this work was completed in #242 but a new release has not yet been cut.

[2020-03-17 21:55] h3adache opened #280 "password doesn't work?"
I'm using
[code]
and `GitLab12.8.6`

I defined a user resource with a password of `"testing"`.
The user is created fine but cannot log in with the password.
I set `reset_password = false`.

I don't know if this is a known issue as I can't find it in any reported issues

[2020-03-18 17:06] jakemig commented on #255
Looks like this was resolved in v0.23.0 of xanzy/go-gitlab. I think all that needs to happen is for the version in `go.mod` to be bumped to at least 0.23.0.

References:
* https://github.com/xanzy/go-gitlab/pull/760
* https://github.com/xanzy/go-gitlab/blob/v0.23.0/groups.go#L60

[2020-03-23 20:10] ringods commented on #272
Indeed, duplicate of #263. I'm working on getting the acceptance tests working correctly before more contributions can be accepted.

[2020-03-23 20:10] #272 closed

[2020-03-24 10:37] giorgioazzinnaro commented on #107
I have contributed this to the gitlab client lib in xanzy/go-gitlab#802 and am now working on this here: #284
I thought I'd mention just in case anyone also intended to work on this.
I am still waiting on GitLab to close a couple of bugs on their side however before this is fully functioning..

[2020-03-26 13:59] abeluck opened #286 "[Feature request]: Allow setting container expiration policy"
Please consider adding the `container_expiration_policy_attributes` argument from the Gitlab Projects API.

This allows one to configure containers to automatically expire according to certain rules.

* API: https://docs.gitlab.com/ee/api/projects.html#edit-project
* Attribute: `container_expiration_policy_attributes`

[2020-03-26 17:24] MarcinNowak-codes commented on #200
Consider to stay with the same as GitLab API argument name:

[code]

[2020-03-27 21:45] deweysasser commented on #193
Does this generate any interest from a developer?  The issue renders the gitlab provider substantially problematical to use.

[2020-03-29 08:08] ysb33r opened #287 "Avoid "Too many requests" by providing some form of exponential back off logic"
I think it would be great if some form of back off logic can be implented, I am running into 429 issues with a non-trivial configuration. (I have 173 entities in mine).

I can easily reproduce this issue with `plan` or `apply` with or without `-refresh`. Even doing `-parrallelism=1` is not enough.

### Terraform Version
* Terraform 0.12.1
* provider.gitlab v2.5.0

### Affected Resource(s)
Please l

[2020-03-30 12:54] apricote commented on #200
The attribute is still missing from the [`Project`](https://github.com/xanzy/go-gitlab/blob/master/projects.go#L40) struct and is not returned when reading the project using `GetProject`.

Without this, we can not read the attribute from Gitlab and write it to local TF state in the `dataSourceGitlabProjectRead` and `resourceGitlabProjectRead` functions.

This means that we are unable to detect any

[2020-03-31 02:58] kuahyeow commented on #263
@ringods I am familiar with how GitLab API works but _not_ how Terraform works.

It looks like the change is that projects and groups changed from being deleted immediately to having a 7 days delay.

I note that we do emit the `marked_for_deletion_at` field for a project pending deletion. Is it possible to use this field at all ?

[2020-03-31 06:16] ringods commented on #263
@kuahyeow this provider pulls in the Go implementation of the Gitlab API from another project. Can you tell me if this change is sufficient to detect a pending delete?

https://github.com/xanzy/go-gitlab/pull/791/files

[2020-04-01 08:45] ringods commented on #268
@RastogiAbhijeet did you experience this against a Gitlab setup with a paid license? From a certain tier, Gitlab activates soft delete as described in #263 and then that is expected behaviour on the Gitlab side which we can't do anything about on the Terrform provider side.

[2020-04-01 19:46] ringods commented on #133
Roadmap update April 2020:

In Gitlab Enterprise Edition version 12, a server can be configured so groups and projects can be "soft-deleted" (#263). Since that moment, the acceptance tests became instable. I have been doing small updates focussing on getting the test suite stable again.

The `master` branch is now configured to run all test suites via Github Actions. In #291, I'm trying to get sup

[2020-04-02 21:25] MarcinNowak-codes opened #292 "[Feature Request] Support for option "Squash commits when merge request is accepted." for projects"
Currently field for option "Squash commits when merge request is accepted." doesn't exist in GitLab's API for project [Get single project](https://docs.gitlab.com/ee/api/projects.html#get-single-project). I create this issue to cross track GitLab's API progress.

### References
[Set default value for merge request options](https://gitlab.com/gitlab-org/gitlab-foss/-/issues/27956)
[Add project sett

[2020-04-03 12:05] rhysjtevans opened #293 "Feature request - "Allowed to create projects" on groups"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
gitlab version 2.5

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_group

It would be great if the option fo

[2020-04-03 19:43] sebastianortizs4n opened #294 "gitlab_deploy_key_enable should implement can_push"
Hi there,

gitlab provider resource `gitlab_deploy_key_enable` should also support the `can_push` argument of the `gitlab_deploy_key`, currently there is not way to automate enabling added deploys key to write to the added project.

[2020-04-04 15:15] #263 closed

[2020-04-14 12:41] phumberdroz opened #298 "gitlab_project_variable uses a non unique identifier"
### Terraform Version
Terraform v0.12.24
...
+ provider.gitlab v2.6.0
...
### Affected Resource(s)
- gitlab_project_variable

### Expected Behavior
What should have happened?
I have multiple time
[code]
Should only sync that variable but instead a synced a different one with the same key.
[code]
### Actual Behavior
It should use a different identifier to map gitlab_project_variable as key is not u

[2020-04-14 21:10] ineedaccount commented on #219
is there any update regarding this issue?

[2020-04-15 07:21] ineedaccount commented on #298
That's the correct behavior. Your resource name must be unique.
module.sai_gitlab_aws.gitlab_project_variable.AWS_ACCESS_KEY is not unique

You need something like
[code]
and so on

or you can use terraform 0.12.6 and take advantage of `for_each` https://blog.gruntwork.io/terraform-tips-tricks-loops-if-statements-and-gotchas-f739bbae55f9

[2020-04-15 07:26] ineedaccount commented on #294
seems like the api doesn't have this option: https://docs.gitlab.com/ee/api/deploy_keys.html#enable-a-deploy-key

it only has it when you create a new deploy key and add it to a project. https://docs.gitlab.com/ee/api/deploy_keys.html#add-deploy-key

[2020-04-15 07:35] phumberdroz commented on #298
No I only have the Dev workspace currently managed by Terraform. There is pre existing Vars for other stages configured in Gitlab CI.

[2020-04-15 07:46] phumberdroz commented on #298
Looking at the API documentation there is no unique identifier to use in the endpoints.
https://docs.gitlab.com/ee/api/project_level_variables.html

[2020-04-15 10:25] abitrolly opened #299 "`default_branch` is reset to null when not set in .tf"
### Terraform Version
[code]

### Affected Resource(s)
- gitlab_project

### Terraform Configuration Files
[code]

### Expected Behavior
Expected [`default_branch` argument](https://www.terraform.io/docs/providers/gitlab/r/project.html#default_branch) to be optional. Running `terraform plan` should not reset `default_branch` for the project if it is not set in `.tf` file.

### Actual Behavior
[cod

[2020-04-15 14:55] sebastianortizs4n commented on #294
I created an issue in gitlab about that. Thanks.

https://gitlab.com/gitlab-org/gitlab/-/issues/214483

[2020-04-17 08:44] iamcharlieza opened #300 "[Feature request]: Sharing a group with another group"
Hi 👋

### Expected Behavior
Would like to invite another group to have rights in another group. This was previously not available in Gitlab. They have however added support for it. In the latest version of Gitlab you can share a group with another group.

### References
- https://docs.gitlab.com/ce/user/group/#sharing-a-group-with-another-group

Hopefully, I will be able to contribute in future 😄

[2020-04-18 23:07] phumberdroz commented on #298
Related GitLab Issue: https://gitlab.com/gitlab-org/gitlab/issues/9912

[2020-04-20 07:57] ineedaccount commented on #219
Hi @flelli I managed to come up with a workaround to solve this issue.

So here is what I am doing:
# assume you are getting your ids from vars rather than hard coding it
[code]

To stop the drift coming up in the project resource, use `lifecycle` feature of terraform.
[code]

It is working this way fine. This will create `gitlab_project_share_group` in the resources and it will not clash with `gi

[2020-04-21 17:50] MarcinNowak-codes commented on #292
Another issue in Gitlab to cross track [Configurable defaults for "Squash commits" option](https://gitlab.com/gitlab-org/gitlab/-/issues/17613) since Mar 26, 2017. This time it is open.

[2020-04-21 19:43] MarcinNowak-codes commented on #292
I've created issue in go-gitlab [Add support for option "Squash commits when merge request is accepted." for projects](https://github.com/xanzy/go-gitlab/issues/838).  Feature is scheduled for GitLab 13.1 and MR is in WIP status.

[2020-04-21 21:23] MarcinNowak-codes opened #303 "[Feature Request] Support for avatar option in create/edit project"
In the GitLab's user interface it is possible to upload image as project's avatar. Nice to have the same feature with Terraform.

 In the project xanzy/go-gitlab is already issue [Support for avatar option in create/edit project](https://github.com/xanzy/go-gitlab/issues/229). This issue is created to cross track progress on it.

[2020-04-22 15:09] gbrunacci commented on #195
I second to this, my env vars set via terraform are useless by default unless I set `environment_scope = "*"`.

Default behavior should be all environments.

[2020-04-26 16:12] spuder commented on #195
Also seeing this

[code]

![Screenshot 2020-04-26 10 10 31](https://user-images.githubusercontent.com/242382/80313125-50e92900-87a6-11ea-8441-a8da06da42c5.png)

[2020-04-27 16:53] sebastianortizs4n commented on #294
@ineedaccount

As mentioned https://gitlab.com/gitlab-org/gitlab/-/issues/214483#note_332198427 this operation should be done via de https://docs.gitlab.com/ee/api/deploy_keys.html#update-deploy-key once it is added vía the `Enable Deploy Key` API

[2020-04-30 09:26] flelli commented on #219
Hi @ineedaccount  this solves the configuration drift problem but if you change the groups you share the project with the change won't be applied

[2020-04-30 12:14] MatanRubin commented on #278
We see the exact same behavior with group variables. Any updates regarding this issue?

[2020-05-03 19:14] lukemgriffith commented on #150
The original issues are closed, and it looks like they publish a API spec now
https://docs.gitlab.com/ee/api/remote_mirrors.html
@unacceptable  did you managed to start anything? or is this up for grabs

[2020-05-04 09:43] abitrolly commented on #299
The algorithm.
1. If default branch is not set in GitLab and not set in Terraform - do not store it in state
2. If default branch is not set in GitLab, but set in Terraform - apply Terraform version to state
3. If default branch is set in GitLab, but not set in Terraform - store it in state
4. If default branch is set in GitLab and set in Terraform - do usual stuff

[2020-05-12 06:18] shakerky-awx opened #306 "Issue when running gitlab TF code in gitlab pipeline."
Hi, I'm trying to TF the gitlab config, and the code works perfectly on my laptop, but whenever it's run inside a pipeline it fails, with

[code]
Now, I know the connection works in the pipeline, because the line immediately before is this, and it works perfectly:
```curl  -H \"Authorization: Bearer ${GITLAB_TOKEN}\" 'https://gitlab.company.com/api/v4/users?username=user.name1'"```

This is some e

[2020-05-12 11:01] iyurev commented on #299
Good day!
I have same problem with my configuration,  in my case:
1. I've created gitlab_project without definition default_branch
2. After master branch became in the project , terraform apply is trying  change it to -> null and
3. Failed with error:
```400 {message: {base: [Could not change HEAD: branch '' does not exist]}}```

[2020-05-12 14:30] abitrolly commented on #299
I never tried to apply it. I guess the issue is more serious then. I got development environment ready for the fix. What I do not know, is how to use Terraform API to check that `default_branch` attribute for `gitlab_project` is defined in .tf file?

[2020-05-12 16:45] mitchellmaler opened #307 "Group Datasource Slowness, need ability to set with_projects option to false"
### Terraform Version
N/A

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_group

### Terraform Configuration Files
N/A

Currently when you pull a group datasouce it can take a while to return since it pulls each project along with it since the option with_projects defaults to true on the api call. Would it be possible to have the option to set with_projects to

[2020-05-12 21:11] iyurev commented on #299
I didn’t read provider development guide.(
But seems we can catch it here: https://github.com/terraform-providers/terraform-provider-gitlab/blob/master/gitlab/resource_gitlab_project.go

[2020-05-12 21:13] josharrington commented on #201
I ran into this issue as well. It seems that the cloud hosted gitlab creates some default push rules when a new project is created. Since we are unable to import these, I created the following workaround.

[code]

The above example sets prevent_secrets and creates a regex to prevent noncompliant commit messages.

[2020-05-14 08:44] pete-leese opened #308 "[Feature Request] gitlab_service_teams"
Morning,

I see there are specific resources for slack, jira etc…. to make configuring other integrations simple, with the popularity of Microsoft Teams increasing as of late and would be good if there was a dedicated resource for this as there is with slack etc…

Thanks!

Pete

[2020-05-14 15:08] s256 commented on #213
As an idea, we currently use the API for Varibale details (https://docs.gitlab.com/ee/api/project_level_variables.html#show-variable-details) which only filter for the key and not the scope. If we would use the json provided by the project (https://docs.gitlab.com/ee/api/project_level_variables.html#list-project-variables) we would also get the scope of the variables.

like this:

`[{"variable_typ

[2020-05-14 16:02] woz5999 commented on #213
@s256 I think the problem when I looked into this is that the update-variable API still isn't deterministic. There's no way to specify which scoped variable you want to modify, so even if you can PUT the environment scope in the payload, it will just update a random variable with the given name/key. I'd be thrilled if I end up being wrong, but that's the issue that forced me to abandon a fix.

Her

[2020-05-14 16:20] JoaoMJoia opened #309 "initialize_with_readme not creating README file"
Hi there,
I'm passing the parameter "initialize_with_readme                           = true" on my "resource "gitlab_project"" but it doesn't creates the gitlab project initializing it with the README.md file.
Can someone help me out ?

### Terraform Version
Terraform v0.12.12

### Provider version
terraform-provider-gitlab_v2.6.0_x4

### Affected Resource(s)
- gitlab_project

### Terraform Confi

[2020-05-15 01:22] Nekroze opened #310 "Requesting flag for CODEOWNERS approval on gitlab_branch_protection resource"
[Protected branches can require code owner approval](https://gitlab.com/help/user/project/protected_branches#protected-branches-approval-by-code-owners-premium) which is able to be manually toggled with a terraform managed branch protection rule without terraform switching it back, however adding in a boolean for this on the terraform resource would be very helpful for managing a large number of p

[2020-05-15 20:41] woz5999 commented on #195
anyone have any idea how to get someone to review and merge the PR i submitted?

[2020-05-18 11:23] stackexpress-shivam opened #312 "gitlab_project_share_group is not persistent"
### Terraform Version
Terraform v0.12.24

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_project
- gitlab_project_share_group

### Terraform Configuration Files
[code]

### Expected Behavior
The resource sharing should be persistent during all future runs.

### Actual Behavior
The sharing is disabled on very next run:

[code]

### Steps to Reproduce
Please list

[2020-05-18 11:26] stackexpress-shivam commented on #312
It tries to delete the `shared_with_groups` resources when I run
terraform plan or terraform apply

[2020-05-18 16:43] JoaoMJoia commented on #309
Hello,

Issue solved.
Gitlab needed the new update!

Regards,
JoaoMJoia

[2020-05-18 16:43] #309 closed

[2020-05-19 20:18] abelmokadem commented on #213
I think there should be a gigantic warning sign on this resource... This is really messed up.

[2020-05-20 09:35] ringods commented on #243
Support for the `masked` property, contributed by @kirecek in #271 is merged. This code has also been released in v2.7.0 of the provider.

[2020-05-20 09:35] #243 closed

[2020-05-22 07:15] ringods opened #314 "Document how to have acceptance tests only for Gitlab Enterprise"
Some Gitlab features are only available in Gitlab Enterprise.

### Expected Behavior
Some tests should only run in the `acceptance-ee` test suite, so against a Gitlab Enterprise setup.

### Actual Behavior
All acceptance tests run against both the Community edition and the Enterprise Edition

### References
Are there any other GitHub issues (open or closed) or Pull Requests that should be linked h

[2020-05-22 07:45] ringods commented on #133
Rpadmap update May 2020:

The `soft-delete` functionality landed in [v2.5.1](https://github.com/terraform-providers/terraform-provider-gitlab/blob/master/CHANGELOG.md#251-april-06-2020) of the provider. There have been a few increment releases after that.

Meanwhile, I'm going over the open Pull Requests one by one. I'm reaching out to the PR authors requesting a rebase if the PR is quite old. Thi

[2020-05-22 12:59] ubdb commented on #249
To make the importance of the bug more obvious - the result is that imported users will be replaced when running terraform plan.
So importing users is not working or usable.

[code]

[2020-05-22 12:59] roidelapluie commented on #314
We have that already

[2020-05-22 13:00] roidelapluie commented on #314
`
SkipFunc: isRunningInCE
`

[2020-05-22 13:36] ringods commented on #314
@roidelapluie leave this issue open plz. I'll create a PR against this to more clearly document this feature for contributors.

[2020-05-22 13:37] roidelapluie commented on #314
The function should also be moved out of the push rules file to a more common and discoverable file.

[2020-05-22 13:40] ubdb commented on #249
workaround for using s3 with dynamo for state+locking:
- copy terraform state from s3 to local filesystem
- edit terraform state, set email and initial password
- copy terraform state from local filesystem to s3
- run terraform plan (exits with error)
- copy shown digest into dynamo table used for terraform locking row: <bucket>/env:/<workspace>/terraform.tfstate-md5 field: Digest
- re-run terrafo

[2020-05-26 21:06] #183 closed

[2020-05-27 11:38] s256 commented on #213
I didn't test the update-variable API, but I will. If that's true, we're talking about completely different issue in gitlab here. Will get back to you asap.

[2020-05-27 12:27] s256 commented on #213
Using curl to access the API leaves me more confused.

I think it's really a bug in the update variable API. I just opened a support request with gitlab.

If you have more than one scope of a variable, the api wouldn't let you update other scopes except the first one you created.

Steps to reproduce:
[code]

If this gets fixed, this issue should resolve itself and we don't need an extra filter for

[2020-05-28 05:00] damusix commented on #232
This getting merged any time soon? Tired of targetting modules of modules

[2020-05-28 07:29] #232 closed

[2020-05-28 09:13] ringods commented on #275
@binlab Support for connecting with custom certificates was contributed in #315 and released today in v2.8.0 of the provider. Is this what wanted?

[2020-05-28 14:56] binlab commented on #275
yes, exactly! Thanks!

[2020-05-28 14:56] #275 closed

[2020-05-29 21:57] Binsabbar commented on #312
I am having the same issue. I think there is also an open issue already. I really needed to use `resource "gitlab_project_share_group"` so my way around for now was to use `lifecycle` in the project resource to ignore certain attributes. I do not like it this way, but it does the job I need at least for now.
[code]

[2020-05-30 07:22] ringods commented on #268
Hello @RastogiAbhijeet, can you please verify? Without any answer, I will assume it was the `soft-delete` behaviour you saw in action and mark this ticket as closed. This in a new Gitlab feature introduced in the Gitlab v12 version series.

[2020-05-30 07:43] ringods opened #319 "Possible change/regression in Gitlab v13 for group deletion?"
### Terraform Version
Unrelated to TF version.

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_group

### Expected Behavior
Test should be working.

### Actual Behavior
Test is failing sometimes:

* 13.0.0: https://github.com/terraform-providers/terraform-provider-gitlab/runs/710870254
* 13.0.1: https://github.com/terraform-providers/terraform-provider-gitlab/r

[2020-05-31 09:53] #107 closed

[2020-06-01 07:44] oboukili commented on #319
I have been doing some investigations as well as part of #318, the behaviour is erratic and it seems to be the groups API fault, I think it may use an invalid cache, as seen in the http responses sent to it:

failed test:

172.17.0.1 - - [01/Jun/2020:07:21:10 +0000] "POST /api/v4/groups HTTP/1.1" 201 741 "" "go-gitlab" -
172.17.0.1 - - [01/Jun/2020:07:21:10 +0000] "GET /api/v4/groups/34 HTTP/1.1"

[2020-06-01 11:13] steinybot opened #321 "Add support for Github Applications"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-06-01 17:40] oboukili commented on #287
Apparently, as I understand it, the go-gitlab client already [ensures a rate limiter is configured on the client](https://github.com/xanzy/go-gitlab/blob/30361b69e2e4a328a2c919df055b7b877e30e782/gitlab.go#L589-L589).
If you're experiencing 429 it might mean some API calls the provider makes use another client, silently eating up the rate limit quota (needle in a haystack).
I'm almost sure I saw in

[2020-06-03 10:11] #200 closed

[2020-06-03 15:32] #319 closed

[2020-06-03 19:26] jakemig commented on #255
Looks like this was fixed in version 2.5.1.

[2020-06-03 22:15] #255 closed

[2020-06-03 22:16] roidelapluie commented on #255
Thanks, feel free to reopen if that pops up again.

[2020-06-04 06:03] #314 closed

[2020-06-04 20:59] techthumb commented on #298
#324 aims to resolve this issue

[2020-06-04 21:00] techthumb commented on #213
#324 aims to resolve this issue

[2020-06-08 06:39] jocelynthode commented on #150
@unacceptable Anything new on your front or has asked before is this up for grabs?

[2020-06-09 14:12] rhysjtevans commented on #201
I've tried deleting using @josharrington method then creating the rules but it looks like the tf module uses PUT where the gitlab.com api is expecting a POST

[2020-06-10 05:09] vymarkov commented on #321
@steinybot hi, did you mean **Add support for Gitlab Application**  not **Github** ?:)

[2020-06-10 18:30] elijah-roberts opened #333 "Feature Request: Support project creation from templates"
The gitlab api supports creating new projects from either built-in, or custom templates:

https://docs.gitlab.com/ee/api/projects.html#create-project

![image](https://user-images.githubusercontent.com/19742213/84304386-ac346800-ab15-11ea-88fe-77ecc560783b.png)

I would love to have this functionality, so that I could create new projects from  templates, and manage via terraform in one step.

Curr

[2020-06-14 11:28] rhysjtevans commented on #201
As a heads up I also noticed if you curl DELETE then navigate to the gitlab.com settings page they get recreated even if nothing is saved - how annoying!

[2020-06-16 12:31] ymatsiuk opened #336 "gitlab_service_jira must clean the state if it can't read project"
### Terraform Version
[code]

### Affected Resource(s)
- gitlab_service_jira

### Terraform Configuration Files
[code]

### Expected Behavior
If project doesn't exist anymore I would expect `gitlab_service_jira` to be dropped from state as well.

### Actual Behavior
[code]

### Steps to Reproduce
I can imagine that this is our very specific use case and we end up here due to multiple migrations.
H

[2020-06-17 12:18] Wiebelt opened #338 "Deploy keys will stop being idempotent because the key comment will be masked in the upcoming 13.1 release of Gitlab"
### Terraform Version
v0.12.26 with v2.10.0 gitlab provider

### Affected Resource(s)
- gitlab_deploy_key

### Expected Behavior
No changes should be made.

### Actual Behavior
Terraform wants to change the key because Gitlab redacts the key comment and it will always append the Gitlab username.

[code]

### Steps to Reproduce
Gitlab.com is already running a pre-release of 13.1 (which is why we ra

[2020-06-17 12:23] Wiebelt commented on #338
You can easily workaround this for now by the way by appending the Gitlab username to the SSH key.

[2020-06-18 15:11] abitrolly commented on #299
The default value in GitLab API is `master`. https://docs.gitlab.com/ee/api/projects.html#edit-project

Need to check what API returns exactly. Is it an empty string, missing value or some kind of `null` value.

[2020-06-19 05:58] abitrolly commented on #299
For projects without repo API https://gitlab.com/api/v4/projects returns `"default_branch": null`. Not empty string. Need to check what the type Go converts to.

For existing repos it is impossible to "unselect" Default branch from web interface.

![image](https://user-images.githubusercontent.com/8781107/85100957-07e3ad00-b20a-11ea-8c2e-7a7b1062ccd2.png)

Therefore the operation to set `default_b

[2020-06-19 11:36] #193 closed

[2020-06-19 13:05] oboukili commented on #338
@Wiebelt unfortunately this only works in a single tenant situation where a single user runs terraform, Gitlab will rewrite the comment with the token current username.

[2020-06-19 14:20] Wiebelt commented on #338
@oboukili do you mean the workaround? Because, yes that is a problem and why Terraform should just ignore the comment all together.
I'm not in a situation where the deploy keys change often so I've just copied the different usernames being used for now until this is fixed.

[2020-06-20 08:35] abitrolly commented on #299
When creating new project, I see this in debug log.
[code]

[2020-06-22 10:21] roidelapluie commented on #338
Please see https://gitlab.com/gitlab-org/gitlab/-/issues/223218#note_365493446 - should be fixed in gitlab 13.2

[2020-06-22 18:03] abitrolly commented on #338
Is it the reason why acceptance test are failing for PRs? https://github.com/terraform-providers/terraform-provider-gitlab/runs/796242211

[2020-06-22 18:15] abitrolly commented on #299
Made a fix in #343. You can checkout branch, `go build` it and copy the binary into your project directory. After `terraform init` it should work ok.

[2020-06-22 18:20] roidelapluie commented on #338
Yes but gitlab will fix this in 1.13.1

[2020-06-23 03:18] abitrolly commented on #338
@roidelapluie any guesses when it may happen?

[2020-06-23 05:58] pdecat commented on #338
What about pinning gitlab/gitlab-ce image to `13.0.6-ce.0` in to make acceptance tests pass again for the time being?

https://github.com/terraform-providers/terraform-provider-gitlab/blob/v2.10.0/scripts/start-gitlab.sh#L14

[2020-06-23 20:36] rpfinneran opened #347 "Gitlab Provider Variable Scope Issue"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.12.26

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_project_variable

### Terraform Configura

[2020-06-23 20:38] rpfinneran commented on #347
You can see this in the TRACE gist...

2020/06/23 16:26:22 [WARN] Provider "registry.terraform.io/-/gitlab" produced an unexpected new value for gitlab_project_variable.var1, but we are tolerating it because it is using the legacy plugin SDK.
    The following problems may be the cause of any confusing errors from downstream operations:
      - .environment_scope: was cty.StringVal("staging"), but

[2020-06-24 10:23] meheza-samie opened #348 "Plan gitlab_service_slack cannot unmarshal string into Go struct field SlackServiceProperties.properties.notify_only_broken_pipelines of type bool"
Hi there,

Our automatic terraform pipeline broke since the last update of the gitlab API (2020-06-22).

### Terraform Version

- Terraform v0.12.26
- provider.gitlab: version = "~> 2.10"

### Affected Resource(s)
- gitlab_service_slack

### Terraform Configuration Files
[code]

### Debug Output

### Panic Output
If Terraform produced a panic, please provide a link to a GitHub Gist containing the

[2020-06-24 11:46] FernandoMiguel opened #349 "default_branch not master but main"
### Terraform Version
Terraform v0.12.26
+ provider.gitlab v2.10.0

### Affected Resource(s)
resource "gitlab_project"

### Terraform Configuration Files
[code]

### Debug Output
[code]

and on a second run
[code]

### Expected Behavior
for the repo to be created with a `main` default branch

### Actual Behavior
default branch was master and on second apply of tf, it tried to recreate it and faile

[2020-06-24 11:46] FernandoMiguel commented on #299
not sure if related https://github.com/terraform-providers/terraform-provider-gitlab/issues/349

[2020-06-24 15:54] ymatsiuk commented on #348
@meheza-samie could you please add and example of `local.projects_settings`. I don't think it is possible to reproduce this issue only having resource `gitlab_service_slack`

[2020-06-24 15:58] ymatsiuk commented on #348
https://www.terraform.io/docs/providers/gitlab/r/service_jira.html this is the list of supported options. `notify_only_broken_pipelines` is not in the list

[2020-06-24 16:03] meheza-samie commented on #348
Hi @ymatsiuk thank your for your answer.
The issue is not on service_jira but in service_slack : gitlab_service_slack.

[2020-06-24 16:06] ymatsiuk commented on #348
@meheza-samie sorry, I switched the context and lost the issue :smile: (wiped this message :blush: )

[2020-06-24 16:06] meheza-samie commented on #348
@ymatsiuk please find below example of local.projects_settings :

` projects_setting = [
    {
       project_name             = "aws-teams-gitlab-test"
       project_description   = "repo for aws-teams-gitlab-test"
       project_group_id      = 1111111
       project_setting       =  {
        "lfs_enabled": false,
        "request_access_enabled": false,
        "only_allow_merge_if_all_discus

[2020-06-24 16:34] meheza-samie commented on #348
Hi @ymatsiuk,

I have tried gitlab_service_slack in isolate terraform project and it seems to work.

[code]

I am going to double check your project and let you know if I can find anything that can help you to reproduce.

[2020-06-24 19:09] ymatsiuk commented on #348
that's the config I tried and it just works with gitlab `v13.0.6` terraform `v0.12.26` and provider.gitlab `v2.10.0`

[code]

output: ```Plan: 4 to add, 0 to change, 0 to destroy.```

[2020-06-25 05:25] abitrolly commented on #349
You're using variable for setting the branch.
[code]
And you set `var.PROJECT_DEFAULT_BRANCH` to `main` in the block below. I see no bug here.

[2020-06-25 09:47] abitrolly commented on #349
@FernandoMiguel because when project is created the repository is empty and setting `default_branch` on an empty repository will result in an error. GitLab checks for the branch existence prior to setting it.

[2020-06-25 09:50] abitrolly commented on #349
@FernandoMiguel ok, I see what you mean. With `initialize_with_readme` the remote repo needs is created with "master" branch, but the `default_branch` setting is applied only on the next invocation.

It seems to me that logically the repo configuration should be done in another resource.

[2020-06-25 10:04] FernandoMiguel commented on #349
so what do you purpose @abitrolly ?
it's not like i can create two resources `gitlab_project` and have the default branch and read me run only there.
I could not init the repo, but that would leave it without a default branch anyway

[2020-06-25 10:33] abitrolly commented on #349
@FernandoMiguel just run it twice. I may look into the proper fix, but not before https://github.com/terraform-providers/terraform-provider-gitlab/pull/343 is merged.

[2020-06-25 10:35] abitrolly commented on #349
@FernandoMiguel specifically for your repo, you need to make sure the branch `main` exists before setting it. GitLab provider doesn't commit to repos and uses only GitLab API for configuring the project resource, so you need to make commit that creates the branch somehow.

[2020-06-25 10:36] FernandoMiguel commented on #349
@abitrolly how do you purpose i run terraform twice on CI?
it's state based... once applied you expect the infra represents what your code was codified with

[2020-06-25 10:37] abitrolly commented on #349
You run TF on CI in steps. First provisioning, then configuration, then deploy. Run it in configuration step. Ansible or bash. Whatever your CI allows.

[2020-06-25 10:38] abitrolly commented on #349
That's my advice anyway. Maybe somebody else have more time to research a better way. I didn't have this problem.

[2020-06-25 10:42] FernandoMiguel commented on #349
i'm going with
[code]

[2020-06-25 11:01] FernandoMiguel opened #351 "[feature request] forking_access_level and pages_access_level"
### Affected Resource(s)
Please list the resources as a list, for example:
- pages_access_level
- forking_access_level

ideally keeping in sync with https://docs.gitlab.com/ee/api/projects.html#create-project

[2020-06-25 11:33] abitrolly commented on #349
Yup. This way there won't be content pushed to repository as a result of TF calls. And after the repo is non-empty, the Terraform will try to set the branch to `main`.

It might be convenient to be able to create empty repos with GitLab with other default branch, but that's better to be researched in another issue. Because for that GitLab provider needs an ability to make at least one commit to th

[2020-06-25 11:49] meheza-samie commented on #348
Hi ,
I finally fix this issue with `terraform state rm 'gitlab_service_slack.this["**********"]'` on all gitlab_service_slack resources.

After that I compare the old tfstate with the new one and the only difference I can see is on the project tag of one project.

![image](https://user-images.githubusercontent.com/58169721/85713585-cc555100-b6e9-11ea-91a6-5807244e2ca2.png)

Best regards,

[2020-06-25 12:05] FernandoMiguel opened #352 "422 {error: Project push rule exists}"
### Terraform Version
Terraform v0.12.27
+ provider.gitlab v2.10.0

### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_project_push_rules

### Terraform Configuration Files
[code]

### Debug Output
[code]
### Expected Behavior
for a rule to be created

### Actual Behavior
error: Project push rule exists

### Steps to Reproduce
1. `terraform apply`

not related, but

[2020-06-26 08:38] roidelapluie commented on #338
gitlab has issues 13.1.1 which resolves this.

[2020-06-26 08:38] #338 closed

[2020-06-26 09:39] pdecat commented on #338
The deploy key issue was indeed resolved by Gitlab 13.1.1but now JIRA service tests fail:

[code]

https://github.com/claranet/terraform-provider-gitlab/runs/810546410

[2020-06-26 09:41] pdecat commented on #338
What about running acceptance tests against a set of "supported" gitlab/gitlab-ce image tags like 13.0.6-ce.0 in addition to latest to identify API behavior changes faster?

[2020-06-26 09:50] abitrolly commented on #338
@pdecat send PR?

[2020-06-26 11:30] pdecat commented on #338
Turns out the JIRA test issue is not caused by Gitlab 13.1.1, it also fails with 13.0.6: https://github.com/claranet/terraform-provider-gitlab/runs/810649101

[2020-06-26 12:52] pdecat opened #353 "JIRA service update acceptance tests failing"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version

N/A, the issue is running the acceptance test with current master and v2.10.0 tag.

### Affected Resource(s)

- `gitlab_service_jira`

If this i

[2020-06-30 13:34] kassybas commented on #333
We could utilize this feature for our gitlab project creation automation, it's great that it's already worked on.

I'm not sure what's the status of this, is there possible eta? is the any way to contribute to this feature?

[2020-06-30 15:27] kikitux commented on #183
this was impkemented and merged by https://github.com/terraform-providers/terraform-provider-gitlab/pull/296
released as 2.8.0

[2020-07-02 14:47] lukemgriffith commented on #150
As of yesterday, my PR into go-gitlab was complete to support this functionality. I'm working on a branch to implement this into the provider.

https://github.com/xanzy/go-gitlab/pull/879

[2020-07-06 09:18] pdecat commented on #353
Somehow, the issue no longer happens when re-running previously failed jobs:
- Gitlab 13.1.2: https://github.com/claranet/terraform-provider-gitlab/runs/840649342
- Gitlab 13.0.6: https://github.com/claranet/terraform-provider-gitlab/runs/840701527

Also tested locally with Gitlab 13.1.1 and 13.1.2 and can no longer reproduce the issue. :confused:

[2020-07-06 09:18] #353 closed

[2020-07-09 07:14] trietsch commented on #192
I agree with this. I'm mostly interested in the Hangouts / Google Chat integration. Maybe it's possible to generalize this, so that there's no need to create a dedicated resource for each integration that GitLab offers?

[2020-07-09 10:25] TheMacStack opened #357 "[Feature Request] "disable_overriding_approvers_per_merge_request""
Hi there,

It would be very helpful to be able to manage settings exposed via the [Merge Request API](https://docs.gitlab.com/ee/api/merge_request_approvals.html) especially the "Can override approvers and approvals required per merge request" and other settings in that UI context (Project > Settings > General > Merge Request Approvals)

To me it would make sense if these were either added to the

[2020-07-10 02:23] EmilioEduardo commented on #347
We have the same issue here. This behavior would be used to toggle between deployment environments without having to change var names on deploy scripts. Not possible anymore...

[2020-07-10 06:50] JanisOrlovs commented on #150
Is there any estimates when this feature could be merged?

[2020-07-10 10:26] s256 commented on #298
going to be fixed in the next release:
https://gitlab.com/gitlab-org/gitlab/-/issues/9912#note_377146498

[2020-07-10 10:28] s256 commented on #213
Gitlab is providing a fix in the next version:
https://gitlab.com/gitlab-org/gitlab/-/issues/9912#note_377146498

[2020-07-14 10:18] lukemgriffith commented on #150
@FelikZ  currently thats not supported by the gitlab mirrors API, wont be something that can be implemented into go-gitlab or the terraform provider. go-gitlabs current implementation works with host based provided credentials via SSH or HTTPS.

[2020-07-17 06:36] armsnyder commented on #47
Is this different from the `gitlab_project_variable` and `gitlab_group_variable` resources in the current version, or can this issue be closed?

[2020-07-17 07:45] tmaier commented on #47
@armsnyder Yes, it seems to provide this feature. I am closing this issue. Can you also have a look at #1, as it seems to be related to this topic.

[2020-07-17 07:45] #47 closed

[2020-07-17 20:45] armsnyder commented on #48
I know this was opened a couple years ago, but I'm interested in hearing some more details.

For branches -- The `gitlab_project` resource already gives you the default branch name. Do you need the ability to list all branches? Or just to get the most recent commit SHA for a known branch name?

For registry -- Is getting just the most recent tag enough, or do you need to list multiple tags? Also,

[2020-07-17 21:43] armsnyder commented on #300
I can think of two ways of doing this.

1. Use the existing `gitlab_group_members` resource and add a new value called `shared_group_id`, since the rest of the values are the same, and it's a similar idea.

[code]

[code]

2. Create a new `gitlab_group_share` resource that's the same as `gitlab_group_members` but replacing `user_id` with `shared_group_id`.

[code]

Anyone have thoughts on the desi

[2020-07-17 22:00] armsnyder commented on #98
I'm wonder if this shouldn't be a new resource, since it seems a bit weird to me to model a forking action as a resource. You'd be left with a new project that isn't in the Terraform state. Maybe instead of the new resource, we can add a new value to the `gitlab_project` resource called `forked_project_id`, so that you can create a project as a fork of another project. Thoughts?

[2020-07-17 22:23] armsnyder commented on #196
What kind of API token are you using? I've had success importing a group in GitLab EE using a regular API token, using v2.10.0, but I've also seen the error you shared when using a pipeline token.

[2020-07-17 23:07] armsnyder commented on #300
Looking more at the code, we would probably want something similar to how it's done for projects already.

The `gitlab_project` resource has a `shared_with_groups` value.

There's also a dedicated `gitlab_project_share_group` resource.

One or both of these approaches then would be good for consistency reasons:

3.
[code]

4.
[code]

[2020-07-18 04:19] armsnyder opened #361 "[Suggestion] Code Linter"
@ringods @roidelapluie

How do the maintainers feel about possibly adding a code linter to the GitHub Actions? I don't think it needs to be super stringent, but enough to catch common mistakes. If you're open to it I'm happy to work on a PR that fixes current issues and another to add the new action.

Here's a preview of current issues that the [golangci-lint](https://github.com/golangci/golangci-

[2020-07-18 04:41] armsnyder commented on #357
I see a few open PRs for this already - #160, #244, and #356. Hopefully one of them can be merged soon.

[2020-07-18 17:34] armsnyder commented on #349
I agree with Fernando that when an apply finishes, the upstream state should be fully consistent with the TF resource. This can be accomplished with multiple GitLab API calls in the resource create function if that's how it has to be done.

[2020-07-19 06:11] armsnyder commented on #293
There's a WIP PR for this #257

[2020-07-19 06:16] armsnyder commented on #60
What would you expect the DELETE operation to do? Should it create a [revert](https://docs.gitlab.com/ee/api/commits.html#revert-a-commit)?

[2020-07-19 06:17] armsnyder commented on #241
What would you expect the DELETE operation to do? Should it create a [revert](https://docs.gitlab.com/ee/api/commits.html#revert-a-commit)?

[2020-07-19 06:26] armsnyder commented on #60
The documentation should be fixed, but I'm curious, what is the use case for using an OAuth token in Terraform, where a personal access token isn't preferred?

[2020-07-19 06:32] armsnyder commented on #182
Hashicorp doesn't seem to distribute third party provisioners https://www.terraform.io/docs/extend/how-terraform-works.html#discovery

And they are pretty clear about provisioners being a last resort because Terraform's intended use is for managing graphs of stateful resources.

[2020-07-19 21:19] Lasering commented on #60
I wanted to have a Gitlab system OAuth application that invoked terraform recipes. In a OAuth application you get an access token which is not a personal access token. Meanwhile I evolved my setup and no longer use a terraform recipe. But seems other people might have a similar use case.

[2020-07-20 05:52] tobiasbueschel commented on #351
Thanks a lot for everyone who has been maintaining this repo!

I agree with @FernandoMiguel, would be great if the GitLab repo creation properties are kept in sync, e.g. I have a use case for disabling GitLab's page feature across all repos that I create with Terraform.

[2020-07-21 00:54] sfang97 opened #365 "Add support for instance level clusters management via the GitLab Terraform provider"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2020-07-21 08:43] vymarkov commented on #321
@steinybot I've found that Gitlab Application can be managed only by [admin users](https://docs.gitlab.com/ee/api/applications.html) looks like it can not be used within **gitlab.com** only with **self-hosted**.

[2020-07-21 08:58] vymarkov commented on #321
also Gitlab API doesn't provide an endpoint to update the application

[2020-07-24 20:42] FernandoMiguel commented on #182
one of the big changes of TF v0.13 is namespace for providers

https://github.com/hashicorp/terraform/pull/24477

[2020-07-26 02:02] justinkillen commented on #210
Could use some help resolving test issues: https://github.com/terraform-providers/terraform-provider-gitlab/pull/362

[2020-07-28 15:54] dr4Ke commented on #210
I'm sorry I won't be able to help much as I just left for the holidays and don't have my work env at hand.

[2020-07-31 05:29] horjulf commented on #300
PR upstream to add read support on the Groups endpoint https://github.com/xanzy/go-gitlab/pull/894
Will PR support here once that has been merged and tagged.

[2020-08-01 21:54] #201 closed

[2020-08-01 21:54] #239 closed

[2020-08-04 01:21] michaelwooley opened #371 "gitlab_project_variable: Add `masked` checks"
Hi, I was recently trying to add a few variables using `gitlab_project_variable` but was running into some issues with the `masked` option.

It turns out that the cause of my issue is just that my assigned variables didn't meet the masked variables requirements, which are described [here](https://gitlab.com/help/ci/variables/README#mask-a-custom-variable).

It would be great if these checks could

[2020-08-04 14:51] jakubigla commented on #213
Few days ago GitLab has enabled a feature flag that has fixed the API but has broken this resource completely.
When can we expect a fix?

[2020-08-04 16:38] jeremad opened #372 "[Feature Request] merge_requests_author_approval"
It would be nice to implement this field of the [GitLab API](https://docs.gitlab.com/ee/api/merge_request_approvals.html#change-configuration)
For instance in a project:
[code]

[2020-08-04 16:49] jeremad commented on #372
NVM, implemented in #356

[2020-08-04 16:49] #372 closed

[2020-08-05 22:37] DavidGamba opened #373 "Global deploy key"
### Terraform Version

Terraform v0.12.26
+ provider.aws v2.69.0
+ provider.gitlab v2.10.0

### Affected Resource(s)

- gitlab_deploy_key

### Expected Behavior

Project should be optional so I can have global deploy keys the same way I create them using the Admin UI.

![image](https://user-images.githubusercontent.com/1115287/89470874-07f82780-d73a-11ea-9aa4-69dcc4453033.png)

[2020-08-05 22:57] zhilyaev commented on #109
I created new **clean** gitlab  server (v. 13.2.3). And after terraform apply i catched the same issue. hmm...

[2020-08-06 08:02] jeremad opened #374 "Bind the pipelines-email API"
I would be nice to be able to set up Pipelines emails with terraform using this API:
https://docs.gitlab.com/ee/api/services.html#pipeline-emails

for instance
[code]

[2020-08-06 10:31] Nainterceptor commented on #213
It break our terraform deployment file currently :/

[2020-08-06 10:33] wesselvdv commented on #213
This is turning into a major issue now.

[2020-08-06 13:50] nicholasklick opened #376 "Hello from GitLab. How can we help?"
Hello @ringods @roidelapluie + all other maintainers and contributors 👋

Speaking directly from GitLab, thank you for all your efforts to contribute to and steward this project, we greatly appreciate it.

I would like to introduce myself. I am an Engineering Manager at GitLab for the [Configure Team](https://about.gitlab.com/handbook/engineering/development/ops/configure/).

We are the team respon

[2020-08-06 15:00] roidelapluie commented on #376
Hello!

I am happy to see gitlab joining the effort.

I am OK to see the repo moved, but it is owned by Hashicorp and we do not have the right to move it ourselves. Will the provider still be reachable the same way for users? Is it possible to move it to gitlab instead of github? Did you consider it?

Currently Hashicorp also has the rights on this repo, so they decide who is maintainer etc (they

[2020-08-06 15:50] ringods commented on #376
Hello @nicholasklick,

Very happy to see Gitlab stepping forward in the maintenance of this provider. I have only been a maintainer of this provider for a few months, mostly out of necessity to get some features in at a time when @roidelapluie had less time available to steward this provider.

Over the past months, I have been reviewing the backlog of open issues and pull requests and was able to

[2020-08-06 15:56] roidelapluie commented on #376
Thank you @ringods for the ride!!

[2020-08-06 15:58] ringods commented on #376
While we are at it, the provider is not much without the (unofficial) Gitlab Golang SDK:

https://github.com/xanzy/go-gitlab

Looping in @svanharmelen in this discussion. @nicholasklick, you might check with him to see if he is open to give that SDK a home at Gitlab.

[2020-08-06 17:32] roidelapluie commented on #213
Can you share with us more details about the issue?

[2020-08-06 17:40] woz5999 commented on #213
Per https://gitlab.com/gitlab-org/gitlab/-/issues/9912, the underlying API changed, breaking this resource.

[2020-08-06 17:41] jakubigla commented on #213
Sure thing, although it feels  github.com/xanzy/go-gitlab needs to be fixed first...

Basically the issue was introduced in this file: https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/api/variables.rb by enabling a feature flag. If there's more than one variable with the same name (diff env scope), it will fail if you don't provide `environment_scope` filter in the request. This is a new thi

[2020-08-06 17:48] woz5999 commented on #213
Looks like there's an open issue and possible code fix here: https://github.com/xanzy/go-gitlab/issues/746

[2020-08-07 11:06] jigfox commented on #347
https://github.com/terraform-providers/terraform-provider-gitlab/blob/master/gitlab/resource_gitlab_project_variable.go#L88

I believe this is the line responsible, because the `environment_scope` is not part of the unique id for this resource

[2020-08-07 12:22] jigfox commented on #347
https://github.com/terraform-providers/terraform-provider-gitlab/pull/324/files

[2020-08-07 14:52] rpfinneran commented on #347
Good catch, closing to #324

[2020-08-07 14:52] #347 closed

[2020-08-08 01:58] futebolbryant commented on #213
This is terrible and dirty but this is how I'm managing my gitlab variables until it's fixed:

[code]

This creates a file "convert_gitlab_vars.sh" with exports translating the variables to their base name based on the CI environment:

`eval export EXAMPLE_VAR_ONE=\$'EXAMPLE_VAR_ONE_'$CI_BUILD_REF_NAME`
`eval export EXAMPLE_VAR_TWO=\$'EXAMPLE_VAR_TWO_'$CI_BUILD_REF_NAME`

Then in my .gitlab-ci.yml

[2020-08-08 05:38] armsnyder commented on #371
The validation rules for masked fields are complicated and change semi-regularly. I think instead of adding validation logic to this provider we can provide a friendlier error message.

[2020-08-09 10:58] svanharmelen commented on #376
Just FYI, I'm totally fine with "handing over" the `go-gitlab` package. I must admit that I'm not using the package myself anymore for years now, so all effort I put into it is only to help out the community 😏

[2020-08-11 12:49] thuck opened #383 "Not working with terraform 0.13"
Hi;

I just bumped my version of terraform from 0.12 to 0.13 and gitlab is not working anymore.
Looks like it tries to collect the provider from there:
registry.terraform.io/terraform-providers/gitlab

What leads to a 404 page.
Any information when do we get the provider in the official "repo"?

[2020-08-11 13:16] nicholasklick commented on #383
@thuck we are working with Hashicorp to get it included in the Registry. Stay tuned.

[2020-08-11 13:21] cevich opened #384 "CI/CD Pipeline cannot use gitlab_project_variable value"
### Terraform Version

0.12.28

### Affected Resource(s)

gitlab_project_variable

### Terraform Configuration Files

[code]

### Debug Output

N/A

### Panic Output

N/A

### Expected Behavior

When no environment is specified in the resource block, the variable in gitlab should be defined with an environment of `All (default)`..

### Actual Behavior

In gitlab, the variable is defined with a (no

[2020-08-11 13:47] cevich commented on #384
I'm not a golang expert (barely even a novice), but I wonder if this isn't the cause of the problem: https://github.com/terraform-providers/terraform-provider-gitlab/blob/master/gitlab/resource_gitlab_project_variable.go#L71

Since it appears to me, the [default value is `false` which in most languages string-translates to "0" (zero).](
https://github.com/terraform-providers/terraform-provider-git

[2020-08-11 15:31] nicholasklick commented on #376
@svanharmelen thanks for the update. I will open an issue over on that project regarding it so it can be discussed with the community.

[2020-08-11 15:35] nicholasklick commented on #376
@roidelapluie thanks for the update and I appreciate your stewardship.

The provider will be available via the Registry. I believe TF 0.13 is architected differently to point only to the registry, hence: https://github.com/terraform-providers/terraform-provider-gitlab/issues/383

We could move everything to GitLab immediately but the concern is replicating access, maintainerships, issues, existing

[2020-08-11 15:36] nicholasklick commented on #376
If we need a new EE license one can be acquired.

[2020-08-11 21:23] nicholasklick opened #385 "Migrating this repo to github.com/gitlabhq"
In order to support the new Terraform Provider Registry, Hashicorp has asked us to transfer this repo into the possession of the GitLab organization: https://github.com/gitlabhq

I am beginning that process.

I want to ensure the following is maintained:

- [x] Code
- [x] Maintainer access
- [x] Issues
- [x] PRs
- [ ] CI

cc @ringods @roidelapluie

[2020-08-11 21:27] roidelapluie commented on #385
Yes it is if you move the repo properly. Github will even create symlink.

There will be work to re-configure CI.

[2020-08-12 04:18] ringods commented on #385
@nicholasklick Hashicorp probably can't move the repo to the `gitlabhq` organization directly without having access. But the can initiate a transfer to your Github account `nicholasklick` from which you can move it further to the `githubhq` organization.

[2020-08-12 13:37] caiconkhicon opened #386 "Add project_variable and group_variable datasources"
### Terraform Version
0.12.29

### Expected Behavior
I want to save variables on GitLab and I can do it with `gitlab_group_variable` and `gitlab_project_variable` resources. However, I also want to use them by Terraform, thus I want to have variables as datasources. With the current GitLab provider, there is no such datasource. Please consider adding them in the next version of the provider.

[2020-08-12 14:58] nicholasklick commented on #385
We have migrated the project to https://github.com/gitlabhq/terraform-provider-gitlab.

[2020-08-12 15:11] nicholasklick commented on #385
@roidelapluie @ringods I have added you as maintainers. Were there any other folks that have been maintaining that require maintainer level access?

[2020-08-12 15:14] nicholasklick commented on #385
It appears that issues and PRs have correctly synced

[2020-08-12 15:20] roidelapluie commented on #385
We were the only active maintainers.

[2020-08-12 15:21] roidelapluie commented on #385
Why is there a fork in the hashicorp github? That is very bad as it prevents github to automatically redirect.

[2020-08-12 15:30] ringods commented on #385
I asked about the fork in the #committers-terraform slack channel.

[2020-08-12 16:57] nicholasklick commented on #385
They have stated that they want to leave the fork for now, but have archived the project

[2020-08-12 17:13] roidelapluie commented on #385
OK. not great for the users.

[2020-08-12 19:49] nicholasklick commented on #385
@roidelapluie @ringods Master appears to be failing with:
[code]
Is there any CI config that needs to be included in this repo to support EE acceptance tests?

Thanks for any pointers.

[2020-08-12 21:42] schmidt-galen-heb commented on #348
Ran into this myself, and after some investigation I believe the root cause of the issue is the same as mentioned here: https://gitlab.com/gitlab-org/gitlab/-/issues/233941

In short, the Gitlab API is returning `"true"` instead of `true`, causing the type conversion to fail when the provider attempts to assign the `string` value to a `bool` field.

I've left a comment on the linked issue mentioni

[2020-08-13 04:43] ringods commented on #385
@nicholasklick the CI setup should still be working ok for EE acceptance tests. I just checked the logs quickly and noticed 4 tests are failing:

- `--- FAIL: TestAccGitlabProjectPushRules_basic (5.76s)`
- `--- FAIL: TestAccGitlabProjectPushRules_import (5.77s)`
- `--- FAIL: TestAccGitlabServiceGithub_basic (18.70s)`
- `--- FAIL: TestAccGitlabServiceGithub_import (19.19s)`

The `PushRules` tests c

[2020-08-13 06:31] roidelapluie commented on #385
I guess the decryption key for the license must be updated, and additionally the license has expired

[2020-08-13 08:29] sirlatrom opened #388 "Feature suggestion: Support instance level CI variables"
### Terraform Version

[code]

### Affected Resource(s)
- gitlab_instance_variable

### Terraform Configuration Files
[code]

### Debug Output
N/A.

### Panic Output
N/A.

### Expected Behavior
An instance level CI variable can be managed with Terraform.

### Actual Behavior
It cannot yet.

### Steps to Reproduce
1. `terraform apply`

### Important Factoids
N/A.

### References
N/A.

[2020-08-13 14:04] caiconkhicon opened #390 "gitlab_project_variable overwrite GitLab variables with the same name and different scopes"
### Terraform Version
0.12.29

### Affected Resource(s)
- gitlab_project_variable

### Terraform Configuration Files
I have a Terraform module which is shared between environments
[code]

### Expected Behavior
For each environment, a GitLab variable with an identical name is created, but different environment scope.

### Actual Behavior
I apply on `dev` first, then `test`, then this is showed when

[2020-08-13 15:43] jeremad commented on #390
https://github.com/gitlabhq/terraform-provider-gitlab/blob/master/gitlab/resource_gitlab_project_variable.go#L88

The issue seems that the unique ID of the terraform resource is based on the project and the key. We should put the scope in there as well, and use the filter parameter of the GitLab API:
https://docs.gitlab.com/ee/api/project_level_variables.html#show-variable-details

[2020-08-14 12:10] ringods commented on #385
@nicholasklick as mentioned before in https://github.com/gitlabhq/terraform-provider-gitlab/issues/376#issuecomment-670012812, I want to focus more on a newly founded business. Hence, I want to stop as a maintainer for this provider. Please remove my maintainer status mainly to make it clear to people submitting issues and pull requests that I'm no longer a maintainer.

Good luck with the further

[2020-08-14 12:27] roidelapluie commented on #376
The current license:

[code]

[2020-08-17 07:25] peric commented on #390
I can confirm I have the same issue 😞

What @jeremad suggested seems legit to me. Is anyone already working on this?

[2020-08-17 13:10] Mayeu commented on #390
There is a lot of discussion about this in #213. There was some fix attempt but none to match the last fix deployed in 13.2 as far as I know.

[2020-08-17 13:28] peric commented on #390
I also did some attempt on this, but then I realised:

* Feature `ci_variables_api_filter_environment_scope` needs to be enabled in Gitlab. In my case, this affects many other projects and changes
* Changes mentioned above should be also done in [go-gitlab](https://github.com/xanzy/go-gitlab/blob/master/project_variables.go)

I have prototype of this on my local machine and hopefully I'll manage t

[2020-08-18 04:23] nicholasklick commented on #385
@ringods thanks for your service!

[2020-08-18 07:44] kunallanjewar commented on #348
I have hit this issue recently as well and opened a PR here https://github.com/xanzy/go-gitlab/pull/919
Once it is merged, we can bump up the go-gitlab's version in this terraform provider.

[2020-08-18 16:56] kunallanjewar commented on #348
Looks like my PR against the upstream is merged, so I'll wait until a release is created then bump latest version in this repo.

[2020-08-18 17:39] nicholasklick opened #392 "Renewing the EE license / fix broken acceptance tests"
The EE license has expired. We are working to renew it and get it added to the project ASAP.

There is an internal GitLab process to handle this we are working through.

This should fix the broken acceptance tests.

Thanks for your patience.

- [x] Complete License renewal request
- [x] Install license in repo
- [x] Ensure acceptance tests are passing

[2020-08-18 18:53] nicholasklick commented on #385
I have created a new issue to track renewing the license: https://github.com/gitlabhq/terraform-provider-gitlab/issues/392

[2020-08-18 18:53] #385 closed

[2020-08-19 09:08] maxenced opened #394 "Add support for the share group with group API"
Since https://gitlab.com/gitlab-org/gitlab/-/merge_requests/32008 , gitlab provides support for sharing group with groups through API.

The support for this feature has been added to the go sdk in https://github.com/xanzy/go-gitlab/issues/888 , which is part of latest releases.

Once https://github.com/gitlabhq/terraform-provider-gitlab/pull/393 will be merged, it would be nice to see support for

[2020-08-27 08:45] tyronedd commented on #213
@nicholasklick bumping this up, since this is really breaking my workflow Terraform and Gitlab.

[2020-08-29 14:09] nicholasklick commented on #376
In terms of adding new maintainers, @armsnyder I see you are very active on this repo are you interested in being part of the maintainer team?

[2020-08-29 15:38] armsnyder commented on #376
Hi @nicholasklick, it's nice to meet you! I would be happy to join the team and help however you see fit.

[2020-09-01 13:04] thuck commented on #383
@nicholasklick any idea if we are going to have this available soon?

[2020-09-03 07:03] maxenced commented on #394
this is a duplicated of https://github.com/gitlabhq/terraform-provider-gitlab/issues/300 that I did not found at first look. closing

[2020-09-03 07:03] #394 closed

[2020-09-03 16:43] justinkillen opened #395 "Bogus issue to diagnose github support case"
I reported a bug to github where when this repo was moved from terraform-providesr to gitlabhq the notifications weren't updated.  This request is just to help diagnose that report.

[2020-09-03 20:56] Nainterceptor commented on #213
@nicholasklick Sorry to add noise in the thread, but I just received an email from gitlab to renew our gold licence, but our terraform workflow is broken since 28 days (according to my last message here)…

How can we help ?

[2020-09-03 22:28] thetalorian commented on #395
@justinkillen  Testing notifications

[2020-09-04 03:46] nicholasklick commented on #213
https://github.com/gitlabhq/terraform-provider-gitlab/pull/324 seems like a temporary fix. We will further evaluate it.

[2020-09-04 12:18] FrankGiesecke opened #396 "Error when using same project variable name on different scopes"
### Terraform Version
Terraform v0.13.0
+ provider registry.terraform.io/terraform-providers/gitlab v2.11.0

### Affected Resource(s)
- gitlab_project_variable

### Terraform Configuration Files
[code]

### Debug Output
-

### Panic Output
[code]

### Expected Behavior
There should be no error.

### Actual Behavior
Both variable are created, but terraform stops working 😞

### Steps to Reproduce
1.

[2020-09-05 07:37] mathieux51 commented on #213
My temporary fix:
[code]

[2020-09-07 18:42] nicholasklick commented on #376
@armsnyder great I will assign you some PRs to take a look at. Thanks so much for your efforts!

[2020-09-07 20:07] armsnyder commented on #376
@nicholasklick Sounds good, I enjoy working on this project and will be around for the foreseeable future. It's great we're starting to clean up the backlog. I also tagged you in some old PRs which were approved and are merge-ready. 😉

[2020-09-08 01:27] armsnyder commented on #396
This should be fixed by #324, or at least that PR is a prerequisite to fixing this bug.

[2020-09-08 01:43] armsnyder commented on #390
@caiconkhicon Can you close this issue in favor of #213, where there appears to be more discussion?

[2020-09-08 08:13] caiconkhicon commented on #390
@armsnyder I agree. I will close this topic and follow #213

[2020-09-08 08:13] #390 closed

[2020-09-08 09:33] ilpianista commented on #249
FYI I added some of those attributes to the state in #261

[2020-09-08 15:14] armsnyder opened #398 "Meta - PRs for new resources frequently do not update website/gitlab.erb index file"
I've noticed in doing reviews that for the majority of PRs that add new resource types, the docs are not updated correctly. In particular, contributors often do not realize they must update the `website/gitlab.erb` file.

Is there a way we can make this better, either by generating the index automatically or by adding a GitHub Action to automate checking that `website/gitlab.erb` was updated?

[2020-09-08 16:03] armsnyder commented on #249
Merged #261 so the resource should be fixed in the next provider release at least.

I looked at the `data_source_gitlab_user_test.go` test and sure enough it does not cover the attributes that you mentioned, so there could be a bug with the data source still.

[2020-09-08 16:11] armsnyder commented on #249
Based on my reading of the API https://docs.gitlab.com/ee/api/users.html#for-user the `two_factor_enabled` field is only returned if an admin API token is used.

[2020-09-08 20:11] nicholasklick commented on #398
Automation sounds like a great idea long term. A [boring solution](https://about.gitlab.com/handbook/values/#boring-solutions) could be to create a PR template and require doc updates to be included?

[2020-09-08 21:47] armsnyder commented on #398
It looks like maybe with the new docs format for Terraform Registry you no longer need to maintain your own index, so this could be a non-issue once we integrate with Terraform Registry and move to the new docs format. https://www.terraform.io/docs/registry/providers/docs.html

[2020-09-09 05:30] armsnyder opened #399 "EE Acc Tests Failing on TestAccGitlabProjectPushRules_import"
The Gitlab EE acceptance tests are failing in `master`, after the new EE license was added.

https://github.com/gitlabhq/terraform-provider-gitlab/runs/1089051756

[code]

I'm trying a fix in https://github.com/gitlabhq/terraform-provider-gitlab/tree/acc-ee-fix now.

[2020-09-09 19:51] #399 closed

[2020-09-09 20:28] nicholasklick commented on #392
Fixed via https://github.com/gitlabhq/terraform-provider-gitlab/pull/397 and https://github.com/gitlabhq/terraform-provider-gitlab/pull/400

[2020-09-09 20:28] #392 closed

[2020-09-10 00:47] #42 closed

[2020-09-10 00:55] #310 closed

[2020-09-10 00:57] #374 closed

[2020-09-10 01:01] #336 closed

[2020-09-10 08:39] jeremad opened #404 "Enable/disable packages"
With [GitLab 13.3](https://about.gitlab.com/releases/2020/08/22/gitlab-13-3-released/) the packages feature is generally available, it would be nice to be able to enable/disable the feature with terraform.

[2020-09-10 08:39] jeremad commented on #404
I'm working on a PR on that

[2020-09-10 09:05] jeremad commented on #404
This requires a release of go-gitlab after https://github.com/xanzy/go-gitlab/pull/938

[2020-09-10 14:43] abelmokadem commented on #213
I'm getting really desperate now, I just made a mistake in a whole lot of projects and I have no mechanism to fix this using terraform.

@mathieux51 how do you ensure that these variables get destroyed when the resource is removed?

[2020-09-11 04:36] armsnyder commented on #298
I'm closing this issue in favor of #213 where most of the activity is. Rest assured we're looking to get this fixed soon!

[2020-09-11 04:36] #298 closed

[2020-09-11 06:11] mathieux51 commented on #213
@abelmokadem As it's a _temporary fix_ I usually remove them manually using Gitlab UI. Maybe there is a way to do it automatically but I don't know it yet.

[2020-09-11 06:13] armsnyder commented on #396
I'm closing this issue in favor of #213 where most of the activity is. Rest assured we're looking to get this fixed soon!

[2020-09-11 06:13] #396 closed

[2020-09-11 18:10] #210 closed

[2020-09-12 03:28] armsnyder commented on #384
Closing in favor of #195

[2020-09-12 03:28] #384 closed

[2020-09-12 21:06] armsnyder commented on #395
@justinkillen do you still need this open?

[2020-09-12 21:13] armsnyder commented on #8
Closing this since the `gitlab_group_membership` resource was released.

[2020-09-12 21:13] #8 closed

[2020-09-12 21:19] armsnyder commented on #17
Fixed via #166

[2020-09-12 21:19] #17 closed

[2020-09-12 21:23] #45 closed

[2020-09-12 21:42] armsnyder commented on #49
Link to api docs for this: https://docs.gitlab.com/ee/api/runners.html

[2020-09-12 21:48] armsnyder commented on #63
This was fixed via #61, as the datasource can be used to lookup by user_id, username, or email now, using a non-admin token. The only thing to be aware of is that email attribute is not filled in when using a non-admin token, but that's an intentional limitation in the API.

[2020-09-12 21:48] #63 closed

[2020-09-12 21:53] armsnyder commented on #74
Hi @jjasghar . The `password` attribute was made optional in #127, and you can now use the `reset_password` attribute make the user pick a password. Does this fit your use case?

[2020-09-12 21:56] armsnyder commented on #75
Closing as a duplicate of #40

[2020-09-12 21:56] #75 closed

[2020-09-12 22:21] armsnyder commented on #85
I was able to reproduce this. Based on my reading of the [create-project API](https://docs.gitlab.com/ee/api/projects.html#create-project) and [create-project-for-user API](https://docs.gitlab.com/ee/api/projects.html#create-project-for-user), the `namespace_id` argument is meant to be used to specify a group id, not a user id.

My proposal is we add a `user_id` argument to the `gitlab_project` re

[2020-09-12 23:17] armsnyder commented on #109
@jcmcken It makes sense that it would be a permissions issue, since GitLab uses 404 for permission denied. The issue you saw with the re-apply causing a 400 should have been fixed in f1610fcb0efb2e59cad07713d5a3f1481e859308.

@zhilyaev Can you share your Terraform config and repro steps? I was unable to reproduce this myself, running apply and destroy multiple times with this config:

[code]

[2020-09-12 23:23] armsnyder commented on #119
Is this an issue for adding an Import to `gitlab_branch_protection`, or is it also about creating a `gitlab_branch` resource? There's an open PR for the Import function #345

[2020-09-12 23:31] armsnyder commented on #123
Can you clarify if this is for project-level approval settings or merge-request-level approval settings?

Assuming it's project-level, I propose adding a `gitlab_project_merge_request_approvals` resource for this API https://docs.gitlab.com/ee/api/merge_request_approvals.html#project-level-mr-approvals

[2020-09-12 23:35] armsnyder commented on #140
Other resources in this provider use the `project` attribute to mean either the project ID or project namespace+name (string).

[2020-09-12 23:37] armsnyder commented on #150
This was recently added via #358 and will be in the next release.

[2020-09-12 23:37] #150 closed

[2020-09-12 23:45] armsnyder commented on #159
@josjaf Did the comments here help you with this issue? Can we close this?

@flelli I was able to use the dynamic syntax successfully when I tried to reproduce this:

[code]

[2020-09-12 23:54] armsnyder commented on #162
PR for this #208

[2020-09-12 23:56] armsnyder commented on #165
PR for this #329

[2020-09-13 00:15] armsnyder commented on #174
It shouldn't be an attribute on the existing `gitlab_project` data source, because of the added overhead of downloading the archive, but it could be a new data source `gitlab_project_repository_archive`.

[2020-09-13 00:18] armsnyder commented on #175
This was released in 2.3.0. Can we close this issue?

[2020-09-13 00:18] josjaf commented on #159
No, it didnt work. I didn't want to create an organization because it would
mean that I have to leave my existing organization.

On Sat, Sep 12, 2020, 7:45 PM Adam Snyder <notifications@github.com> wrote:

[2020-09-13 00:24] armsnyder commented on #159
@josjaf My understanding of this issue is that it is about a change in the version of Terraform you are using (0.12), not a change to this provider plugin. Would you agree? As others have pointed out the syntax of Terraform was changed to this:

[code]

[2020-09-13 00:26] armsnyder commented on #180
Link to API reference for anyone interested in doing this: https://docs.gitlab.com/ee/api/system_hooks.html

[2020-09-13 00:31] armsnyder commented on #182
@FernandoMiguel Yes, but my understanding of the issue was that it was asking for a provisioner, which is different from a provider. Based on the doc I linked and [this issue](https://github.com/hashicorp/terraform/issues/20896) it doesn't seem to be a supported plugin type.

[2020-09-13 00:32] armsnyder commented on #184
Fixed via #204

[2020-09-13 00:32] #184 closed

[2020-09-13 00:38] josjaf commented on #159
Ah sorry, I was thinking of an issue I had with github, let me check and
get back to you.

On Sat, Sep 12, 2020, 8:25 PM Adam Snyder <notifications@github.com> wrote:

[2020-09-13 00:41] roidelapluie opened #410 "[delete me]"
We need to fix the changelog as gitlab_group_membership is not a new resource, it is already in 2.11. I am wondering what else we have wrong here.

Edit: oops. the data source is new.

[2020-09-13 01:06] armsnyder commented on #196
@wazoo @mabunixda I tried the steps given on GitLab EE 13.2.2 and was unable to reproduce the issue. Import worked fine, using the group path as the import ID. I'm using provider version 2.11.0.

[code]

Can one of you try again using the latest provider?

[2020-09-13 01:32] armsnyder commented on #219
Reproduced this bug with this config:

[code]

Commandline:

[code]

[2020-09-13 01:36] armsnyder commented on #233
Closed via #242 and it has been released.

[2020-09-13 01:36] #233 closed

[2020-09-13 01:42] armsnyder commented on #234
Hi @jsirex, I couldn't find a parameter called `build_access_level` in the [project API docs](https://docs.gitlab.com/ee/api/projects.html). Can you give us some more information about the feature?

[2020-09-13 01:42] armsnyder commented on #236
Closing as duplicate of #40

[2020-09-13 01:42] #236 closed

[2020-09-13 01:47] armsnyder commented on #238
Let's move this discussion over to #85. I'm interested in if you have thoughts on a namespace datasource versus adding a new attribute to the existing project resource.

[2020-09-13 01:47] #238 closed

[2020-09-13 01:50] armsnyder commented on #241
@barundel as an fyi there is an issue and an open PR for templates #333

Let's keep this issue open for discussion a potential project commit resource.

[2020-09-13 01:53] armsnyder commented on #248
API reference if anybody wants to add a new `gitlab_project_notification_settings` resource: https://docs.gitlab.com/ee/api/notification_settings.html#group--project-level-notification-settings

[2020-09-13 01:57] armsnyder commented on #249
Looks like the data source was fixed via #102 . Can you try the latest release of the provider?

[2020-09-13 02:08] armsnyder commented on #268
Closing this since it seems to be working as intended.

[2020-09-13 02:08] #268 closed

[2020-09-13 02:11] armsnyder commented on #280
@h3adache I'm unable to reproduce this with provider.gitlab v2.11.0. Logging in with the configured password is working. Can you confirm whether you're still having this problem?

[2020-09-13 02:28] armsnyder commented on #287
I didn't find anything about multiple clients in the provider. It's possible that other API usage of GitLab is affecting the provider client's quota. Maybe this can be fixed by configuring the client with a [custom retry](https://github.com/xanzy/go-gitlab/blob/v0.37.0/client_options.go#L38) behavior.

[2020-09-13 02:36] armsnyder commented on #292
This is the issue in GitLab to add the API for this. Currently there is no milestone. https://gitlab.com/gitlab-org/gitlab/-/issues/238531

[2020-09-13 03:26] armsnyder commented on #293
Fixed via #362 new attribute `project_creation_level` in the next release.

[2020-09-13 03:26] #293 closed

[2020-09-13 03:30] armsnyder commented on #294
The attribute exists in the schema (via #176), but it is missing in the documentation.

[2020-09-13 03:39] armsnyder commented on #303
The xanzy/go-gitlab package supports the `avatar_url` field. Could that be used in the meantime?

[2020-09-13 03:44] armsnyder commented on #306
Hi @shakerky-awx, are you still having problems? Can you elaborate why you do not think it is a connection failure, and maybe share more logs? To me it looks like a networking problem specific to your own infrastructure setup, and not something we would be able to help with. Perhaps check if you have any sort of firewall or custom routing rules set up in GCP. For what it's worth the provider works

[2020-09-13 03:51] armsnyder commented on #307
It looks like the `with_projects` attribute is [deprecated](https://gitlab.com/gitlab-org/gitlab/-/issues/213797), so it is unlikely that this project or the go-gitlab package it depends on will start supporting it.

[2020-09-13 03:53] armsnyder commented on #308
Related to #192

[2020-09-13 03:55] armsnyder commented on #312
Closing this as a duplicate of #219. I've recently reproduced the problem.

[2020-09-13 03:55] #312 closed

[2020-09-13 04:00] armsnyder commented on #371
Reopening this since we should make the same improvement to `gitlab_group_variable`.

[2020-09-13 04:17] armsnyder commented on #357
Fixed via #356 which will be in the next release.

[2020-09-13 04:17] #357 closed

[2020-09-13 04:22] armsnyder commented on #365
Linking PR #367

[2020-09-13 04:32] armsnyder commented on #373
The [API for public deploy keys](https://docs.gitlab.com/ee/api/deploy_keys.html#list-all-deploy-keys) is read-only, it seems, so in the current state we couldn't make a resource of it.

[2020-09-13 04:36] armsnyder commented on #26
Agreed, we should have a CONTRIBUTING.md. @nicholasklick since you're most familiar with GitLab values, would you want to start one?

[2020-09-13 18:42] jsirex commented on #234
It was long time ago. If API have changed, probably this ticket is not actual anymore..

[2020-09-14 15:15] h3adache commented on #280
Hi @armsnyder!
Sorry for the late response.
I don't have access to that project anymore but it was using a previous version of gitlab provider.
I'll setup a new project using the latest gitlab provider and let you know today.
Thanks!

[2020-09-14 15:30] #410 closed

[2020-09-14 22:18] NeckBeardPrince commented on #383
Bump. The docs also link to an archived Github.

[2020-09-15 01:44] #195 closed

[2020-09-15 01:44] #213 closed

[2020-09-15 01:44] #278 closed

[2020-09-15 02:40] #280 closed

[2020-09-15 02:41] h3adache commented on #280
I just tried this using the latest provider and it seems to work now.
Thanks!

[2020-09-15 02:44] armsnyder commented on #280
Thank you for checking!

[2020-09-15 04:35] #299 closed

[2020-09-15 04:45] nicholasklick opened #411 "Publish 3.0.0 release"
@roidelapluie @armsnyder

Are we ready to publish a new major release?

What has been the process previously?

1. Create a new release
1. Notify Hashicorp via slack?

Thanks.

[2020-09-15 06:27] ziporah commented on #352
I request to reopen this ticket. When creating the rule for the first time, the required response would be to import the default rule that get's created on project creation. If you create a rule while creating the project. You need to import the rule in the state before you can change it

[2020-09-15 06:52] roidelapluie commented on #411
Previously hashicorp did all the work. I don't know what the new procedure is.

[2020-09-15 07:00] roidelapluie commented on #411
@armsnyder do you know if CHANGELOG is up to date?

[2020-09-15 07:43] armsnyder commented on #411
@nicholasklick I also don't know how to do a release. Maybe when you finish the Terraform Registry setup you'll get some instructions from Hashicorp?

@roidelapluie I just pushed an update for the last couple merges.

[2020-09-15 07:53] armsnyder commented on #352
@ziporah I agree that we haven't found the best solution yet if creating a project with custom push rules requires two applies.

One approach would be to let the `gitlab_project_push_rules` resource update the existing rules when the resource is create, overwriting any rules that are already there, as in #269.

Another approach would be moving the push rules into the `gitlab_project` resource as a

[2020-09-15 07:57] attachmentgenie commented on #411
publishing a release to the registry requires finishing the terraform registry setup (that person needs admin permissions on this repository), Setting a gpg key (and sharing the public part with hashicorp) as a github secret, and running the workflow from #412.

[2020-09-15 12:05] ziporah commented on #352
I took a quick look at the code, it might be possible to just pull in the resource at the moment you are creating it and then push the information you pulled into the state.
in [resourceGitlabProjectPushRulesCreate](https://github.com/gitlabhq/terraform-provider-gitlab/blob/1c78d7e1141f182dd81da659b12452cbe4ecdab1/gitlab/resource_gitlab_project_push_rules.go#L88) you can first call
[code]
this sho

[2020-09-15 12:48] VMitov opened #415 "Panic when applying gitlab_branch_protection when existing protection have no role for push or merge access level."
Hi there,

I'm trying to enforce a protection of the "master" branch for a couple of repositories. If there is existing protection with no role for either "Allowed to merge" or "Allowed to push" (possible trough the UI) - applying gitlab_branch_protection for that project fails with panic.

### Terraform Version
Terraform v0.13.2
+ provider registry.terraform.io/-/gitlab v2.11.0
+ provider registr

[2020-09-15 17:23] brenwhyte commented on #383
Yeap, in the same boat here. An update would be appreciated.

[2020-09-15 17:38] thuck commented on #383
Looks like this will be fixed with the new version: https://github.com/gitlabhq/terraform-provider-gitlab/issues/411

[2020-09-15 17:41] NeckBeardPrince commented on #383
Bonus points if you get it into the TF Registry.

[2020-09-15 17:53] armsnyder commented on #411
@attachmentgenie Yup, sounds right.

@nicholasklick Assuming you're admin, you'll probably find some info in the publish page here, after logging in: https://registry.terraform.io/publish/provider. When I visit that page it doesn't let me select the gitlabhq org, so I'm not sure what lies beyond.

[2020-09-16 02:41] emmasax4 commented on #349
@abitrolly The solution I used is `null_resource`s in Terraform. Essentially, create the project with the README with the `master` branch (don't even give a master branch to the project module), and then use `null_resource`s to make a new default branch, update the default branch, unprotect `master`, and delete `master`. You can run it all in one `terraform apply`, and it works every time.

It's s

[2020-09-16 06:02] abitrolly commented on #349
#343 is merged. Now for this issue. There are three levels.

1. Git. It doesn't seem to allow branches (and default branches) on empty repository. This needs to be validated and filled upstream as an RFE.
2. GitLab Git backend. Maybe it can still store extra info with "default branch" even if a repo is empty. This still may create conflict if Git on developer's machines creates another default bra

[2020-09-16 13:41] liuyangc3 commented on #411
👍 Glad to see the new release in terraform registry, we are waiting for it so long

[2020-09-16 16:21] emmasax4 commented on #349
Oh yes of course. I don't think it's ideal to have to do a bunch of `null_resource`s all over to get around this. I'd hope that you could initialize a README on whatever branch is passed in as a default branch. But to be honest, I've run into very similar issues with the GitHub Terraform as well, so GitLab isn't alone in their problems (branches not being defined until there's a file).

[2020-09-16 23:22] mcrmonkey commented on #249
It does seem to be performing better than it was :+1:

Re: `two_factor_enabled` yes, you're right its only exposed to admin people - although it is exposed to group admin's in the UI but thats not for here

Thanks :)

[2020-09-17 06:05] armsnyder commented on #249
Thanks for checking! Is it alright to close this issue?

[2020-09-17 07:48] armsnyder commented on #234
Ok, I'm going to close the issue then. Please re-open it if you have more information about the feature. Thanks!

[2020-09-17 07:48] #234 closed

[2020-09-18 02:43] nicholasklick commented on #411
Looks like the `release` action worked!
https://github.com/gitlabhq/terraform-provider-gitlab/releases/tag/v3.0.0-pre

[2020-09-18 04:04] armsnyder commented on #411
@nicholasklick Awesome! Did you write the release notes yourself or were they generated by the releaser tool? Also, just making sure you saw our conversation [here](https://github.com/gitlabhq/terraform-provider-gitlab/pull/416#issuecomment-694003637) about possibly removing the `gitlab_push_rule` and/or `gitlab_project_share_group` resources. Can we come to a consensus about that and do it before

[2020-09-18 05:07] nicholasklick commented on #411
@armsnyder the release notes were generated.

[2020-09-18 05:07] nicholasklick commented on #411
<img width="1144" alt="Screen Shot 2020-09-18 at 1 06 37 AM" src="https://user-images.githubusercontent.com/24757/93558366-4bee6700-f94b-11ea-9029-37984d509f34.png">
 Looks like publishing to the registry is working also!

[2020-09-18 06:24] armsnyder commented on #398
Fixed via #413

[2020-09-18 06:24] #398 closed

[2020-09-18 06:33] nicholasklick commented on #383
We have updated the build process and enabled publishing to the Terraform provider registry.
Currently a prerelease was published: https://registry.terraform.io/providers/gitlabhq/gitlab/latest

Hopefully, you can expect a 3.0.0 release in the coming days.

[2020-09-18 06:34] nicholasklick commented on #395
@justinkillen I am going to close this for now. Please reopen if for some reason it is needed.

[2020-09-18 06:34] #395 closed

[2020-09-18 06:37] nicholasklick commented on #411
@armsnyder @roidelapluie for the 3.0.0 release we may needed to generate the release notes ourselves based on a diff. Since I created a number of test releases, I am not sure a new 3.0.0 would contain the full changelog.

[2020-09-18 06:38] armsnyder commented on #411
My fingers are crossed that goreleaser will pick up on the "3.0.0" header in the CHANGELOG.md. That would be magical.

[2020-09-18 07:25] #219 closed

[2020-09-18 18:43] justinkillen commented on #395
Sorry all - I missed the notification.  Yes, closing is the right thing to do.  Thanks, and sorry about any confusion :)

[2020-09-19 04:56] armsnyder commented on #411
@nicholasklick @roidelapluie My PR for the `gitlab_push_rules` change is here #422 😄

I think that's the last urgent/breaking fix for 3.0.0?

[2020-09-19 05:08] #404 closed

[2020-09-19 14:33] nicholasklick commented on #411
@armsnyder ok great! You want to merge it and attempt to create the `3.0.0`?

We will see if the registry picks it up as expected?

[2020-09-19 14:41] mcrmonkey commented on #249
yep 'm fine with this :+1:

[2020-09-19 14:41] #249 closed

[2020-09-19 16:03] roidelapluie commented on #411
The PR is not totally fine. I will comment later today.

[2020-09-19 18:23] armsnyder commented on #411
Yeah I'll definitely wait for feedback before merging.

[2020-09-19 23:01] armsnyder opened #424 "Enterprise license for maintainers?"
Hi @nicholasklick @roidelapluie

I was wondering if it's possible to run the EE-only tests locally? So far I've been pushing every time I want to run them, which makes working on EE features slower than it probably could be.

I was looking at #415 which needs to be validated in a UI.

[2020-09-19 23:05] roidelapluie commented on #424
Sure. Do you have a secure way to get the license? E.g. keybase?

[2020-09-19 23:10] armsnyder commented on #424
@roidelapluie Sure, I'm here: https://keybase.io/armsnyder

[2020-09-19 23:14] roidelapluie commented on #424
Ok, I'll send you that tomorrow or Monday

[2020-09-19 23:15] armsnyder commented on #424
Thanks, no rush. 😄

[2020-09-21 00:10] armsnyder opened #426 "Run EE tests on PRs"
Last week I accidentally merged a PR without running EE acceptance tests, and it was embarrassing because they failed. 😊

It looks like it's up to the maintainer to notice the EE test change, then push the PR to a local branch to run the EE acceptance tests. It feels error-prone and a little too much work.

@roidelapluie had a neat idea [here](https://github.com/gitlabhq/terraform-provider-gitlab/

[2020-09-21 01:54] #254 closed

[2020-09-21 04:24] armsnyder opened #427 "Opportunities for improving code reviews"
I spent some time cataloguing PR feedback and bug fixes just from 2020, looking for trends that we could address either with custom analyzers ([like terraform-provider-aws has done](https://github.com/terraform-providers/terraform-provider-aws/tree/master/awsproviderlint)), PR template checklists, or contributing guidelines. The goal would be to increase code velocity and confidence. I imagine som

[2020-09-21 04:52] armsnyder commented on #26
#427 has some data which might be useful.

[2020-09-21 04:55] armsnyder opened #428 "Size labels"
PRs aren't getting size labels anymore, since we moved the project out of the Hashicorp org. They were so useful IMO. Is it possible to add [Hashibot](https://github.com/apps/hashibot) back?

[2020-09-21 05:03] armsnyder commented on #26
It would also be good to ask folks to read the [Hashicorp provider design principles](https://www.terraform.io/docs/extend/hashicorp-provider-design-principles.html), since we often link to it in PR feedback.

[2020-09-21 09:33] #352 closed

[2020-09-21 20:55] armsnyder commented on #427
I should mention: I didn't create a category for general coding issues / bugs that would be caught by off-the-shelf static code analysis / code linting. I assumed we would add that, and instead looked at issues specific to the provider.

[2020-09-21 21:01] nicholasklick commented on #428
@armsnyder quite possibly, lemme investigate.

[2020-09-21 21:08] armsnyder opened #430 "Changelog?"
With the new release process, the CHANGELOG.md is no longer updated automatically by tooling, like it was when Hashicorp would commit directly to the repo. Do we need to do anything to react to this change? For reference: https://www.terraform.io/docs/extend/best-practices/versioning.html#changelog-specification

[2020-09-21 21:28] armsnyder commented on #424
license get

[2020-09-21 21:28] #424 closed

[2020-09-21 21:29] nicholasklick commented on #424
I just sent over the license.

[2020-09-22 08:23] armsnyder commented on #427
Found https://github.com/bflad/tfproviderlint. It has checks for some general problems like using the wrong Go-type for the schema-type. It implements go/analysis so could plug into go vet or golanglint-ci.

[2020-09-22 15:07] DavidGamba commented on #373
Can you make a `data` resource out of it? even with just that, we can track its use in code as long as that is able to be used in a project.

[2020-09-23 02:41] armsnyder opened #433 "Fix AT001: missing CheckDestroy"
Check: [AT001](https://github.com/bflad/tfproviderlint/tree/master/passes/AT001)

[code]

We should fix these reported issues, and then remove this check from the list of ignored checks in the gitlabproviderlint make target.

To reproduce, run `go run ./gitlabproviderlint ./gitlab` (pending #432)

[2020-09-23 02:43] armsnyder opened #434 "Fix AT002: acceptance test function name should not include import"
Check: [AT002](https://github.com/bflad/tfproviderlint/tree/master/passes/AT002)

[code]

We should fix these reported issues, and then remove this check from the list of ignored checks in the gitlabproviderlint make target.

To reproduce, run `go run ./gitlabproviderlint ./gitlab` (pending #432)

[2020-09-23 02:43] armsnyder opened #435 "Fix AT003: acceptance test function name should include underscore"
Check: [AT003](https://github.com/bflad/tfproviderlint/tree/master/passes/AT003)

[code]

We should fix these reported issues, and then remove this check from the list of ignored checks in the gitlabproviderlint make target.

To reproduce, run `go run ./gitlabproviderlint ./gitlab` (pending #432)

[2020-09-23 02:44] armsnyder opened #436 "Fix R004: ResourceData.Set() incompatible value type"
Check: [R004](https://github.com/bflad/tfproviderlint/tree/master/passes/R004)

[code]

We should fix these reported issues, and then remove this check from the list of ignored checks in the gitlabproviderlint make target.

To reproduce, run `go run ./gitlabproviderlint ./gitlab` (pending #432)

[2020-09-23 02:45] armsnyder opened #437 "Fix S006: schema of TypeMap should include Elem"
Check: [S006](https://github.com/bflad/tfproviderlint/tree/master/passes/S006)

[code]

We should fix these reported issues, and then remove this check from the list of ignored checks in the gitlabproviderlint make target.

To reproduce, run `go run ./gitlabproviderlint ./gitlab` (pending #432)

[2020-09-23 02:46] armsnyder opened #438 "Fix S024: ForceNew is extraneous in data source schema attributes"
Check: [S024](https://github.com/bflad/tfproviderlint/tree/master/passes/S024)

[code]

We should fix these reported issues, and then remove this check from the list of ignored checks in the gitlabproviderlint make target.

To reproduce, run `go run ./gitlabproviderlint ./gitlab` (pending #432)

[2020-09-23 02:47] armsnyder opened #439 "Fix S031: schema should not only enable Computed and configure MaxItems"
Check: [S031](https://github.com/bflad/tfproviderlint/tree/master/passes/S031)

[code]

We should fix these reported issues, and then remove this check from the list of ignored checks in the gitlabproviderlint make target.

To reproduce, run `go run ./gitlabproviderlint ./gitlab` (pending #432)

[2020-09-23 03:11] armsnyder commented on #427
https://github.com/bflad/tfproviderdocs can do some docs validation. At the moment is supports frontmatter validation and basic existence of doc pages.

[2020-09-23 06:21] abeluck opened #440 "Add "Reject unsigned commits" flag to `gitlab_project_push_rules`"
### Terraform Version
Terraform v0.13.2

### Affected Resource(s)
- gitlab_project_push_rules

### Feature request

Add "Reject unsigned commits" flag to `gitlab_project_push_rules`

#### Motivation

We want to provide secure defaults for our many gitlab repos by managing them with terraform. We require all commits to be signed.

The `gitlab_project_push_rules` does not support the gitlab push rul

[2020-09-23 07:00] armsnyder commented on #440
Hi! We're releasing v3.0.0 really soon, tomorrow maybe, and it will have this attribute. You can follow #411.

[2020-09-23 07:00] #440 closed

[2020-09-23 11:40] abeluck commented on #440
Thanks, sorry for the noise. Looking forward to the release, good luck!

[2020-09-23 13:14] jeremad opened #441 "gitlab_branch_protection should ignore individual users"
### Terraform Version
[code]
### Affected Resource(s)
Please list the resources as a list, for example:
- gitlab_branch_protection

### Expected Behavior

Giving individual push access to protected branch is a premium feature of GitLab, the provider does not implement that yet.
If an individual user has push_access, the GitLab API returns:
[code]
And this is bugged: https://github.com/gitlabhq/ter

[2020-09-23 21:58] Nainterceptor commented on #411
Hello,

If you want my feedback, everything seems to be working here, but we're using a very small part of the provider (to define variables mainly)

[2020-09-23 23:27] 23doors opened #444 "Environments support"
From what I gathered currently there is no way for provider to create Project Environments nor there is a way to manage Protected Environments. Seems that at least normal Environments are supported by github.com/xanzy/go-gitlab

Any plans to add a resource for it?

[2020-09-24 02:10] nicholasklick commented on #411
Shipped! https://github.com/gitlabhq/terraform-provider-gitlab/releases/tag/v3.0.0

[2020-09-24 02:10] #411 closed

[2020-09-24 02:11] nicholasklick commented on #383
3.0.0 has shipped! https://github.com/gitlabhq/terraform-provider-gitlab/releases/tag/v3.0.0

It should be available on > 0.13 https://registry.terraform.io/providers/gitlabhq/gitlab/latest

[2020-09-24 02:11] #383 closed

[2020-09-24 02:21] nicholasklick commented on #376
We have fully migrated this repo to GitLabs possession, enabled publishing to the Hashicorp registry, and shipped version 3.0.0.

Looking forward to much more progress in the near future.

[2020-09-24 02:21] #376 closed

[2020-09-24 02:32] nicholasklick opened #445 "Migrating this project to Gitlab.com"
There is interest from the Gitlab org to migrate this project to our .COM site.
Now that we have shipped 3.0.0 it seems like a relevant time to migrate.

We need to investigate:

- [ ] Interest or concerns the current community may have around this move
- [ ] Ability to mirror in such a way that continues to work with the Hashicorp registry
- [ ] Migrating current issues
- [ ] Migrate current PRs

[2020-09-24 02:39] nicholasklick commented on #445
@roidelapluie @armsnyder any opinions re this?

[2020-09-24 06:18] roidelapluie commented on #445
I am quite against this if we need a mirror on GitHub.

Why? GitHub does not allow you to turn off pull requests. We would still get new pull requests. It would be unfriendly to each time ask people to go to gitlab.com to make their mr. A bot does not seem better.

As long as hashicorp only supports GitHub, I'd prefer to stay here.

[2020-09-24 07:21] liuyangc3 commented on #383
@nicholasklick there is `hashicorp/gitlab` in Terraform v0.13.3 somewhere.
[code]
if run `terraform init` got this error
[code]

[2020-09-24 07:58] armsnyder commented on #383
@liuyangc3 I believe that is the expected behavior. Any provider that is not maintained by HashiCorp needs to be explicitly declared in your `terraform` block. See the upgrade guide section [Explicit Provider Source Locations](https://www.terraform.io/upgrade-guides/0-13.html#explicit-provider-source-locations).

[2020-09-24 10:53] nagyv opened #446 "Ship/Release a new version of the GitLab Terraform Provider together with GitLab"
## Problem

How could we inform the community about new GitLab Terraform Provider releases?

Please, add your thoughts on https://gitlab.com/gitlab-org/configure/general/-/issues/89

[2020-09-24 14:05] FernandoMiguel commented on #411
are the provider docs updated too?

[2020-09-24 14:06] FernandoMiguel commented on #411
i see it is
https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/data-sources/group_membership

[2020-09-24 17:33] grv87 opened #447 "Error with push rules for projects and non-premium GitLab version"
### Terraform Version
0.13.3

### Provider Version
3.0.0

### GitLab Version
12.9.0-ee (Starter)

### Affected Resource(s)
- `gitlab_project`

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/grv87/7dae3d6fce31f5563365a456f6276679

### Expected Behavior
Push rules configured successfully.

### Actual Behavior
Error 403 Forbidden.
Provider tries to put the followin

[2020-09-24 17:54] nicholasklick commented on #445
@roidelapluie I definitely value your opinion here.

Though it seems like I can halt new PRs, issues and comments from anyone not a maintainer here: https://github.com/gitlabhq/terraform-provider-gitlab/settings/interaction_limits.

We would communicate clearly that the repo was a mirror similar to: https://github.com/gitlabhq/omnibus-gitlab

Do you have other concerns besides locking PRs and comm

[2020-09-24 17:57] roidelapluie commented on #445
mmh  that sounds like an abuse of moderation but yes that would then work.

[2020-09-24 21:46] nicholasklick commented on #445
@roidelapluie thanks for your thoughts here. I am not sure it is really an abuse of moderation given we are trying redirect conversation to a specific venue: gitlab.com. All would be welcome to contribute on the gitlab.com platform. I don't want to restrict transparency nor collaboration rather ensure there is a single source of truth for everyone to contribute to.

[2020-09-24 21:50] roidelapluie commented on #445
:+1:

[2020-09-25 02:29] armsnyder commented on #445
In my opinion, the project should live wherever the larger community of interested and potential contributors is. I'm unfamiliar with the gitlab.com community, but I would say that if you think there will be more active community engagement there, then we should go for it. Otherwise, the complexity of mirroring may not be worth it. Wouldn't releases have to be done in github still, for Terraform R

[2020-09-25 06:31] roidelapluie commented on #445
Note: We also need to change the go mod path

[2020-09-25 13:47] grv87 commented on #447
Connected to #422 #202

[2020-09-25 13:59] grv87 opened #448 "Resource gitlab_group_ldap_link has incorrect import documentation"
### Terraform Version
0.13.3

### Provider Version
3.0.0

### Affected Resource(s)
- `gitlab_group_ldap_link`

### Terraform Configuration Files
[code]

`terraform import gitlab_group_ldap_link.ldap_group "ldapmain:XXX`

### Debug Output
https://gist.github.com/grv87/cd8d712124c0939807b8046b6c4653db

### Expected Behavior
According to [documentation](https://registry.terraform.io/providers/gitlabh

[2020-09-28 10:32] grv87 commented on #447
One option could be to check license (https://docs.gitlab.com/ee/api/license.html). But

It's not an option for me.

I believe that plan information should be disclosed to everyone (e.g. in https://docs.gitlab.com/ee/api/version.html), but this requires the change in GitLab itself.

Other option could be to ignore unsupported features instead of returning `403`, on the GitLab side too.

Third opti

[2020-09-28 19:20] armsnyder commented on #447
@grv87 Thanks for the report. We implemented push rules as all-or-nothing, not realizing there were different version gates for individual rules. 😦 If possible can you share the exact error message you see in Terraform?

[2020-09-28 21:58] CraigGardener commented on #445
Regardless of whether the source of truth is github.com or gitlab.com, it would be helpful to have a copy (and clear guidance/docs) on both.

Whether the gitlab repo is mirrored to the github repo or vice versa, the documentation and project descriptions should ideally include a link to at least the primary repo in order to provide clarification for potential contributors and those interested in t

[2020-09-29 15:37] grv87 commented on #447
@armsnyder,
[code]
I believe it is presented in the log gist.

[2020-09-29 19:14] nicholasklick opened #450 "Enable custom UserAgent for metrics purposes"
GitLab would like to enable a custom useragent for http client requests from the provider to GitLab instances.

Something along the lines of: `gitlab-terraform-provider`

[2020-09-29 19:19] roidelapluie commented on #450
Currently we use 2 user agents:

go-gitlab
Go-http-client/1.1

We could indeed have terraform-provider-gitlab/3.0.0

[2020-09-29 19:29] roidelapluie commented on #450
it would also be nice to have the version of terraform in the user agent.

[2020-09-29 19:39] nicholasklick commented on #450
@roidelapluie yes agreed that would make sense to include the version

[2020-10-03 20:46] phumberdroz opened #452 "Datasource Gitlab Project filters not working"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- data.gitlab_projects

### Terraform Configuration Files
[code]

### Debug Output
Please provider a link to a GitHub Gist containing the complete debug output: https://www.terraform.io/docs/internals/debugging.html. Please do NOT paste the debug output in the issue; just paste a lin

[2020-10-03 23:21] phumberdroz commented on #452
What I am doing for now is:

[code]

[2020-10-05 14:48] radkomateusz opened #453 "Ability to manage strict group/project members list"
Hi, I want to submit feature request.

I want to manage whole list of group/project members by single resource as I would like to ensure that terraform configure only given set of members.

Expected behaviour:
Resource ensures that only given set of members are configured.
If additional members will be added manually, then TF plan/apply will remove them.
If members are removed manually, then TF pl

[2020-10-06 14:08] thuck commented on #453
I was just thinking on something similar; but using a slight different format for the code:
[code]
So when using this we could do something on the lines:
[code]

[2020-10-06 17:47] ndarwincorn commented on #123
Definitely project-level. When I opened this it was blocked (at least from having tests) by #157. I see that's no longer the case. And that's the correct API call as well.

If I can make the time I'll open a PR that adds the resource.

[2020-10-07 15:34] pdecat commented on #348
Fixed since v3.0.0 via https://github.com/gitlabhq/terraform-provider-gitlab/commit/cf82021745dd9f6d448f144af51079ecf2787681#diff-37aff102a57d3d7b797f152915a6dc16R6

[2020-10-07 23:30] LipingSun opened #455 "[Feature Request] Support Deploy Freeze Configuration"
Deploy Freeze is introduced in Gitlab v13. Can we support the config in terraform-provider-gitlab?

[2020-10-08 14:18] svenstaro opened #457 "Implement error_tracking API"
There is currently no support for managing the Sentry integration via the `error_tracking` API https://docs.gitlab.com/ee/api/error_tracking.html. Seems pretty easy to add, though.

[2020-10-08 17:47] svenstaro opened #459 "Allow configuring pull mirrors"
Currently it appears to only be possible to configure push mirrors. However, I'd like to be able to configure a pull mirror.

[2020-10-09 03:50] armsnyder commented on #459
It looks like there's an open PR for this: #449

[2020-10-09 03:57] armsnyder commented on #348
Thanks for confirming the fix @pdecat!

@meheza-samie I'm going to close this as fixed. Let us know if you're still having trouble using v3.0.0.

[2020-10-09 03:57] #348 closed

[2020-10-09 04:00] #258 closed

[2020-10-09 04:05] armsnyder commented on #123
@ndarwincorn [gitlab_project_level_mr_approvals](https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/project_level_mr_approvals) was added and released recently in 3.0.0 of the provider. Thanks for offering to add the resource, but it looks like we can close this!

[2020-10-09 04:05] #123 closed

[2020-10-09 04:14] armsnyder commented on #453
@radkomateusz Thanks for the suggestion. However, we like to follow the [HashiCorp design principle that a resource should map directly to a resource in the upstream API](https://www.terraform.io/docs/extend/hashicorp-provider-design-principles.html#resources-should-represent-a-single-api-object). Since there isn't a GitLab API for adding multiple members, I don't think we'll have a resource for i

[2020-10-09 07:05] radkomateusz commented on #453
@armsnyder Thanks for the answer! :)

Although I understand mentioned principle, I still have an issue which couldn't be addressed by current resources.

I'm aware of count/for_each and it resolves problem with managing multiple members, but it doesn't address issue that I want to have defined strict list of members. By count/for_each I could define eg. 10 members, but still someone with enough pe

[2020-10-09 07:13] armsnyder commented on #453
@radkomateusz Thanks for clarifying. The use case makes sense.

[2020-10-09 07:36] armsnyder commented on #444
Link to the API reference for this potential new resource: https://docs.gitlab.com/ee/api/environments.html

[2020-10-09 21:46] jacobkretz opened #460 "Migrating push_rules to v3.0.0"
I've posted my question on the community [here](https://discuss.hashicorp.com/t/gitlab-provider-v3-migration/15364)

I'm trying to upgrade to the v3 of the provider and I have existing push_rules throughout ~100 repos.
Thanks in advance for any help.

### Terraform Version
0.12.29

### Affected Resource(s)
gitlab_project_push_rules (old vs new)

### Terraform Configuration Files
Simple successfull

[2020-10-11 09:27] floh96 opened #462 "Implement redmine service"
There is currently no support for managing the Redmine integration.
See https://docs.gitlab.com/ee/api/services.html#redmine

### References
Are there any other GitHub issues (open or closed) or Pull Requests that should be linked here? For example:
- #192

[2020-10-13 13:45] dfredell opened #464 "Expose allow_merge_on_skipped_pipeline in gitlab_project"
### Terraform Version
[code]

### Affected Resource(s)
- gitlab_project

### Terraform Configuration Files
[code]

### Expected Behavior
Set this "Skipped pipelines are considered successful" checkbox on the Project Settings - General - Merge Request
![image](https://user-images.githubusercontent.com/8085744/95867983-5ecc3f80-0d2f-11eb-8ed4-27a9ccd9665c.png)

### Actual Behavior
This new feature i

[2020-10-16 16:03] svenstaro opened #465 "gitlab_group_ldap_link should allow filter"
Currently, gitlab_group_ldap_link only allows for setting the `cn` but not the `filter`. It'd be neat if `filter` also worked. See [API docs](https://docs.gitlab.com/ee/api/groups.html#add-ldap-group-link-with-cn-or-filter). Take note of the fact that only either `cn` or `filter` may be set.

[2020-10-20 15:36] TheMacStack opened #466 "gitlab_group_membership data source doesnt support pagination?"
Seems the new gitlab_group_membership datasource doesn't support pagination at least when used on gitlab.com

### Affected Resource(s)
- gitlab_group_membership

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Expected Behavior
All explicitly set group members should be read into st

[2020-10-21 08:46] gattil commented on #466
I have experienced the same issue, and I developed a terraform module to call the API described [here ](https://docs.gitlab.com/ee/api/members.html#list-all-members-of-a-group-or-project) passing the [pagination parameter](https://docs.gitlab.com/ee/api/), output the result to a file, and finally read the output. However, this is dirty hack which I do not recommend nor I support in production envi

[2020-10-21 20:16] Nainterceptor opened #468 "Create gitlab_deploy_token without expiration for project"
Dear team,

In a project, we're using gitlab_deploy_token resource to create a deploy token to pull container in kubernetes instance.
It's expected to have an expiration in enough far away in future to ensure that kubernetes will always be able to pull docker image.
According to provider documentation of [gitlab_deploy_token](https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/reso

[2020-10-22 23:11] franz-josef-kaiser opened #469 "segmentation violation while running import for GitLab user (SIGSEGV)"
### Terraform (and provider) Version

[code]

### Terraform Configuration Files

[code]

### Debug Output
(crash)

### Crash Output
[`crash.log`](https://gist.github.com/franz-josef-kaiser/eb1f9b557011b8cbc7a756fd9c787060) as GitHub Gist.

### Expected Behavior
Import user

### Actual Behavior
Crashed; segmentation violation

The crash can be repeated in the current setup multiple times in a row.

[2020-10-28 02:40] RyPeck commented on #452
I am experiencing the same issue.

Data Source

[code]

Trace Log

[code]

[2020-10-28 03:18] RyPeck commented on #452
Switching the func `GetOk` to `GetOkExists` on the conditional [here](https://github.com/gitlabhq/terraform-provider-gitlab/blob/master/gitlab/data_source_gitlab_projects.go#L696) fixes the issue from my testing. But `GetOkExists` is deprecated according to the documentation. Any guidance on a possible fix?

cc @oboukili

[2020-10-28 06:19] oboukili commented on #452
Brings back memories! I will work on that starting tomorrow, this datasource actually uses a non standard way to get arguments compared to other datasources/resources. Maybe just changing that will solve that issue. I'll try and add more acceptance tests as well.

[2020-10-29 04:07] sdwerwed opened #470 "Resource gitlab_project gets 400 error many times when creating projects"
Hi there,

When creating projects using terraform and gitlab provider I get `400 Bad Request {message: {limit_reached: []}, {name: [has already been taken]}, {path: [has already been taken]}}` this is happening because sometimes the POST /api/v4/projects for creating projects is getting `Internal Server Error 500`, it is creating the project correctly just the response is lost, so the terraform se

[2020-10-29 13:00] tangodev opened #471 "Feature request - allow for configuring Pages visibility"
Hello,

I'm working on a static site with Gitlab and I'm using Terraform to keep everything nice and tidy. I see however, that in the current version of the provider there is no way to set Pages visibility.

[code]

### Affected Resource(s)
- gitlab_pages (?)
- gitlab_project (?)

### Expected Behavior
User should be able to make Pages visible to Everyone via HCL configuration.

### Actual Behavio

[2020-10-29 14:36] jeremad commented on #471
That should be easy to implement: https://github.com/xanzy/go-gitlab/blob/master/projects.go#L102
I'll have a look

[2020-10-30 11:34] tangodev commented on #471
Awesome :)

[2020-11-02 10:08] liuyangc3 opened #475 "Provider can not work in a module"
I have a module which creates some gitlab resource, the module can not work with providers statement

### Terraform Version
Terraform v0.13.3
+ provider registry.terraform.io/gitlabhq/gitlab v3.1.0

### Affected Resource(s)
module

### Terraform Configuration Files
the main.tf
[code]

The module code can be any gitlab resource

### Expected Behavior
I can run this module

### Actual Behavior
if I

[2020-11-02 12:48] matikij commented on #475
According to terraform docs: https://www.terraform.io/docs/configuration/provider-requirements.html#requiring-providers

So AFAIU gitlab provider is consistent with the documentation, not sure why other providers work without it though.

[2020-11-04 04:41] spuder opened #476 "Escape username if it contains a period"
Terraform http backend does not work with gitlab when the username contains a period.

terraform version
0.13.5

Reported cases

- https://gitlab.com/gitlab-org/gitlab/-/issues/219294#note_441290781
- https://gitlab.com/gitlab-org/gitlab/-/issues/238090

In both cases, the work around is to change the username `.` to an ascii equivalent.

## Steps to reproduce

1. Follow the gitlab documentation f

[2020-11-04 20:03] armsnyder commented on #475
I share @matikij's take on this. It makes sense that the module would need to declare the provider source when using Terraform 1.13. Perhaps it works with "other providers" if those other providers are already under the `hashicorp` namespace, which seems to be the default. For example the `aws` provider is under `hashicorp`.

[2020-11-05 15:40] liuyangc3 commented on #475
I don't agree with this

According to https://www.terraform.io/docs/configuration/providers.html#selecting-alternate-provider-configurations

the keyword `providers` in the module exactly tells the module use which provider configuration.

[2020-11-09 18:18] Zyava opened #477 "Support all attributes supported by API in gitlab_project resource"
I'm very surprised that `gitlab_project` resource doesn't support all attributes available in the API:
https://docs.gitlab.com/ee/api/projects.html#create-project. Please support all attributes API supports - like it is done in other providers (AWS, k8s, etc.)

### Terraform Version
TF 0.13.5, Gitlab provider version 3.1.0

### Affected Resource(s)
- gitlab_project

### Expected Behavior
All attri