[2022-07-03 12:54] timofurrer commented on #696
Unfortunately, this field still exists after 15.0 and I have the feeling it's not gonna be removed before 16.0 at least.

I don't see any feasible solution from the provider side and therefore I've created https://github.com/gitlabhq/terraform-provider-gitlab/pull/1161 which just adds a note for the `approvals_before_merge` field.

@PatrickRice-KSC WDYT?

[2022-07-04 16:49] r3nic1e commented on #1137
My bad, I haven't check if it is possible to do this via GitLab API. There is no support in API right now
https://gitlab.com/gitlab-org/gitlab/-/issues/344520

[2022-07-04 21:22] PatrickRice-KSC commented on #696
@timofurrer  - I feel like this might be an area where it's a good idea for us to actually just _remove_ the field in the TF provider in favor of using the [`project_approval_rule`](https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/project_approval_rule) resource. While that diverges from the upstream API, it seems like this is an action that effectively protects users

[2022-07-04 21:28] #205 closed

[2022-07-05 07:31] timofurrer commented on #696
@PatrickRice-KSC are you sure it's really deprecated already? It doesn't say so in the docs neither could I find a reference in the deprecations / removal [notifications](https://gitlab.com/gitlab-org/gitlab/-/tree/master/data).

[2022-07-05 16:22] PatrickRice-KSC commented on #696
@timofurrer  - Well, that's... interesting. It's explicitly listed as deprecated in the [epic link](https://gitlab.com/groups/gitlab-org/-/epics/7572) I'd posted above, but reading the individual steps more closely seems to indicate that they're just starting the process. If you click into [one of the issues mentioned](https://gitlab.com/gitlab-org/gitlab/-/issues/352181) the conversation mentions

[2022-07-06 13:58] ignatenkobrain commented on #1138
@timofurrer any chance there will be a release anytime soon? Thanks in advance for reply!

[2022-07-06 15:14] timofurrer commented on #1138
@ignatenkobrain Yes, I've just drafted a changelog PR [here](https://github.com/gitlabhq/terraform-provider-gitlab/pull/1163) and we'll have a release by end of this week. Stay tuned! 🎉

[2022-07-06 15:15] esantoro opened #1164 "`gitlab_runner`: setting `paused=true` does not pauses the runner."
### GitLab Provider version

3.15.1

### GitLab version

GitLab Community Edition 14.5.4

### Terraform version

0.15.5

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

When setting `paused=true` in terraform, the runner does not get actually paused. Each new plan execution will report the `gitlab_runner` resource as "to be updated in place".

This h

[2022-07-06 15:26] timofurrer commented on #1164
Yes, exactly. The `paused` flag was introduced in GitLab 14.8, as described in [this issue](https://gitlab.com/gitlab-org/gitlab/-/issues/347211).

Since we only support `N-2` releases and the `gitlab_runner` resource is kinda new in the provider the deprecated `active` field from the upstream API is not implemented.

Is there a possibility that you upgrade the GitLab instance to something more up

[2022-07-06 15:32] esantoro commented on #1164
Hi @timofurrer and thank you for the quick reply.

Actually we're moving our k8s gitlab runner fleet to terraform and (better) iac for the exact purpose of easing the gitlab upgrade.

Thank you very much, but I don't think this will be needed, as we're doing the ground work in the context of a gitlab update anyway. I don't want to burden you with supporting deprecated feature.

Knowing that this i

[2022-07-06 15:32] #1164 closed

[2022-07-06 15:34] timofurrer commented on #1164
Sounds good! Happy updating and let us know if you need anything else  😊

[2022-07-07 01:17] #696 closed

[2022-07-07 01:17] PatrickRice-KSC commented on #696
Merged the PR (which closes the issue) - I'll open a new issue if we want to make a subsequent change and remove the field (which would necessitate a 4.0 on our side anyway since that's a breaking change).

[2022-07-07 01:24] PatrickRice-KSC commented on #1127
@tschechniker this issue wound up getting closed because the #1128 fix was included in the next milestone, but did you get a chance to confirm that this resolved your issue?  I just noticed we didn't get confirmation when I was reviewing release notes 🙁

[2022-07-07 18:47] ignatenkobrain commented on #1138
│ Error: POST https://gitlab.com/api/v4/projects/37215813/share: 400 {error: group_access does not have a valid value}

=(

[2022-07-08 00:29] tspearconquest commented on #321
Hi, any chance this could be added now in order to support group-level applications which were introduced in Gitlab 13.11?
https://docs.gitlab.com/ee/integration/oauth_provider.html#group-owned-applications

[2022-07-08 18:14] petrmvala commented on #949
Hey @jtymes, sorry for such a long radio silence. I have been totally overloaded in the meantime.

**The first point**
The example goes like this:
1. You create a Gitlab repo. Via Terraform or manually, that's not important. You do not set approval rules via terraform though.
2. You go to the repo and manually set Eligible approvers to 1. (Settings -> General -> Merge request approvals -> Eligible

[2022-07-11 04:57] yan12125 opened #1166 "Feature request: Support user GPG keys management"
### Feature Description

Hi, could you consider adding a new resource for managing GPG keys like [the one](https://registry.terraform.io/providers/integrations/github/latest/docs/resources/user_gpg_key) from the GitHub provider? Apparently go-gitlab library already [supports that](https://github.com/xanzy/go-gitlab/pull/1330).

An example may be: (modified from examples for `github_user_gpg_key` a

[2022-07-11 07:41] SeameX opened #1167 "Let the provider run without Admin rights"
### Feature Description

Hello,
since version 3.16 we can't use the provider without admin rights anymore.

[code]

It would be awesome if you could add a feature toggle to disable that.

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-07-11 08:19] timofurrer commented on #1167
@SeameX thanks for the report! This indeed is an issue we've introduced by accident - to solve another issue.

I'll have a look at it asap and try to release a new version soon.

[2022-07-11 16:07] timofurrer opened #1170 "Allow Acceptance Tests with non-admin provider token"
### Feature Description

To prevent issues like #1167 it would be awesome to have specific tests to be configured and ran with a non-admin token.

I think in general it would be nice to run tests with the least required privileges.

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-07-13 19:57] exarkun opened #1174 "gitlab_user_sshkey resources do not converge"
### GitLab Provider version

3.14.0

### GitLab version

14.9.3

### Terraform version

0.13.7

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

GitLab seems to modify the supplied key by adding a username and hostname.  The `gitlab_user_sshkey` detects this difference and decides it needs to push its value.  However, no matter how many times it does

[2022-07-14 06:40] timofurrer commented on #1174
@exarkun thanks for the report!

The problem here is that the `tls_private_key` resource generates the `public_key_openssh` in a [friendly format for `./ssh/authorized_keys`](https://github.com/hashicorp/terraform-provider-tls/issues/163#issuecomment-1066724040) by appending a newline character `\n` at the end, you can verify this in the state file:

![image](https://user-images.githubusercontent.

[2022-07-14 12:56] exarkun commented on #1174
Thanks.  Using `trimspace` as suggested does seem to fix the problem for me, though I don't really understand why.  I thought that the plan output:

[code]

showed that the deployed value ended with "Bot Token (whetstone.privatestorage-staging.com)" and the terraform plan was to replace it with a similar value but without that suffix.  But since `trimspace` fixes the issue this interpretation must

[2022-07-16 03:00] #1174 closed

[2022-07-16 14:23] yan12125 commented on #1166
I started looking into implementing it, and got a question. I'd like to manage GPG keys for the current user with a user token. Some people may want to manage GPG keys for whatever users with an admin token. The two scenarios need different APIs (ex: `POST /user/gpg_keys` and admin-only `POST /users/:id/gpg_keys`). How can I design the resource to fit both scenarios?

[2022-07-17 12:16] timofurrer commented on #1166
@yan12125 I suppose the simplest approach would be to just use the appropriate API depending on if the `user_id` attribute is given in the config.

Let's consider the two examples:

[code]

This would use the `/users/:id/gpg_keys` API and require an admin token, because the `user_id` is given. AFAIK, even if the `:id` in the API call is the currently authenticated user - it is only available for a

[2022-07-17 15:50] yan12125 commented on #1166
Thank you very much for detailed suggestions! Now I have a rough idea for the code outline :)

This sounds better to me. I've tried the admin-only API, and the error message does not mention it's admin-only. At first I thought there was something with my user token :joy:

Great! Will pop up for further questions.

[2022-07-18 13:02] MrMickS opened #1177 "Group sub-groups, descendent groups, and projects, data sources"
### Feature Description

We would like to do some traversing of Gitlab sub-groups with Terraform. In order to be able to do this we would like to see  `gitlab_group_subgroups`, `gitlab_group_descendent`, and `gitlab_group_project` calls added to the provider.

API calls are available for these and they would allow us to manage other resources associated with the Gitlab groups.

### Do you want to

[2022-07-18 13:25] timofurrer commented on #1177
@MrMickS

I assume that you are looking for data sources:

* `gitlab_group_subgroups` -> https://docs.gitlab.com/ee/api/groups.html#list-a-groups-subgroups
* `gitlab_group_descendent` -> https://docs.gitlab.com/ee/api/groups.html#list-a-groups-descendant-groups

Can you be a little bit more specific what `gitlab_group_project` should be?

Maybe this already helps for the `gitlab_group_project`:

*

[2022-07-18 13:29] MrMickS commented on #1177
I meant to put `gitlab_group_projects`. What I'm looking for there is:

- `gitlab_group_projects` -> https://docs.gitlab.com/ee/api/groups.html#list-a-groups-projects

[2022-07-19 06:26] MrMickS commented on #1177
Yes. Thanks, I didn't see that one.

[2022-07-20 13:10] jeffqumata opened #1180 "Implement a `gitlab_project_membership` data source"
### Feature Description

I'm starting to migrate my company's gitlab groups/users/etc into terraform. At the moment we have no need to directly manage projects in tf (there's a lot of them and we're happy to create them on gitlab.com) but one thing I need to ensure is that nobody outside an approved list of users has access to our projects. Basically all company projects should only be accessible

[2022-07-20 13:23] timofurrer commented on #1180
Thanks for the request! This data source has actually been in the making for quite some while already: https://github.com/gitlabhq/terraform-provider-gitlab/pull/593

I'll see that I can bring it to a mergeable state asap.

I'm kind of curious about your use case though: are you basically using terraform here *just to verify* if the members of the project are the matching a given set of *approved*

[2022-07-20 13:37] jeffqumata commented on #1180
That was the plan. #453 means that we cannot manage the full list of group or project members using the provider. I have worked around that for groups by using the `gitlab_group_membership` data source. I was planning to do the same for project membership (hence this issue).

I dont think thats possible in my case - all users gain access to projects through group inheritance so my list of users fo

[2022-07-21 12:34] yan12125 commented on #1166
Changed the field name `armored_public_key` => `key` as [the pull request template](https://github.com/gitlabhq/terraform-provider-gitlab/blob/main/.github/pull_request_template.md) suggests resource attributes to match 1:1 the names and structure of the API resource.

[2022-07-21 20:44] #772 closed

[2022-07-21 23:12] hulquest opened #1182 "Build coverage regex can't be removed from the plan"
Hello!  I have been controlling GitLab Project definitions without issue.  We are using provider version 3.16.1.  Our administrators updated to [15.0.4-ee](https://gitlab.com/gitlab-org/gitlab/-/tags/v15.0.4-ee) and the provider started to complain about a deprecated configuration variable `build_coverage_regex`.  By complain, I mean the provider thinks it needs to alter the infrastructure even th

[2022-07-24 01:54] olhado opened #1183 "Ability to import project ci variable with project path"
### Feature Description

Currently you need the project id in order to define its CI variables.

I have created a module that takes a complex variable that defines a project and it's integrations and and CI variables. The goal being that my org's defaults are set, simplifying using terraform for gitlab config by end users. In this use case, I use a `for_each` over the variable and try and map the

[2022-07-24 03:11] olhado commented on #1183
Closing this, this is just overcomplicated, and I found another way to do it without requiring a provider change.

[2022-07-24 03:11] #1183 closed

[2022-07-25 18:48] bxscif commented on #1137
Looks like this functionality is now supported via GitLab API with the [15.2](https://gitlab.com/gitlab-org/gitlab/-/blob/d836c22d87f6f0397b93cc72ce3af27a6dc02d93/CHANGELOG.md) release.

[Implement granular access for Protected Tags API](https://gitlab.com/gitlab-org/gitlab/-/commit/63a69499b07a96ccc3aff8c3241f26e5ed7a3cdb) ([merge request](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/921

[2022-07-26 03:48] twalker1998 opened #1186 "Can't change path of project if container registry exists"
### GitLab Provider version

3.16.1

### GitLab version

15.3.0-pre

### Terraform version

1.2.5

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

I've changed the name of an existing project that is managed with Terraform and has existing container registry tags. The original configuration is listed below (updated configuration is in the `Relevant T

[2022-07-26 07:59] iverberk opened #1187 "Question: is it possible to manage Gitlab admin settings?"
I would like to use this provider to set a baseline configuration for Gitlab. For example to restrict the user project limit or disable sign-ups. Can it be done with the provider? I've scanned the issues and documentation but was unable to find a suitable resource.

[2022-07-26 12:59] timofurrer commented on #1187
It's currently not possible. I assume you are referring to basically managing the [Application settings API](https://docs.gitlab.com/ee/api/settings.html) in a resource with this provider, right?

@JanKoppe worked on this quite some time ago, see https://github.com/gitlabhq/terraform-provider-gitlab/issues/957
Are there any updates @JanKoppe from your side? Are you still interested in landing this

[2022-07-26 13:39] timofurrer commented on #1186
Yes, it should actually yield the same errors than the API!

Do you mind providing a standalone example using the `gitlab_project` resource directly?

[2022-07-26 14:01] hulquest commented on #1182
Thanks Timo!  I can do this in the next couple of days.

[2022-07-26 14:39] #1180 closed

[2022-07-26 18:16] r3nic1e commented on #1137
@bxscif in case you don't have time for this - I can do this

[2022-07-26 18:35] bxscif commented on #1137
@r3nic1e if you're able to, that would be awesome.  I'm about to go on vacation and wouldn't be able to get to it for a couple weeks.

[2022-07-26 21:14] twalker1998 commented on #1186
That was my thinking as well!

Here is the resource configuration within my module. The example I provided in the initial report was modifying the value for `var.path` (among others).

[code]

[2022-07-27 08:37] r3nic1e commented on #1137
It's not yet in [go-gitlab](https://github.com/xanzy/go-gitlab/issues/1511). So it's kinda blocked right now

[2022-07-27 08:43] timofurrer commented on #1137
I might be able to add it there today.

[2022-07-28 14:57] hulquest commented on #1182
Here is a [gist of the log](https://gist.github.com/hulquest/276f18acbdd52a888daf83fe638e859c).  It took longer than expected to remove personal information.

[2022-07-29 18:14] PatrickRice-KSC commented on #1186
FYI, I created an indicative test for this:

[code]

I can confirm the test _passes_, and notably, it passes _because it successfully renames the project while the container registry tag is present_.  Maybe this is failing because in addition to changing the project name, you're changing the namespace as well?

Before rename:
![image](https://user-images.githubusercontent.com/50960557/181819888-f1

[2022-07-30 06:17] timofurrer commented on #1186
@PatrickRice-KSC can you change the `path` instead? AFAIK, the name is merely used to display a *name*.
It may not even require a namespace change (as in the `namespace_id`.

[2022-07-30 22:18] PatrickRice-KSC commented on #1186
For sure - I'll give it a whirl here shortly.

[2022-07-30 23:10] twalker1998 commented on #1186
Yes, I was able to successfully re_name_ the project from the UI with no issues, but the error occurred when I changed the _path_.

[2022-07-31 03:00] PatrickRice-KSC commented on #1186
Here we go, updated test:

[code]

Result: _test fails properly, with the path not changing in GitLab_:

[code]

[2022-08-01 06:24] dev-dsp opened #1190 "Typo in docs regarding gitlab_cluster_agent_token.agent_id"
Docs on https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/cluster_agent_token say:
[code]

While actually, it should be
[code]

[2022-08-01 07:21] timofurrer commented on #1190
Good catch @dev-dsp ! Would you be up for your first PR to the provider? 🤓

[2022-08-01 12:30] filipowm commented on #1187
@iverberk For the time being, I recommend you looking at [GitLab Configuration as Code](https://github.com/Roche/gitlab-configuration-as-code) (GCasC), which could do what you exactly expect, unfortunately outside of Terraform, but still easy to use (either manually or from within some CI/CD pipeline).

[2022-08-01 14:28] JanKoppe commented on #1187
Hey, no updates from my side on #957 - anyone who wants to work on it: Feel free to pick up where I left off! This is way down on my backlog right now.

Thank you so much @filipowm, this pretty much looks like it could help us out with the original issue, which prompted me to start work on such a resource.

During the development of such a resource we noticed more and more that this does not reall

[2022-08-02 08:49] agjmills commented on #1148
👍

[2022-08-02 10:55] 1oglop1 opened #1194 "Delete group_membership removes the member from subgroups by default"
### GitLab Provider version

3.1.3 - via https://github.com/pulumi/pulumi-gitlab/tree/v4.7.1

### GitLab version

saas

### Terraform version

N/A

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Hello,

## The problem
My GitLab structure:
[code]

When I define a group membership for both groups and remove `main_group` it will also remove the member

[2022-08-03 19:17] genei09 opened #1196 "Unable to import existing resources to gitlab_branch resource"
### GitLab Provider version

3.16.1

### GitLab version

 15.3.0 SaaS

### Terraform version

Terraform v0.14.6

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

after importing an existing branch the required parameter of "ref" causes the branch to be destroyed which conflicts with a lifecycle aiming to keep the branches protected from deletion.

it

[2022-08-03 19:46] Shocktrooper opened #1197 "Add gitlab_repository_tree data source"
### Feature Description

Seeing as we do not currently have a way to query files in an existing GitLab project I would like to introduce a new `gitlab_repository_tree` data source to be able to fetch this data

References:

- https://github.com/xanzy/go-gitlab/blob/master/repositories.go
- https://docs.gitlab.com/ee/api/repositories.html#list-repository-tree

### Do you want to implement this?

-

[2022-08-03 22:09] genei09 commented on #1148
As an additional case in point.  The gitlab_project resource is the only place to set the default branch.  However it's very difficult to set this at creation time if you aren't pulling from an existing repo.  If I'm trying to start with an empty repo I need to create the repo, create the branches, then come back and change the code to include the default branch and do a second deployment.  Makes

[2022-08-04 00:23] Shocktrooper commented on #1197
It appears `ref` is actually required and does not default to the default branch like the documentation says.  I will file a bug report later about this as omitting the ref results in a 404 according to my testing

[2022-08-04 15:40] adriano-fonseca opened #1200 "Error creating Project from custom project templates"
### GitLab Provider version

3.16.1

### GitLab version

GitLab Enterprise Edition 15.3.0-pre

### Terraform version

3.16.1

### Relevant Terraform Configuration

[code]
[code]

### Description

As per documentation **template_name** and **template_project_id** should be mutually exclusive. However, using **template_id**, I am getting a terraform error related to template_name.

[2022-08-04 15:58] adriano-fonseca commented on #1200
[code]

After double checking group_id where the template lives and the project_template_id. I am still getting the following:

Tricky to create projects from project templates. Do we have test for this feature?

[2022-08-04 20:19] timofurrer commented on #1200
@adriano-fonseca Unfortunately, I didn't have the time yet to look closely at the problem here - However, it triggered some deja-vu ... for which the [`gitlab_group_project_file_template` resource](https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/group_project_file_template) exists. Maybe you can already either make it work using this or correct me that this isn't what

[2022-08-04 22:35] PatrickRice-KSC commented on #1200
Yeah, there's a bit of an involved process in order to allow you to use a project as a template - you need to do the following steps:

1. Create a Group, and a project within that group <which you've done>
2. _mark the group or project as being available for use as a template_, that's the resource that timo is referencing above.
3. Finally, reference the template project to create using the templa

[2022-08-05 08:00] #1166 closed

[2022-08-05 10:27] timofurrer commented on #303
It's currently blocked by https://gitlab.com/gitlab-org/gitlab/-/merge_requests/92604

[2022-08-05 10:31] timofurrer commented on #1200
@PatrickRice-KSC thanks for information!

I think it makes sense to improve our documentation for the `gitlab_group_project_file_template` resource and the corresponding affected attributes in the `gitlab_project` resource. I imagine some note in the latter for the attributes and a good example in the former. @PatrickRice-KSC would you mind taking this up?

[2022-08-05 12:03] PatrickRice-KSC commented on #1200
Yeah, no problem :)

[2022-08-05 12:07] #1197 closed

[2022-08-05 12:58] timofurrer commented on #1187
I'm closing this in favor of #957 and https://github.com/gitlabhq/terraform-provider-gitlab/pull/1201

[2022-08-05 12:58] #1187 closed

[2022-08-05 13:02] timofurrer commented on #957
I've created a new `gitlab_application_settings` resource in #1201 in a semi-automated way.

I think it's something to unblock people, but it's also something that isn't perfect.

The most pressing points:

* What does a *destroy* of this resource mean?
  * should we store an *original* state during *create* and restore to that during *destroy*?
    * would we do that for the entire resource (mean

[2022-08-05 13:06] #1190 closed

[2022-08-05 13:26] timofurrer commented on #1186
@twalker1998

Yes, it indeed seems like a limitation of the GitLab API. Running a `curl` command manually against a project with existing images in the container registry responds with a `200`, but a `null` body.

Yes, it should and actually it would already if the GitLab API would return a non-success status code and would display the response body in the error message.

@twalker1998 do you mind

[2022-08-05 13:45] timofurrer commented on #1196
Thanks for open this @genei09

The reason for this behavior is that the upstream GitLab API doesn't return the `ref` the user provided when the branch was created. Therefore, when this was implemented it was decided that `ref` is only being set to state during *create* - which isn't hit during an *import*. The documentation is clearly missing for that.

However, I believe there must be a better so

[2022-08-05 14:27] genei09 commented on #1196
as a workaround the lifecycle option can be included to ignore changes to ref, which is what I've done for now.

I can't think of a use case when I would want to destroy a branch and recreate it from a different ref.  That could all be managed within git itself.

So other than being necessary for create, it's not really helpful in the ongoing management.  The branches will naturally diverge and th

[2022-08-05 14:45] PatrickRice-KSC commented on #1186
@timofurrer  - WDYT about adding a `StateChangeConf` to the path of the project, with a very short timeout (5-10s)? That way the apply would error with a "timeout waiting for project to reach state" error on apply in the tf provider, and would transparently be fixed in the provider when the upstream change was made?

[2022-08-05 19:24] Shocktrooper commented on #957
I feel a few of these decisions are linked depending on the route we want to go.  E.G. if we revert all settings on a destroy then we wouldn't be able to support multiple `gitlab_application_settings` resources as that would just result in deltas in the other terraform configs.

That aside as for supporting multiple `gitlab_application_settings` resources I don't see too many points because I imag

[2022-08-07 14:05] vl-shopback opened #1203 "List provisioned users api is missing"
### Feature Description

List provisioned users api is missing

https://docs.gitlab.com/ee/api/groups.html#list-provisioned-users

https://github.com/xanzy/go-gitlab/blob/master/groups.go#L588

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-08-08 18:42] #1103 closed

[2022-08-10 08:09] thenom opened #1208 "403 Forbidden for gitlab_project on 3.16.1"
### GitLab Provider version

gitlabhq/gitlab v3.16.1

### GitLab version

GitLab Enterprise Edition 15.3.0-pre 15a9431643b

### Terraform version

1.2

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Hi,

We have recently updated our terraform to use the new protected environment required_approval_count but when it goes to apply any changes on this v

[2022-08-10 12:14] timofurrer commented on #1208
@thenom

There is a `CustomizeDiff` function on these particular attributes - they are marked as *computed* if either the `namespace_id` or the `path` changed. Was that somehow the case (what does your state say)?

Can you run the `terraform apply` with debug logs (setting `TF_LOG=debug`) and posting the output in a gist? And make sure to redact any sensitive information. And very the following th

[2022-08-10 13:01] timofurrer commented on #1182
@hulquest I finally had some time to look into this. So, the log has some weird stuff in there, in particular this line:

https://gist.github.com/hulquest/276f18acbdd52a888daf83fe638e859c#file-diag-1182-log-L15906

which is part of a `GET` response to fetch project details:

[code]

... as you can see somehow the upstream GitLab API returns this `All files[^|]*\\|[^|]*\\s+([\\d\\.]+)` for the `iss

[2022-08-10 13:08] timofurrer commented on #1196
@genei09 Yes, I agree.

I think the only case it becomes important is if someone wants to "update" a branch or move it along with another branch somehow (which would be a suspicious workflow - but there may be some use case for it ...)

We could just add a suppress function for that particular field and basically ignore all changes from within the resource schema. However, I think it might be bett

[2022-08-10 13:46] timofurrer commented on #1194
@1oglop1 I think a viable solution for this is to provide the `skip_subresources` field as attribute in the `gitlab_group_membership` resource. I've implemented this in #1209 - to avoid confusions I've suffixed the fields with `_on_destroy`.

With that change you are able to do the following:

[code]

WDYT? Would this fully solve your issue? 🏓

[2022-08-10 14:24] timofurrer commented on #1132
@dschaaff Is the group (with id `var.sre_group_id`) shared with the project `gitlab_project.this.id`?

It seems to be a current limitation of the GitLab API that in case it's not shared with the group it's just ignored without any errors and thus, the provider runs into those perpetual state diffs.

It's mentioned in the upstream GitLab API [docs](https://docs.gitlab.com/ee/api/protected_environme

[2022-08-10 14:36] thenom commented on #1208
@timofurrer Thats for the response, i will look into getting this info out with the debug log.  tbh we have only recently imported our existing Gitlab repos into terraform and have always seen this on every run.  I will also double check the namespace_id and path for computed values but as far as a i know they are static.

With regards to the token, this SSM param and provider setup has not change

[2022-08-10 15:02] hulquest commented on #1182
@timofurrer That's exactly right.  I guess this is a backend GitLab bug?

[2022-08-10 15:03] timofurrer commented on #1182
@hulquest Yes, I think it indeed is. Do you mind opening an issue upstream and I'll close this one? In case there would be any news - we can always reopen 😊

[2022-08-10 19:23] timofurrer commented on #1132
@dschaaff and I assume the resources are applied in the correct order? (well at least it should apply the second time I suppose)

Can you post some debug logs using `TF_LOG=debug` (make sure to redact sensitive data) ?

[2022-08-10 20:18] dschaaff commented on #1132
I'm attaching a redacted trace log with the relevant portion of data
[gitlab_tf_log_trace.zip](https://github.com/gitlabhq/terraform-provider-gitlab/files/9303744/gitlab_tf_log_trace.zip)
.

Here is the full source of the terraform code

[code]

[code]

[2022-08-11 07:32] timofurrer commented on #1132
Okay, according to the logs I think the problem is that the `deploy_access_levels` attribute is a list (which is ordered) and the GitLab API returns the deploy access levels in a different order than it previously did when they were first persistent in state.

This is the order it's returned by the API:

[code]

The logs don't contain the API response for when it was queried the first time. Do you

[2022-08-11 09:16] thenom commented on #1208
Ok, looks like it is using the correct token but just investigating what this is actually doing:
[code]
Not sure it makes much difference and probably separate processes writing these log entries out but requests directly beneath the 403's above are not the associated ones so had to search for this:
[code]

[2022-08-11 10:20] 1oglop1 commented on #1194
@timofurrer I've been thinking about the same solution! For me, it is good enough.
Thank you for implementing it!

[2022-08-11 10:37] 1oglop1 opened #1212 "Inconsistent types of IDs and Group IDs"
### GitLab Provider version

3.1.3 - via https://github.com/pulumi/pulumi-gitlab/tree/v4.7.1

### GitLab version

saas

### Description

I used resource `resource_gitlab_group_share_group` and noticed that it requires two GroupIds but one is a string while the other is int.

https://github.com/gitlabhq/terraform-provider-gitlab/blob/746420e5e1eb4cef6a05e2d023231d20bc5e0db6/internal/provider/resour

[2022-08-11 11:04] thenom commented on #1208
Same issue with curl using the details from above:
[code]
Obviously gitlab isnt changing behind the scenes so re-running this without the change for this module to see the difference in the calls or even if this call is occurring as it seems that this is just trying to set the name of the repo.

[2022-08-11 11:49] timofurrer commented on #1212
The situation with the Terraform schema is that an attribute can only have a single type - thus we use a `string` when a `string` and `integer` is allowed and `integer` when only an `integer` is allowed.

For these APIs (btw. the link to the API is not the one from the code you've referenced, but is besides the point I guess 😊 ) it's documented that the [project](https://docs.gitlab.com/ee/api/pro

[2022-08-11 12:16] thenom commented on #1208
Same problem on 3.16.0, cant test this on any earlier as protected environment `required_approval_count` came in on 3.16.0.

Removed the required approval and used the previous provider of 3.15.1 and i now have no issue.  The `PUT /api/v4/projects/123456798` also doesnt seem to occur in the apply debug logs either.  So something in 3.16.0 is triggering this `PUT`

Still digging but not even sure y

[2022-08-11 12:17] 1oglop1 commented on #1212
Thank you for the information, I rely on the provider and just found types to be "weird".
It seems like ID used to be an integer until the Gitlab team found out integers are not good enough for IDs and started changing the API. Therefore this seems to be an upstream problem which I'm not sure that the terraform provider can do anything about it.

If my assumption is true we can probably close this

[2022-08-11 12:42] timofurrer commented on #1212
I'm pretty confident that IDs are technically enough - but often it's nice to have more readable descriptive name ids instead of numerical ids.

Great! I'm going to close it - let us know if you need anything else :)

[2022-08-11 12:42] #1212 closed

[2022-08-11 13:52] thenom commented on #1208
The above still occurs when there is no protected environment resource on a project so it doesnt seem to be that.

Went back to simple basics with:
[code]
still getting the read only changes on second run:
[code]
and on apply i get the current issue so it seems to be this that is triggering the `PUT` but have no idea why this update is occuring:
[code]

[2022-08-11 14:25] thenom commented on #1208
Ok, found it...
[code]
is the problem.  We have this as a variable in our module that defaults to "" which i replicated in my simple project.  When i removed the attributes the changes stop and with that, the `PUT` stops.

No-idea why this causes a change or why that triggers a forbidden `PUT` but definitely doesn't seem right.

[2022-08-11 15:00] timofurrer commented on #1208
Yes, it's definitely the `path = ""`. The reason for this is that the `path` is computed and generated according to the project `name` on GitLab side if it's empty, as described in the docs [here](https://docs.gitlab.com/ee/api/projects.html#create-project:~:text=Generated%20based%20on%20name%20if%20not%20provided). Now, the thing with setting it manually to `""` is that after a `terraform apply`

[2022-08-11 15:18] thenom commented on #1208
Ok, yeh cheers, makes sense about the change of the `name` when `path = ""`.

As a side though, if `PUT {"name": "anything"}` is forbidden via API\Access Token then maybe this should never be attempted as i guess this would be the outcome if someone did change the name.  Obviously not tested this but separate issue if it is.  Cheers again @timofurrer

[2022-08-11 15:20] #1208 closed

[2022-08-11 15:25] timofurrer commented on #1208
@thenom You are welcome, happy to help!

I've just checked and generally changing the `name` using the API should be possible. What kind of a token are you using? Maybe it doesn't have enough permissions?

[2022-08-11 16:28] bxscif commented on #1137
Any update on this?

[2022-08-11 23:39] dschaaff commented on #1132
I always get the  response in this order

[code]

This always has the group before the maintainers access level. If I switch my terraform resource to match that order, like below, then I no longer receive a diff on every apply.

[code]

The storage in the state file matches the order I put the deploy access levels in my resource. Here is what the state looked like originally

[code]

The key for n

[2022-08-12 06:45] timofurrer commented on #1132
@dschaaff thanks for the confirmation! Yes, indeed that's a bug - the order you define your deploy_access_levels in shouldn't matter.

[2022-08-12 07:46] thenom commented on #1208
Its a group access token with full permissions.  I guess it's possible that group access tokens have different 'full' rights that other forms of auth and possibly doesnt have this but that's a bit of a minefield in Gitlab (job token, group token, project token, user token, etc...).  I would have thought it would though.

[2022-08-12 07:48] timofurrer commented on #1137
I haven't had time unfortunately for that, yet. The offer still stands for a review ...

[2022-08-15 12:21] #1132 closed

[2022-08-15 14:10] doriandekoning opened #1213 "Feature request: Support for feature flags (and feature flag user lists)"
### Feature Description

It seems like [feature flags](https://docs.gitlab.com/ee/api/api_resources.html) and feature flag user lists are not supported yet, this would be immensely useful for us.

I could create a pull request myself to implement them.

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-08-15 17:34] johnfeeney commented on #503
The aforementioned API work is now complete and live on GitLab.com. Coming to self-managed GitLab in release 15.3.

[2022-08-16 16:45] PhilCorney opened #1214 "Request for GitLab support of SAML Group Links"
### Feature Description

GitLab now supports [SAML Group Link through the API](https://docs.gitlab.com/ee/api/groups.html#add-saml-group-link)
Please can this be added to the provider to enable automation?
Many thanks

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-08-17 12:13] PhilCorney commented on #1214
Fantastic
thank you @timofurrer and @mhodgson

[2022-08-17 15:39] timofurrer commented on #792
In case anyone is interested to discuss some mitigation for the protecting the default branch: https://github.com/gitlabhq/terraform-provider-gitlab/pull/1216

[2022-08-17 15:39] timofurrer commented on #671
I've made a proposal for how to support this with very low effort and I'm describing the current issue in the PR in case anyone is interested in a discussion: https://github.com/gitlabhq/terraform-provider-gitlab/pull/1216

[2022-08-17 19:18] bgadberry-gitlab commented on #680
220 seat, Ultimate customer requesting this feature: https://gitlab.my.salesforce.com/0016100001aJso6

Customer's integration with Sumo Logic requires adding a webhook for each GitLab group.

/cc @nagyv

[2022-08-17 19:47] timofurrer commented on #680
@bgadberry-gitlab @nagyv I'll take care of this and if all goes well it'll be available in the next provider release shortly after 15.3 has been released ;)

[2022-08-18 07:53] timofurrer commented on #957
We've implemented a first experimental version of a `gitlab_application_settings` resource which will be released with [v.3.17.0](https://github.com/gitlabhq/terraform-provider-gitlab/milestone/17). We'd appreciate feedback!

[2022-08-18 07:53] #957 closed

[2022-08-18 07:54] timofurrer commented on #1187
We've implemented a first experimental version of a `gitlab_application_settings` resource which will be released with [v.3.17.0](https://github.com/gitlabhq/terraform-provider-gitlab/milestone/17). We'd appreciate feedback!

[2022-08-19 12:04] timofurrer commented on #605
@Jasper-Ben would you have some time to create an MR from this? I'd be ready to review and eventually merge it for the upcoming v3.17.0 release in a few days?

[2022-08-19 12:54] Jasper-Ben commented on #605
@timofurrer sure thing!

[2022-08-19 13:21] Jasper-Ben commented on #465
:wave:
Has there been some progress here? :slightly_smiling_face:

[2022-08-19 13:26] timofurrer commented on #465
Not that I know of.

If anyone wants to start with this, please keep the following topics in mind: https://github.com/gitlabhq/terraform-provider-gitlab/issues/869 #1058

[2022-08-19 13:34] flmmartins opened #1219 "ignored import_url: Can't be blank when changing mirrored repository"
### GitLab Provider version

v3.16.1

### GitLab version

GitLab Enterprise Edition 15.3.0-pre

### Terraform version

1.2.3

### Relevant Terraform Configuration

I imported a repository to terraform and now the STATE has some attributes like:

 allow_merge_on_skipped_pipeline                  = false
    analytics_access_level                           = "enabled"
    approvals_before_merge

[2022-08-19 14:27] flmmartins commented on #1219
I was able to workaround this issue by setting all mirror variables as ignore:

[code]

[2022-08-19 14:27] #1219 closed

[2022-08-19 15:32] #605 closed

[2022-08-19 15:48] timofurrer commented on #415
@hobti01 I've just checked and the index access which caused the panic doesn't exist anymore in the few latest provider releases. And instead it actually checks if there is at least one level and would only then use it.

My best guess is that this is resolved - therefore and because there hasn't been any activity after Marks question, I'm taking the liberty to close this :) In case you run into th

[2022-08-19 15:48] #415 closed

[2022-08-19 16:08] timofurrer commented on #853
We've worked a little bit towards this with the `datasourceSchemaFromResourceSchema`, `constructSchema`, `attributeNamesFromSchema`, `setStateMapInResourceData` helper functions.

While there is still a lot of duplication and manual processes I think the major issue is solved - new data sources are usually only a couple of lines.

I'm going to close this.

[2022-08-19 16:08] #853 closed

[2022-08-20 08:20] timofurrer commented on #693
I've just double checked this and actually the `deploy_key_id` support seems to be missing in the upstream API completely. No idea how it made it's way into go-gitlab ...

[2022-08-21 01:53] #671 closed

[2022-08-21 02:02] #1194 closed

[2022-08-22 05:52] #1200 closed

[2022-08-24 09:00] #680 closed

[2022-08-25 07:54] celerons opened #1229 "Request for resource/gitlab_service_youtrack"
### Feature Description

Good day! We are using youtrack integration and using your GitLab provider for terraform
Could you add this functionality also in future releases?

Many thanks

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-08-25 09:40] doniz commented on #671
@timofurrer Hello, I've tested it, but it works partially.

Once you want to change now either `allowed_to_merge` or `allowed_to_push` for `gitlab_branch_protection` resource, it shows the plan as expected:
![Screenshot 2022-08-25 at 12 32 41](https://user-images.githubusercontent.com/4441455/186630891-0412c91f-1dfa-45cf-a7c4-14cbb97d923f.png)

And once I confirm the deployment it shows that resou

[2022-08-25 10:48] timofurrer commented on #671
@doniz thanks for sharing!

Can you run it with `TF_LOG=debug` and post a redacted output here?

[2022-08-25 10:56] timofurrer commented on #671
@doniz The thing with the update in `3.17.0` is that the update logic didn't change at all! Only the create logic and when it's a new resource ...

[2022-08-25 14:21] timofurrer commented on #671
@doniz I'm struggling to reproduce this. What I notice is that your "destroy" log mentions `(deposed object ...)` which AFAIK only happens because of a `create_before_destroy` lifecycle configuration. Do you have something like this present? ... or I think if there was a prior error while creating or destroying that resource. Would that ring a bell for you?

Also see this docs for reference: https

[2022-08-25 14:30] hulquest commented on #1182
@timofurrer This was a bug/change in GitLab that deprecated `build_coverage_regex` which affected the TF state.  The admins of our internal instance applied a patch that remove the attribute from the api.  Once I a plan/applied against the patched version, the plan is once again clean.

This [commit](https://gitlab.com/gitlab-org/gitlab/-/commit/3ae30673b9a9905de9babe3f0c1cf515d4c9805d) resolved t

[2022-08-25 14:30] #1182 closed

[2022-08-25 14:31] doniz commented on #671
@timofurrer you directed me to the correct way. I do really have `create_before_destroy`, however not on the `gitlab_branch_protection`, but on the `gitlab_project_approval_rule` and looks like that:

[code]

which means it depends on the `gitlab_branch_protection` and must be created first before it destroys... Ohhhh, uncommenting it just helped out. My fault. Thank you for your help 👍

[2022-08-25 14:33] doniz commented on #671
This is the output now I see:

[code]

[2022-08-25 14:39] timofurrer commented on #1182
@hulquest thanks for the update though!

[2022-08-25 16:15] PatrickRice-KSC commented on #1213
I think the right issue link for go-gitlab is here: https://github.com/xanzy/go-gitlab/issues/1526 🙂

[2022-08-25 17:06] switchboardOp opened #1230 "gitlab_repository_file resource cant update/overwrite existing files"
### Feature Description

When trying to update a file which isn't already in TF state using the `gitlab_repository_file` resource the provider produces the below error:

[code]

It may go against conventional Terraform wisdom to modify existing resources without first importing them to state, but this could be very handy for bringing a large number of files under management by Terraform. My use ca

[2022-08-25 18:41] triceras commented on #1230
This is also happening with me where I can not overwrite the file already created using the tf resource `gitlab_repository_file`. I fix for this would be very much appreciated !

[2022-08-25 21:18] switchboardOp commented on #1230
In terms of the client library being used it looks like a difference between calling [CreateFile](https://github.com/xanzy/go-gitlab/blob/f4f54fa4a42d2004e5b269921578bfe529ab19a0/repository_files.go#L278-L301) and [UpdateFile](https://github.com/xanzy/go-gitlab/blob/f4f54fa4a42d2004e5b269921578bfe529ab19a0/repository_files.go#L278-L301)

[2022-08-26 08:48] doriandekoning commented on #1213
Woops you're right! I've opened an mr there (some time ago), I'll implement this using my fork but we'll have to wait until that one has been merged until we can merge it here.

[2022-08-26 11:04] timofurrer commented on #1230
I remember that we've had this discussion before when I actually proposed such an attribute when initially implementing the resource (see https://github.com/gitlabhq/terraform-provider-gitlab/pull/724#discussion_r724117228). However, we've dropped it, since the proper terraform process is to import resources first (as you've correctly stated @switchboardOp ) (and that's also why it's not really a

[2022-08-27 11:32] timofurrer commented on #174
This is one of the oldest open requests without really any activity.

@ggPeti is this still something you would like to have supported in the provider? Could you elaborate on your use case a little bit? As @sudoapt-getclean already mentioned I'm not sure if it really fits the "Terraform use-case" ... however, I'm open to be convinced 😊

[2022-08-27 11:34] timofurrer commented on #241
Because there wasn't any update on this issue and the problem statement can most likely be solved with the `gitlab_repository_file` resource I'm taking the liberty to close this issue. Please create a new one if this is still something people would want to see. I'd also be curious about the ideas for all the CRUD functions of a commit.

[2022-08-27 11:34] #241 closed

[2022-08-27 11:42] timofurrer commented on #1027
I came to the conclusion that this will be not worth to implement - the effort is too big for what we'll gain. I'm going to close it.

[2022-08-27 11:42] #1027 closed

[2022-08-27 12:55] ggPeti commented on #174
Hey @ti, thanks for following up!
At the moment I'm not needing this functionality any more, but afaik Google Cloud Functions takes a zipball as input. So this feature could be used in defining a cloud function with code hosted on GitLab.

[2022-08-29 10:55] mtneug opened #1233 "`public_builds` is always read as `false`"
### GitLab Provider version

v3.17.0

### GitLab version

GitLab Enterprise Edition 15.1.2-ee

### Terraform version

v1.2.8

### Relevant Terraform Configuration

[code]

### Relevant log output

_No response_

### Description

Changing `public_builds` from `true` to `false` does not work. This is because the GitLab API changes the name of this field to `public_jobs` in the response. `PublicBuild

[2022-08-29 18:28] mtneug opened #1237 "`name_regex_delete` always detects changes"
### GitLab Provider version

v3.17.0

### GitLab version

GitLab Enterprise Edition 15.1.2-ee

### Terraform version

v1.2.8

### Relevant Terraform Configuration

[code]

### Relevant log output

_No response_

### Description

`name_regex_delete` is set correctly, but a second run detects it changed. The GitLab API actually returns this under the name `name_regex` instead of `name_regex_delete`,

[2022-08-29 19:25] PatrickRice-KSC commented on #1237
hey @mtneug  - This looks like it's actually a bug with the upstream library we use for managing the API calls, specifically here: https://github.com/xanzy/go-gitlab/blob/master/projects.go#L165. I haven't tested and confirmed the behavior you note, but it would certainly make sense based on what's coded in the project.

Would you mind creating the bug upstream and link it here? Once the go-gitlab

[2022-08-29 19:59] PatrickRice-KSC commented on #1233
This isn't quite as bad as it seems at first glance to fix. I did some testing on a 15.0+ gitlab instance, and "public_jobs" is accepted as both a parameter and provided as a response. Since public_jobs and public_builds are synonyms in this case, we should be able to resolve the bug by updating the go-gitlab library upstream to use the proper verbiage and translating that to the `public_builds` p

[2022-08-29 23:54] PatrickRice-KSC commented on #1230
@timofurrer  - I'm kinda with you that I don't love the possible use-case. Like you say, the only truly terraform-like case for using the resource like this would be using it on top of a templated project. However, I usually try and avoid judgement on whether something is terraform-like or not when talking about the provider, so let's set that aside.

Do you know if using the POST option (and ther

[2022-09-01 15:10] sandeepanumula92 opened #1241 "Unable to perform Update Operations on Gitlab projects from 3.16.0 version onwards"
### GitLab Provider version

3.16.0

### GitLab version

14.9.2-ee

### Terraform version

0.13.4

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

We are trying to update the gitlab project settings through terraform but it fails with PUT 403 forbidden error from 3.16.0 version onwards

We are able to perform the same the operations manually using co

[2022-09-02 20:54] pderckx commented on #1200
Does anyone maybe have a running example with this templates? I think I'm running in a quite similar issue but even with the example from new documentation I'm getting an error.

`77│ Error: error while waiting for project "values" import to finish: unexpected state 'failed', wanted target 'finished'. last error: %!s(<nil>)`

I describe it here: https://stackoverflow.com/questions/73582900/crate-g

[2022-09-05 17:50] #1214 closed

[2022-09-05 21:04] iabouelyazed opened #1245 "unable to create new groups using gitlab.group"
### GitLab Provider version

3.15.1

### GitLab version

14.9.4

### Terraform version

1.1.9

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

when creating new group using gitlab terraform module i get error mentioned in logs above .. tried even simple parameters by passing name and path still same issue so not sure where could be the problem

[2022-09-05 21:11] iabouelyazed commented on #1245
please ignore i think this is related to recent changes done to nginx on gitlab side

[2022-09-05 21:11] #1245 closed

[2022-09-07 12:29] PatrickRice-KSC commented on #547
Removing stale unless we want to let this close and handle in individual resource comments because we have a pattern for GraphQL that's "good enough" for now.

WDYT @timofurrer ?

[2022-09-07 13:58] gabrieloandco opened #1246 "Gitlab access token broken on >3.16.1"
### GitLab Provider version

### GitLab version

GitLab Enterprise Edition 14.1.7-ee

### Terraform version

v1.1.5

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Gitlab providers fails on creating access tokens on newest versions,  workaround was to roll back the version to 3.16.1

[2022-09-12 04:35] Shocktrooper commented on #1246
Hello @gabrieloandco apologies but the version of GitLab you are using is out of our support range which matches GitLab with only supporting the previous 3 minor releases (As of this comment is 15.1, 15.2, 15.3).

That being said if you are to keep on the older version of GitLab a workaround for you would be to alias the resources that are not working to the 3.16.1 version of the provider or which

[2022-09-12 04:35] #1246 closed

[2022-09-12 04:43] Shocktrooper commented on #1241
Hello! @sandeepanumula92 apologies but the version of GitLab you are using is out of our support range which matches GitLab with only supporting the previous 3 minor releases (As of this comment is 15.1, 15.2, 15.3).

With the `gitlab_project` resource and a few others there were some changes made in the newer versions of the provider to support the ongoing changes that GitLab themselves made with

[2022-09-12 04:43] #1241 closed

[2022-09-12 04:46] Shocktrooper commented on #1233
Upstream work has been completed so removing go-gitlab label

[2022-09-12 04:54] Shocktrooper commented on #1111
@wr37ch @timofurrer  I have not ran into this issue as of 15.1 so with that being said I believe we can close this out if no one has any objections.

[2022-09-12 04:59] Shocktrooper commented on #672
Closing issue as no further feedback was added from end users

[2022-09-12 04:59] #672 closed

[2022-09-12 06:53] wr37ch commented on #1111
Yep, cannot see that issue with 3.16. Thanks, we can close it.

[2022-09-12 12:30] Shocktrooper commented on #1111
@wr37ch Once you upgrade to 15.x it should be all good to go.  That is when I saw my issues dissappear.

[2022-09-12 20:59] #1111 closed

[2022-09-13 14:01] SomaGallai opened #1247 "Cannot manage already existing projects"
### GitLab Provider version

3.18.0

### GitLab version

GitLab Enterprise Edition 15.4.0-pre b9548e306fe

### Terraform version

Terraform v1.2.6

### Relevant Terraform Configuration

_No response_

### Relevant log output

[code]

### Description

When doing `terraform apply` to manage already existing GitLab projects it throws an error 400 as the name has already been used. I am not trying to

[2022-09-13 14:40] timofurrer commented on #1247
Yes, this is absolutely possible with this provider.

 However, what you are looking for are Terraform imports, which [migrate existing infrastructure to be managed by Terraform](https://www.terraform.io/cli/import#:~:text=Terraform%20is%20able%20to%20import%20existing%20infrastructure.%20This%20allows%20you%20take%20resources%20you%27ve%20created%20by%20some%20other%20means%20and%20bring%20it%20u

[2022-09-14 02:46] PatrickRice-KSC commented on #1233
@Shocktrooper  - We should probably add a new test to the provider for this, just to ensure it's fixed. However, it _should_ "just work" now, I think.

[2022-09-14 07:39] SomaGallai commented on #1247
Thank you very much for the explanation, I would like to ask if there is any faster way to import a lot of projects or does it have to be this one-by-one?

[2022-09-14 07:43] timofurrer commented on #1247
No, there isn't something out of the box. Depending on your situation a little scripting with curling the GitLab API and passing it to tf imports may help :)

[2022-09-14 07:48] #1247 closed

[2022-09-15 12:17] pascal-hofmann opened #1248 "Add suggestion_commit_message to gitlab_project(s) resource/datasources"
### Feature Description

Add `suggestion_commit_message` to gitlab_project(s) resource/datasources

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-09-15 12:54] pjastrzabek opened #1250 "Cannot delete project on gitlab ultimate"
### GitLab Provider version

_No response_

### GitLab version

_No response_

### Terraform version

_No response_

### Relevant Terraform Configuration

_No response_

### Relevant log output

[code]

### Description

Gitlab with Ultimate license introduces [delayed project deletion](https://docs.gitlab.com/ee/user/project/settings/#delayed-project-deletion)

After deleting project it's not real

[2022-09-15 13:14] pascal-hofmann commented on #1248
I just noticed that I mixed up the field names in my initial commit message. This is fixed now. 😓🙈

[2022-09-15 14:57] rj93 opened #1251 "gitlab_service_slack does not support groups"
### Feature Description

It is possible to configure slack notification at a group level using the UI, however the current `gitlab_service_slack` does not support groups.

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-09-16 04:03] #1025 closed

[2022-09-16 07:41] czomo commented on #1090
Did you find any workaround for this? How would filtering archived projects would work?

[2022-09-16 08:13] timofurrer commented on #1250
Multiple things here:

So it wouldn't work to change the group setting to delete it immediately?

![image](https://user-images.githubusercontent.com/1008252/190589542-ad76f927-59ed-4d61-8904-121ab1742fa1.png)

Unfortunately, the GitLab upstream API doesn't yet support to configure that - however, it's inherited from the parent group, up to the instance level where the delayed group removal is actu

[2022-09-16 08:44] timofurrer commented on #1233
It would be awesome if any of you could add a test to verify this 😇

[2022-09-16 09:31] aarmstrong-gel commented on #1090
From what I've understood you'll be denied access to the variable (now set to readonly) when archiving a project. You could look at your workflow to manage that. E.g. ensure the variables are removed from state before archiving or use an external vault (hashi, aws secrets man etc) would be paths I'd look down without knowing your use case.
I'd suggest opening a new issue if there are any specifics

[2022-09-19 10:12] coutantal commented on #303
+1 for this feature. It seems that [92604](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/92604) has been merged !

[2022-09-19 13:21] 4anwar opened #1253 "400 {message: '40' is not a valid access_level}"
### GitLab Provider version

3.18.0

### GitLab version

15.3.2-ee

### Terraform version

1.2.9

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

i can create group link manually and through api
but with terraform it gives this error

[2022-09-20 08:50] octopus20 opened #1255 "Documentation includes unsupported argument"
### GitLab Provider version

3.18.0

### GitLab version

_No response_

### Terraform version

1.2.9

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

In provider documentation [here](https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/group_saml_link) the resource uses `group_id` to link saml group with gitlab group, but aft

[2022-09-20 08:58] timofurrer commented on #1253
Unfortunately, the interface changed from 15.3.0 to 15.3.3 and we only support from 15.3.3 onwards. See the release notes [here](https://about.gitlab.com/releases/2022/09/05/gitlab-15-3-3-released/#:~:text=Changed%20POST%20API%20saml_group_links%20to%20accept%20acccess_level%20as%20integer)

[2022-09-20 08:58] #1253 closed

[2022-09-20 09:02] timofurrer commented on #1255
Unfortunately, the example in the docs is wrong. Supported is `group` and not `group_id`.

Thanks for the report! I've fixed it in #1256 🎉

[2022-09-20 12:44] l-with opened #1257 "retrieve all GitLab groups by data source gitlab_groups"
### Feature Description

By now with the terraform provider it is not possible to retrieve all (or filtered) GitLab groups (like users).
Thus it is not possible to change the configuration for all (or filtered) GitLab Groups.

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-09-21 06:16] BastienFerrier opened #1258 "Passing provider to grand child module gives error"
### GitLab Provider version

3.16.1

### GitLab version

_No response_

### Terraform version

_No response_

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Hello all,

I'm posting here an error I get from Terraform while trying to cascade providers to modules.

I'm using several providers to build my state :
- AWS
- GitLab
- Others

I'm provisionin

[2022-09-21 07:44] timofurrer commented on #1258
How did you declare the `gitlab` provider in the `module.dev-dev` ? From the error message it seems you either didn't (defaulted to `hashicorp/<x>`) or you manually specified `hashicorp`. However, the provider is in the `gitlabhq` org.

Something like the following in the module will probably help:

[code]

`aws` and others may work because they are actually published in the `hashicorp` org.

[2022-09-21 08:39] timofurrer commented on #1258
@BastienFerrier Is that how it is defined in the sub module to which you want to pass `gitlab` to?

[2022-09-21 20:00] millouzgc opened #1259 "dial tcp no such host behind a vpn"
### GitLab Provider version

3.18.0

### GitLab version

GitLab Community Edition 14.0.10

### Terraform version

1.2.9

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Hello, I have the error in the new version 3.18.0 during the plan while in the same conditions with version 3.17.0, I do not have the problem.

I have the problem only behind our VPN.

[2022-09-22 16:46] Shocktrooper commented on #1259
I have not dived into this but it appears you are using a very old version of GitLab.  The provider is updated to keep up with the support schedule of GitLab which is the previous three releases (15.2, 15.3, 15.4 as of this comment).  With that said if you are not able to upgrade you can pin a previous version of the provider that works for your installation.

[2022-09-24 03:57] #1042 closed

[2022-09-26 12:30] nodomain opened #1260 "Deleting a managed file from the repo leads to Terraform error"
### GitLab Provider version

3.18.0

### GitLab version

Gitlab CE 15.3.2

### Terraform version

Terraform v1.3.0 on darwin_arm64

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

We use `terraform-provider-gitlab` to maintain default settings and files on a two digit list of repositories within a group.
During repo creation we add a default `index.h

[2022-09-27 12:47] jcoelho93 opened #1262 "Maintainers cannot update projects"
### GitLab Provider version

3.18.0

### GitLab version

GitLab Enterprise Edition 15.3.3-ee

### Terraform version

Terraform v1.3.0 on linux_amd64

### Relevant Terraform Configuration

_No response_

### Relevant log output

[code]

### Description

So I've reported [this bug](https://gitlab.com/gitlab-org/gitlab/-/issues/375033) (or at least I believe it to be a bug) on GitLab. It prevents pro

[2022-09-28 08:45] tvannahl opened #1263 "Add support for group "permissions and group features""
### Feature Description

On gitlab.com in a root group you can find under "Settings -> General -> Permissions and group features" important settings like

- _Members cannot invite groups outside of […] and its subgroups_
- _Users can greate project access tokens and groups access tokens_ in this group
- _Deletion protection_
- _Restrict membership by email domain_
- _All users in this group must s

[2022-09-29 12:38] pazderak opened #1265 "Implement enabling and disabling of project in Gitlab runner"
### Feature Description

For shared runners, it would be great to have a logic how to enable/disable that runner for the particular project.
My idea is to create new resource, `gitlab_runner_project_association`, calling `POST /projects/:id/runners` and `DELETE /projects/:id/runners/:runner_id` REST API endpoints.

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-09-29 12:41] doriandekoning commented on #1213
Unfortunately, I still haven't had any response to my merge request over at the go-gitlab package.

[2022-09-29 22:48] dschaaff opened #1266 "perpetual diff in protected environments when deploy_access_levels does not exactly match order of api response"
### GitLab Provider version

3.18.0

### GitLab version

gitlab.com

### Terraform version

1.3.1

### Relevant Terraform Configuration

[code]

### Relevant log output

_No response_

### Description

As noted in #1132 Terraform will always show that it needs to recreate the protected environment if the order of deploy_access_levels blocks do not exactly match the order returned by the /projects/

[2022-09-30 14:13] SomaGallai opened #1267 "unprotect_access_level is getting performed no matter what"
### GitLab Provider version

3.18.0

### GitLab version

GitLab Enterprise Edition 15.5.0-pre 5f65f1382ea

### Terraform version

Terraform v1.3.1 on darwin_arm64

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Our default repository configuration is to protect branches and allow no one to change them. I understand the API set this value to be maint

[2022-10-04 07:17] SomaGallai commented on #1262
We are facing the same issue. Maintainer access token is not sufficient enough to manage already existing GitLab projects.

[2022-10-04 09:40] czomo opened #1269 "Archived project are not properly handled by provider"
### GitLab Provider version

3.18.0

### GitLab version

Gitlab 15.4 SaaS

### Terraform version

1.3.1

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

We have all gitlab project described using terraform-provider-gitlab v3.18.0. Before we set some of the project to archived they have been setup with protected branches,schedules and so on. Configura

[2022-10-04 12:58] LaneWolf commented on #1262
Same issue for me. Maintaining several repos where I'm just maintainer and can't do any change on the repo at the moment.

[2022-10-10 08:38] antyung88 commented on #1230
This is a different issue but would be great to `-o ci.skip` to disable CI run as well as overwrite working ;)

[2022-10-11 02:04] ixolt opened #1273 "Resource 'gitlab_project_protected_environment' option 'deploy_access_levels' continuously applies"
### GitLab Provider version

3.18.0

### GitLab version

Gitlab Ultimate

### Terraform version

1.3.1

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Because API `https://gitlab.com/api/v4/projects/****/protected_environments` returns a list of deploy_access_levels in format "Last at first". Terraform will try to apply these changes continuously

a

[2022-10-11 12:49] timofurrer commented on #1269
Can you please post a `TF_LOG=debug` output? I'm confused why the error refers to the `pipeline_schedules` endpoint ...

[2022-10-11 13:35] dhrapson opened #1274 "Support gitalb_branch_protection"
### Feature Description

`gitalb_branch_protection shou

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-10-11 15:17] xavmeyer opened #1275 "Project"
### GitLab Provider version

3.16.0+

### GitLab version

Gitlab 15.3.3-ee

### Terraform version

Terraform 1.2.9

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Creating a `gitlab_project` resource with `var.settings["template_name"]` being unset, and thus,
- `use_custom_template = ""`
- `template_name=null`
results in a error 500 from gitlab when

[2022-10-11 21:23] NK74 commented on #1062
+1

[2022-10-13 10:11] pderckx commented on #1275
I encounter the same problem. I have the following structure

- services
  - templates
    - values_tempalte    <--- the template I want to use vor the repository "values" below
  -  test_tf_bb_4
    - values     <---- the repository what should be created with the template

Unfortunately I got this error message. The group "templates" is correctly setup as a template group. I can do this manually

[2022-10-13 12:47] pderckx commented on #1275
I now used a access token from my personal user and not the group access token. With the user it worked for me! I would suggest to put the error message here into an upper level log (higher then trace).

[2022-10-13 15:30] czomo commented on #1269
Update just for visibility: After consultation with Timo I've created issue in main gitlab repo https://gitlab.com/gitlab-org/gitlab/-/issues/377537

[2022-10-14 07:40] pderckx commented on #1275
I deleted an additional statement above. I have found additional things and I think in the issue report from the top this could be the same.

These parameters are working not fine:

[code]

I enter the parameters from a list. And I think it ignores the first parameters, when it is set to false. This happened at my tests:

use_custom_template   | template_project_id   |   result
false | null | erro

[2022-10-14 12:03] timofurrer commented on #1262
@jcoelho93 @SomaGallai @LaneWolf did this work for you for older GitLab versions?

[2022-10-14 12:06] timofurrer commented on #1259
I don't see any change between 3.17.0 and 3.18.0 which would "obviously" lead to that behavior. Could it be that your VPN blocks somethings?

Does it really "always" break for 3.18.0 and "never" for 3.17.0 ?

[2022-10-14 12:16] timofurrer commented on #1273
Duplicate of #1266

[2022-10-14 12:16] #1273 closed

[2022-10-14 12:28] timofurrer commented on #1267
The `no one` value was simply missing from the list of allowed values for the `unprotect_access_level` attribute.

I've added it in #1278 and it will be available in the next release.

[2022-10-14 13:38] jan-di-cgm opened #1279 "Data source for User SSH Keys"
### Feature Description

There is a [resource](https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/user_sshkey) `gitlab_user_sshkey` to manage the SSH public keys of a user.

I would like to have a corresponding data source to get the existing ssh public keys of a user.
Currently, the keys are available via the HTTP endpoint `/<username>.keys` but I would like to fetch th

[2022-10-14 16:07] millouzgc commented on #1259
Hello, yes, it blocks all the tests

[2022-10-15 08:33] psyhomb commented on #1119
This is still ongoing issue.

[2022-10-15 23:55] jcoelho93 commented on #1262
I haven't tested it on older versions.

[2022-10-16 03:57] #1083 closed

[2022-10-17 06:54] SomaGallai commented on #1262
I haven't tested it on older versions either.

[2022-10-17 07:52] #1248 closed

[2022-10-17 09:25] timofurrer commented on #1112
We've made the switch to Meetup.com events under the official [GitLab Group](https://www.meetup.com/gitlab-virtual-meetups/). The events are named **Terraform Provider Office Hour Call**.

For example the next one is [this](https://www.meetup.com/gitlab-virtual-meetups/events/289046562/).

I'm going to close this :)

[2022-10-18 16:15] dhrapson opened #1283 "Support 'Skip outdated deployment jobs' in gitlab_project"
### Feature Description

In the Gitlab UI there is a 'Skip outdated deployment jobs' setting that I think is not manageable via Terraform. We would like it to be so.

Perhaps there could be a `skip_outdated_deployment_jobs` attribute on `gitlab_project` for this.

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-10-19 09:53] timofurrer commented on #445
FYI: we are actively working on planning and probably soon-ish execute the migration of this repository over to GitLab. You can follow the process here: https://gitlab.com/groups/gitlab-org/configure/-/epics/10

I'll be posting information here to keep you all up to date. Please, as always, don't hesitate to reach out if you have any doubts, comments or anything else 🤝

[2022-10-19 11:34] Aymen2518 opened #1284 "gitlab_group_saml_link mistake in attribute documentation"
### GitLab Provider version

3.18.0

### GitLab version

15.5

### Terraform version

Terraform v1.2.9

### Relevant Terraform Configuration

_No response_

### Relevant log output

[code]

### Description

There is a small mistake in the documentation here in this page https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/group_saml_link with the `gitlab_group_saml_link`,

[2022-10-19 13:39] jabbar-khan opened #1285 "Inconsistency in approval groups being added to merge request approvers"
### GitLab Provider version

3.13.0

### GitLab version

GitLab Enterprise Edition 15.5.0-pre

### Terraform version

1.1.2

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Team/group_ids are not being added to approval rules as part of our project's mr_approval_rules, we have seen inconsistency in the rules being applied, after running the terraform

[2022-10-21 13:27] flmmartins opened #1286 "Issue assigning permissions with gitlab_group_membership"
### GitLab Provider version

1.38.0

### GitLab version

GitLab Enterprise Edition 15.6.0-pre

### Terraform version

1.2.3

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

When trying to add a single user in a group in terraform during apply it says: User Not Found.

Looking at terraform DEBUG we can see it makes the request call with:

[code]

That

[2022-10-21 16:43] jfuller28495 opened #1287 "creating a gitlab branch results in a 500 Internal Server Error"
### GitLab Provider version

13.15.0

### GitLab version

Gitlab 15.4.2 version ee

### Terraform version

1.3.3

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

I'm unable to create branches via terraform after this latest version update, every attempt throws a 500 internal server error. I walked through the existing Gitlab provider versions startin

[2022-10-21 20:37] benoit-parmentier-2 commented on #1286
I noticed the same problem.

[2022-10-23 14:35] elthariel opened #1288 "registry scopes not supported for project acces token resource"
### Feature Description

The `gitlab_project_access_token` resource currently only allows the following scopes to be defined on the token:

- api
- read_api
- read_repository
- write_repository

But the [official gitlab api documentation](https://docs.gitlab.com/ee/user/project/settings/project_access_tokens.html#scopes-for-a-project-access-token) lists 2 additional supported scope:

- read_regist

[2022-10-24 09:17] happicamper commented on #1286
I noticed this issue as well when trying to add a new user to one of our groups today.
`Error: POST https://gitlab.com/api/v4/groups/xxxx/members: 404 {message: 404 User Not Found}`
I'm pretty sure the code is working in the past weeks.

[2022-10-24 14:45] benoit-parmentier-2 commented on #1286
It seems fixed.

[2022-10-24 17:36] #1260 closed

[2022-10-24 17:37] #1255 closed

[2022-10-24 18:15] nodomain commented on #1260
Awesome, thanks!

[2022-10-25 08:19] happicamper commented on #1286
I can confirm that this is now working as well.

[2022-10-25 13:44] CollenK commented on #1286
Hi all, does anyone know what the root cause of this was? Do we know when/how it was fixed yet?

[2022-10-25 15:53] rpetti opened #1295 "gitlab_user_identity provider"
### Feature Description

Currently there is no resource that can manage user identities, which is required for provisioning users that use external authentication. Ideally, there should be a new resource for managing user identities:

Proposed resource example:
[code]

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-10-26 08:54] declension opened #1297 "Support group badges"
### Feature Description

Following on from #487, it would be great to support badges at the group level.

For consistency doing things at a group level where relevant is always easier IMO and this is how we try to do things.

I imagine the implementation would look much like the existing pattern for project-level badges (except `gitlab_group_badge` I guess)

### Do you want to implement this?

- [

[2022-10-26 10:35] hungluong5791 opened #1298 "Allow gitlab_user_sshkey to manage current user SSH key"
### Feature Description

Right now `gitlab_user_sshkey` are mapped to the [Add SSH key for user](https://docs.gitlab.com/ee/api/users.html#add-ssh-key-for-user) API, which is available only for administrator.

Could we also extend this resource to also cover the [Add SSH key](https://docs.gitlab.com/ee/api/users.html#add-ssh-key) API which is available for any user to add their own SSH key as well

[2022-10-26 15:24] PatrickRice-KSC opened #1299 "Add a note to CONTRIBUTING.md about m1 macs"
### Feature Description

Currently the EE container for GitLab has issues running on m1 macs because there is no native ARM container. We should add a note to our contributing file noting we're aware of this, and we suggest using GitPod to work around it.

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-10-27 02:40] PatrickRice-KSC opened #1301 "Update test matrix to new GitLab versions"
### Feature Description

This issue will update the test matrix to the newly released versions of GitLab.

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-10-27 02:53] PatrickRice-KSC opened #1303 "Add an "examples" folder that contains several examples of how to use the provider"
### Feature Description

It was mentioned in our community hours that it would be great to see a couple examples of how to use the terraform provider to setup some common use-cases with GitLab. A couple ideas of examples:

- How can I use the provider to setup groups/projects for my group?
- How can I use the provider with K8S to setup my projects?
- How can I use the provider to set up a GitLab r

[2022-10-27 23:56] PatrickRice-KSC commented on #1301
@nagyv | @timofurrer | @armsnyder  | @Shocktrooper   - The reason most of the actions are failing, after some examination, is because our license we use for our GitLab is expired 😨 . Just to confirm, I dug back into the PR submitted to change it, and @armsnyder  did indeed mention it expired in August 2022.

@nagyv - would you be able to get us a new ultimate license generated, so we can get that

[2022-10-28 08:46] timofurrer opened #1304 "Renew Ultimate testing license"
The Ultimate testing license expired - so the EE acceptance tests are failing.

I'm working on getting a new license.

[2022-10-28 09:35] timofurrer commented on #1301
I've completely missed that comment, but yes, I can confirm and noticed that, too. See #1304 .

I'm working on getting the license and I'll update the repo asap.

[2022-10-28 09:44] timofurrer commented on #445
**(maybe) Action Required**: In order for your user names to be matched correctly the public facing email addresses on GitHub and GitLab must match, as described [here](https://docs.gitlab.com/ee/user/project/import/github.html#prerequisites). If you want your user to correctly be referenced on the new GitLab repository, please make sure this works. You can also verify this by importing one of you

[2022-10-30 19:33] Shocktrooper commented on #1287
@jfuller28495 not sure if this could be it but there were some changes to initializing with readme made recently and I wonder if this affected your initialization.  I have not ran into this myself on the latest version of GitLab and the provider but I can try sometime later.  Before that happens if you could find the 500 error in your logs that should tell you more about the issue you are having.

[2022-11-02 08:48] Jac2NL opened #1309 "Missing parameter to prevent overrides of default branch protection"
### GitLab Provider version

3.18.0

### GitLab version

GitLab EE 15.5

### Terraform version

Terraform v1.2.8 on linux_amd64

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Instance-level protections for default branches can be overridden on a per-group basis by the group’s owner. In GitLab Premium or higher, self-hosting GitLab administrators ca

[2022-11-02 13:34] timofurrer commented on #1304
I've renewed the license and we should be good for now!

[2022-11-02 13:34] #1304 closed

[2022-11-02 13:52] BornToBeRoot opened #1310 "gitlab_application_settings > enabled_git_access_protocol - "nil" results in 400 error"
### GitLab Provider version

3.18.0

### GitLab version

15.5.1

### Terraform version

1.3.3

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

"ssh" and "http" is working, but i can set both protocols.

[2022-11-02 14:03] BornToBeRoot commented on #1310
In the terraform state the value is `"enabled_git_access_protocol": ""`

When i change to `ssh` or `http` the value is set on the instance and in the tf state.

With  `enabled_git_access_protocol = ""` nothing happens
(No changes. Your infrastructure matches the configuration)

With `enabled_git_access_protocol = "nil"` i get the error 400...

[2022-11-02 15:41] jfuller28495 commented on #1287
we think we've sorted this out on our end - it was a buried config in our filehook settings that was preventing adding new branches without certain requirements met, and it was preventing our automation from creating the required branches at initialization time since the automation couldn't place a file and create the branch at the same time like you can from a local IDE. will reopen if this ends

[2022-11-02 15:41] #1287 closed

[2022-11-02 16:08] genei09 commented on #1196
once you add lifecycle ignore for the ref it has to stay there because the state isn't updated.  This makes the inclusion of ref in the state file useless as it will try to destroy the resource you imported.

I can't imagine why someone would want to destroy a branch, possibly loose changes, and recreate it from a different ref.  Especially using Terraform to do it.  You can do this via the normal

[2022-11-03 12:53] BornToBeRoot opened #1312 "rate_limiting_response_text > gitlab_application_settings - Cannot unset text"
### GitLab Provider version

3.18.0

### GitLab version

15.5.1

### Terraform version

1.3.3

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Cannot unset text in "Plain-text response to send to clients that hit a rate limit" after it was set.

Adding a space works: `rate_limiting_response_text = " "`

[2022-11-03 13:58] BornToBeRoot opened #1313 "gitlab_application_settings - Add User restrictions / Allow users to create top-level groups"
### Feature Description

Hi,

can you please add the following option as parameter in `resource "gitlab_application_settings"`:

Settings > General > User restrictions / Allow users to create top-level groups

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-11-03 14:40] BornToBeRoot opened #1314 "gitlab_application_settings > shared_runners_text - Empty text "" results in 400 error"
### GitLab Provider version

3.18.0

### GitLab version

15.5.1

### Terraform version

1.3.3

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Adding a text and unset it is also not possible.

[2022-11-03 16:38] BornToBeRoot opened #1316 "gitlab_application_settings > Lock memberships to LDAP synchronization"
### Feature Description

Please add an option to enable/disable the setting "Lock memberships to LDAP synchronization" under Settings > General > Visibility and access controls

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-11-04 03:41] #427 closed

[2022-11-06 15:43] #1299 closed

[2022-11-06 15:43] #1301 closed

[2022-11-07 00:09] PatrickRice-KSC commented on #445
@timofurrer  - Anything we can help with on the gitlab transition side? I was going to pick up some open issues for work, but figured it may be better to wait on  that until the transition is done.

[2022-11-07 11:18] timofurrer commented on #445
@PatrickRice-KSC no - we are awaiting a few things internally. Hopefully we can start the migration early this week.

[2022-11-07 16:27] BornToBeRoot opened #1318 "gitlab_application_settings > Wrong tfstate for 2 settings"
### GitLab Provider version

3.18.0

### GitLab version

15.5.1

### Terraform version

1.3.3

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

TF state is:

"npm_package_requests_forwarding": false,
"pypi_package_requests_forwarding": false,

In the Web UI both are checked / enabled....

Even after multiple applys it'S not working. (Btw. for a fresh

[2022-11-07 19:09] PatrickRice-KSC commented on #445
Sounds good, just didn't want to leave all the work to you if there was something we could help with!

[2022-11-08 07:40] beanaroo opened #1319 "Project Configuration: Separated CI Cache for Protected Branches"
### Feature Description

Project CI/CD settings have a setting to configuring sharing caches between protected and non-protected branches:

![image](https://user-images.githubusercontent.com/1748909/200502834-489e768e-0feb-41cc-b685-fd60155f11e7.png)

This is already exposed through [xanzy/go-gitlab/projects.go#L129](https://github.com/xanzy/go-gitlab/blob/4ec1dc623eec23f9b09ab295e7a7c6f662ba2860/

[2022-11-09 07:55] timofurrer commented on #445
FYI: today early afternoon UTC we'll start migrating this repository over to GitLab. I'll keep you posted.

[2022-11-09 13:57] timofurrer commented on #445
The repository has been migrated to https://gitlab.com/gitlab-org/terraform-provider-gitlab and we'll proceed with the migration outlined here: https://gitlab.com/gitlab-org/configure/general/-/issues/241#note_1152660972 🎉