[2022-02-05 05:21] armsnyder commented on #427
Many of these are now covered by doc generation and linters. I think we could also add a section to CONTRIBUTING.md similar to [Golang CodeReviewComments](https://github.com/golang/go/wiki/CodeReviewComments) for common code review comments.

[2022-02-05 05:22] armsnyder commented on #205
Still a weak point of our tests

[2022-02-05 09:08] nagyv commented on #445
We plan to focus on the migration after the GitLab 15.0 release.

[2022-02-05 10:12] #841 closed

[2022-02-05 10:16] timofurrer commented on #845
Yes, I agree. We can easily go with a 3.10 - I also don't feel any pressure to do that major release.
The ones I've assigned to 4.0.0 were just for the lack of having another one.

I took the liberty and I created a 3.10 milestone and re-assigned the issues there. I'd still keep the 4.0.0 where we can assign issues for that release, most likely containing those breaking changes in the future.

[2022-02-05 18:42] PatrickRice-KSC commented on #800
I'm starting to investigate this issue.

[2022-02-05 19:33] armsnyder opened #846 "Release 3.9.1"
Hi @nagyv, can we release 3.9.1 soon? We had a regression #841 which we fixed in #843. Changelog is already updated.

[2022-02-06 04:46] armsnyder commented on #119
Done via #318

[2022-02-06 04:46] #119 closed

[2022-02-06 19:29] timofurrer opened #847 "Let's change the default branch to `main`"
It's overdue to change the default branch to `main`.

@nagyv can you change that in the settings?

I can spot a reference to `master` here:

https://github.com/gitlabhq/terraform-provider-gitlab/blob/8cd2568e63320d127d215b1662a926d58186b8a2/.github/workflows/pr-check-conflicts.yml#L10

However, `main` is already included in that list, thus it shouldn't be an immediate problem. However, `master` ca

[2022-02-06 20:03] timofurrer commented on #792
Sounds good, and yes you are right @armsnyder , isn't breaking :)

[2022-02-06 20:07] nagyv commented on #846
Pushed tag. Closing.

[2022-02-06 20:07] #846 closed

[2022-02-06 20:18] armsnyder commented on #847
Incidentally the badges are also referencing workflows that don't exist anymore 🤫

[2022-02-06 20:25] armsnyder commented on #846
@nagyv @timofurrer Could we use `vX.X.X` format for milestones, or is there a particular reason for `X.X.X` format?

It would make the above message prettier and also enable us to work in some more release automation like automatically assigning milestones to closed issues/PRs as in https://github.com/hashicorp/terraform-provider-aws/blob/main/.github/workflows/milestone.yml

Of course we can work

[2022-02-06 20:32] timofurrer commented on #846
Yes, I agree (I'm ok with either way, as long as it's consistent :) )

On Sun, Feb 6, 2022, 9:25 PM Adam Snyder ***@***.***> wrote:

[2022-02-06 20:37] armsnyder commented on #846
Same, only if we stick with `X.X.X` I would want to edit the milestone notify message.

[2022-02-06 20:48] #847 closed

[2022-02-06 20:51] nagyv commented on #846
Sure. I'll try to remember. :)

I prefixed the two open milestones.

[2022-02-07 04:36] PatrickRice-KSC commented on #800
Still working on reproducing locally. Current theory is a potential race condition between project creation and the initial commit behind the scenes. To try and suss out an error condition I've added some debug logging around project/commit times, and I've creating a perpetual loop to literally run the tests until it fails against a local gitlab instance using the following syntax:
[code]
I tend m

[2022-02-07 05:16] PatrickRice-KSC commented on #800
That didn't take a ton of time. It seems like GitLab is applying the branch protection at a given delay after project creation. I added a bit of debugging to the failure state to essentially wait 10s then re-read the branch protection, and it flips to true after the first wait. Likely we just need to add a slight read delay to the check and the test will be stable. Evidence:

[code]

Any issues wi

[2022-02-07 06:27] armsnyder commented on #800
@PatrickRice-KSC Thanks for your findings! I think the proposed fix of sleeping during the test would mask the bug but not address it. If the issue is GitLab needing to update behind the scenes after the API call, then the `resourceGitlabProjectCreate` function needs to be modified to wait for that to finish.

You could add a [WaitForState](https://pkg.go.dev/github.com/hashicorp/terraform-plugin-

[2022-02-07 07:09] #836 closed

[2022-02-07 09:11] #831 closed

[2022-02-07 13:54] PatrickRice-KSC commented on #800
Yep, makes sense. I'll get a PR open for that hers shortly. I'll likely need to add a counter to my loop script so I can let it run for 50-100 loops just so I feel good about it being resolved - it was taking upwards of 20-30 loops to encounter a fail state in my above testing, likely because the load on the instance determines how often the race condition happens and I was only hitting it with a

[2022-02-08 06:16] #631 closed

[2022-02-08 06:53] timofurrer commented on #845
Since, we've created the milestones and everyone kinda silently agreed, I'd say we can close this :)

Please, re-open if you don't think so :)

[2022-02-08 06:53] #845 closed

[2022-02-08 07:12] armsnyder opened #853 "Duplicated code between resources and data sources"
For the data sources that we have, the code is almost entirely duplicated from the corresponding resource. This creates problems:
1. They become out of sync (For example, someone adds an attribute to a resource without updating the data source).
2. Managing a data source for each resource is a large enough burden that we usually do not do it.

This is especially egregious for large resources like

[2022-02-08 18:10] timofurrer commented on #712
I'm going to close this for now. Let's create a new one if it appears again in the latest release.

[2022-02-08 18:10] #712 closed

[2022-02-08 18:38] timofurrer commented on #692
We could probably easily fix this if some waiting conditions / retry logic.

However, I think it's best to get some details on how the Group API is supposed to work. I've created https://gitlab.com/gitlab-org/gitlab/-/issues/352299 for that.

Let's see ...

[2022-02-08 19:07] timofurrer commented on #629
I doubt that it's related to #696 - see https://github.com/gitlabhq/terraform-provider-gitlab/issues/696#issuecomment-1032958528.

I'm unable to reproduce this, neither what @cmd-werner-diers nor @kiran14-02 reported.

Do you still face that issue with the latest GitLab release and the latest provider?

[2022-02-08 19:20] timofurrer commented on #507
@krotscheck  when I tried to reproduce your issue with the terraform code you've provided I have the same behavior. However, the reason for that seems to be the `expires_at` date, which is way in the past and therefore I can only assume that GitLab is not listing it in the `Active Deploy Tokens` section, because it's in fact not active, but expired.

Using a timestamp in the future correctly shows

[2022-02-08 19:20] #507 closed

[2022-02-08 20:24] timofurrer commented on #452
The problem here is that without `GetOkExists()` (which is deprecated) there isn't a way to check if a boolean attribute has been set to the default or set by the user to the same value as the default, which in our case is required, because the upstream API `archived` field actually has three states, too: `not set` (filter for all projects neglecting the `archived` state`), `true` (only filter for

[2022-02-08 20:26] timofurrer commented on #452
... or we just make the attribute a `schema.TypeString` and one has to use `true` / `false` as strings?

[2022-02-08 20:31] timofurrer commented on #287
I'm going to close this for now. If it comes up again, please let us know! 🎉

[2022-02-08 20:31] #287 closed

[2022-02-08 20:34] timofurrer commented on #524
This has been fixed with #555.

[2022-02-08 20:34] #524 closed

[2022-02-08 20:45] timofurrer commented on #452
It's seems like the `GetOkExists()` works for us and isn't going to go anywhere without a replacement, see https://github.com/hashicorp/terraform-plugin-sdk/pull/350#issuecomment-597888969

I've created a PR to fix it: https://github.com/gitlabhq/terraform-provider-gitlab/pull/855

[2022-02-08 21:48] GertVil commented on #580
I was curious and took a look into this issue, but at a first glance, this does not look as straightforward. Isn't it an issue that the Create Group API does not support setting the `shared_runners_setting` on creation? According to the documentation, it is only present on the Update Group.

[2022-02-08 21:59] armsnyder commented on #580
Yep, there are some GitLab APIs like that. It's less straightforward, but we do have a way of handling it. In the provider "create" function...
1. Call the create API
2. Set the resource Id (`d.SetId(...)`)
3. Call the update API
4. return

[2022-02-09 07:20] #452 closed

[2022-02-09 08:22] timofurrer commented on #755
I was able to observe the expected behavior using the latest provider (>= 3.9).

As @armsnyder mentioned, this is because we've upgraded go-gitlab (see #805) and there we always send an empty `group_ids` / `user_ids` set if it hasn't been specified or is explicitly empty.

I'm going to close this. Let us know in case you are still facing issues 🎉

[2022-02-09 08:22] #755 closed

[2022-02-09 09:10] timofurrer commented on #776
I'm going to close this for now. We'll tackle something "backwards-compatible" within #770 .

[2022-02-09 09:10] #776 closed

[2022-02-09 11:55] cmd-werner-diers commented on #629
hey @timofurrer  I'm using gitlab.com currently set to GitLab Enterprise Edition 14.8.0-pre [113b5654b3c](https://gitlab.com/gitlab-org/gitlab/-/commits/113b5654b3c)

With provider registry.terraform.io/gitlabhq/gitlab v3.9.1 it  I still have the same error message as above

[2022-02-09 12:51] timofurrer commented on #629
I'm still somehow unable to reproduce it.

Given the GitLab token you are using, can you access the Merge Requests Approvals API using curl for the project you are managing with terraform?

And does your `gitlab_project.main` already exist at this point?

[2022-02-09 12:58] cmd-werner-diers commented on #629
In my setup I use a private module to create and configure a project.

- First I create a project using the module.
- Then, if I archive a project via terraform, that execution is successful.
- However, if I run a terraform plan or apply immediately after that execution, terraform fails with:
- (note that if archive the project manually from the UI it also fails)
- My GITLAB_TOKEN is an Owner toke

[2022-02-09 13:52] timofurrer commented on #629
ah damn it - I'ver misread the "archived" part - makes sense now :D

It really seems to be an upstream API issue (even though https://gitlab.com/gitlab-org/gitlab/-/issues/27934 has been closed). See my comment here: https://gitlab.com/gitlab-org/gitlab/-/issues/27934#note_837319534

I'm going to block this for now, because from the provider side, we can't do anything, I'm sorry ...

[2022-02-09 15:53] big-bag opened #857 "[Issue] Сouldn't find a GitLab user, version 3.9.1"
### Terraform Version
1.1.5

### Affected Resource(s)
List of the resources:
- gitlab_user

### Terraform Configuration Files
`main.tf`
[code]

### Error Output
https://gist.github.com/big-bag/5a1fa6240fef04543ce21dc780eb6145

### Expected Behavior
Terraform will receive information about users in GitLab.

### Actual Behavior
![изображение](https://user-images.githubusercontent.com/29428735/153232

[2022-02-09 15:57] timofurrer commented on #857
I suspect that you've also run into

* https://github.com/gitlabhq/terraform-provider-gitlab/issues/839

GitLab changed in the recent versions that you can only lookup users by their "public email" and not their "primary email" address.

I'm going to close this.

Duplicate of #839

[2022-02-09 15:57] #857 closed

[2022-02-10 01:39] PatrickRice-KSC commented on #800
Just an update on this (I don't like going silent on items for too long) - I've got some code written locally here, but I'm still seeing a test failure when running the test repeatedly, so doing some more debugging before I open a PR to see if I just have the WaitForState in the wrong spot, or if there is a second issue I need to find.

[2022-02-10 16:18] Liberis opened #861 "gitlab_group_variable unable to update value of previously applied key"
### Terraform Version
Terraform v1.1.5

### Affected Resource(s)
resource "gitlab_group_variable"

### Terraform Configuration Files
[code]
### Expected Behavior
What should have happened?
Ability to update gitlab group variable with the same name.
### Actual Behavior
What actually happened?
 `terraform apply`  failed with the following error:
Error: PUT https://gitlab.com/api/v4/groups/*******/va

[2022-02-10 17:21] timofurrer commented on #861
Okay, I'll dig into that later ... Out of curiosity: does it also happen
without the environment scoping?

On Thu, Feb 10, 2022, 6:15 PM Liberis ***@***.***> wrote:

[2022-02-11 02:48] PatrickRice-KSC commented on #800
PR submitted. I initially thought the race condition may exist only within the nested block that modified the default branch, but in fact it exists within the project resource itself. Moving the WaitForState outside the default branch modification block caused the race condition to close - test passed in 300 / 300 iterations which is well beyond the percentage required to simulate a failure in the

[2022-02-11 04:00] armsnyder commented on #553
`group` vs `group_id` is another inconsistency 😭

[2022-02-11 07:52] timofurrer commented on #36
For the resources which return a secret / token only after creation we should implement the importer nonetheless, but omit that specific attribute only. See https://github.com/gitlabhq/terraform-provider-gitlab/pull/860 (or `gitlab_group_access_token` resource once the PR is merged :)

[2022-02-11 08:22] #835 closed

[2022-02-11 08:33] #759 closed

[2022-02-11 11:06] Liberis commented on #861
It seems that if the environment scope is specified gitlab api cannot update the variable.

Also replicated using the api :
curl --request POST --header "PRIVATE-TOKEN: <your_access_token>" \
     "https://gitlab.example.com/api/v4/groups/1/variables/NEW_VARIABLE" --form "value=value" --form "environment-scope=env"

 curl --request PUT --header "PRIVATE-TOKEN: <your_access_token>" \
     "https://

[2022-02-11 11:16] timofurrer commented on #861
@Liberis I'm still unable to reproduce this. What responses do you get from the API calls you posted.

Creating a simple non-protected / non-masked variable with an environment scope:

[code]

Creating a simple protected / non-masked variable with an environment scope (as you do):

[code]

[2022-02-11 11:21] timofurrer commented on #861
Alright, I can reproduce if two environments have the same `variable` - you can actually create them, but not update.

Just to confirm? Do you have variables with the same key for multiple environments?

[2022-02-11 11:25] timofurrer commented on #861
Properly setting the filter in the `PUT` call, helps, e.g.:

[code]

[2022-02-11 11:28] timofurrer commented on #861
I see, @Liberis ... can you please try and use the latest provider version >= 3.9.0 ?

Support for the *environment scope* for `gitlab_group_variable`s has been added in https://github.com/gitlabhq/terraform-provider-gitlab/releases/tag/v3.9.0 (see #717)

[2022-02-11 11:43] Liberis commented on #861
@timofurrer Yes I am using variables with the same key for multiple environments.

The error occurred in provider version 3.9.0

[2022-02-11 12:24] timofurrer commented on #861
I can reproduce it now, thanks for the report - I'll get back to you.

There are definitely some interesting issues open in go-gitlab:

* https://github.com/xanzy/go-gitlab/issues/746

[2022-02-11 15:16] nagyv commented on #861
@Liberis @timofurrer As GitLab already triaged this issue as relatively low severity and priority, I don't expect GitLab engineers to have time to fix it. As a result, I see two options:

- If you have a GitLab subscription, please, reach out to GitLab support or your TAM to highlight your interest in the issue being fixed.
- As the issue is marked as "Accepting merge requests", I would like to en

[2022-02-11 18:21] timofurrer opened #869 "Group LDAP Link Alignment"
We have an open bug report about that it was documented that the `gitlab_group_ldap_link` resource supports import, but it doesn't (see #448). I've aligned the doc with the implementation for now in #868.

However, I don't see any reason why the provider couldn't support importing.

Looking at the current implementation it seems that it's flawed anyways.
The resource id is composed of the `ldap_pr

[2022-02-11 18:46] timofurrer commented on #711
The problem here is that the `gitlab_deploy_key_enable` resource explicitly deletes the Deploy Key during the `destroy` 🤷  (not sure if that was by intention, ...)

However, there isn't a disable API and I'm not really convinced yet that it's even possible to disable it at all.
I've created an upstream issue here: https://gitlab.com/gitlab-org/gitlab/-/issues/352631

[2022-02-14 07:43] #770 closed

[2022-02-14 07:43] #448 closed

[2022-02-14 07:54] armsnyder commented on #869
Changing an ID format does fall under a major breaking change, as mentioned in https://www.terraform.io/plugin/sdkv2/best-practices/versioning#example-major-number-increments

For now I think we could implement import using the ID format that you suggested, but use a custom import function to transform it into our current format.

[2022-02-14 08:00] timofurrer commented on #869
Just a thought: couldn't we in theory check the format of the `id` in the state and change it to the new format? In all the `CUD` methods, we'd just use the new format? Would users be affected by that?

Yes, that may be a good tradeoff :)

[2022-02-14 08:09] armsnyder commented on #869
Yep, that sounds possible.

I've been on the receiving end of a provider changing an ID format. It's not great, if you're relying on parsing information from the "id" field by using a `split` function in your config.

[2022-02-14 08:26] timofurrer commented on #869
I see. Let's play it safe then - we don't have any users reporting this issue anyways (not a very good reason, I know :D)

Let's schedule a proper change for v4.

[2022-02-14 08:27] #782 closed

[2022-02-14 10:51] Liberis commented on #861
Following up the guidelines provided by Nico I will also try to catch up.
I will keep you posted with any findings and/or progress.

[2022-02-14 22:56] sblask commented on #638
Any chance the proposed solution from https://gitlab.com/gitlab-org/gitlab/-/issues/16319 could be used? I.e. use the reset API to create a new token?

[2022-02-15 07:31] armsnyder commented on #748
closed via #871 , will be in the upcoming 3.10.0 release.

[2022-02-15 07:31] #748 closed

[2022-02-15 13:33] nagyv commented on #534
@roidelapluie We wanted to propose the same with @DonNicoJs as we try to take care of the community and the provider.

@btyy77c 👋  I know you left GitLab, so would like to double-check if you are still interested in coordinating these meetings.

[2022-02-15 13:36] nagyv commented on #430
The release notes are automatically populated and they need to be updated. In the past two releases, it meant a copy&paste and some formatting.

[2022-02-15 13:41] timofurrer commented on #430
In general, I think for now it's okay if we curate the `CHANGELOG.md` file by hand before a release or from time to time as I did in #864. Once this becomes to much of a burden we can always think about automation - I think our time is currently spent wiser in other areas :D.

I propose to close this for now :)

[2022-02-16 23:23] beekeep commented on #709
I can take a look at adding this.

[2022-02-17 10:58] QuingKhaos commented on #758
IMHO I wouldn't expect the provider to set the `value` field as sensitive, unless the value supplied itself is a sensitive value within terraform itself. For example from an input/output declared as sensitive, or another resource returns the value as sensitive, or declared sensitive with the [`sensitive()`](https://www.terraform.io/language/functions/sensitive) function.

As an CI/CD variable is v

[2022-02-17 11:01] QuingKhaos commented on #701
@ohasangit You need to use `https://username@password-or-access-token:gitlab.com/<REMOVED>/gitlab-repo-bootstrap` as import URL. The GitLab UI may have separate fields to input username/password but via the API and thus the Terraform provider you have to supply the basic auth credentials direclty in the URL.

[2022-02-17 16:10] QuingKhaos opened #874 "Transfering or renaming a project doesn't compute attributes"
### GitLab Provider version

3.9.1

### GitLab version

GitLab.com Enterprise Edition 14.8.0-pre

### Terraform version

v1.1.6

### Relevant Terraform Configuration

First run create a project:

[code]

Second run to transfer it:

[code]

### Relevant log output

`gitlab_project_variable.foo` is not included in the updated plan:

[code]

When omitting the `gitlab_project_variable.foo` in the firs

[2022-02-17 18:39] timofurrer commented on #701
I'm going to close this for now. @jimsmith, if you are still having problems even when including username / password in the URL as suggested, please respond here again and we'll re-open 🎉

[2022-02-17 18:46] jimsmith commented on #701
@timofurrer No reopen this as you haven't resolved it, why would you close it really 🤔?

[2022-02-17 18:48] timofurrer commented on #701
I've closed it because there wasn't any response and a lot of folks just drop a report and never come back :)

Sorry, for the assumption and cool that you've responded so quickly 👍

[2022-02-17 18:50] jimsmith commented on #701
I actively watch this, nothing has been actioned for this, its been reported as not working. The terraform resource has no way to pass credentials.

Folk shouldn't be closing when it's been reported 🤨🤷‍♂️

https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/project

[2022-02-17 18:50] timofurrer commented on #701
From your example I'd try this:

[code]

The `username` and `password` should (IMHO) be given as `variable`s and the `password` marked as `senstive` :)

[2022-02-17 19:28] QuingKhaos commented on #701
Oh yeah, didn't recognized the 301 as a redirect, that's the first weird error. And it should be `https://username@password-or-access-token:gitlab.com/<REMOVED>/gitlab-repo-bootstrap.git`, mind the `.git` at the and of the URL. This could also be the culprit of the redirect. Always use the HTTPS Git URL, not the web URL.

@timofurrer btw, you can use the `sensitive()` function to mark locals or an

[2022-02-17 19:36] jimsmith commented on #701
Thanks, shouldn't the docs be updated to catch this issue for passing in credentials 👍🏻

[2022-02-17 19:59] timofurrer commented on #701
@QuingKhaos

Yes, I'm aware 🎉 I'm just usually suggesting it so that people don't get the impression that it's a "best practice" to store secrets in code :) Sometimes, this can be very useful and is even okay :)

Yes, indeed - we try to keep the terraform attributes aligned with the GitLab upstream API and also the documentation. I think it's generally good to rather improve the upstream docs (e.g

[2022-02-17 20:03] timofurrer commented on #701
... Now, I hope that we sorted this out and as I've said: happy to review PRs improving the docs 🎉 ... or you could even submit a MR / issue in [Gitlab upstream](https://gitlab.com/gitlab-org/gitlab/-/issues).

[2022-02-17 20:03] #701 closed

[2022-02-17 20:05] timofurrer commented on #701
I actually have a local changes and consistently link from the provider docs to upstream docs, which should also improve the situation a little bit - at least for the cases in which the upstream doc is complete :)

[2022-02-19 09:10] timofurrer opened #878 "Support `allowed_to_unprotect` field in branch protection resource"
### Feature Description

The `gitlab_branch_protection` resource is missing the `allowed_to_unprotect` field.

The goal is to implement this to align with the upstream API.

While at it, it may also make sense to double check the branch protection data sources if they are aligned with upstream. (I quickly checked and I'm not sure if the upstream docs example is complete - it may make sense to quic

[2022-02-19 15:59] beekeep commented on #878
I can take a look at this.

[2022-02-19 23:59] PatrickRice-KSC commented on #765
@timofurrer  - I was looking at grabbing this issue, but I'm not seeing the ability to set this [through GitLab's Slack Service API](https://docs.gitlab.com/ee/api/integrations.html#createedit-slack-integration) right now. This seems to be mirrored within the go-gitlab API library:  https://github.com/xanzy/go-gitlab/blob/master/services.go#L1265

am I missing something that it's set to an api ali

[2022-02-20 15:57] timofurrer commented on #765
@PatrickRice-KSC good catch. I've actually recently looked into this and created:

* https://github.com/gitlabhq/terraform-provider-gitlab/issues/790

However, for the missing attributes we are currently blocked by the referenced go-gitlab issue.

I'm closing the issue here in favor of #790 where we can keep track of the upstream API alignment. 🎉

[2022-02-20 15:57] #765 closed

[2022-02-20 16:01] #709 closed

[2022-02-20 16:02] #874 closed

[2022-02-21 16:38] gthieleb commented on #712
I just started using the gitlab provider and realized the README is created but the content of the description is not inside.
This is the default behavior if creating a new project via the Gitlab UI.
Is it worth open a ticket?

[2022-02-21 16:39] timofurrer commented on #712
Yes, please open another ticket with something that helps us reproduce your issue. That would be great :tada:

[2022-02-21 16:54] gthieleb opened #885 "README.md is initialised with project but not prepopulated with description"
### GitLab Provider version

3.9.1

### GitLab version

GitLab Community Edition 14.7.3

### Terraform version

Terraform v1.1.3 on linux_amd64 + provider registry.terraform.io/gitlabhq/gitlab v3.9.1

### Relevant Terraform Configuration

[code]

### Relevant log output

_No response_

### Description

Creation of a gitlab project with a populated description parameter leads to an empty README.md

[2022-02-21 21:19] armsnyder commented on #758
@timofurrer @QuingKhaos

I agree that it would be better to allow the sensitivity to be determined by the value being passed to the `value` attribute; however, the `sensitive()` function and the behavior of propagating sensitivity to provider attributes is only enabled since Terraform v0.15 - https://www.terraform.io/language/upgrade-guides/0-15#sensitive-output-values.

CI/CD variables are most o

[2022-02-22 08:20] timofurrer commented on #758
@armsnyder thanks for highlighting this!

I agree that even though it's not a "breaking" change in a [classical sense](
https://www.terraform.io/plugin/sdkv2/best-practices/versioning) I still think that given the potential security implications we should effectively plan this for [v4](https://github.com/gitlabhq/terraform-provider-gitlab/milestone/4) and adjust the terraform requirement.

[2022-02-22 08:24] #869 closed

[2022-02-22 13:34] QuingKhaos commented on #758
Hi @armsnyder @timofurrer, thanks for the feedback. I already thought so, that this will be major release change, even if not BC breaking in a classical sense :)

[2022-02-22 16:37] jtymes commented on #623
@armsnyder Both `merge_pipelines_enabled` and `merge_trains_enabled` appear to be in the API now. However, it looks like Merge Trains depend on having the Merge Request Pipelines enabled. I'd like to take a look at implementing these, but how would you handle that situation?

[2022-02-23 07:22] #436 closed

[2022-02-23 08:58] armsnyder commented on #430
I appreciate your willingness to curate the changelog by hand 🙇, but I would still like to keep this issue open, since we have had problems maintaining it in the past. And TBH I'm worried we'll get worse at it now, since pushing to main is now restricted for maintainers.

At the very least we should commit to a process and write it down.

Since I took some notes on strategies I've seen employed by

[2022-02-23 10:34] xM8WVqaG commented on #452
I know this is fairly typical, but GitLab just fixed the root cause of the issue. This API now returns even after a project has been archived.

Merged and released MR here: https://gitlab.com/gitlab-org/gitlab/-/merge_requests/80652

I tested setting `archived = true` on a gitlab.com hosted project with an older version of the GitLab provider and was able to archive, unarchive, and plan in between

[2022-02-23 10:54] timofurrer commented on #452
@xM8WVqaG thanks for the information! That's good news. I agree that in this case the fix wouldn't be necessary for GitLab >= 14.8 and gitlab.com. However, we try support *some* of the latest GitLab releases, too - not only the latest and greatest :)

[2022-02-23 14:11] BlackDex commented on #709
Thx!!

[2022-02-23 18:19] timofurrer commented on #878
I'm not too familiar with that API (if I have some time I'll investigate a little), but in the meantime I'd say that this was merely a way to not send an empty request. I suspect that at least one of these optional fields has to be set. (there would be better ways to achieve that though.)
In my experience it's usually the fastest to just explore the API a little using curl.

You may also join the

[2022-02-23 18:37] timofurrer commented on #623
@jtymes usually we want to replicate the API and as much of the behavior as possible in the provider while still offering a sane user experience ...

When using the API we can run the following:

[code]

... which actually doesn't fail if `merge_pipelines_enabled` is disabled, but just silently ignores that.

I see multiple options:

1. we do the same in the provider and wouldn't implement any cus

[2022-02-23 19:41] armsnyder commented on #623
@timofurrer Thanks for checking the API call 🏅 . I agree with your assessment. (No validation but copy documentation from upstream.)

[2022-02-23 21:55] Stromweld opened #890 "Error: unable to get push_access_level: no valid access level found"
### GitLab Provider version

3.10.0

### GitLab version

Latest SaaS

### Terraform version

1.0.5

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

After 3.10.0 update released seeing this error message on state refresh for plans

[2022-02-23 22:05] timofurrer commented on #890
Thanks for reporting this! We kinda already had that suspicion ... https://github.com/gitlabhq/terraform-provider-gitlab/pull/881#discussion_r812109889

Can you do me a favor and post the API response here? Just run with `TF_LOG=debug terraform ...`

It's already pretty late here, but I'm going to fix this in a few hours ;)

[2022-02-24 00:07] jtymes commented on #623
@timofurrer thank you for the in-depth answer. I will proceed with option 1.

[2022-02-24 07:04] timofurrer commented on #890
@Stromweld it would be great if you could provide a standalone example which we can use to reproduce this. @armsnyder and myself were unable to reproduce this ...

[2022-02-24 07:12] armsnyder commented on #890
I couldn't reproduce it with only the provided Terraform configuration, but I did reproduce it by modifying the branch protection upstream in GitLab UI after applying the configuration and then re-planning.

1. Apply the config:
[code]

[code]
2. Manually change the project settings to change the "allowed to merge" from the role to a user.
<img width="570" alt="Screen Shot 2022-02-23 at 11 10 15 P

[2022-02-24 07:25] #890 closed

[2022-02-24 07:43] nagyv opened #894 "GitHub -> Discord notifications"
### Feature Description

I set up a webhook to auto-post a message to the #general Discord channel on new releases.

Do we want to post any other events to #general or other channels?

Please, add your thought to the issue. I plan to close this issue by the end of February.

### Do you want to implement this?

- [x] I would like to implement this myself 👷

[2022-02-24 07:51] nagyv commented on #894
Simple webhooks can't do it, but I'd find it valuable to post a link to issues when a specific label is added, like when the "good for new contributor" label is added. That might help interested users to get involved as contributors.

[2022-02-24 07:54] timofurrer commented on #430
What also would be nice is some automation to put the corresponding `CHANGELOG.md` section into the GitHub release ...

[2022-02-24 08:06] armsnyder commented on #430
Something that could work for that: https://github.com/hashicorp/terraform-provider-google/blob/424ea88caf0f5cd1ac1d43b7924d6491d3d18b93/.github/workflows/release.yml#L40

[2022-02-24 09:26] timofurrer commented on #687
Since the report is from a quite outdated (3.5.0) provider release and there hasn't been any response within a month, I'm going to close this. Please open a new issue in case you are experiencing similar issues with an up-to-date provider release :)

[2022-02-24 09:26] #687 closed

[2022-02-24 10:12] #371 closed

[2022-02-24 10:49] cmd-werner-diers opened #896 "Cannot download provider 3.10.1"
### GitLab Provider version

3.10.1

### GitLab version

GitLab Enterprise Edition 14.9.0-pre 67dde8cf25d

### Terraform version

1.1.6

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Current behaviour:
Terraform cannot download the latest provider.

Expected behaviour:
Terraform successfully installs the provider with the specified version

[2022-02-24 10:58] timofurrer commented on #896
@nagyv I can confirm that the 3.10.1 provider hasn't been properly released somehow. Can you please check?

[2022-02-24 11:00] timofurrer commented on #896
The pipeline apparently ran: https://github.com/gitlabhq/terraform-provider-gitlab/actions/runs/1891749446

[2022-02-24 11:11] ilpianista opened #897 "3.10.0 wants to re-activate all the users"
### GitLab Provider version

3.10.0

### GitLab version

14.7.1-ee

### Terraform version

1.0.11

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

We just upgraded to 3.10.0 and the provider want to re-activate all the deactivated users.

If I set the `state` field with the value `deactivated`, then I get this error message:

[code]

[2022-02-24 11:19] timofurrer commented on #897
This seems to be related to this change: https://github.com/gitlabhq/terraform-provider-gitlab/pull/762

Actually, from what I can tell, the activate and deactive user APIs have never been implemented properly.

I'm not entirely sure how this "deactivated" state has been set in your case. Was this set outside of terraform?

[2022-02-24 11:20] nagyv commented on #896
Interesting. 3.10.1 is definitely not available in the Terraform registry: https://registry.terraform.io/providers/gitlabhq/gitlab

[2022-02-24 11:22] nagyv commented on #896
I triggered the webhook call for 3.10.1 again

[2022-02-24 11:27] ilpianista commented on #897
Yes, we disable the user from the Admin UI because this isn't possible via the provider, but we had to revert the upgrade ATM.

[2022-02-24 11:32] timofurrer commented on #897
I see, that makes sense. I'm currently implementing that deactivations are supported to enable your use case.
Manual interactions outside of terraform will sooner or later always cause issues on the tf side ...

[2022-02-25 05:56] armsnyder commented on #896
@nagyv I also tried running `terraform init` using the 3.10.1 version and it is not downloading.

[code]

Looking at our releases, I don't see anything different about the 3.10.1 release, looking at the assets and workflow logs.

Can you double check that our GPG public key still exists at https://registry.terraform.io/settings/gpg-keys ?

[2022-02-25 06:16] #897 closed

[2022-02-25 08:49] timofurrer commented on #180
I'm currently implemented a proper `GET` API in GitLab itself: https://gitlab.com/gitlab-org/gitlab/-/merge_requests/81595

And will follow up with the necessary changes in go-gitlab. For now, this is kinda blocked ;)

[2022-02-25 11:45] jtymes commented on #529
I added it to the struct in https://github.com/xanzy/go-gitlab/pull/1390 (it was in the edit one, but not the base 🤷), so this should be doable on a new release of go-gitlab.

[2022-02-28 06:51] #623 closed

[2022-02-28 08:43] Skaronator commented on #623
Thanks! :heart:

[2022-02-28 10:51] #40 closed

[2022-02-28 13:21] petrmvala opened #904 "Add any_approver option for gitlab_project_approval_rule"
### Feature Description

This is a part of GitLab API. Setting `approval_rule = "any_approver"` enables setting the Eligible approvers in the project, enabling for the proper use of the CODEOWNERS file.

It is currently blocked in the go-gitlab library, but that should be fixed with this PR:

- https://github.com/xanzy/go-gitlab/pull/1396

### Do you want to implement this?

- [X] I would like to

[2022-02-28 13:55] nagyv commented on #896
The GPG key is there.

[2022-02-28 16:04] #896 closed

[2022-02-28 17:29] floh96 commented on #896
@timofurrer @nagyv  the 3.10.1 version is not in the registry, maybe the webhook call needs to be triggered again?

[2022-02-28 17:36] timofurrer commented on #896
Yes, we are aware, we would need to backport something and re-tag. I suggest you wait for tomorrows v3.11.0. would that work for you?

[2022-02-28 21:02] jacobkretz opened #906 "Initialize_with_readme project creation timeout"
### GitLab Provider version

3.10.0

### GitLab version

GitLab 14.8

### Terraform version

0.14.10

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

When upgrading to 3.10.0 and having initialize_with_readme set to true project creation times out with error above.  Verified 3.9.1 works.  Flipping initialize_with_readme to false will result in a succ

[2022-02-28 22:27] Stromweld commented on #906
I’m seeing the same issue. While TF apply is running and waiting for new repo craeation to complete if you manually go to gitlab and create the branch protection it will complete successfully. I’m our case though then we get error on branch protection resource due to it already existing.

[2022-02-28 22:33] armsnyder commented on #906
@jacobkretz Thanks for the report and for verifying that this is a regression between v3.9.1 and v3.10.0. 🙂

@PatrickRice-KSC Do you think this could be caused by #862? I don't see other PRs in v3.10.0 which touched branch protection in the `gitlab_project` resource.

[2022-03-01 08:02] timofurrer commented on #896
FYI: release v3.10.1 has been re-synced by HashiCorp!

[2022-03-01 08:15] timofurrer commented on #906
Thanks @Stromweld for the valuable information, the "no default branch protection" inherited from the group actually is the problem here. This is a standalone example which can be used to reproduce the issue:

[code]

[2022-03-01 08:52] timofurrer commented on #906
I've pushed a bugfix at #908. @Stromweld @jacobkretz In case you have the chance and are willing to then I would be super happy if you could verify the bugfix on that branch ;)

[2022-03-01 14:48] PatrickRice-KSC commented on #906
Thanks for fixing this @timofurrer . Looks like I missed a scenario in my tests for that WaitForState change :(

[2022-03-01 15:17] timofurrer commented on #906
@PatrickRice-KSC no worries :) It's especially hard to spot these inherited settings ... there is not much documentation around this ..

[2022-03-01 18:19] Stromweld commented on #906
unfortunately I don't have the means to be able to test this fix until it's released.

[2022-03-01 18:24] Stromweld opened #909 "group and project membership adding ability to add groups instead of just users"
### Feature Description

gitlab_group_membership and gitlab_project_membership allow you to add user_id's but not group_id's for group memberships in another group or project.

Please add the ability to add gitlab groups in gitlab_group_membership and gitlab_project_membership.

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-03-02 00:38] PatrickRice-KSC commented on #85
I was looking through older ticket a bit, and this one seems a bit tricky. As tyriis noted, this would still be an issue. I will note that the the *actual* result isn't that the project is created within a random user's namespace, it would create it within the namespace of based on the token passed into the terraform provider, but that's only really important if someone is finding this issue later

[2022-03-02 06:40] timofurrer commented on #85
@PatrickRice-KSC thanks for the investigation! I agree that while this may work it'll be a little fragile, because `data.gitlab_namespace` may yield more than one result - even worse when there may be multiple results it may not be sorted and returned in a different order every time.

Which API are you referring to?

Thinking about this, who is able to create a project in another users namespace?

[2022-03-02 08:19] sourikghosh commented on #909
Hi, @Stromweld I would like to work on this. Can you give a brief on where to start looking for this change?

[2022-03-02 08:30] #906 closed

[2022-03-02 12:02] petrmvala opened #912 "Gitlab test instance never comes up healthy with colima hosted docker"
### GitLab Provider version

master

### GitLab version

N/A

### Terraform version

N/A

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

**Go version**
`go version go1.17.6 darwin/amd64`

**Setup**
[code]

**Expectation**
Gitlab instance comes up

**Reality**
[code]
It is never healthy

[2022-03-02 12:33] petrmvala commented on #904
Unblocked

[2022-03-02 12:52] timofurrer commented on #912
I'm not sure if this issue really belongs here or to some place where the docker image is actually being maintained. The `await-healthy.sh` script doesn't seem to be an issue here I guess ...

[2022-03-02 15:21] Stromweld commented on #909
Those look like what I am trying to accomplish. Assumed it'd be apart of the membership resource since UI shows users and groups under members. Thanks for pointing me in the right direction.

[2022-03-02 15:21] #909 closed

[2022-03-02 20:15] PatrickRice-KSC commented on #85
@timofurrer  - This is the API I was referring to: https://docs.gitlab.com/ee/api/users.html#user-memberships-admin-only

I agree with your comment about the namespace looking being fragile too. My thought last night while I was looking at it was that since the user was newly created, it would only _have_ one namespace, but that assumption breaks upon second run when the user being created by TF m

[2022-03-02 20:50] timofurrer commented on #85
It even could break on the first run, right? The reason for this is that `search=timo` would search for `timo`, `timothy`, `timon`, .. or can one use some form of regex?

Well, if an admin can't then I suppose no one can and therefore this entire request would be invalid, because it would imply that a user can only create a project for themselves, meaning that `gitlab_project` with providing a nam

[2022-03-02 21:00] PatrickRice-KSC commented on #85
I actually tested that, and I didn't seem to getting "begins-with" search result, so my guess is that we can pass in wildcards, but the documentation isn't entirely clear on that point. It may depend on how generic the username is as well.

Yeah, I'm in the same place as you. I think this should probably be blocked based on upstream API until we can get a namespace_id from the user because otherwi

[2022-03-02 21:11] timofurrer commented on #85
It works, I just verified :)

I'm on an implementation in GitLab to expose the `namespace_id`. Let's see how that goes. In the meantime, I'll block it here :)

[2022-03-02 21:27] PatrickRice-KSC commented on #85
Do you happen to have that issue ID handy in GitLab? I can drop a notification tag on it so that I can follow it there too.

[2022-03-02 21:40] timofurrer commented on #85
Yes, I've just submitted my MR here: https://gitlab.com/gitlab-org/gitlab/-/merge_requests/82045

[2022-03-02 22:50] timofurrer commented on #885
Running your code as is, with a small fix (closing `}` is missing in first `variable` block) and using these exact defaults actually produces an empty `README.md`. However, this is to be expected given that the default of `var.default_initialize_with_readme` is set to `false`.

Changing that default ...

[code]

... will populate the `README.md` with the description.

What's strange though is that

[2022-03-03 07:46] timofurrer commented on #894
@nagyv since we have the desired release notifications now in Discord I think we can close this. Or did you want even more notifications?

[2022-03-03 09:58] nagyv commented on #894
Closing.

[2022-03-03 09:58] #894 closed

[2022-03-03 12:27] gthieleb commented on #885
Hi, thanks for testing this on your side. You are correct the title was wrong.
The ticket is about that the `README.md` is created but empty and not populated with the content of the description by default (the default behavior of the UI).

I also want to extend my module to create an .gitignore file using the `gitlab_repository_file` so I am fine with both approaches (if you decide to adapt **eit

[2022-03-03 12:42] timofurrer commented on #885
I see, now it makes sense :)

This provider interacts with the GitLab REST API and we usually avoid implementing custom logic to replicate UI or any other behavior. It basically just "wraps" the API :)

I suggest to just set `initialize_with_readme = true` and use `gitlab_repository_file` to manage the `.gitignore` file :)

Since this is not really an issue I'll take the liberty to close this. If

[2022-03-03 12:42] #885 closed

[2022-03-04 00:53] jtymes commented on #529
I'm working on this.

[2022-03-05 07:07] #529 closed

[2022-03-05 12:42] jtymes commented on #912
I'm wondering if this has to do with Colima using QEMU, as Docker Desktop on M1 (which uses QEMU) also does not start the GitLab omnibus containers ([issue](https://gitlab.com/gitlab-org/omnibus-gitlab/-/issues/6659)).

[2022-03-06 03:03] PatrickRice-KSC opened #919 "Add GitPod support to the repository via .gitpod.yml"
### Feature Description

~As new users want to join and contribute, it would be good to have a devcontainer file that could help them set up a local environment more easily. The file can be used either with code spaces or with VSCode and will eventually be usable with GitPod as well. This can also assist with people using the M1 and M2 chip, who may have issues with local testing.~
Note on the abo

[2022-03-06 03:11] #581 closed

[2022-03-06 10:17] timofurrer commented on #912
@jtymes I think I remember that @petrmvala mentioned that he's using an Intel Mac on Discord though ...

[2022-03-06 11:27] jtymes commented on #912
Right but both Docker for M1 and Colima use QEMU. I can try reproducing it on my work laptop this week.

[2022-03-06 13:02] petrmvala commented on #912
Correct, I'm running on this
[code]

[2022-03-06 16:01] timofurrer commented on #430
@armsnyder I think I'm in favor of option 1 `Option: PR author includes a changelog entry in the PR`. However, this mustn't necessarily be the PR author, but could be the maintainer merging the PR and before that pushing the changelog to the branch (given it's been allowed)

Another nice thing would actually be to add a [git trailer](https://git-scm.com/docs/git-interpret-trailers) to the merge co

[2022-03-06 18:58] timofurrer commented on #693
I've looked into this and come to the conclusion that we are still blocked - but this time by the upstream GitLab API. See the issue I've created here: https://gitlab.com/gitlab-org/gitlab/-/issues/354657

Basically the `deploy_key_id` isn't part of the `GET` responses ...

[2022-03-06 19:04] timofurrer commented on #694
@balihb could you make it work by sharing the project with the group as suggested by @comtef ?

Silently ignoring this seems to be the behavior from the upstream GitLab API in this case. In case of a non 200 status code, the provider would error.

[2022-03-06 19:05] timofurrer commented on #820
I haven't seen this ever since. @armsnyder did you? Otherwise I'd close this ...

[2022-03-06 19:12] timofurrer commented on #590
It's been fixed in #318 🎉

[2022-03-06 19:12] #590 closed

[2022-03-06 19:17] timofurrer commented on #667
I think the initial request of this issue was solved by actually implementing the `default_branch_protection` attribute for the `gitlab_group` resource.

Now, as far as the error described from @callum-stakater: I couldn't reproduce this. Also the tests using a group with a non-default branch protection work fine without multiple applies, e.g:

https://github.com/gitlabhq/terraform-provider-gitlab

[2022-03-06 23:49] PatrickRice-KSC commented on #919
Hm, it looks like there is [no free tier for GitHub Codespaces](https://docs.github.com/en/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces) the way there is for GitPod - the web edit (which you get from pressing "." in your PR) doesn't support running containers which means it can't be used for running tests.

Given those restrictions, while this would still be useful,

[2022-03-07 03:11] #576 closed

[2022-03-07 03:11] #550 closed

[2022-03-07 07:56] floh96 commented on #919
@PatrickRice-KSC I also think gitpod is the better option.
Also in the longterm because it also supports gitlab.

[2022-03-07 08:45] timofurrer commented on #919
@PatrickRice-KSC

I agree, let's go ahead with the necessary GitPod setup for now - maybe in the future, we can anyway switch to the devcontainer setup working in GitPod and Codespaces.

[2022-03-07 09:43] timofurrer commented on #212
This has been implemented in #634 and released with v3.11.0 🎉

[2022-03-07 09:43] #212 closed

[2022-03-07 09:47] timofurrer commented on #202
This code has been refactored from the `gitlab_project_push_rules` resource into the `gitlab_project` resource. I'm going to close this, because it's very attic and seems solved 🎉

If someone still experiences this issue, please open a new one :)

[2022-03-07 09:47] #202 closed

[2022-03-07 09:59] timofurrer commented on #180
My MR has been merged to upstream GitLab, now the go-gitlab PR is pending:

* https://github.com/xanzy/go-gitlab/pull/1402

[2022-03-07 10:07] timofurrer commented on #69
Implementing in go-gitlab pending to be merged and released:

* https://github.com/xanzy/go-gitlab/pull/1403

[2022-03-07 10:08] #904 closed

[2022-03-07 10:11] timofurrer commented on #294
It's supported and documented by now 🎉

[2022-03-07 10:11] #294 closed

[2022-03-07 10:17] timofurrer commented on #307
I don't think that we'll implement this for the reason @armsnyder mentioned. I'm going to close it for now. If anyone wants to contribute it with a disclaimer that it is deprecated, feel free and we'll discuss it in a PR. 🎉

[2022-03-07 10:17] #307 closed

[2022-03-07 13:30] jtymes commented on #919
I began working on a `.gitpod.yml` for myself last week that might be useful as a starting point. It starts up the `ce` acceptance environment right away. That could be removed, but it seemed like a reasonable default.

[code]

[2022-03-07 13:37] petrmvala opened #927 "Implement gitlab_repository_file data source"
### Feature Description

It is in the Gitlab API and also in xanzy/go-gitlab library

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-03-07 14:58] PatrickRice-KSC commented on #919
Updated description for when we include in the changelog.

[2022-03-07 15:41] sasa-fajkovic opened #928 "Squash commit message template"
### Feature Description

Gitlab supports changing the default [template for squash commit messages](https://docs.gitlab.com/ee/user/project/merge_requests/commit_templates.html#default-template-for-squash-commits) (Settings > General > Merge Requests > Squash commit message template)

It seems that there is no support for this in terraform at the moment.

### Do you want to implement this?

- [ ]

[2022-03-07 15:59] timofurrer commented on #928
Thanks for the report! I'm working on this in #917

[2022-03-07 21:43] jtymes commented on #912
I also receive an error when running with Colima on my Intel Mac. It appears to fail on running a `rake` task. I don't know that there is anything that can be done with the provider to help.

[code]

[2022-03-08 03:11] #446 closed

[2022-03-08 03:11] #182 closed

[2022-03-08 09:11] armsnyder commented on #746
@timofurrer I changed the milestone, since I assume you kept this open to use it for further improvements.

[2022-03-08 09:13] timofurrer commented on #746
@armsnyder not sure actually, we can close this since the initial request is solved and it's possible to do what was asked for.

IMHO, we can close it ...

[2022-03-08 09:21] armsnyder commented on #746
Sounds good!

Closed via #891

Released in v3.12.0 of the provider

[2022-03-08 09:21] #746 closed

[2022-03-08 12:25] timofurrer commented on #820
It still exists: https://github.com/gitlabhq/terraform-provider-gitlab/runs/5461795214?check_suite_focus=true#step:6:100

/cc @armsnyder @petrmvala

[2022-03-08 12:40] timofurrer opened #940 "Remove parallelism limitation in `gitlab_repository_file` resource"
At the moment we have the limitation that if a terraform module / run contains more than one `gitlab_repository_file` resource the entire terraform `apply` / `destroy` has to be run with `-parallelism=1` for reliable success:

https://github.com/gitlabhq/terraform-provider-gitlab/blob/b1521811a1e99391801e69b19287565a4918257d/internal/provider/resource_gitlab_repository_file.go#L21

If it's run in

[2022-03-09 06:45] #919 closed

[2022-03-09 06:50] #878 closed

[2022-03-09 06:54] timofurrer commented on #912
Since we have a working GitPod integration (see #936) now and there is no indication that we can fix something in the provider to make this work on every platform and setup ... is it okay for you if we close this issue?

[2022-03-09 09:44] petrmvala commented on #912
Yes, thank you!

[2022-03-09 09:44] #912 closed

[2022-03-09 10:52] Moon1706 opened #943 "Mistake in release note"
### GitLab Provider version

v3.12.0

### GitLab version

it doesn't matter

### Terraform version

it doesn't matter

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Hello! In [this release](https://github.com/gitlabhq/terraform-provider-gitlab/releases/tag/v3.12.0) was duplicated new data source. If I right understand instead `gitlab_project_issue`

[2022-03-09 10:55] timofurrer commented on #943
thanks for the report 🎉

Not quite, there is such a release, but the tag resource was just missing in the list. I've fixed it: https://github.com/gitlabhq/terraform-provider-gitlab/releases/tag/v3.12.0

[2022-03-09 10:55] #943 closed

[2022-03-09 13:37] gthieleb opened #946 "Possibility to manage the AutoDevops feature"
### Feature Description

Currently when the pipeline is enabled this also imply the enablement of the AutoDevops feature. For a project that currently does not ship with a .gitlab-ci.yml file this means that on every `git push` some pipeline tasks are started and strange artifacts are created. It would be great to have the possibility to disable the `AutoDevopsFeature`. The appropriate way would b

[2022-03-09 13:41] timofurrer commented on #946
This will be addressed in https://github.com/gitlabhq/terraform-provider-gitlab/pull/917 with the `auto_devops_enabled` and `auto_devops_deploy_strategy` attributes. I assume that this would solve your issue, right?

[2022-03-10 08:06] timofurrer commented on #940
Maybe we could implement some "global state" in the provider and queue the API calls for that resource ...

[2022-03-10 09:42] gthieleb commented on #946
Hi, @timofurrer sounds good that this is already in progress. Do you plan to make it dependent on the `enable_pipeline` attribute? My usecase would be to make it possible to enable the pipeline but disable `autodevops` in the same terraform run. Will this be possible?

[2022-03-10 16:41] timofurrer commented on #946
@gthieleb which `enable_pipeline` are you referring to? There is no such field for the [Project API](https://docs.gitlab.com/ee/api/projects.html#create-project).

[2022-03-10 18:52] gthieleb commented on #946
Hi, i am refering the attribute ‘pipeline_enabled‘ from the ‘gitlab_project‘ resource of the provider.

[2022-03-10 20:02] timofurrer commented on #946
Oh damn, looked accidentally in the group resource 🙈  ... From the provider side those don't collide and we don't implement special behavior for them (as of now at least ...). That being said, you can do something like this:

[code]

[2022-03-11 14:59] petrmvala opened #949 "Merge request approval rule `any_approver` fails during apply if present in GitLab project"
### GitLab Provider version

3.12.0

### GitLab version

Gitlab 14.8 Edition Ultimate

### Terraform version

1.1

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

The `any_approver` approval rule can be present only once in the GitLab project. From UI it gets created automatically when someone increases the number of approvers from 0 to a different n

[2022-03-11 16:10] jtymes commented on #949
It sounds like a change made outside of Terraform for something that Terraform wasn't tracking. Have you tried importing the approval rule into state?
[code]

[2022-03-12 08:15] timofurrer commented on #949
I'm still trying to understand what exactly is going on here. I wonder why it tries to re-create the approval rule.
I assume that you've first run your terraform, then changed it out of bound, then re-run terraform, right?

In any case, looking at the code I found a potential bug when having a lot of approval rules in the same project. Do you have many? How many? (see https://github.com/gitlabhq/t

[2022-03-12 19:21] petrmvala commented on #949
This is not a problem of many rules. I have just one in there.
It is either a `regular` rule (in most of the projects).
Or, if some other conditions are met (e.g. CODEOWNERS file present in the repository), the `any_approver` rule.

The problem is not in re-creating. The terraform rule hasn't been there before. Respectively, not the `any_approver` one. If the `any_approver` rule was created by TF

[2022-03-12 20:46] jtymes commented on #949
Terraform doesn't know what the rule ID is since it's not in the state. Terraform is seeing a new resource in the configuration to add to state, and will propose a plan to create it.

The rule already exists in the API, so it should be `import`ed for Terraform to manage.

[2022-03-13 02:53] PatrickRice-KSC commented on #252
FYI @timofurrer  - The bot removed your stale tag 😆

[2022-03-13 02:56] PatrickRice-KSC commented on #365
@armsnyder  - Can we close this issue? Looks like it never ended up linked to the PR appropriately, but the referenced PR is now merged.

[2022-03-13 03:01] PatrickRice-KSC commented on #430
For what it's worth, I'm in agreement on option 1 as well. I think it's easier to review for as opposed to a trailer in the merge commit, as it's something that can be actively reviewed during the PR as opposed to needing to happen during merger (which would inherently not be reviewed as it happens post-review.)

[2022-03-13 03:04] PatrickRice-KSC commented on #444
Keeping notes up to date 😄

PR #750  superceded by PR #938

[2022-03-13 03:10] PatrickRice-KSC opened #951 "Update the "managed_license" resource to follow the new conventions necessary for 15.0"
### Feature Description

Per the managed license API documentation, the current `approval` and `blacklisted` verbiage is now deprecated and will be removed in 15.0 in favor of `allowed` and `denied`.

This issue will update the allowed values in the terraform provider to accept these values in addition to the current `approval` and `blacklisted` values, and we'll likely want to open a second PR in

[2022-03-13 11:03] timofurrer commented on #365
Yes, absolutely. Thanks!

[2022-03-13 11:03] #365 closed

[2022-03-13 11:10] timofurrer commented on #949
Yes, I think I agree there with @jtymes. You need to import first and the read (during plan) isn't aware of the id conflict there ...

[2022-03-13 11:12] timofurrer commented on #252
... you haven't noticed, but in this case you are the stale bot 😂  Going to close :) Please let us know if there are still issues.

(no seriously - thanks for the reminder ;))

[2022-03-13 11:12] #252 closed

[2022-03-14 02:40] PatrickRice-KSC commented on #696
https://gitlab.com/groups/gitlab-org/-/epics/7572 is the epic for removing the `approvals_before_merge`, which looks based on conversations like it's now slated to be removed in 15.0

[2022-03-14 09:30] #373 closed

[2022-03-14 13:56] mkjmdski opened #956 "Display gitlab_repository_file diff as decoded base64"
### Feature Description

Is it possible in terms of terraform to use some kind of "diff plugin" to display base64 encoded files in decoded format? At this point any diff on gitlab_repository_file is unreadable for human. Once again thanks for implementing that :).

[2022-03-14 14:01] petrmvala commented on #949
Well, that solves just one part of the problem, I think. Agree on importing is the best approach.

On the other hand, there is no smart way (that I know of) of importing every resource and one just can not reasonably expect that anyone would be going through all possible TF resources to make sure he imported everything.

In addition to this, it is not true that TF does not know the rule ID. Since

[2022-03-14 14:17] JanKoppe opened #957 "Resource for GitLab instance (application) settings"
### Feature Description

Hello,

I would like to be able to set the instance wide "Application" settings from Terraform, when provisioning a new GitLab instance with Terraform. Right now, there's no way to do that with this provider, as far as I can see.

I'm specifically talking about these settings that apply to self-hosted instances: https://docs.gitlab.com/ee/api/settings.html

I think it woul

[2022-03-14 15:21] timofurrer commented on #957
Yes, I think it would be nice.

However, I'm a little bit concerned that there is no actual *create* - as the resource can only exist once and kinda already exist outside of terraform. Thus, we need some dummy id and call the *update* API on *create*, too. We don't have such a resource yet - and this will most likely also be the only one ^^.

Feel free to take a stab at it and I'll be happy to rev

[2022-03-14 16:40] JanKoppe commented on #957
Yes, that's quite an anti-pattern to what you're usually doing in Terraform. But I think there will be a solution possible - easiest way probably would be to generate an artificial ID out of connection parameters, or something like that.

Great, will do so! Let's see if I can contribute a bit here. :)

[2022-03-14 17:16] timofurrer commented on #957
Sounds good. If you need any help implementing this, just ping me on the Discord server ;)

[2022-03-15 09:26] #36 closed

[2022-03-15 09:46] gthieleb commented on #940
Hi, just stumbled about this issue today.
Will an additional `ReadContext` applied after a Update/Create/Delete opration help with refreshing the internal object `refs`?

[2022-03-15 09:51] timofurrer commented on #940
What exactly do you mean?
The problem spawns across multiple tf resources, because it's the underlying Git repository in GitLab which needs a refresh ...

[2022-03-15 20:02] JanKoppe commented on #957
Short update: Progress is ongoing, datasource is coming along, but the underlying go-gitlab library needs a few changes as well, lots of API changes are not reflected in that lib yet.

Also, I'm struggling a bit with the difficulties of the settings not being a real resource - especially what to do on a "delete", or when a parameter is being removed.

My approach so far is to keep this very simple

[2022-03-16 06:41] timofurrer commented on #957
Regarding the data source - I think it makes sense to create a dedicated PR for that.

Yes, I was also thinking about this and I'm kinda torn ... I see the need for having this as a resource, but at the same time, it isn't an "actual resource" w.r.t. how terraform defines a resource.

👍

Not sure tbh. ... So, when "something" is managed with a tf resource, it's owned by the resource and it shouldn

[2022-03-16 09:41] whay-wang-teo-credera-co-uk opened #961 "Support for protected_environments"
Hello,

I was wondering if there is a roadmap to support protected environments? I see we have this in the RESTAPI but none for the terraform provider

[2022-03-16 09:44] timofurrer commented on #961
It actually is around the corner, see:

* https://github.com/gitlabhq/terraform-provider-gitlab/pull/938

Duplicate of #444

🎉

[2022-03-16 09:44] #961 closed

[2022-03-16 10:57] whay-wang-teo-credera-co-uk opened #962 "support for protected environments"
### Feature Description

Hello,
was wondering if there is interest in supporting protected environments

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-03-16 11:03] timofurrer commented on #962
You've already asked that here:

https://github.com/gitlabhq/terraform-provider-gitlab/issues/961

... right?!

[2022-03-16 11:07] #962 closed

[2022-03-17 01:46] PatrickRice-KSC commented on #49
I've skimmed past this issue a couple times as I look through old issues, and it feels like while there is a potential new resource here, I do somewhat question the value prop of it. The `gitlab_runner` resource wouldn't be able to return any information that would meaningfully help you set up a GitLab runner on a remote resource as the [Details API](https://docs.gitlab.com/ee/api/runners.html#get

[2022-03-17 02:45] Fuuzetsu commented on #49
@PatrickRice-KSC I don't remember all the details but our setup has evolved into pretty much exactly what you're saying. We have:

* `gitlab_runner_register` resource that gets token from GitLab using the code from https://github.com/tsurucapital/terraform-provider-gitlab/tree/gitlab-runner-register : you only get this token once and then it returns empty string each time after; so just store the

[2022-03-17 07:12] timofurrer commented on #49
@PatrickRice-KSC little disclaimer from my side: I need to dig into this when I have some more time than right now.

For now:

Would #638 help here? In any case we don't need the Details API to return a token, as long as we can obtain the token once - it's the case for many other resources, too - like PATs etc ...

[2022-03-17 08:46] willianpaixao commented on #957
I personally never thought that this provider could be used for such purpose, but I'm curious to see how it turns out. Count on me to test and review the code.

[2022-03-17 09:59] timofurrer commented on #477
I've attempted this (at least for now) in #917

However, this is a never-ending story, thus I'll close this issue once #917 is merged and we can open dedicated issues for missing attributes afterwards.

[2022-03-17 10:03] timofurrer commented on #541
This will be addressed and fixed with #917.

[2022-03-18 01:45] PatrickRice-KSC commented on #49
Thanks for sending that over @Fuuzetsu  - It looks like some confusion in reading the documentation because the API overloads the `token` term. The token you pass into the API is the Registration Token (which is [documented as such](https://docs.gitlab.com/ee/api/runners.html#register-a-new-runner)) however the token you get in response, _also called `token`_, is the Authorization token (and _not_

[2022-03-18 09:22] JanKoppe commented on #957
I think I'll focus on updating the underlying `go-gitlab` lib in the coming days, and try to finish the datasource after that first. This should nicely work with terraforms model and still be useful.

Let's see what approach will work for a possible resource after that work has been done. I'm not sure if there will ever be a "clean" solution, but maybe some more time to think about it will bring t

[2022-03-18 09:45] #286 closed

[2022-03-18 09:45] #636 closed

[2022-03-18 09:45] #351 closed

[2022-03-18 09:45] #477 closed

[2022-03-18 09:45] #541 closed

[2022-03-18 09:45] #928 closed

[2022-03-18 09:45] #946 closed

[2022-03-18 15:41] timofurrer commented on #957
@JanKoppe maybe you can continue, I've already done the majority of missing fields: https://github.com/xanzy/go-gitlab/pull/1415

[2022-03-19 10:36] jtymes opened #966 "Support true topic deletion"
### Feature Description

Topic deletion landed in [14.9](https://docs.gitlab.com/ee/api/topics.html#delete-a-project-topic).

@timofurrer I'm assuming you'll want this one since you implemented it all the way so far, but I'm also willing to give it a try.

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-03-19 11:00] timofurrer commented on #966
I actually have that already implemented on a branch 😅

[2022-03-20 08:24] #927 closed

[2022-03-20 17:34] Shocktrooper commented on #241
@armsnyder & @timofurrer Can we close this based on #333, #927 and the PR https://github.com/gitlabhq/terraform-provider-gitlab/pull/724 being done?

[2022-03-20 18:15] Shocktrooper commented on #462
@timofurrer I think we need to add the blocked label to this for now till the go-gitlab library has this integration implemented

[2022-03-20 18:16] timofurrer commented on #241
Yes, I assume @lukegriffith that would solve your problem, right?

[2022-03-20 18:22] Shocktrooper commented on #457
@timofurrer Am I correct in assuming we would need upstream work for this in [go-gitlab](https://github.com/xanzy/go-gitlab)? Probably a new connector as I don't think this would fit into any of the others

[2022-03-20 18:24] Shocktrooper commented on #455
@armsnyder @timofurrer I believe we can close this out now as completed

[2022-03-20 18:26] timofurrer commented on #956
@mkjmdski I've addressed in #972. I think the only way to achieve this is to allow to specify plan text as `content` and automatically encode it to base64. I've implemented it in a backwards-compatible way.

I'm open to feedback if you want to try it out :)

[2022-03-20 18:27] timofurrer commented on #457
@Shocktrooper Yes, if it's not already in go-gitlab - it needs to support it first. We've decided to exclusively use go-gitlab :)

[2022-03-20 18:28] #455 closed

[2022-03-20 18:30] Shocktrooper commented on #672
@ftpd I have experienced this but it appears that the password is validly set until you either go to the Integration page in GitLab for Jira or you click the test button on the integration.  I am unsure that this is a provider issue and might be more of a GitLab issue.  @ftpd or @valvin1 If you could run the provider, configure the JIRA integration and test that the integration on the project work

[2022-03-20 18:31] timofurrer commented on #594
This has been implemented with #917 and will be released with 3.13.0 next week :)

[2022-03-20 18:31] #594 closed

[2022-03-20 18:47] timofurrer commented on #667
I'm going to close this - In case anyone experiences some issues, please open another issue with a concrete problem description :) 🎉

[2022-03-20 18:47] #667 closed

[2022-03-20 19:01] timofurrer commented on #694
I'm going to close this for now since the provider behavior seems to be correct - as in propagating the API behavior.

@balihb in case what @comtef doesn't solve your issue - please don't hesitate to ping me here and I'll re-open and help to figure out what's going on 🎉

[2022-03-20 19:01] #694 closed

[2022-03-21 05:59] #951 closed

[2022-03-21 08:27] nagyv opened #975 "Move `beekeep` and `PatrickRice-KSC` to triage role"
### Feature Description

@beekeep and @PatrickRice-KSC expressed interest in becoming maintainers of the project.

As they become more active lately, I suggest giving them a "Triage" role. (See the GitHub roles at https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization )

The Triage role will allow them to become more active

[2022-03-21 08:45] nagyv commented on #534
Please, cast your votes for a monthly community hour: https://docs.google.com/forms/d/e/1FAIpQLSeBMVCZFBCezQv10jxGx0EFCcDeGV3Aa6H_87lvUPtvUaFOAQ/viewform?usp=sf_link

[2022-03-21 10:56] DonNicoJs commented on #975
@nagyv Good for me! 👍

[2022-03-21 12:51] ftpd commented on #672
It doesn't work for me after just creating an integration. Clicking test button gives 'Validation failed', I have to manually insert password in the corresponding field in Jira itself.

[2022-03-21 14:51] timofurrer commented on #672
@ftpd Could you please run the `terraform apply` with `TF_LOG=debug` to see the request made to GitLab - and please redact the output to not leak any secrets ;)

[2022-03-21 14:55] ftpd commented on #672
@timofurrer the whole log from apply with debug is in my gist in https://github.com/gitlabhq/terraform-provider-gitlab/issues/672#issuecomment-1044168426

[2022-03-21 15:11] timofurrer commented on #672
Just saw in the response that it's actually active 🤔

[2022-03-21 15:16] ftpd commented on #672
https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/service_jira says the `active` field is read-only. For me it looks like it becomes active automagically when the integration is applied.

[2022-03-21 15:17] ftpd commented on #672
I will try some manual approach with API calls and get back with response.

[2022-03-22 00:22] PatrickRice-KSC commented on #975
excited to be able to help out more 😄

[2022-03-22 07:39] #940 closed

[2022-03-22 13:58] IrfanAnsari opened #981 "Allow executable file to be pushed in using gitlab_repository_file resource"
### Feature Description

I am using Gitlab provider to create a template project and require one of the files to be checked and pushed in as executable.

gitlab_repository_file resource accepts chmod and values either in number or letters to suggest it's executable file something like
[code]

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-03-22 14:01] timofurrer commented on #981
This would indeed be a nice feature. However, the [upstream GitLab API](https://docs.gitlab.com/ee/api/repository_files.html#create-new-file-in-repository) doesn't support that :'(

[2022-03-22 14:05] timofurrer commented on #981
I'll take a look what that would mean to implement in GitLab itself ... I'll come back in a few days with some more information ..

[2022-03-22 15:08] timofurrer commented on #672
I think it makes sense to open an issue here: https://gitlab.com/gitlab-org/gitlab/-/issues

@valvin1 any more information from your side?

[2022-03-22 15:21] ftpd commented on #672
Just to make things clear: for me the password field is also blank, but I assume it's the expected look&feel - when creating the integration manually, (via the web) putting it there and clicking Save Changes, the field appears blank, despite the password is there and everything works.

[2022-03-22 18:53] nagyv commented on #975
As all the current maintainers voted 👍  , I am moving on with the changes.

@PatrickRice-KSC @beekeep welcome to the maintainer team!

[2022-03-22 18:55] timofurrer commented on #975
Welcome folks 💃🎉

[2022-03-22 18:55] #975 closed

[2022-03-22 18:59] PatrickRice-KSC commented on #975
Thanks all!

[2022-03-22 19:05] PatrickRice-KSC commented on #981
@timofurrer  - I wonder if we should be using the "commits" api instead behind the scenes here. There is a "chmod" action in that API that we could use for this, and using the "commits" API doesn't seem to preclude committing just one file.

https://docs.gitlab.com/ee/api/commits.html#create-a-commit-with-multiple-files-and-actions

[2022-03-22 19:22] beekeep commented on #975
Thank you!  Looking forwarding to it!

[2022-03-22 21:47] timofurrer commented on #981
I'm not sure about mixing APIs in resources. I'm open for discussing the details of having a commit resource like proposed in

* https://github.com/gitlabhq/terraform-provider-gitlab/issues/241

in addition to the `gitlab_repository_files` resource. WDYT?

However, in general I currently struggle to understand what exactly would be managed in terraform using the commit API - would it just "revert"

[2022-03-23 01:21] jtymes commented on #680
@timofurrer I'm going to take a look at implementing this. I'll do an upstream alignment on fields in go-gitlab first. It looks like there may need to be some modifications to GitLab's API exposure as well to reach parity with the UI options, but I think that can come later.

[2022-03-23 01:46] jtymes commented on #680
go-gitlab API alignment https://github.com/xanzy/go-gitlab/pull/1427

[2022-03-23 07:12] timofurrer commented on #680
@jtymes sounds great!

Can you elaborate on that? Maybe I can quickly add what's missing ...

[2022-03-23 07:49] timofurrer commented on #981
For transparency: I'm working on getting an `execute_filemode` flag into the Repository Files API, much like it already exists for the Commits API. Let's see if we can get this into GitLab 14.10. Here is the Draft MR:

* https://gitlab.com/gitlab-org/gitlab/-/merge_requests/83499/

[2022-03-23 08:28] #647 closed

[2022-03-23 09:06] timofurrer opened #984 "GitLab Release support"
We've had some discussions around this already, but I want to get one started here and get your opinions on it.

Currently the provider is tested against the latest GitLab release for CE and EE (that's not what is on gitlab.com). Thus, today that's 14.9 released 22nd March 2022.

We could define that "officially" a specific provider release "supports" the versions it's tested against. For the upco

[2022-03-23 10:41] jtymes commented on #680
The UI has "Feature flag events", and "Member events" but the API does not.
<img width="266" alt="image" src="https://user-images.githubusercontent.com/973915/159680184-b3a0157a-3eaf-4c44-a4ff-d80944ff8e92.png">
<img width="370" alt="image" src="https://user-images.githubusercontent.com/973915/159681083-122de58e-e2c1-4a69-a12f-1eef70966384.png">

[hook.rb](https://gitlab.com/gitlab-org/gitlab/-/bl

[2022-03-23 11:48] jtymes commented on #984
I agree that it's likely not a big deal. Documenting _somewhere_ that the provider aims to be compatible with the latest release could be enough.

To be more clear for consumers, a doc convention could be used when new fields are added, like you did with #867. If done consistently, they could be removed automatically later on with `make doc-clean 14.10` and it could remove any that were <14.8 or s

[2022-03-23 13:12] Stromweld commented on #984
In chef docs they started adding to new resources or new options of a resource the version of chef-client it was introduced in so users on older versions wouldn’t be confused why it didn’t work. You could do the same for provider here and have version of gitlab resources or additional attributes are supported in. With the notion it’s supported up to the latest version.

[2022-03-23 21:12] nagyv opened #985 "Move `jtymes` to triage role"
### Feature Description

@jtymes to become a triage-role member of the project.

As he become more active lately, I suggest giving him a "Triage" role. (See the GitHub roles at https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization )

The Triage role will allow him to become more active in reviews without the possibility of

[2022-03-23 21:18] nagyv commented on #985
As @jtymes agreed. I am moving forward with this.

[2022-03-23 21:18] #985 closed

[2022-03-23 21:20] jtymes commented on #985
I am interested! Glad to help out where I can.

[2022-03-25 15:43] rj93 opened #986 "Is it possible to pull mirror a repo using username / password, or by using a single SSH key and not generate one for each project?"
I am trying to mirror ~100 repos and do not want to have to configure them all individually.

I have looked through the docs, and there isn't much there, and have tried the following:

[code]

But it errors out with a 500 from the server.

I have checked and `git clone https://<username>:<password>@external.gitrepo.com/example.git` works locally.

I noticed in the UI that when you mirror a repo if

[2022-03-25 21:10] timofurrer commented on #986
What's the error message you are getting?

Have you tried using a personal access token with the scape `api` as described in the [docs](https://docs.gitlab.com/ee/api/projects.html#configure-pull-mirroring-for-a-project) ?

I've tried it locally with the example you've provided and it works for me.

The thing is that this `pull mirroring` works with the API and the API doesn't allow password for a

[2022-03-25 21:49] beekeep commented on #415
Hi @VMitov & @hobti01 !   I am attempting to reproduce this with the latest version (3.12.0) and I am not having much luck.
Here is what I tried:

[code]

Please let me know if I don't have the correct configuration! 😃

[2022-03-26 05:19] teekhandekar commented on #680
@williamsbdev Can I work on this ?

[2022-03-26 05:20] teekhandekar commented on #679
@fdavier Can I work on this ?

[2022-03-26 05:21] teekhandekar commented on #580
@torinthiel Can I work on this ?

[2022-03-26 05:22] teekhandekar commented on #518
@cweidinger Can I work on this ?

[2022-03-26 05:22] teekhandekar commented on #465
@svenstaro Can I work on this ?

[2022-03-26 05:23] teekhandekar commented on #69
@alanbchristie Can I work on this ?

[2022-03-26 07:37] timofurrer commented on #680
Correct me if I'm wrong, but I think @jtymes already start working on this :)

[2022-03-26 07:40] timofurrer commented on #679
@teekhandekar I agree with @armsnyder here. A "one time trigger" is more a thing for a provisioner / local-exec ... A resource wouldn't make any sense since there is no clear CRUD available here ..

Since this issue has been stale for over 2 months without any response from the author I'm going to close it. If there is more ideas or the situation changes somehow. Please let us know :)

[2022-03-26 07:40] #679 closed

[2022-03-26 07:46] timofurrer commented on #580
@teekhandekar Yes, feel free to open a PR for that. @armsnyder has pretty much laid out the implementation steps already.

In addition, can you implement all the *shared runners* fields. Looking through the docs I can at least see these:

* Available on create:
    * [`shared_runners_minutes_limit`](https://docs.gitlab.com/ee/api/groups.html#:~:text=branch%20protection%20setting.-,shared_runners_m

[2022-03-26 07:52] timofurrer commented on #518
Checking the API docs it seems like this isn't supported in the API yet :'(

@cweidinger did you have any specific API in mind which I'm missing here?

[2022-03-26 07:56] timofurrer commented on #465
The problem is that the `gitlab_group_ldap_link` resource has some major flaws with its ID which are somewhat related to the `filter` attribute not yet implemented, see https://github.com/gitlabhq/terraform-provider-gitlab/issues/869.

[2022-03-26 07:58] timofurrer commented on #69
@teekhandekar there is already ongoing work for that in https://github.com/gitlabhq/terraform-provider-gitlab/pull/926 (btw. you can check that in the `Development` section to the right of the issue description ;)).

The problem at the moment is that it's blocked because we can't support it properly without doing some very suboptimal changes in go-gitlab. Thus, until we have a way to correctly sup

[2022-03-26 08:03] svenstaro commented on #465
Sure

[2022-03-26 12:16] jtymes commented on #680
Yep, I'm already working on it. Just waiting on the upstream PR in go-gitlab.

[2022-03-26 12:27] jtymes commented on #518
Correct. [Related issue](https://gitlab.com/gitlab-org/gitlab/-/issues/297006).

[2022-03-26 17:20] timofurrer commented on #708
This has been implemented with #917 and will be released in the next release :)

[2022-03-26 17:20] #708 closed

[2022-03-26 17:24] timofurrer commented on #646
Since there hasn't been any activity from @Lena-nfb I'm taking the liberty to close this. I wasn't able to reproduce this issue either and with @bryceml comment I guess the issue was fixed upstream.

@Lena-nfb in case you still have issues on a recent GitLab instance using an up to date provider, please let us know and we'll look at it again! 🎉

[2022-03-26 17:24] #646 closed

[2022-03-26 19:24] #444 closed

[2022-03-26 21:17] Shocktrooper commented on #984
Would there be some value in adding a test that checks the GitLab version for some resources/attributes. Basically a different version of the ee check. Also documentation as well would help

[2022-03-26 21:48] Shocktrooper commented on #772
I think there might need to be a slight update to go-gitlab in order to utilize this resource to its full effectiveness if at all. As there seems to have been some updates to the API that are not reflected in go-gitlab.
https://github.com/xanzy/go-gitlab/blob/master/boards.go
https://docs.gitlab.com/ee/api/boards.html

[2022-03-27 06:27] timofurrer commented on #984
We've been using this pattern so far to address skipping test steps:

https://github.com/gitlabhq/terraform-provider-gitlab/blob/d18aee439f62646265b5dd0b954f500449cc85a8/internal/provider/resource_gitlab_managed_license_test.go#L72

This is mainly the way to go I think for new things (attributes, values, behavior, resources, datasources, ...).

[2022-03-27 11:04] Shocktrooper commented on #984
Yup so that is for the acceptance tests but I was thinking about almost that same exact pattern say for the create function of a resource that would error out a plan/apply if someone tried to use attributes or the resource itself on an unsupported version of GitLab.

That kind of scenario should result in some sort of HTTP error I imagine anyways on apply so we mind as well tell the end user why i

[2022-03-27 15:56] Shocktrooper commented on #553
@armsnyder Should we start making a tabled list in the description of this issue? 1 column being what variations there are of a specific variable/attribute, another being what files/resources it exists in and the third column being what the agreed upon final value should be?

[2022-03-27 15:59] Shocktrooper commented on #534
@nagyv There is also that new monthly/bi-monthly code contributor meeting that some people might be interested in if you want to post that here.  Also we can bring awareness to the providers existence in that meeting as well :)

[2022-03-27 17:50] nagyv commented on #534
@Shocktrooper Great ideas. Thanks!

[2022-03-27 17:52] nagyv commented on #534
The code contributor event: https://www.meetup.com/gitlab-virtual-meetups/events/284654399/

[2022-03-28 16:11] #966 closed

[2022-03-28 16:14] #956 closed

[2022-03-29 10:48] thcuvelier opened #993 "When adding a member to a project/group terraform must ignore "Member already exists" error"
### GitLab Provider version

3.0.0

### GitLab version

GitLab Enterprise Edition 14.8.2-ee

### Terraform version

0.12.29

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Hello all,

Terraform GitLab provider must ignore the 409 message, and in that case will set it as succeed.

As for now, due to this error, each time terraform is trying to reassi

[2022-03-29 12:50] rj93 commented on #986
Hi @timofurrer,

The error I am getting from terraform is:

[code]

The PAT token that terraform is using has every permissions granted:
<img width="634" alt="Screenshot 2022-03-29 at 13 35 00" src="https://user-images.githubusercontent.com/6817539/160612384-1091032c-5e94-4c0e-a7e0-043cb2201834.png">

It also is able to create repositories without mirroring enabled, so don't think it's a permissio

[2022-03-29 12:59] rj93 commented on #986
Actually having re-read the docs and your comment, did you mean to include the PAT token in the import URL?

The host (on-prem BitBucket) of the git repo I am trying to clone is public, but requires username / password authentication to access so I only have the password as provided by the vendor.

I have also tried encoding the password I have available, and am now getting the same `https://my_cu

[2022-03-29 13:06] rj93 commented on #986
Figured it out now, thanks @timofurrer. I didn't realise BitBucket also had PATs. I requested one there and am now able to use `https://my_custom_user:bitbucket_pat@external.gitrepo.com/example.git` as my import_url.

[2022-03-29 13:06] #986 closed

[2022-03-30 03:35] Shocktrooper commented on #547
@nagyv With 15.0 approaching there are certain things on the horizon that are changing. For example if we do not attempt to use the GraphQL API in some fashion we lose the capability to configure [MR approval rules based off of scan results](https://docs.gitlab.com/ee/api/merge_request_approvals.html#create-project-level-rule) via a rest API using go-gitlab. With things like this in mind and poten

[2022-03-30 08:19] MrLuje opened #994 "gitlab_project_access_token: Support different access_level"
### Feature Description

When creating gitlab_project_access_token through the provider, the generated user associated to the token is added with "maintainer" role to the project and there is no way to specify the role.

This parameter is supported by the gitlab api ([gitlab_project_access_token](https://docs.gitlab.com/ee/api/project_access_tokens.html#create-a-project-access-token))

<html>
<bod

[2022-03-30 09:47] nagyv commented on #547
I asked the responsible GitLab PM. Hopefully, he'll have an answer.

[2022-03-30 14:05] SeameX opened #995 "Feature Request: gitlab_service_jenkins"
### Feature Description

Hello,

we use jenkins for some of our projects. It would be awesome if the jenkins integration can be configured via terraform. At the moment we use null resources & curl.

https://docs.gitlab.com/ee/api/integrations.html#jenkins-ci

Best regards

SeameX

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-03-30 14:09] SeameX opened #996 "Feature Request: gitlab_service_external_wiki"
### Feature Description

Hello,

we use confluence as wiki for our projects. It would be awesome if the integration could be configured via terraform. At the moment we use null resources & curl. Ressource `gitlab_service_external_wiki` is needed :)

https://docs.gitlab.com/ee/api/integrations.html#external-wiki

Best regards

SeameX

### Do you want to implement this?

- [ ] I would like to implem

[2022-03-30 14:10] PatrickRice-KSC commented on #995
Relevant API: https://docs.gitlab.com/ee/api/integrations.html#jenkins-ci

[2022-03-30 14:17] PatrickRice-KSC commented on #994
Thanks for the issue @MrLuje ! It looks like the access_level attribute is supported by the go-gitlab library that we use for interacting with the GitLab APIs as well, so I think you're good to start whenever you're ready.

Let us know when you've got a PR you'd like us to review, and make sure you read through the [CONTRIBUTING.md](https://github.com/gitlabhq/terraform-provider-gitlab/blob/main/C

[2022-03-31 00:38] Shocktrooper commented on #433
This also appears in

- resource_gitlab_instance_variable_test.go
- resource_gitlab_project_share_group_test.go

I have picked up this work

[2022-03-31 11:40] #994 closed

[2022-04-01 14:58] jtymes commented on #996
I'm wondering with all the integrations (including #995) that are available if it makes sense to have separate resources for them all, or a single resource that can accept blocks for each. @timofurrer WDYT?

[code]

This would only support _project_ integrations. Group integrations also exist, but apparently do not have an API exposed. See [issue](https://gitlab.com/gitlab-org/gitlab/-/issues/3284

[2022-04-01 18:30] Shocktrooper commented on #995
@timofurrer I took a look at go-gitlab and it seems it needs a little bit of work to bring the integration inline with the underlying API.  On a cursory check it still is using the service endpoint name vs the integrations endpoint name in the URL and the ssl verification attribute is missing. I think there might be more but we can mark this as needing upstream go-gitlab work.

[2022-04-01 18:36] Shocktrooper commented on #996
@jtymes I feel like this might be a lot more work than it initially appears.  Not to mention the resulting `gitlab_project_integration.go` and accompanying test file would be monstrous considering all of the available integrations. We would also have to handle all of the integrations API caveats in single giant methods in the provider create/read/update.

[2022-04-01 18:42] Shocktrooper commented on #996
Also @timofurrer This resource would also need an update to go-gitlab to change the part of the url `services` to integrations.  I'm wondering if we just make an upstream ticket to change all of them over at the same time

[2022-04-01 18:52] jtymes commented on #996
Yeah, it will definitely be a lot of work 😄. It would be incremental, starting with the integrations people have requested. I'm less concerned about what the upstream naming is (service/integration), since we can either make that change ahead of time or migrate it later on without an impact on state.

[2022-04-01 23:13] dschaaff opened #1000 "gitlab_project_protected_environment resource does not adding multiple allowed users, roles, or groups"
### GitLab Provider version

3.13.0

### GitLab version

gitlab.com

### Terraform version

1.1.7

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

The resource only allows adding a single role to the protected environment permissions. I need to be able to add the maintainers role, multiple individual users, and groups. It probably makes sense to eith

[2022-04-01 23:42] armsnyder commented on #1000
The resource seems to work as long as you only use a single `deploy_access_levels` block, so I relabeled this as an enhancement to allow multiple `deploy_access_levels` blocks. I can take a look at adding this today.

[2022-04-02 02:24] armsnyder opened #1002 "gitlab_project_access_token - Could not provision maintainer access to project access token"
### GitLab Provider version

_No response_

### GitLab version

_No response_

### Terraform version

_No response_

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

The pipelines have been failing since merging #997

See: https://github.com/gitlabhq/terraform-provider-gitlab/runs/5796647075?check_suite_focus=true

[2022-04-02 07:02] armsnyder commented on #1002
I'm dying. The problem was a hard-coded expiration date in the test of `2022-04-01`. I choose to believe this is an incredible April Fools joke on the part of @MrLuje 🤣 🤣 Working on a fix now...

[2022-04-02 16:59] MrLuje commented on #1002
I would love to say that I planned this, but I'm obviously the victim of the prank, here !
I copied the values of an existing test that happened to be 1st of april... wrong time wrong place 😅 sorry about that !

[2022-04-02 19:07] Shocktrooper commented on #622
@armsnyder I was working on this and is there a point to having an import on the resource? Seeing as you cannot get the PAT token value outside of creation.

[2022-04-02 19:24] armsnyder commented on #622
Yes, sometimes users need to import resources in order to then destroy them, like if they lost their Terraform state somehow. We do this with other token resources as well.

[2022-04-02 19:34] Shocktrooper commented on #622
Perfect ty!

[2022-04-02 23:56] armsnyder commented on #984
A good first step would be to include in the release notes the version of GitLab that we tested against. At least this way people can choose their provider version based on their current GitLab version. We already have a CI workflow step that generates release notes -- we just need to append the GitLab version.

As a later followup we could add an additional EE/CE test that runs against the latest

[2022-04-03 01:34] PatrickRice-KSC commented on #996
I do feel like it's a ton of new resources, but I think the APIs are different enough that in most cases overloading into a single resource would be more confusing than it would produce benefit :-/

For example, if we combine the EWM and Drone integrations into one resource, the resulting resource would need to have the superset of attributes for the integrations, and thus they would essentially a

[2022-04-03 02:03] Shocktrooper commented on #984
@armsnyder I don't see code branches specifically mentioned in here what about only the past 3 months support wise to match GitLab proper?

[2022-04-03 02:05] PatrickRice-KSC commented on #49
OK, I'm going to start in on this PR here shortly.

[2022-04-03 02:12] #1002 closed

[2022-04-03 05:49] #1000 closed

[2022-04-03 06:17] #996 closed

[2022-04-03 06:59] armsnyder opened #1008 "RFC - Testing alignment"
Looking at our test code, we have a number of different testing approaches that vary by resource. 😩 As long as new PRs are looking to existing testing patterns in the codebase, I think we should work to model good testing, so I'm hoping to get some feedback before doing some refactoring. 💃

@timofurrer and I have discussed what we feel is a good approach for new tests. (Please jump in if I misrepr

[2022-04-03 07:01] armsnyder commented on #530
Closing in favor of #1008

[2022-04-03 07:01] #530 closed

[2022-04-03 07:26] #386 closed

[2022-04-03 07:44] timofurrer commented on #1008
Thanks for writing this up @armsnyder! (once we've agreed on this I think it makes sense to add it to the `CONTRIBUTING.md`, too - something for later :))

I absolutely agree with this. I want to emphasize that this doesn't make testing for specific state values unnecessary. E.g. when testing at a computed formatted field is properly in state, e.g. a date-time (also see the later paragraph)

Good

[2022-04-03 07:52] timofurrer commented on #995
on that note a few things: (1) the service endpoint still works and is redirected to the integration one. (2) what about the resource name, should we start naming them `gitlab_intergration_XXX` instead of `service` to adhere to the new naming from GitLab?

[2022-04-03 08:03] armsnyder commented on #1008
+1 to everything you added.

I think you're right about data sources. I can't remember the specific one, but we had a data source change in the last couple months where trying to test it by including the resource in the state was impossible.

[2022-04-03 08:23] Shocktrooper commented on #995
Do we want to do a mass rename potentially as a separate issue and then note that in the release notes? Also should probably do the URL change in the upstream go-gitlab library but not required for this provider to work.

[2022-04-03 08:39] SeameX commented on #996
Thanks guys that was pretty fast <3

[2022-04-03 09:04] timofurrer commented on #995
I think a mass rename is something for the v4 of the provider. However, we could alias existing ones and correctly name new ones. Where as the former is not really necessary IMHO, just name the new ones correctly for now :)

[2022-04-03 09:37] jtymes commented on #996
I'm not quite sure what you mean. The schema would have top-level aggregate types, like `jira`, that would be optional, but those would have their own schemas that could require fields. An example of this would be `push_rules` in `gitlab_resource_project`. There would not be a superset; that _would_ be chaotic.

Anyway, I'm good with individual resources. It will be interesting to handle if/when t

[2022-04-03 20:44] armsnyder commented on #996
I get the idea of having each integration be a block. Some effects of modeling the resource this way which may or may not be desired are:
- If you import the resource, you are importing all integrations. So if you then destroyed it, you would disable all integrations.
- If someone adds an integration out-of-band, and then you re-run `terraform apply`, it would deactivate their integration.

I thin

[2022-04-04 03:11] PatrickRice-KSC commented on #49
Im working on a PR for go-gitlab here first -there were some deprecations and such that need to be handled there first (active -> paused, removal of scope). I'll block this for now, but it won't stay blocked long.

[2022-04-04 04:26] Shocktrooper commented on #1008
Only thing with the inline(# 3) I can see is readability issues with certain resources. Namely `resource_gitlab_project` and the  new instance settings resource coming down the line.  Other than resources that have a sizeable configuration I think we should be good there.

On top of these patterns is there an easy way to codify the verification of these things that exist in the terraform provider

[2022-04-04 23:42] PatrickRice-KSC commented on #1008
I know we've already started implementing tests in this fashion, and it certainly makes it easier to determine whether something failed in the _test_ or in the creation of other resources, so I think it's better.

Since we've already started implementing tests this way, I'd suggest we codify this into the CONTRIBUTING.md and move forward 🙂 .

I do agree with you Shock that in cases where there are

[2022-04-05 11:38] pdecat opened #1012 "resource/service_slack: changing the ID was breaking change"
Changing the ID of `gitlab_service_slack` resources from `d.SetId(fmt.Sprintf("%d", service.ID))` to `d.SetId(project)` was a breaking change.

All existing `gitlab_service_slack` are now broken as their old ID is now considered the ID of their project, resulting in errors if you do not have the permissions to access the referenced project, e.g.:

[code]
Here, `2141` was the Slack service ID and i

[2022-04-05 11:42] pdecat commented on #1012
Now, maybe some migration code could help mitigate this issue, e.g.:

[code]

[2022-04-05 13:13] PatrickRice-KSC commented on #49
Removing block up go-gitlab PR was merged. PR for the tf provider moving again 🙂

[2022-04-05 15:05] pdecat commented on #1012
@PatrickRice-KSC this PR is not a breaking per se. #821 was.

[2022-04-05 15:44] PatrickRice-KSC commented on #1012
Fair, I applied the label because it was _fixing_ a breaking change, not because it was one itself. I agree your workaround works for both scenarios (I haven't gone through and done a in-depth review, but logically your solution would work and I see the checks all pass) so this would not itself be a breaking change.

I'll remove the label 🙂

[2022-04-05 19:07] granthickman33 commented on #547
@Shocktrooper Based on our discussions in our Working Group so far, consensus continues to point towards GitLab providing deeper GraphQL support as a priority. While we don't have a conclusion, my recommendation is it's worth the investment to begin adding GraphQL support where possible in the Terraform provider. Where there are gaps, please do submit issues or support tickets.

Note there could b

[2022-04-05 20:23] Shocktrooper commented on #547
@nagyv @timofurrer @PatrickRice-KSC @armsnyder Any thoughts based on the above information? Also do we want to start pre-creating tickets for 15.0 changes we foresee coming or capture it in some other way.

[2022-04-06 03:23] PatrickRice-KSC commented on #547
I think we likely should open a design issue to figure out how we want to implement GraphQL. I haven't looked to see if there is a good library in golang we could use for that, but I'll take a look at doing so over the next week or so unless someone beats me to it 🙂 .

re: 15.0 braking changes: Yeah, I think it'd be a good idea to get an issue out there that we can use for tracking those changes i

[2022-04-07 16:18] tspearconquest commented on #49
Hi @PatrickRice-KSC I was about to open an issue requesting a way to manage runner registrations for a different use case, and I saw this issue so I wanted to check with you if our use case will be covered with your PR or should I open a new issue?

We use the Kubernetes executor for our runners, so the entrypoint in the container automatically registers a new runner each time a pod is deleted. Th

[2022-04-08 00:54] PatrickRice-KSC opened #1014 "RFC - GitLab 15.0 Deprecations for the Terraform Provider"
### Feature Description

Investigate which deprecations we need to account for within the terraform provider that will be removed within GitLab 15.0. The list of deprecations for 15.0 are available here: https://docs.gitlab.com/ee/update/deprecations.html

Initial List (Please feel free to leave comments and I'll maintain the list of ones here, along with whether we've fixed them with a PR)

- [x]

[2022-04-08 00:57] PatrickRice-KSC commented on #1014
I'm pleasantly surprised by how few deprecation policies really affect us.

I would propose we make the following updates (and I can create the PRs to do so if we're in alignment):
- For removing the test_coverage_regex, we add a deprecation notice now, and add a check that ignores the value if the remote GitLab version is 15.0 or greater, then plan a breaking change in the 14.0 version that remov

[2022-04-08 08:45] VladoPortos opened #1015 "Environment variable override / update"
### Feature Description

Would it be possible to add to "gitlab_project_variable" something like "force = true" and update it even when it is already existing... instead of failing and complaining that the variable is there already ? It should not be hard to implement since the API is supporting this action with simple:

[code]

### Do you want to implement this?

- [ ] I would like to implement t

[2022-04-08 23:38] PatrickRice-KSC commented on #1015
Hey @VladoPortos  - Thanks for the suggestion! What would be the benefit of doing something like this as opposed to importing the resource? It seems like you'd want to explicitly overwrite the variable (by importing it first) as opposed to just asserting that it should _always_ be destroyed.

[2022-04-09 20:58] Jasper-Ben opened #1017 "Authorization issues with programmatically generated personal access tokens"
### GitLab Provider version

3.13.0

### GitLab version

GitLab 14.9.2-ee

### Terraform version

v1.1.7

### Relevant Terraform Configuration

_No response_

### Relevant log output

[code]

### Description

This module assumes that personal access tokens can be used as bearer tokens:
https://github.com/gitlabhq/terraform-provider-gitlab/blob/6b2205b9c9e0f295c359f55a3576f6023738c535/internal/prov

[2022-04-09 21:24] Jasper-Ben commented on #1017
Issue report in GitLab: https://gitlab.com/gitlab-org/gitlab/-/issues/358652

[2022-04-10 02:09] timofurrer commented on #1017
It should ™️ actually [be supported](https://docs.gitlab.com/ee/api/index.html#personalprojectgroup-access-tokens) and I remember to use PATs quite often (I can't verify right now, but maybe someone else can help out here .. @PatrickRice-KSC @jtymes @armsnyder)

How did you generate the PAT? May the scope be an issue or is it expired?

[2022-04-10 08:12] Jasper-Ben commented on #1017
👋

As mentioned above PATs generally work when generated via the web UI. I was able to use such a PAT with API permissions successfully as bearer token.
However, it does not work if the token is set programmatically, as described here: https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html#create-a-personal-access-token-programmatically Feel free to try it yourself 🙂

Scope is set to

[2022-04-10 08:33] Jasper-Ben commented on #1017
So at this point I have tree possible explanations:

1. GitLab generally does not support bearer auth for programmatically generated tokens, which should at least be mentioned in their docs, ideally fixed.
2. There are some (technical) limitations on how a bearer token has to look like which my token does not fulfill, causing GitLab to silently fail while adding this token as bearer token. Again,

[2022-04-10 08:42] Jasper-Ben commented on #1017
P.S.: (Obviously) I have tested the PR I created and it fixes this issue for this provider. So if someone is reproducing my issue, feel free to also test my PR and see for yourself :+1:

[2022-04-10 08:51] Cain175s commented on #1015
https://gitlab.com/api/v4/projects/{{ project}}/variables/SOM_VAR"
method: PUT
body: value="new_value

[2022-04-10 12:00] VladoPortos commented on #1015
Hello @PatrickRice-KSC it's based on my experience I had recently... There were a couple of projects that had variables like PROD_SERVER_1, PROD_SERVER_2, and they have been already setup. My expectation would be for terraform not to fail when the variable is already there, just to update it and to fit the required state, stated in terraform....  To make it work I had to manually go and delete all

[2022-04-10 17:26] PatrickRice-KSC commented on #1017
Hey @Jasper-Ben - While I'm not necessarily opposed to the PR you submitted, I'm having trouble reproducing the issue you're mentioning here. Here are the steps I tried:

- Spun up a gitlab-ee cluster in docker
- used the rails console to generate a programmatic token using the commands specified in their documentation, and changing the scope to `:api :read_api`:

[code]
- run the acceptance tests

[2022-04-10 19:39] Jasper-Ben commented on #1017
Hi @PatrickRice-KSC, that's interesting! I could successfully connect with bearer token using the `token-string-here123` string. However, when using a random token with char-length of 100, bearer token suddenly does not work any more.

So it seems like this is the case:

Damn, now I wish had tested this earlier but I didn't really believe that this could be an issue. Was more like a "well, if noth

[2022-04-10 20:43] PatrickRice-KSC commented on #1017
@Jasper-Ben  - It's actually interesting that a length of 41 works! In their documentation, it states that [20 is the max length](https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html#create-a-personal-access-token-programmatically)

![image](https://user-images.githubusercontent.com/50960557/162638903-fda5e2da-0d30-4ff1-a19a-f71fb4153074.png)

I'm kinda thinking we should close the

[2022-04-10 20:49] Jasper-Ben commented on #1017
Interesting! I totally overlooked that part... case of too stupid to RTFM I guess :rofl: Turns out it was a case of PEBKAC. Although to be fair it isn't exactly user-friendly to silently accept invalid tokens.

For sure! Now I know what works, I am totally happy with how things are :+1:

[2022-04-10 20:49] #1017 closed

[2022-04-10 20:51] PatrickRice-KSC commented on #1017
We've seen this in a couple places where the API silently accepts invalid values, it's definitely a bit obnoxious. Thanks for helping us triage this, it's always good to learn!

[2022-04-10 20:52] Jasper-Ben commented on #1017
Thanks for your input! :slightly_smiling_face:

[2022-04-10 21:13] PatrickRice-KSC commented on #1015
@VladoPortos  - That's actually pretty much exactly what you'd expect terraform to do in most cases 🙂 . Intuitively, if terraform attempts to create something that already exists (say, a new project), you wouldn't expect terraform to overwrite the existing project and destroy what already there. While there are obviously no APIs that allow overwriting projects, the principle for variables is essen

[2022-04-11 03:22] Shocktrooper commented on #1014
@PatrickRice-KSC Sounds good to me.  Also I think we might need to align the API for Project Approval Rules too. https://docs.gitlab.com/ee/api/merge_request_approvals.html#create-project-level-rule

[2022-04-11 06:31] VladoPortos commented on #1015
@PatrickRice-KSC makes sense what you wrote, I completely missed the part about import of the variables. I think we can close this.

[2022-04-11 06:32] #1015 closed

[2022-04-11 14:28] PatrickRice-KSC commented on #1015
Perfect, thanks @VladoPortos ~ Let us know if you have any more questions, we're always happy to help!

[2022-04-11 14:31] PatrickRice-KSC commented on #1014
Was there a change there that I missed other than deprecating the vulnerability check? If so, I can add that to the list above! I thought the only thing changing there was the vulnerability check, and we don't have a resource for that right now (I want to add one, because that's something that beekeep and I want to use too 🙂 ). That'll be contingent on the GraphQL RFC which I still need to create

[2022-04-12 20:34] Shocktrooper commented on #1014
The deprecation was related to a ticket I submitted awhile ago actually and I closed it out because of the deprecations for 15.0.  Looking at it now the only thing I think that needs to be updated is `report_type` which I don't think is even currently supported for the MR approvals resource we have right now.

[2022-04-13 11:47] MrLuje opened #1025 "Change detected in resource gitlab_project_access_token whereas there is no real change"
### GitLab Provider version

3.12.0

### GitLab version

GitLab Community Edition 14.3.2

### Terraform version

1.1.8

### Relevant Terraform Configuration

[code]

### Relevant log output

_No response_

### Description

The gitlab api is timezone-sensitive. When running this terraform multiple time from the same computer, I don't have any issue.
Next, we moved the terraform to our CI server and

[2022-04-13 19:08] jtymes commented on #993
I haven't heard anything new, so I'm closing this. If you have further questions, please reopen.

[2022-04-13 19:08] #993 closed

[2022-04-13 19:15] jtymes commented on #949
@petrmvala Following up here, do you have any examples of this behavior? I'm unsure of the usefulness of this since either way the resource is not created, it's just a difference between finding out in a plan vs. an apply.

[2022-04-14 21:10] nagyv commented on #534
Based on the feedback received, I propose Wednesday 14:30-15:30 UTC. I'll create the first event for April 27.

Everyone is welcome to join!

[2022-04-15 03:53] PatrickRice-KSC commented on #1025
Hm, we could potentially make the state file timezone independent by converting to GMT, but would that cause issues on the subsequent apply? Will need to test this with a local instance...

[2022-04-15 03:57] PatrickRice-KSC commented on #49
@tspearconquest  - Yeah, I think you could use this resource to fix up your flow. Essentially your entrypoint for the runner manager would need to change from registering the runner to instead inject the authorization token that this PR would expose into your `config.toml` file.

You could do this by injecting the authorization token as an environment variable into your pod definition, by injectin

[2022-04-15 07:38] MrLuje commented on #1025
From what I understand, there are 2 timezone data :
[code]
The first timezone info doesn't change between both requests, which is expected because it holds "real" data
The second one seems like a "contextual" info of the request (from where the request has been made) which makes the state differs
So we could keep the first timezone info which is data-related but not the second, which is request-re

[2022-04-15 15:06] PatrickRice-KSC commented on #1025
I'll check that out when I test it this weekend and see if that resolves the issue. Seems like it should, given the RFC3339 standard only include one timezone format.

[2022-04-16 17:55] PatrickRice-KSC commented on #1025
Hey @MrLuje - I'm having trouble reproducing this issue to ensure that formatting the timestamp will resolve the issue. Here's what I did, let me know if you see anything weird with this (all of the below running in gitpod):

1. Added a "network" to our docker-compose file (used in downstream steps), and added a couple container names to our docker-compose to make them easier to reference from oth

[2022-04-17 18:04] MrLuje commented on #1025
@PatrickRice-KSC The repo steps look good but I confirm that I can't reproduce it either.
I will try to reproduce it this week on the server I initially had the issue on.

From the top of my mind, things that may have occured between the initial state and the CI move :
- DST changed (went from +1 to +2 during march)
- Gitlab upgrade (14.3.x to 14.9.x), I simulated this with docker and I had some u

[2022-04-18 08:11] timofurrer opened #1027 "Consider implementing checks for correct GitLab instance setup"
We should consider implementing checks to verify if the GitLab instance is correctly spun up.

The best place is probably the `healthcheck-and-setup.sh` or `await-healthy.sh` script.

_Originally posted by @timofurrer in https://github.com/gitlabhq/terraform-provider-gitlab/pull/1023#discussion_r851960590_

[2022-04-18 15:35] tfolbrecht opened #1028 "gitlab_instance_variable 404 on Upstream API: GitLab REST API docs"
### GitLab Provider version

3.13.0

### GitLab version

14.10.0-pre 1310bff4c3e

### Terraform version

1.1.8

### Relevant Terraform Configuration

[code]

### Relevant log output

_No response_

### Description

Minor - broken link in provider documentation

[2022-04-18 18:06] Shocktrooper commented on #1027
@timofurrer Any thoughts on which file is preferable?

[2022-04-18 18:15] Shocktrooper commented on #957
@JanKoppe I am thinking the latest API response from GitLab is the source of truth and we expose those(pertaining to https://github.com/xanzy/go-gitlab/pull/1425).  As for documentation for this resource I recommend we pin versions in the description field for the resource depending on what version of GitLab you are using.  What will end up happening is people will declare a second provider block

[2022-04-18 18:17] Shocktrooper commented on #957
@nagyv Is there an instance level API for integrations by chance I am missing or is the project level one the only Integrations API that currently exists.  https://docs.gitlab.com/ee/api/integrations.html

[2022-04-18 18:20] timofurrer commented on #1028
Good catch! I've fixed it in #1032 🎉

[2022-04-19 06:41] nagyv commented on #957
@Shocktrooper The project level is the only one, AFAIK.

[2022-04-20 04:36] Shocktrooper commented on #957
Ah yup found the issue here. https://gitlab.com/gitlab-org/gitlab/-/issues/335088

[2022-04-20 04:39] Shocktrooper commented on #672
@valvin1 bump for timofurrers comment above

[2022-04-20 07:22] Moon1706 opened #1035 "Realization Milestone (project) object"
### Feature Description

I wanna develop [Release](https://docs.gitlab.com/ee/api/releases/) resource and data source. For this, I should create [Milestone](https://docs.gitlab.com/ee/api/milestones.html) and [Release links](https://docs.gitlab.com/ee/api/releases/links.html).

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-04-20 12:57] JanKoppe commented on #957
That sounds like a reasonable approach to me. Will run with that.

[2022-04-22 05:49] #622 closed

[2022-04-22 06:12] #1028 closed

[2022-04-22 06:29] armsnyder commented on #1008
That's a neat trick! I didn't know about `TestMain`. (I was going to suggest [build tags](https://mickey.dev/posts/go-build-tags-testing/).) `TestMain` sounds good. 👍

[2022-04-22 06:45] timofurrer commented on #981
FYI: GitLab 14.10 will include this change (already available on .com) and I've created the integration into the provider in #1039, stay tuned for the next release @IrfanAnsari 🎉

[2022-04-22 07:04] timofurrer opened #1039 "Failure in `main` pipeline"
We seem to have an issue in the acceptance tests running on `main` branch:

https://github.com/gitlabhq/terraform-provider-gitlab/runs/6124104979?check_suite_focus=true#step:7:217

[code]

It seems that the `container_expiration_policy` has a new value. Is that because we've enabled the container registry? Why didn't it fail earlier?

[2022-04-22 07:06] timofurrer commented on #1039
Also, it only seems to affect EE.

[2022-04-22 09:39] timofurrer commented on #1039
Okay, it seems to be a sporadic issue ... a retry passed ...

[2022-04-23 03:04] PatrickRice-KSC commented on #547
Co-opting this issue a bit to mention that I've been looking at GraphQL clients "on the side", and there doesn't seem to be an _amazing_ option for how to proceed here.

Criteria I've been using to try and evaluate clients:

- The smallest number of dependencies possible to avoid security footprint
- Type safety of both request and response
- (Nice to have): Generation of the client based on intro

[2022-04-23 06:58] pdecat commented on #547
There's also the option to not use any third party dependency, and use simple HTTP requests with JSON marshalling/unmarshalling like the GraphQL terraform provider does.

[2022-04-23 07:23] #85 closed

[2022-04-23 07:44] #981 closed

[2022-04-23 23:16] PatrickRice-KSC commented on #1039
I'll check this out, but I'd venture that since it seems to be saying there is a pending change on the container_expiration_policy and that it's sporatic, it's likely that the container expiration policy is a background apply similar to what we've seen on other resources and it needs a wait block to ensure it's consistent.

[2022-04-23 23:22] PatrickRice-KSC commented on #547
Absolutely true. I'd say that if we're doing that, we should create a GitLab GraphQL Client project and depend on that from this project (and we may want to do so either way, so we can keep the acceptance tests here clean). The unfortunate issue, though, is that while the GraphQL _return_ values can be parsed from JSON, the _query_ structure is not JSON. Here's an example:

[code]
The values in th

[2022-04-24 14:21] timofurrer commented on #1039
Yes, it's what I suspected, too.

It goes into the same direction of https://gitlab.com/gitlab-org/gitlab/-/issues/352299

[2022-04-24 14:57] timofurrer commented on #577
Implemented in #1009 and will be release with the next release 🎉

[2022-04-24 14:57] #577 closed

[2022-04-24 15:43] timofurrer opened #1042 "Refactor cert generation for acceptance tests"
Let's make sure that we properly configure the certs for the acceptance tests GitLab instance regarding subdomains etc.

***

I kinda dislike the naming of the re-used cert files here - since it's not only for the registry anymore.

Also, is it configured properly for the pages to actually work? Regarding subdomains?

_Originally posted by @timofurrer in https://github.com/gitlabhq/terraform-provi

[2022-04-24 15:49] Shocktrooper commented on #547
@PatrickRice-KSC It almost feels like we would be rolling our own client library if we didn't do pure strings.

In https://github.com/Khan/genqlient/blob/main/README.md?plain=1#L18 it mentions its used in production for Khan Academy so hopefully there is "some" support behind it in case something is broken in the library

[2022-04-24 19:15] #433 closed

[2022-04-24 19:40] armsnyder commented on #1042
Is this just for the pages feature? We'll keep running the GitLab API in plaintext mode yes?

[2022-04-24 21:26] PatrickRice-KSC commented on #547
I think we'd be rolling our own client regardless of whether we did pure strings or not. There is no other GitLab client library that supports GraphQL, so we're essentially making one to support the provider. If we do strings, we need to handle all the translation of variables, if we use something like genqlient (which I'm completely in support of, btw) we get to skip the "create the request" piec

[2022-04-25 00:23] armsnyder commented on #547
I have to hope GitLab will continue to support a REST API. I added a comment in the working group issue comments [here](https://gitlab.com/gitlab-org/gitlab/-/issues/348558#note_922114453).

I checked out https://github.com/Khan/genqlient and found that with it, we still need to write the GraphQL queries and mutations that our provider needs, essentially maintaining our own copy of the API spec. 🙃

[2022-04-25 01:02] Shocktrooper commented on #547
@armsnyder isn't one of the benefits of GraphQL is that you get to read a schema definition and forward generate your mutations that you would execute? Wouldn't that almost translate 1 to 1 with the queries we need?

[2022-04-25 01:45] armsnyder commented on #547
Could you elaborate -- What is forward generating mutations? Are you saying we don't need to hand-write the GraphQL queries and mutations? How does that work?

The overall impression I got from [browsing the GitLab GraphQL API](https://gitlab.com/-/graphql-explorer) is that mutations are not 1:1 with the resource types, so there is going to be added work to model the API as Terraform resources.

<

[2022-04-25 06:00] Shocktrooper commented on #547
@armsnyder You know what I was wrong about the capabilities of GraphQL I thought the introspection you could do with like a client was more akin to using SOAP with WSDL's and forward class/object generation which is not the case.  The closest thing I could find to what I was describing is https://github.com/atulmy/gql-query-builder which comes close to what I thought GraphQL could do but it still

[2022-04-25 23:58] PatrickRice-KSC commented on #1039
So I ran the same make script I wrote back when I was testing the previous fix to run the test until it failed, and over 1,000 tests completed successfully before my gitpod environment shut down 🙁

That would seem to indicate if it _is_ a race condition, it's a _very_ rare one. I can still put in that fix, but I'm going to have a really hard time seeing if it actually fixes the issue. I'll give it

[2022-04-26 07:09] timofurrer commented on #1039
I've seen it happening twice here on GitHub - and never locally. I'm removing the `p1` label and let's not rush this as it really seems to be rare ...

[2022-04-26 07:09] timofurrer commented on #1042
Yes, exactly.

[2022-04-27 01:44] PatrickRice-KSC commented on #1039
Yeah, something really weird going on here. I made it up over 5,000 invocations in GitPod with no failures...

[2022-04-27 11:09] wwwjon opened #1043 "Topics API: extend by `title` property"
### Feature Description

We extended the `topic` model in GitLab by a `title` property (see [docs](https://docs.gitlab.com/ee/api/topics.html)).

Could you please extend the Terraform Provider for GitLab to be able to manage the topic title as well?

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-04-27 15:50] armsnyder commented on #1008
As discussed in community hours today, let's use this issue to track the work on three items:

1. (P1) Use TestMain to gate acceptance tests instead of calling testAccCheck(t) in every test
2. (P1) Update the CONTRIBUTING.md testing guidance with a model test file
3. (P2) Refactor existing tests

I added a checklist to this issue description to track our completion. We should start the refactor wo

[2022-04-27 17:02] Shocktrooper commented on #1043
I looked at the Docs history page and saw that title only appeared on the 15.0-pre docs.  Is the title available now and the docs just never reflected it or is the title property coming in 15.0?

[2022-04-27 18:00] Shocktrooper commented on #1008
@armsnyder For the TestMain function since its defined once per package did you discuss where to put it and what it would look like?

[2022-04-27 19:57] armsnyder commented on #1008
We might need to rethink TestMain. Preventing tests from running at the package level would make our `unit-test` CI job not useful, since we have unit tests and acceptance tests in the same package. We need to either move them into separate packages, or use [build tags](https://mickey.dev/posts/go-build-tags-testing/) to differentiate. I'd rather keep them in the same package so that the tests app

[2022-04-28 05:32] nejch commented on #1043
It is already deployed on gitlab.com (see https://gitlab.com/api/v4/topics), and will be available with self-managed 15.0.

I guess this would need https://github.com/xanzy/go-gitlab/pull/1458 released with go-gitlab first.

`title` would now be a required parameter in the API, but it didn't exist before. Would that need to be handled with `isGitLabVersionLessThan` or can it just be added?

[2022-04-28 16:43] Shocktrooper commented on #1043
In my opinion I would say that `isGitLabVersionLessThan` would probably be used because its not "optional" between the versions and is now a required field starting with 15.0 but I would defer to @timofurrer or @armsnyder for this.  We should also attach this ticket to the milestone ticket for 15.0 (which I think is the 4.x release of this provider)

[2022-04-28 16:46] Shocktrooper commented on #1008
@armsnyder I think we can do some conditional logic for determining based off of the function name if something is a unit test or an acceptance test. See @PatrickRice-KSC's comment above

[2022-04-28 20:40] armsnyder commented on #1008
I'm not sure how to use TestMain to filter which tests run. All I was on `testing.M` was a `Run()` method.

[2022-04-29 03:17] PatrickRice-KSC commented on #1008
Yeah, I hadn't used build tags before - I actually like that method better too since that's literally what build tags are _meant to do_.

[2022-04-29 03:45] Shocktrooper commented on #1008
That works for me if we want to go in that direction

[2022-04-29 07:33] armsnyder commented on #1043
We should add `title` as an optional attribute for now, and make it required in our next major release.

Using `isGitLabVersionLessThan` could be useful to communicate better error messages, but it is not strictly necessary. We could simply set the `title` request field if the attribute is not empty.

@Shocktrooper Has there been a 4.x discussion you could link to?

[2022-04-29 07:52] armsnyder commented on #1008
I opened a PR to add build tags. I had to change a couple other things relating to linters to get it to work as well. As long as we're happy with requiring build tags on acceptance test files, then it should be good. https://github.com/gitlabhq/terraform-provider-gitlab/pull/1045

[2022-04-29 09:25] nejch commented on #1043
That sounds like a good compromise, especially since the topic feature hasn't been entirely usable before 15.0 anyway, so not sure if many people used it on their self-managed instance (this is an admin-only endpoint).

Though maybe 15.0 and 4.x is already ready by the time this is unblocked so `required` could happen from the start in that case I guess :grin:

[2022-04-29 14:27] Shocktrooper opened #1047 "4.0 Release Discussion"
### Feature Description

Here we can discuss any changes that we would like to make for the [4.0](https://github.com/gitlabhq/terraform-provider-gitlab/milestone/4) release of the GitLab terraform provider if any as there has been some scattered conversations around what we could change.

Relevant links:
- https://docs.google.com/document/d/1-rgmylTUlO2lPRmbmGk0aB-mktg8nYu0NxOkFw9bo_M/edit#heading

[2022-04-30 19:54] PatrickRice-KSC commented on #49
Sorry about the delay on this, PR being submitted today. We had a long blocked based on some breaking changes to the go-gitlab API, then I had a separate PR I wanted to wrap up first :)

[2022-04-30 20:10] tspearconquest commented on #49
Awesome thanks! I was looking it over and have a couple of questions.
- Where can I find the runner's ID in the UI?
- I don't see an attribute that could be set as "offline" or "stale" but in the UI, runners can either be online, paused, offline or stale. Can `terraform import` import a runner that is offline or stale? That would be the primary use case for me, is to import our existing runners an

[2022-04-30 20:17] PatrickRice-KSC commented on #49
Hey @tspearconquest  - Great questions!

1. In the UI (if you're on the latest version), you can go to CI/CD > Runners, and the list of runners will have the ID as part of the name. If you click on the runner, the ID is present in both the URL and in the title of the runner in the UI. Example:

![image](https://user-images.githubusercontent.com/50960557/166121233-52f3bf12-4e21-4d0c-a8d7-ea07abb7ef

[2022-04-30 20:56] tspearconquest commented on #49
Thank you so much! This will help us immensely! I am definitely looking forward to using this on day 1. :)

[2022-04-30 23:28] PatrickRice-KSC commented on #49
I should note - if you import existing runners, terraform will not have the authentication_token in state. This means you won't have the ability to create a working `config.toml` from the resource in terraform ☹️ . This is unfortunately a limitation of GitLab's API - it _only_ return the authentication token from the create API.

[2022-05-01 02:44] PatrickRice-KSC commented on #1014
Closing this issue, I think we've got all the deprecations handled. The different return values should port automatically when someone runs `apply` for the first time, as the read API will return the new values.

[2022-05-01 02:44] #1014 closed

[2022-05-01 13:38] timofurrer commented on #1047
I'd prefer having the discussions in the individual issues and just use the [milestone](https://github.com/gitlabhq/terraform-provider-gitlab/milestone/4) to collect them all.

Regarding timeline: I don't have something particular in mind. Just want to state that I think that we are a little late to align with GitLab 15.0 - which I think isn't really a necessity anyways.

[2022-05-02 01:02] PatrickRice-KSC commented on #1047
We talked in the community hour about aligning previous release support to the approximate GitLab self-hosted average of about 3 months, so we could say 14.0 is August (3 months after May 22nd)

[2022-05-02 06:22] timofurrer commented on #1047
I'm a little bit confused what exactly you mean: Are you saying that we want to support the last three releases?

You meant 15.0 ?

[2022-05-02 11:52] willianpaixao commented on #48
@armsnyder I believe this issue/feature is still relevant. Great questions, I'll try to add my fifty cents. (it was two cents but grew with inflation)

We should not use git's branches or hashes because they are not certain to have a corresponding container (eg the pipeline failed or was entirely skipped). We should fetch from the [Container Registry API](https://docs.gitlab.com/ee/api/container_r

[2022-05-02 15:41] leonardobiffi opened #1053 "Add name of Badge"
### Feature Description

Using `gitlab_project_badge` the attribute `name` can`t be set

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-05-02 16:57] timofurrer opened #1054 "`gitlab_deploy_key`: change ID to support passthrough importer"
The `gitlab_deploy_key` resource currently uses the ID format: `<deploy-key-id>`.

This is not enough to use the passthrough importer, because the `project` is missing.

The goal is to:

* implement an id state migration to `<project>:<deploy-key-id>`
* change from custom to passthrough importer

[2022-05-02 16:59] timofurrer opened #1055 "`gitlab_deploy_token`: change ID to support passthrough importer"
The `gitlab_deploy_token` resource currently uses the ID format: <deploy-token-id>.

This is not enough to use the passthrough importer, because the project is missing.

The goal is to:

* implement an id state migration to `<project>:<deploy-token-id>`
* change from custom to passthrough importer

[2022-05-02 17:02] timofurrer opened #1057 "`gitlab_label`: change name to `gitlab_project_label` and ID to support passthrough importer"
The `gitlab_label` resource should be renamed to `gitlab_project_label` to match our used naming scheme.
Additionally it currently uses the ID format: `<label-name>`.

This is not enough to use the passthrough importer, because the project is missing.

The goal is to:

* implement an id state migration to `<project>:<label-name>`
* change from custom to passthrough importer

[2022-05-02 17:03] timofurrer opened #1058 "`gitlab_group_ldap_link`: use proper ID to match full functionality and use passthrough importer"
see details in:

* #896

[2022-05-02 17:06] timofurrer opened #1059 "`gitlab_pipeline_schedule_variable`: change ID to support passthrough importer"
The current implementation of the `gitlab_pipeline_schedule_variable` ID doesn't allow to use the passthrough importer, because it doesn't contain all the information required to read it.

The goal is to use a new ID format and implement a stage migration for the old ids.

[2022-05-02 17:07] timofurrer opened #1060 "`gitlab_pipeline_schedule`: change ID to support passthrough importer"
The current implementation of the `gitlab_pipeline_schedule` ID doesn't allow to use the passthrough importer, because it doesn't contain all the information required to read it.

The goal is to use a new ID format and implement a stage migration for the old ids.

[2022-05-02 17:08] timofurrer opened #1061 "`gitlab_pipeline_trigger`: change ID to support passthrough importer"
The current implementation of the `gitlab_pipeline_trigger` ID doesn't allow to use the passthrough importer, because it doesn't contain all the information required to read it.

The goal is to use a new ID format and implement a stage migration for the old ids.

[2022-05-02 17:09] timofurrer opened #1062 "`gitlab_project_hook`: change ID to support passthrough importer"
The `gitlab_project_hook` resource currently uses the ID format: `<hook-id>`.

This is not enough to use the passthrough importer, because the project is missing.

The goal is to:

* implement an id state migration to `<project>:<hook-id>`
* change from custom to passthrough importer

[2022-05-02 17:11] timofurrer opened #1063 "`gitlab_project_variable`: remove backwards-compatibility code"
Remove the code to guarantee backwards-compatibility with some older versions:

https://github.com/gitlabhq/terraform-provider-gitlab/blob/b3f88599446367aed2353dac0b4a1bf9e67d4bfe/internal/provider/resource_gitlab_project_variable.go#L76

[2022-05-02 17:12] timofurrer opened #1064 "Rename `gitlab_service_*` resources to `gitlab_integration_*`"
The service endpoint in the GitLab API has been renamed from `service` to `integration`, we should follow that and rename the resources we provide for them, e.g.

* `gitlab_service_external_wiki`
* `gitlab_service_github`
* ...

[2022-05-02 17:15] timofurrer opened #1065 "`gitlab_repository_file`: remove backwards-compatibility code"
Remove code for backward-compatibility:

https://github.com/gitlabhq/terraform-provider-gitlab/blob/b3f88599446367aed2353dac0b4a1bf9e67d4bfe/internal/provider/resource_gitlab_repository_file.go#L110

[2022-05-02 17:18] timofurrer opened #1066 "Rename `project_id` attributes to `project`"
Our project-resources should support path project ID and project paths with namespaces as project identifier.

We should align the attributes to `project` instead of `project_id`.

[2022-05-02 17:19] timofurrer opened #1067 "Rename `group_id` attributes to `group`"
Our group-resources should support path group ID and group paths with namespaces as group identifier.

We should align the attributes to `group` instead of `group_id`.

[2022-05-02 17:25] timofurrer opened #1068 "`gitlab_service_slack`: remove backwards-compatibility code for older IDs"
Remove the code here:

https://github.com/gitlabhq/terraform-provider-gitlab/blob/b3f88599446367aed2353dac0b4a1bf9e67d4bfe/internal/provider/resource_gitlab_service_slack.go#L257

... which adds backwards-compatibility for some older provider versions.

[2022-05-03 06:58] #1053 closed

[2022-05-03 14:49] Jasper-Ben opened #1071 "Authentication issue during terraform refresh with token from module output"
### GitLab Provider version

3.14.0

### GitLab version

14.9.2-ee

### Terraform version

v1.1.8

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

:wave:

### Expected behavior:
gitlab provider should be able to authenticate successfully every time when interacting with the GitLab API.

### Actual behaviour:
While the initial authentication works as

[2022-05-03 15:22] Jasper-Ben commented on #1071
I don't understand how this issue does not affect everyone. I mean, this is just core functionality? Or am I being stupid?

[2022-05-03 15:32] Jasper-Ben commented on #1071
So I have tried hard-coding the token and now it works. Bummer :disappointed: Is this a limitation in terraform itself?

[2022-05-03 15:47] timofurrer commented on #1071
Is the execution order correct? Meaning is `gitlab_user` really only executed after the `module.k8s_gitlab.gitlab_api_token` is available?

Can you try setting an explicit dependency?

[code]

[2022-05-03 16:01] timofurrer commented on #1071
what bugs me is that your posted error is from the `gitlab_personal_access_token` resource ... therefore, did the `gitlab_user` run fine?

Actually, what token is `gitlab_api_token`?

Remember it has to be an administrator token, see [docs](https://docs.gitlab.com/ee/api/users.html#:~:text=Use%20this%20API%20to%20create%20a%20new%20personal%20access%20token.%20Token%20values%20are%20returned%20onc

[2022-05-03 16:20] Jasper-Ben commented on #1071
Should be, due to the implicit dependency... and as I said it works during the initial creation. So I'm currently thinking that this isn't an issue during the initial apply because the resource doesn't exist yet and thus does not get refreshed. However, during subsequent applies terraform tries to refresh the resource and it seems that the value of a module output might not yet be available during

[2022-05-03 16:21] Jasper-Ben commented on #1071
The token definitely is correct. As I said, the resources are created correctly during the first apply.

[2022-05-03 16:25] timofurrer commented on #1071
oh, I've misread that part, my bad.

Where is the `gitlab_api_token` coming from? Is it available during `refresh` / `plan` ?

Does `terraform apply -refresh-only` work instead of the `refresh` ?

[2022-05-03 16:36] Jasper-Ben commented on #1071
no worries :slightly_smiling_face:

 It's the output of a module that already has been deployed. So the token should already be available in the tfstate.

It does. :o That's interesting... any idea why this might be the case?

[2022-05-03 16:42] timofurrer commented on #1071
It's just that the `terraform refresh` command is [deprectated](https://www.terraform.io/cli/commands/refresh#:~:text=Warning%3A%20This%20command%20is%20deprecated%2C%20because%20its%20default%20behavior%20is%20unsafe%20if%20you%20have%20misconfigured%20credentials%20for%20any%20of%20your%20providers.%20See%20below%20for%20more%20information%20and%20recommended%20alternatives.).

I can tell you ex

[2022-05-03 16:43] Jasper-Ben commented on #1071
the problem is, that `terraform apply` does an implicit `terraform refresh` as well. So this also breaks during apply.

[2022-05-03 16:49] timofurrer commented on #1071
Hmmm, can you provide a fully runnable example which reproduces the issue?

Otherwise, I'll need some time to reproduce this ..

[2022-05-03 16:50] Jasper-Ben commented on #1071
So far this is what I found out:

works:
- `terraform apply -refresh-only`
- `terraform apply -refresh=false`

does not work:
- `terraform apply`
- `terraform refresh`

So my best guess would be that `terraform apply` still uses the deprecated `terraform refresh` under the hood.

[2022-05-03 16:57] Jasper-Ben commented on #1071
Sure, let me try.

[2022-05-03 17:27] Jasper-Ben commented on #1071
Hm. So I am actually struggling to get a minimal "breaking" example. This is what I've tried so far and it works as intended:
https://github.com/Jasper-Ben/example_gitlab_token_terraform

So no idea (yet) why it breaks in our specific usecase. Unfortunately it isn't easy to reproduce the exact setup without further complex dependencies (AWS, Kubernetes). Will have take another look at this tomorro

[2022-05-03 17:31] Jasper-Ben commented on #1071
So the good news is that the issue does not seem to come from using module output values as token alone. Which gives me hope that this might be solvable.

[2022-05-04 06:17] timofurrer commented on #1071
When you run a plan is the `gitlab_api_token` "only known after apply" ? e.g. a computed field based on something only known after apply?

[2022-05-04 06:18] timofurrer commented on #1071
Yes, and I doubt that it's actually a bug in this provider, but rather a limitation in terraform itself - which, if solvable, needs some workaround ...

[2022-05-04 11:35] Jasper-Ben commented on #1071
Managed to solve this :slightly_smiling_face:

Before, the token came from a module output which got its value from a data source. Terraform didn't seem to like that, I guess since the data output is fetched dynamically during each refresh.

I've changed my setup so that the value actually comes from a terraform resource definition, now things seem to work.

More boring details on the exact setup:

[2022-05-04 11:35] #1071 closed

[2022-05-04 11:46] timofurrer commented on #1071
Thanks for the write-up @Jasper-Ben !! I'm glad you could make it work!

Enjoy your working solution 😅 🎉

[2022-05-05 09:01] IrmantasMarozas commented on #861
I'm going to follow up with GitLab support about this.

[2022-05-08 08:33] #49 closed

[2022-05-08 15:51] PatrickRice-KSC commented on #49
Hey all! If you're just watching this issue, we're happy to announce this will be released in the 3.15.0 release! Keep an eye out for that release, and let us know if you have any questions 🙂

[2022-05-08 15:55] PatrickRice-KSC commented on #1047
@timofurrer - Sorry about the confusion! I meant "4.0" and messed up adding a "1" on front (I'll edit the comment too, to prevent others being confused).

So essentially we'd support testing the provider on the current version of GitLab (14.10) along with the previous 3 releases (14.9,14.8,14.7). That way we provide a best effort on testing and supporting the releases that a majority of GitHub use

[2022-05-08 15:59] PatrickRice-KSC commented on #547
I'm going to start working on a security policy resource using the GQL API here shortly, and I'll ping folks on this thread so we can talk strategy for how to structure the resources!

[2022-05-09 02:13] PatrickRice-KSC commented on #435
Hey @armsnyder  - It looks like this may have been resolved, just looking at the project_test file. You good if I close this out? I see one test in that file, and it matches our naming convention.

[2022-05-09 02:16] PatrickRice-KSC commented on #437
@armsnyder  - I think this issue is resolved as well, I'm not getting this linting error on the noted file anymore. You good if I close it?

[2022-05-09 02:17] PatrickRice-KSC commented on #1027
Seems like the healthcheck-and-setup is the right spot, just to make it idempotent.

[2022-05-09 05:05] armsnyder commented on #437
There is still one here: https://github.com/gitlabhq/terraform-provider-gitlab/blob/d19ee24973d2505f9df91a1e480c3bbff9b11751/internal/provider/data_source_gitlab_projects.go#L215

[2022-05-09 05:06] armsnyder commented on #435
There are still a couple in this file: https://github.com/gitlabhq/terraform-provider-gitlab/blob/d19ee24973d2505f9df91a1e480c3bbff9b11751/internal/provider/data_source_gitlab_projects_test.go

[2022-05-09 05:09] armsnyder commented on #547
Thanks @PatrickRice-KSC. Is there an issue for that resource yet? There is also this one which needs GraphQL: https://github.com/gitlabhq/terraform-provider-gitlab/issues/707

[2022-05-09 23:39] PatrickRice-KSC commented on #547
@armsnyder  - I haven't created one yet, since I'm still trolling around a bit with the right approach. I did notice that issue, but thought it might be good to not start with it given `gitlab_project` is quite the class, and it would likely be a secondary call after the first call was made. I was hoping for something that would be a better example resource for us moving forward.

[2022-05-09 23:40] PatrickRice-KSC commented on #437
aaah, I was running lint, which didn't return it given the lintignore. I'll run a grap and see if I can knock these out so we can close this issue.

[2022-05-10 07:21] #435 closed

[2022-05-10 07:21] #437 closed

[2022-05-13 09:22] adriano-fonseca opened #1080 "Project issue use o references Doc improvement"
### Feature Description

I have been trying without success to pass other issues as a reference to a project issue. Folloing the documentation that states the following:

`[references](https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/project_issue#references) (Map of String) The references of the issue.`

I managed to get one reference set using terraform function to m

[2022-05-13 09:31] adriano-fonseca commented on #1080
@timofurrer any advice on the correct syntax to pass several references to a project issue?

[2022-05-13 09:47] timofurrer commented on #1080
@adriano-fonseca the `references` field is actually a map of reference for the issue at hand (like the short, relative and full reference) and not the references to other issues.

The reason you were able to set it at all is because this attribute (including others) are mistakenly marked as `Optional` which they are actually not. Fixed it in here: https://github.com/gitlabhq/terraform-provider-git

[2022-05-13 10:10] phoban01 opened #1082 "`gitlab_repository_file` returns an error when `file_path` contains `./`"
### GitLab Provider version

3.14.0

### GitLab version

GitLab Enterprise Edition 15.0.0-pre 83043afc0a9

### Terraform version

v1.1.7

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

The provider returns an error whenever the `file_path` begins with a period `.`. The file is created in GitLab despite the error. I believe the provider should be abl

[2022-05-13 10:25] timofurrer commented on #1082
@phoban01 Thanks for the bug report and the reproducible example.

Quickly looking at this the problem is that when querying the GitLab API for a single file leading with a `./` it returns a 404 leading the provider to remove the resource from state resulting in the error you are seeing.

[code]

I'll later dig into GitLab to see if that can be fixed.

The same problem actually occurs for paths li

[2022-05-13 10:28] phoban01 commented on #1082
Thanks @timofurrer, appreciate the quick response. I can easily workaround for now by omitting the leading `./`.

[2022-05-13 12:10] adriano-fonseca commented on #1080
I got it. A reference for the issue itself. Thanks for adjusting the docs.
I did some research and the API End point actually exists. See in [issue links docs](https://docs.gitlab.com/ee/api/issue_links.html)
I work at GitLab and we are using it heavily internally to automate PS project creation.
This is something that I am missing hard, also epics and milestones creation:

https://docs.gitlab.com

[2022-05-13 12:19] timofurrer commented on #1080
Oh great! Thanks for the links 👍

Project Milestones are on the way here https://github.com/gitlabhq/terraform-provider-gitlab/pull/1044 🎉

Epics and Group Milestones are not yet available. Feel free to create separate issues for those (or I will later) :)

Regarding the issue links we need to refine this a little what makes most sense, e.g. new resource `gitlab_project_issue_link` or embed it int

[2022-05-13 12:59] adriano-fonseca commented on #1080
Having an MVP in mind. I think the easy path would be to embed it into gitlab_project_issue. However, the resource would need to be smart enough to create the issues in the right order, and launch a clear message if an ID of inexistent issue was passed.  Like in:

[code]

[code]

Please share your thoughts @timofurrer...

[2022-05-15 09:02] timofurrer opened #1083 "Project Structure"
We've had a brief discussion in #1073 about the project structure w.r.t to the file hierarchy / naming and go packages.

We kinda agree that with the growing amount of resources and data sources it somewhat gets harder to locate files, especially non-resource / datasource files like helpers and utils.

Another problem is that pretty much all other files start with `resource_gitlab_` or `data_sourc

[2022-05-15 10:02] #574 closed

[2022-05-16 05:05] Shocktrooper commented on #1083
What about all helpers and utils in 1 separate package and folder seeing as there aren't many unless I am mistaken.  I would rather go into 1 folder than 3 which have 1-3 files each in them.

For the resources and datasources if we can I would like to put them in separate folders which would reduce the amount of files to look through in the provider directory

I like the gitlab prefix as I can mat

[2022-05-16 05:10] Shocktrooper commented on #1082
Is there a point to having the leading `./` to me that is just Linux convention when you want to execute a file and not needed when specifying the file in a git repo.

It does mention in the API that traversals and other specific things result in 400's which this is not but it is close to
https://docs.gitlab.com/ee/api/repository_files.html#:~:text=If%20the%20commit,specifying%20the%20error.

[2022-05-16 10:59] jlamande opened #1085 "gitlab_topic: 400 error title is missing"
### GitLab Provider version

3.14.0

### GitLab version

15.0.0-pre 720ba4b77fb

### Terraform version

1.1.9

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

the attribute `title` is defined as required by the API : https://docs.gitlab.com/ee/api/topics.html#create-a-project-topic

[2022-05-16 11:52] jtymes commented on #1085
Thanks for the report! This looks like it was added [recently](https://gitlab.com/gitlab-org/gitlab/-/commit/3e9b2ef1665f553c9c289758f24869a2423537cb) as a required field.

[2022-05-16 12:43] timofurrer commented on #1085
Thanks for the report!

However, it's a duplicate of #1043, therefore I'm going to close this one :)

[2022-05-16 12:43] #1085 closed

[2022-05-16 14:50] phoban01 commented on #1082
That is true but it's also convention one that's widely used in infra-as-code tooling to specify a path relative to the project/repo root. As a user I would expect this syntax to not throw an error.

[2022-05-18 03:23] PatrickRice-KSC commented on #1083
I think we should execute at least 1 and 3 (and combine them like you suggest in 3 so we don't have too many new packages). I agree that I prefer having "gitlab" in the resource name even though it's a bit redundant because it matches the resource name.

I do wonder with the new schema pattern if we want schemas in their own package, just because with naming it won't be next to the tests/resources

[2022-05-18 08:13] aarmstrong-gel opened #1090 "CI Variables causing failed plan on archived projects"
### GitLab Provider version

3.13.0

### GitLab version

GitLab Enterprise Edition 15.0.0-pre 067b7295beb

### Terraform version

Terraform v1.1.8 on darwin_amd64

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

We are deploying CI Variables to a group of projects.
This works but we have some projects that can be archived between terraform runs.
When

[2022-05-18 13:40] timofurrer opened #1091 "Labelling GitHub Actions removes `bug` label from template"
When using the Issue Templates our GitHub Actions for labelling Issues is removing the `bug` label:

![image](https://user-images.githubusercontent.com/1008252/169052523-e45b00df-8bc3-417c-b1ba-d738c04a08f2.png)

This shouldn't be the case and the labels added by the template should NOT be removed by this action.

To reproduce, just create a new Issue from the `Bug Report` template.

[2022-05-18 21:38] tdg5 commented on #957
My golang is a bit rusty, but if there's anything I can do to help with this, I'd be happy to contribute.

I'm inclined to agree with the approach that would treat all the settings as a single resource. I think if someone removed a setting from the resource, then the sensible thing would be to revert it to the default or some kind of initial state value (i.e. null) if such a thing exists for the g

[2022-05-19 17:01] aarmstrong-gel commented on #1090
Hi @timofurrer , thanks for getting in touch.
Absolutely correct (misinterpretation on my behalf), I ran through this with a moved project, deleted project and archived project. This is only an issue when a project is archived (updated the title/comments).

I agree that the 403 return is fair enough due the project being in a readonly state.
Will try and look into filtering out the archived projec

[2022-05-19 17:01] #1090 closed

[2022-05-20 02:06] Shocktrooper commented on #457
@timofurrer / @armsnyder / @PatrickRice-KSC  How do we want to test this.  I was playing around with the go-gitlab library directly as I was developing it and it seems unless you turn on the [feature flag for integrated backends](https://docs.gitlab.com/ee/operations/error_tracking.html#:~:text=By%20default%20this%20feature%20is%20not%20available.%20To%20make%20it%20available%20on%20self%2Dmanaged

[2022-05-20 02:26] Shocktrooper commented on #772
Not sure what I was seeing before but I did another check and it seems it should be good to go and the go-gitlab work is all there

[2022-05-21 06:00] JanKoppe commented on #957
Hey @tdg5, I'm currently quite busy and would only get to working on this again in a few weeks. If you want to, feel free to take a stab at it :) I was thinking if doing lots and lots of manual code in the provider is the right way to go (there are _lots_ of arguments), or if it might make sense to do some fancy autogeneration instead, to reduce manual work (especially when doing updates). Just as

[2022-05-21 07:38] timofurrer commented on #1082
I agree with both of you ... However, given that this is a known and deliberate constraint from GitLab API side I don't think it makes a lot of sense to add additional logic to the provider to solve this. While removing leading `./` wouldn't be too difficult to implement it would still only solve a small part of the problem and introduce a new difference between the upstream API and the provider A

[2022-05-21 08:26] timofurrer commented on #457
Yes, I agree. We should avoid having any external services required for our automated testing!

I've just reviewed the PR in go-gitlab, too ;)

[2022-05-21 08:56] timofurrer commented on #957
@tdg5 In case you want to pick this up from @JanKoppe and need some help regarding Go or the provider, don't hesitate to stop by our [Discord](https://discord.gg/CCc6Pe5EYy)! We are happy to help and get you started 🤝

[2022-05-21 15:09] timofurrer commented on #1080
@adriano-fonseca Just to confirm a `gitlab_project_issue_link` resource would fit your needs for now?

[2022-05-22 12:41] timofurrer commented on #1080
In any case, I've created a MR in GitLab to support a get of a single issue link ... see: https://gitlab.com/gitlab-org/gitlab/-/merge_requests/88228

If it's not super urgent for you @adriano-fonseca I'd like to await GitLab 15.1 to implement this. WDYT?

[2022-05-22 18:26] Shocktrooper commented on #957
@JanKoppe or @timofurrer  Do you have any ideas for autogeneration? I was thinking 2 ways potentially
1. Scan the official Gitlab repo for instance settings and pull values from there.  Downside might be that we include settings that might not be returned in an actual api call.
2. Get the API settings of a demo GitLab instance via an API call and try to infer possible values from there.  Downside

[2022-05-22 18:39] timofurrer commented on #957
@Shocktrooper Yes, I've actually started to draft an OpenAPI spec for that endpoint (and contribute it to GitLab) in the hope that we can use it to generate the code required - at least for `go-gitlab` and then maybe also here.

[2022-05-22 19:41] timofurrer commented on #984
FYI: The PR #1095 to support GitLab 15.0 implements a test matrix in the workflows to test against the last three GitLab releases.

This will be documented in the ChangeLog ...

[2022-05-22 21:43] Shocktrooper commented on #957
@timofurrer Couple things with that potentially but I really like it and I do think it is less fragile.
1. Will GitLab keep it up to date once added to keep it in sync with the actual API itself or is it potentially going to be forgotten and immediately become out of date from release to release.
2. How much can we forward generate from the API spec you think reliably vs inferring from the code it

[2022-05-23 06:44] timofurrer commented on #957
@Shocktrooper I think we just have to try and move something forward. In any case I'm also fine just doing it by hand the first time to provide some value already. For (1) yes, that would be the goal. There already exist other OpenAPI specs.

[2022-05-23 06:48] nagyv commented on #957
I think, if you manage to add automated tests to the OpenApi spec, then
GitLab will keep it valid. I can not guarantee that it will be extended or
there won't be breaking changes, but it will stay in the product in a
working state.

The code that does the testing might be reused for the autogeneration. 🤔

Timo Furrer ***@***.***> ezt írta (időpont: 2022. máj. 23.,
Hét 8:44):

[2022-05-23 08:15] thenom opened #1096 "Add protected environments required_approval_count"
### Feature Description

To allow you to control the required_approval_count via the gitlab_project_protected_environment resource

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-05-23 09:00] timofurrer commented on #1096
Thanks for raising this 🎉

A few pointers for implementation:

* go-gitlab needs to support this first, see: https://github.com/xanzy/go-gitlab/blob/1ca150701fc8084feb459296cbd8b8a5ca8c544b/protected_environments.go#L37
* upstream API docs are [here](https://docs.gitlab.com/ee/api/protected_environments.html#:~:text=by%20a%20hash.-,required_approval_count,which%20isn%E2%80%99t%20yet%20available%20

[2022-05-23 11:13] thenom commented on #1096
Cheers @timofurrer , here is my PR for the dependency package:
https://github.com/xanzy/go-gitlab/pull/1482

[2022-05-25 08:35] bbr32 opened #1099 "expires_at on gitlab_project_membership"
### Feature Description

Hi,

It would be nice to add "expires_at" field on [gitlab_project_membership](https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/project_membership) resource, like so :
[code]
This field is already present on the [Gitlab API resource to add a member to project](https://docs.gitlab.com/ee/api/members.html#add-a-member-to-a-group-or-project). And

[2022-05-25 14:26] nagyv opened #1100 "New maintainers"
### Feature Description

I'd like to propose giving Maintainer rights to @PatrickRice-KSC and Triage rights to @Shocktrooper.

Do you have any other candidates for maintainership? What do you think about giving them more responsibility?

@armsnyder @DonNicoJs @timofurrer @ro

### Do you want to implement this?

- [X] I would like to implement this myself 👷

[2022-05-25 14:48] PatrickRice-KSC commented on #1100
Always excited to help out more :)

I'm supportive of triage for @Shocktrooper  too!

[2022-05-25 21:37] olhado opened #1101 "gitlab_user resource causes destroy/add of imported resource, because of the `skip_confirmation` attribute"
### GitLab Provider version

3.14.0

### GitLab version

Gitlab EE 4.5

### Terraform version

Terraform v1.0.11

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

I imported the user defined above (details differ due to sensitive information in actual user) using `terraform import gitlab.example_user 4`. I then run `terraform plan` and get the log out

[2022-05-27 03:31] PatrickRice-KSC opened #1102 "Add support for assigning a security policy project"
### Feature Description

It's common for users with an ultimate subscription to want to enforce some level of security scans and policies around MRs. Gitlab supports this through the use of Security Policy Projects: https://docs.gitlab.com/ee/user/application_security/policies/

This issue will look to add support for security policy projects to the provider, so that users who want to enforce poli

[2022-05-27 03:33] PatrickRice-KSC commented on #1102
This is a bit of an odd API patterns... there doesn't appear to be any way to _read_ the value of a security policy project through the API, so I may need to mark both inputs as computed. You can retrieve the policies themselves (as inherited from the parent policy project), but there doesn't seem to be a way to read the linkage itself.

May need to create an issue for the gitlab team to see if th

[2022-05-27 09:10] #984 closed

[2022-05-27 09:10] #1043 closed

[2022-05-27 10:18] pinarruiz opened #1103 "Add Project Webhooks data source"
### Feature Description

Add support for data sources and resources in order to set up webhooks using terraform.

I have researched the GitLab API and this should be possible ([API / Project / Hooks](https://docs.gitlab.com/ee/api/projects.html#hooks)).

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-05-27 10:22] pinarruiz commented on #1103
Might be a duplicate of #680 but i dont know if the scope of that issue takes this one into it.

[2022-05-28 16:48] timofurrer commented on #1100
@nagyv sounds good for me and since Adam also gave a 👍  I think you can put this in place 🎉

[2022-05-28 16:51] timofurrer commented on #1099
Sounds like a great addition! Since you marked that you want to implement it yourself we are very much looking forward to review a PR 🎉

[2022-05-28 16:57] timofurrer commented on #1102
I'm very much looking forward to that PoC @PatrickRice-KSC 🎉

Totally agree that we should do this to at least clarify. It seems odd to me, too.

I'm also a bit reluctant to use this particular API for the GraphQL PoC ... what would you think about implementing a simple one we are already implementing? Maybe the `gitlab_instance_variable` one?

Or maybe the `gitlab_label` one to see if it the API

[2022-05-28 17:04] timofurrer commented on #1103
Thanks for the request @pinarruiz 🎉

Not sure if you've noticed but a resource for the Project Hooks API already exists with [`gitlab_project_hook`](https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs/resources/project_hook). There isn't a data source though.

What's missing is the equivalent for the Group Hooks API which you correctly pointed out would be a duplicate of #680.

Is

[2022-05-28 17:35] pinarruiz commented on #1103
Whoops, I might be blind on that one, thanks for pointing the url 😄.

In that case, I do not see anything that needs to be added to the webhook resource, and leaving the issue open for the data source would be a great idea!

Thanks

[2022-05-28 19:50] PatrickRice-KSC commented on #1102
I agree @timofurrer , I think this is going to need to go on the backlog until we can get a Read API. I had a couple query resources I was trying to play with to see if they returned the data I wanted, but I think this is going to be blocked for a bit.

[2022-05-29 15:49] timofurrer commented on #1101
Thanks for the report @olhado!

I've just dug into the reasoning in #941 why it was marked as `ForceNew` and understand the conflict here. Since this field can't be updated, we cannot just mark it `Optional`. I also doubt that the [`skip_reconfirmation`](https://docs.gitlab.com/ee/api/users.html#:~:text=skip_reconfirmation,or%20false%20(default)) in the `PUT` endpoint helps.

There also doesn't se

[2022-05-29 17:21] PatrickRice-KSC commented on #1101
I think this is probably the right way to handle this, as long as it doesn't mess up the create (which it shouldn't). Asking users to use a lifecycle block as the norm doesn't quite sit right with me, as it means the lifecycle block doesn't really convey any useful information regarding the developer's intent in the configuration anymore. This should be an easy PR to test, I'll check this out here

[2022-05-29 17:37] PatrickRice-KSC commented on #1101
Yep, easy peasy fix with a `DiffSuppressFunc`. I added a new test for this case too, to ensure that the fix worked properly. The new test fails without the DiffSuppress.

[2022-05-30 07:22] timofurrer commented on #534
Since we have something established - I'm going to close this one :)

[2022-05-30 07:22] #534 closed

[2022-05-30 13:40] adriano-fonseca commented on #1080
Hi @timofurrer,

First of all thanks for your attention to my request and sorry for the late reply I was out last week.
Answering your questions.

Yes, it would.

It can definitely wait. I worked it around I just would love to see it integrated to fix it on our pipeline.

[2022-05-30 14:28] nagyv commented on #1100
Done.

Thanks for your support @PatrickRice-KSC and @Shocktrooper!

[2022-05-30 14:28] #1100 closed

[2022-05-30 16:47] timofurrer commented on #696
Let's have a look for our next release 👍

[2022-05-30 16:53] timofurrer commented on #629
@cmd-werner-diers @willianpaixao @kiran14-02 testing the above snippet with the terraform provider v3.15.0 against a GitLab 15.0 instance works as expected (@nagyv thanks for the ping and I can confirm that this isn't an issue with newer GitLab instances).

Can any of you who had the issue especially you, @cmd-werner-diers , confirm that when running against a new GitLab instance (probably >= 14.9

[2022-05-31 06:29] #434 closed

[2022-05-31 06:29] #438 closed

[2022-05-31 06:29] #439 closed

[2022-05-31 18:22] olhado commented on #1101
@timofurrer @PatrickRice-KSC  Thank you all! I will to add an ignore on my side for the `skip_confirmation` attribute for now, and keep an eye on #1106 .

[2022-06-01 14:40] lucymh opened #1110 "invalid memory address or nil pointer dereference"
### GitLab Provider version

3.15.0

### GitLab version

GitLab Enterprise Edition 15.1.0-pre

### Terraform version

1.0.7

### Relevant Terraform Configuration

_No response_

### Relevant log output

[code]

### Description

We're using this provider as part of our gitlab project management. Recently we had to remove a few projects and relocate some others and import these changes into the stat

[2022-06-01 15:10] wr37ch opened #1111 "`initialize_with_readme` messes with project creation"
### GitLab Provider version

3.15.0

### GitLab version

GitLab Enterprise Edition 14.9.1-ee

### Terraform version

Terraform v1.2.1 on darwin_amd64

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

When I'm trying to create a project with some custom `default_branch` and `initialize_with_readme = true` I always get that `Branch already exists` error

[2022-06-01 15:22] timofurrer opened #1112 "Explore Meetup Groups or Discord events instead of the Google Calendar event for Community Hours"
This issue is a follow up from the [2022-06-01 Community Hour](https://docs.google.com/document/d/1-rgmylTUlO2lPRmbmGk0aB-mktg8nYu0NxOkFw9bo_M/edit) where we've discussed options to migrate away from Google Calendar to improve a few current issues (like calendar updates, visibility who is joining, promotion, ...)

My suggestion would be to use a dedicated meetup.com group to schedule these events.

[2022-06-01 16:09] timofurrer commented on #1110
Thanks for the report!
I've just fixed this in #1113 .

How urgent is a bug fix release for you?

[2022-06-01 19:33] morsik commented on #303
Is there any update on this? Could be very nice to have this feature :)

[2022-06-02 11:54] szymonpk opened #1114 "gitlab_project_mirror is recreated due to credentials masking"
### GitLab Provider version

3.12.0

### GitLab version

GitLab Enterprise Edition 15.1.0-pre 80f9517bf8e

### Terraform version

Terraform v1.0.10

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Project mirror gets recreated because in the plan (`terraform show -json plan`), url gets masked user/password:

[code]

It should be fixed in [v3.9.0](htt

[2022-06-02 18:59] josuablejeru opened #1115 "Unauthorized Error then running Terrafrom plan"
### GitLab Provider version

3.15.0

### GitLab version

GitLab Enterprise Edition 15.1.0-pre

### Terraform version

v1.2.1

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Hello everyone! As you can see from the example and the log, an 401 Unauthorized error is showing up then `terraform plan` or `terraform apply` is run by the Pipeline. As an acce

[2022-06-02 22:59] josuablejeru commented on #1115
Quick note: if I disable the `early_auth_check` as described in the [documentation](https://registry.terraform.io/providers/gitlabhq/gitlab/latest/docs#early_auth_check), I'm able to execute `terraform plan` without any issues. Otherwise `terraform apply` is throwing again a `401` then it tries to create the resources.

Maybe the [xanzy/go-gitlab](https://github.com/xanzy/go-gitlab) library passes

[2022-06-03 03:38] #1110 closed

[2022-06-03 10:39] timofurrer commented on #1115
Thanks for the report!

Do I understand correctly that when setting `early_auth_check = false` and running `terraform apply` the resources can be created without problems?

What are the scopes for the Group Access Token you are using?
And if you create a brand-new GAT with full `api` scope .. does it still fail for the following curl command:

[code]

I currently fail to reproduce this ...

[2022-06-03 11:18] timofurrer commented on #1114
Thanks for the report!

I currently fail to reproduce this using the following tf config testing against gitlab.com using provider versions 3.12.0 and 3.15.0:

[code]

My steps to reproduce are:

1. `terraform apply`
2. `terraform plan` or `terraform apply`

For step (2) the plan is empty and the `url` diff is suppressed as expected.

* Are these the same steps you are performing?
* Can you verify

[2022-06-03 11:23] timofurrer commented on #1115
Sorry, indeed the provider is using the OAuth method - which means the `Authorization: Bearer` header. However, the token should work, too. Can you try:

[code]

But what about running `terraform apply` with `early_auth_check = false` ? Does that result in the same `POST https://gitlab.com/api/v4/projects/36600273/pipeline_schedules: 401 {message: 401 Unauthorized}` error?

[2022-06-03 11:37] MOEDevOps opened #1116 "Support for Group-level protected environments"
### Feature Description

Implement logic of Group-level protected environments https://docs.gitlab.com/ee/api/group_protected_environments.html

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-06-03 11:44] josuablejeru commented on #1115
Indeed `Authorization: Bearer` is working with `curl` which is really weird why it's not working with the provider.

Yes, this results in the same error.

Yes, I intended to answer your question 🤗

[2022-06-03 11:56] timofurrer commented on #1115
Ah, try setting the pipeline variable as `TF_VAR_gitlab_token` :)

On Fri, Jun 3, 2022, 1:45 PM Josua Blejeru ***@***.***> wrote:

[2022-06-03 11:57] timofurrer commented on #1115
And probably you wanted to set `description` instead of `default` in the variable definition :)

[2022-06-03 12:08] #1115 closed

[2022-06-03 19:32] PatrickRice-KSC opened #1117 "Add a data_source for determining the current_user"
### Feature Description

We'd talked during the community hour about their having been a historical request for the ability to pull the current user via a data source. I couldn't find the issue, so I'm creating a new one.

The issue will add a new data_source that will allow a user to determine the current_user, as specified by the input API token to the provider.

Expected usage:
[code]

### Do y

[2022-06-04 11:51] Skaronator commented on #671
Not stale and still an issue.

[2022-06-05 18:26] PatrickRice-KSC commented on #1112
I like the idea of using a meetup.com group since gitlab already uses meetup, I wasn't aware of that! It also potentially allows people to find the event without being inside the discord server, as timo mentions.

I did demo creating an event within discord, and it does work well. You create the event, and it displays at the top of the discord server essentially as a pinned message. You can sign u

[2022-06-05 19:20] Shocktrooper commented on #1112
Are there any existing plugins/bots that might sync a meetup.com event and a discord event? That way we can use both :)

[2022-06-05 21:01] bbr32 commented on #1099
Hi, I've made the code changes, but I am having a 403 when pushing my branch to the repo (tried with PAT, SSH key, disabling 2FA... works fine on other public repos).
Is there a specific setup to push a branch and open a PR or is this a issue on my side ?
Thanks in advance !

[2022-06-05 21:17] timofurrer commented on #1099
Awesome! Alright, you can't push directly to this repository, because that requires you to be a maintainer. However, you can push the branch to your own fork and easily create a PR to this repo from there - nothing special is required for that :)

[2022-06-05 21:26] igorbrites opened #1119 "Pull mirroring not being enabled on first apply, needs to apply again"
### GitLab Provider version

3.15.0

### GitLab version

GitLab Enterprise Edition 15.1.0-pre 53a8011dea2

### Terraform version

❯ terraform -v Terraform v1.2.2 on darwin_arm64 + provider registry.terraform.io/gitlabhq/gitlab v3.15.0

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

When creating a new project on GitLab.com by importing it from GitHu

[2022-06-06 05:22] szymonpk commented on #1114
[code]

[2022-06-06 06:21] szymonpk commented on #1114
@timofurrer I think I have found where the issue is. I am trying to mirror to AWS CodeCommit and I am getting randomly generated password for the user from AWS. I cannot change it and sometimes it is generated with `/`, for example `foo/bar` (yes, this is the password). Looks like it does not parse properly with net/url. So I have stripped [this function](https://github.com/gitlabhq/terraform-prov

[2022-06-06 06:57] szymonpk commented on #1114
Ok, next follow-up. [This SO post](https://stackoverflow.com/a/48705145/4894399) suggests using proper encoding for the password. I have tried using [urlencode](https://www.terraform.io/language/functions/urlencode) on the password, but it causes authentication errors when mirroring.

[2022-06-06 11:55] timofurrer commented on #1112
Thanks for the experiment @PatrickRice-KSC. Given the information here I think it makes sense to just use meetup.com and pin a message to the Discord channel and start with that.

@nagyv @DonNicoJs what do you think about this?

[2022-06-06 12:26] timofurrer commented on #1114
Thanks for the nice analysis @szymonpk 🎉

I'm afraid that we can't do much in the provider, except implementing a custom regex to parse the URL and allowing non-urlencoded passwords - which IMHO is a little fragile and leads to all sorts of other problems.

Would you mind creating [an issue upstream](https://gitlab.com/gitlab-org/gitlab/-/issues) to ask for support for this use case? You can also

[2022-06-06 12:55] timofurrer commented on #1119
Thanks for the report @igorbrites 👍

I've managed to reproduce this using the following minimal terraform config:

[code]

.. but **only** on gitlab.com without a premium license (you need one for the `mirror` feature as documented [here](https://docs.gitlab.com/ee/api/projects.html#create-project)). The above code works fine on my local GitLab EE (Ultimate License) 15.0.

In addition I can also r

[2022-06-06 13:08] nagyv commented on #1112
@timofurrer @PatrickRice-KSC @Shocktrooper Thanks for opening the issue and looking into the possibilities with Discord. I like the idea of a meetup.com event. I'll reach out to the people who manage https://www.meetup.com/gitlab-virtual-meetups/ to add the Terraform community hour there.

[2022-06-06 13:10] timofurrer commented on #1119
btw. I've created an upstream issue in the meantime to get some help for this: https://gitlab.com/gitlab-org/gitlab/-/issues/364392

[2022-06-06 13:10] nagyv commented on #1112
@timofurrer FYI, I re-assigned this issue to myself.

[2022-06-06 13:13] igorbrites commented on #1119
@timofurrer thanks for answering! Yes, I'm using a premium account, and after applying again, the pull mirroring works as expected.

[2022-06-06 14:28] szymonpk commented on #1114
@timofurrer shouldn't I create an issue for go-gitlab instead? I mean for supporting url-encoded paramters.

[2022-06-06 15:43] ItsMissMie commented on #1112
@nagyv Thank you for creating this issue. Are you a member of the [GitLab Virtual Events meetup group](https://www.meetup.com/gitlab-virtual-meetups/)? I will add you as a co-organizer which will give you access to posting your office hours. Also, check out this handbook page to [post events to the GitLab events ](https://about.gitlab.com/handbook/marketing/events/#how-to-add-events-to-aboutgitlab

[2022-06-06 17:21] bbr32 commented on #1099
Oh ok thx ! Here is the PR https://github.com/gitlabhq/terraform-provider-gitlab/pull/1122

[2022-06-06 17:32] PatrickRice-KSC commented on #1114
I can help out here. Unfortunately, there is no way to configure exclusion rules for the generated IAM passwords. _However_, you can potentially retry generating the password until you get one without a "/" in it. The API you're looking for is under IAM, and is the "ResetServiceSpecificCredentials" API. Here is the boto3 documentation for it: [reset_service_specific_credential](https://boto3.amazo

[2022-06-06 18:44] psyhomb commented on #1119
I've encountered exactly the same problem, thanks for reporting the issue @igorbrites.

[2022-06-07 07:28] timofurrer commented on #1114
Thanks @PatrickRice-KSC for providing the AWS insights!

Yes, it does. It's as you've described, @PatrickRice-KSC, that simply GitLab doesn't seem to support urlencoded passwords and sends them as it receives it (encoded or not) to AWS ...

[2022-06-07 13:11] psyhomb commented on #1119
FYI I just completed testing same set of Terraform resources but this time against self-hosted GitLab API (container image: `gitlab/gitlab-ee:15.0.1-ee.0`) and everything is working on first apply, so it's definitely looks like SaaS GitLab API issue.

[2022-06-07 21:30] Shocktrooper opened #1123 "Project creation bugs out when specifying default branch when initializing readme"
### GitLab Provider version

3.15.0

### GitLab version

14.10

### Terraform version

1.1.8

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Instance level settings sets the default branch for all newly created projects to dev for which this project will deviate and set the default branch to `prod` instead.  It appears that in `projects.go` we might

[2022-06-08 04:00] Shocktrooper commented on #1123
Closing out as duplicate of #1111 . Information in this issue is still relevant additional information but is a duplicate.

[2022-06-08 04:00] Shocktrooper commented on #1111
I am actually experiencing the same issue I will link mine here for extra information and then close mine out as a duplicate of this one.

[2022-06-08 04:01] #1123 closed

[2022-06-08 04:05] Shocktrooper commented on #1111
Not sure if this is an Upstream issue with the API or a problem with the way the provider used to handle default branches clashing with the current API but it appears that something has changed in the past few releases in GitLab to trigger this as it was a non-issue before

Start of Relevant provider code:
- https://github.com/gitlabhq/terraform-provider-gitlab/blob/main/internal/provider/resource

[2022-06-08 04:21] Shocktrooper commented on #1111
This might result in another ticket but when trying the above suggestion to set `initialize_with_readme = false` and then set a default branch the project does get created as if the initialize with readme setting was set to true but when applying subsequent branch protection to said branch the following error occurs most likely because the default branch can be protected by default.  What is equal

[2022-06-08 06:54] doniz commented on #671
The issue still remains. I've made a workaround to fix this as a short term solution, might be will be useful for someone too.

Using the script to delete protected branches:

[code]

[2022-06-08 08:51] devops-systems-com opened #1124 "Urgent release required"
The issue https://github.com/gitlabhq/terraform-provider-gitlab/pull/1113 was fixed and merged into main five days ago but the last release was ten days ago, we would be extremely grateful if you could do a new release of the provider that includes that fix.

[2022-06-08 10:33] #1124 closed

[2022-06-09 07:48] #1099 closed

[2022-06-09 09:38] tschechniker opened #1127 "Unable to Create Project: error while waiting for branch main to reach 'protected' status"
### GitLab Provider version

3.15.1

### GitLab version

14.10.3

### Terraform version

1.1.3

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Currently i'm unable to create a new Project if it's not in a group where branch protection is turned off in the group settings. It seems like the default behaviour of gitlab has changed and in the project cr

[2022-06-09 09:46] timofurrer commented on #1127
Thanks for the report @tschechniker 🎉

Interesting, we've a coupled of these issues lately also related to the `initialize_with_readme = true`, see #1111. If you set it to `false`, are you experiencing the same issue?

Not really *always* as for groups for which it is turned of, we don't rely on that, see:

https://github.com/gitlabhq/terraform-provider-gitlab/blob/dbc86a65b8268761ee28211036a8e5b0

[2022-06-09 09:48] tschechniker commented on #1127
if i turn initialize_with_readme to off it works yes but this will break all other steps so no option for me currently.

I will check what the instance level branch protection is set to.

[2022-06-09 09:51] timofurrer commented on #1127
Alright, yes, was just out of curiosity and not meant to be a workaround :)

Thanks, keep as posted.

I'll draft a PR to also check the application defaults, since that's a bug IMHO anyways ...

[2022-06-09 10:03] timofurrer commented on #1127
another interesting thing would be to know what the instance-wide `default_branch_name` is?

[2022-06-09 10:07] tschechniker commented on #1127
@timofurrer the terraform module is not trying to delete and recreate the default_branch so i assume it's set to main but i will verify this too

[2022-06-09 10:12] timofurrer commented on #1127
@tschechniker reading this comment:

https://github.com/gitlabhq/terraform-provider-gitlab/blob/dbc86a65b8268761ee28211036a8e5b01a44b79f/internal/provider/resource_gitlab_project.go#L1085

I assume that the instance-wide default branch name is not `main`, so that `default_branch = "main"` in your tf config becomes a *custom default branch*. At the same time probably `default_branch_protection` on

[2022-06-09 10:56] tschechniker commented on #1127
Okay i can confirm the instance wide branch is main and the default protection is set to disabled. So that gitlab will not create a default protection on project creation.

I'm not sure why this should only affect when it's a custom branch name. Actually i would think if the set a custom branch name the logic in the module would be kind of self healing and add the branch protection to the new bran

[2022-06-09 11:41] tschechniker commented on #1127
Actually i retested all of your scenarios. All of those three does not work. I receive the same timeout issue

[2022-06-09 11:48] timofurrer commented on #1127
Okay, pretty strange ...

Do you have a way to test this branch for you: https://github.com/gitlabhq/terraform-provider-gitlab/pull/1128 and see if it works? At least the test in the pipeline seem to work - which they didn't before the change in the resource itself ...

[2022-06-10 12:51] timofurrer commented on #1111
@Shocktrooper Are you also testing against a 14.9 GitLab instance?

The reason why the code you've referred above even exists was because `default_branch` wasn't properly supported in the API. However, that should have been released with GitLab 14.10 (see milestone assignment in https://gitlab.com/gitlab-org/gitlab/-/merge_requests/63771).

Thus, for GitLab instances never then 14.9 this code shou

[2022-06-10 14:55] timofurrer commented on #1091
Let's not fix that, given that we plan to move the project to gitlab.com anyways.

[2022-06-10 14:55] #1091 closed

[2022-06-10 14:56] timofurrer commented on #692
I've created another upstream issue to tackle these kind of issues: https://gitlab.com/gitlab-org/gitlab/-/issues/365055

[2022-06-10 14:56] timofurrer commented on #629
I'm taking the liberty to close this. In case you still experience this issue, please let us know and we can re-open it :)

Thanks for the collaboration 🤝

[2022-06-10 14:59] Shocktrooper commented on #1111
Its in #1123 but here it is here that trips up the fault

[code]

[2022-06-11 16:42] #1117 closed

[2022-06-11 16:42] timofurrer commented on #1111
@Shocktrooper I've actually tried to reproduce the issue, but I'm not able to. Could you plug in your failing example into an acceptance tests on some branch?

[2022-06-11 17:00] Shocktrooper commented on #1111
Will do that later today 👍. Also another setting that might interact with it but I didn't think about it at first is my default branch protection on the group level is set to 0 for no protection and then I set the protection on a per project level per the workaround to set protected branches without terraform failures

[2022-06-13 13:58] #1127 closed

[2022-06-14 22:40] dschaaff opened #1132 "Perpetual diff when using multiple deploy_access_levels in gitlab_project_protected_environment resource"
### GitLab Provider version

3.15.1

### GitLab version

gitlab.com

### Terraform version

1.2.1

### Relevant Terraform Configuration

[code]

### Description

When using a single deploy_access_group things work as expected. When using multiple deploy_access_levels however, there is a perpetual diff leading to the resource being recreate on every terraform apply.

[code]

[2022-06-15 13:48] rejackson73 opened #1133 "Implementation of Group Membership Lock"
### Feature Description

The current GitLab provider for Terraform does not support the premium features for the Group resource, most notably the ability to "Prevent adding new members to projects within this group." The GitLab API does support this control utilizing the "membership_lock" boolean but it doesn't appear to be implemented in the provider.

### Do you want to implement this?

- [ ] I

[2022-06-15 14:07] timofurrer commented on #1133
Thanks for the request!

This feature is an upstream API alignment in the `gitlab_group` resource.

* [Upstream docs](https://docs.gitlab.com/ee/api/groups.html#:~:text=or%20public.-,membership_lock,Prevent%20adding%20new%20members%20to%20projects%20within%20this%20group.,-extra_shared_runners_minutes_limit)
* `go-gitlab` already supports it.

[2022-06-15 14:10] timofurrer commented on #1133
Actually @jtymes implemented this in the GitLab REST API for the provider, see [this MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/82271#:~:text=This%20MR%20exposes%20the%20membership_lock%20field%20so%20this%20can%20be%20implemented%20as%20part%20of%20the%20GitLab%20Terraform%20provider.) :)

[2022-06-15 14:29] jtymes commented on #1133
Yeah it was on my list to add here, but life has been hectic so it would be good if someone else wants it.

[2022-06-20 17:25] timofurrer opened #1135 "Sporadic issue in project acceptance tests"
A test just randomly failed for the first time (at least for me ^^):

see https://github.com/gitlabhq/terraform-provider-gitlab/runs/6970761305?check_suite_focus=true#step:6:578

[code]

May it be due to test parallelization?

[2022-06-20 20:08] woz5999 commented on #1039
I think this is an actual bug related to the `container_expiration_policy`

Specifically, we were experimenting with enabling the policy and now cannot disable it via the terraform provider. It properly shows the diff (as above) but applying has no effect on the setting.

[2022-06-20 20:14] woz5999 opened #1136 "Can't disable container expiration policy"
### GitLab Provider version

3.14.0

### GitLab version

GitLab Enterprise Edition 15.1.0-pre ea5b0ffad8f

### Terraform version

Terraform v1.1.2 on darwin_amd64

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

We used the terraform to enable the container expiration policy. After deciding to back out of this decision, it is not possible to disable

[2022-06-21 12:07] r3nic1e opened #1137 "Allow adding groups and users in gitlab_tag_protection"
### Feature Description

`gitlab_tag_protection` allows only `no one`, `developer` or `maintainer` as `create_access_level`. But via GitLab we can set custom groups and users there.

`gitlab_branch_protection` already supports the same: https://github.com/gitlabhq/terraform-provider-gitlab/pull/556

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-06-21 15:51] Nainterceptor opened #1138 "Emit owner access_token via gitlab_project_access_token"
### GitLab Provider version

3.15.1

### GitLab version

Gitlab.com

### Terraform version

1.2.3

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

It's not possible to use "owner" access level, according to [access_level_helpers.go](https://github.com/gitlabhq/terraform-provider-gitlab/blob/main/internal/provider/access_level_helpers.go#L40), but API

[2022-06-22 15:56] nagyv commented on #1112
@ItsMissMie can you add me using my personal Meetup account or shall I register with the GitLab e-mail? I'm a member of the group with my personal account.

[2022-06-22 19:09] Shocktrooper opened #1139 "Enhance Personal Access Token resource to use the get single PAT endpoint"
### Feature Description

In 15.1 a new endpoint was released for getting a single PAT vs a list.  We can refactor the deletion check to use this endpoint vs going through a paginated list and checking.

https://docs.gitlab.com/ee/api/personal_access_tokens.html#get-single-personal-access-token-by-id

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-06-23 11:58] MrLuje opened #1140 "gitlab_project: add support for ci_default_git_depth"
### Feature Description

When creating/editing a `gitlab_project`, it should be possible to specify the `Git shallow clone depth`

cf https://docs.gitlab.com/ee/api/projects.html#create-project

Attribute | Type | Required | Description
-- | -- | -- | --
ci_default_git_depth |	integer	 | No	| Default number of revisions for [shallow cloning](https://docs.gitlab.com/ee/ci/pipelines/settings.html#li

[2022-06-24 00:41] longuniquename opened #1141 "Add `gitlab_cluster_agent_token` resource"
### Feature Description

The current GitLab provider for Terraform (3.15.1) does not support token creation for cluster agents.

It would be nice to have something like:

[code]

Upstream API to cover: https://docs.gitlab.com/ee/api/cluster_agents.html#create-an-agent-token

### Use case

We'd like to create a k8s cluster with terraform and add it to an existing gitlab project. We already can crea

[2022-06-24 15:18] PatrickRice-KSC commented on #1140
Seems like it's not an allowed attribute on the "Create Project" API call, but it's on the "Edit Project" API call. Since we [already made an EditProject call](https://github.com/gitlabhq/terraform-provider-gitlab/blob/main/internal/provider/resource_gitlab_project.go#L1121) in the project resource, I think this should be a fairly easy addition. It's also [already supported on go-gitlab](https://g

[2022-06-25 15:04] timofurrer commented on #1138
Thanks @Nainterceptor for the report!

I've just created a PR to support `owner` as a valid value for `access_level` :)

[2022-06-25 15:07] timofurrer commented on #1139
@Shocktrooper In case you are going to implement this please don't forgot to do implement this in an `if`, to still support `N-2` releases :)

[2022-06-25 15:56] timofurrer commented on #1141
Hey @longuniquename - thanks for the feature request!

This resource was long pending on my side and I've just pushed the new resource in the PR #1147 🎉

[2022-06-25 16:41] genei09 opened #1148 "separate resources for project creation and project settings"
### Feature Description

Currently it is possible to use data objects to look up all projects in a group and manage some settings / attributes such as MR approval rules.  However it isn't possible to manage a vast majority of project settings this way as it requires importing existing projects to the state file.

### Do you want to implement this?

- [ ] I would like to implement this myself 👷

[2022-06-26 11:22] #1096 closed

[2022-06-26 12:33] timofurrer commented on #1148
@genei09 Thanks for the feature request!

I suppose this is a "limitation" of how Terraform works in general: by taking ownership of certain resources and exclusively manage their lifecycle. Therefore, I'd question how much sense it would make to implement "something" which would attach to an existing project and manage its settings.

Would you have a concrete idea how that could look like in HCL?

[2022-06-26 17:01] mskarbek opened #1151 "`auto_devops_enabled` in `gitlab_project` ignored during creation of the resource"
### GitLab Provider version

3.15.1

### GitLab version

GitLab Community Edition 15.1.0

### Terraform version

Terraform v1.2.3

### Relevant Terraform Configuration

[code]

### Relevant log output

After first apply:
[code]

After second apply:
[code]

### Description

Provider failed to correctly set `auto_devops_enabled` in `gitlab_project` during initial `apply`. To correctly set that prope

[2022-06-27 21:45] #1138 closed

[2022-06-28 10:54] mskarbek opened #1154 "`auto_devops_enabled` in `gitlab_group` ignored during creation of the resource"
### GitLab Provider version

v3.15.1

### GitLab version

GitLab Community Edition 15.1.0

### Terraform version

Terraform v1.2.3

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

Provider creates new group reporting `auto_devops_enabled` as `false` but in reality option is still enabled in GitLab. Rerunning `terraform apply` reports no changes to ap

[2022-06-28 12:54] Moon1706 commented on #1035
Hi @timofurrer  !
I need advice from your side. I'll wanna develop Release resource, but I've hit with an interesting problem. [In official API documentation](https://docs.gitlab.com/ee/api/releases/) a release contains Milestones, but [official Golang API](https://github.com/xanzy/go-gitlab/blob/master/releases.go) not. That's not a trouble, just a fact. But, but as you can see Milestone in GitLa

[2022-06-29 13:16] olhado opened #1157 "API calls to update project fail when certain fields are not passed from gitlab provider to underlying library"
### GitLab Provider version

3.15.0

### GitLab version

Gitalb 14.5.2 EE (Premium)

### Terraform version

Terraform v1.2.3

### Relevant Terraform Configuration

[code]

### Relevant log output

[code]

### Description

The issue with the above example configuration occurs when only `analytics_access_level` is changed. If you changed `shared_runners_enabled` (or presumably any of the ones listed

[2022-06-29 13:26] olhado commented on #1157
I suppose it might also be the gitlab API itself.

[2022-06-29 13:42] timofurrer commented on #1157
Is definitely worth to verify 👀

[2022-06-29 23:48] #1141 closed

[2022-06-29 23:52] #1151 closed

[2022-06-29 23:52] #1154 closed

[2022-06-30 04:12] Shocktrooper commented on #1111
@timofurrer  Going to update my GitLab instance sometime this week and try the provider again.

 I was not able to replicate the error on a CE GitPod instance of GitLab.  I did however cause an import state verify error where I think it shouldn't be.  Relevant settings are in the following branch.

https://github.com/Shocktrooper/terraform-provider-gitlab/tree/ReadmeTests

[2022-07-01 12:03] KoenR3 commented on #772
Are there any plans to add this?  We are currently struggling with setting up the same swimlanes for every project.  We use the REST API but are using Terraform for all the rest so it would integrate much better to do everything through Terraform.

[2022-07-03 12:29] #1157 closed